<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<style>
html, body
{
  height: 100%;
}
.alert{
padding: 0px !important;
border: 0px !important;
}
</style>
<script>
$(document).ready(function(){
$('.alert').fadeIn(500,function(){
setTimeout(function(){$('.alert').fadeOut(500)}, 2000);
});
function closeWin(){
    window.close();
}
setTimeout(function(){closeWin()}, 2500);
});
</script>
</head>
<body>
{{{body}}}
</body>
</html>