<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=480, initial-scale=.5">
<title>Peercover</title>
	<link rel="shortcut icon" href="https://d1geqvinw0cz14.cloudfront.net/images/favicon.ico">
	<link rel="stylesheet" href="/css/vendor.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">

	<!--[if IE]>
    <script type="text/javascript" src="/js/libs/excanvas.js"></script>
    <![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

	<script src="https://d1geqvinw0cz14.cloudfront.net/js/ember.js"></script>

    <script src="https://s3-us-west-2.amazonaws.com/peercover/js/templates.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/peercover/js/vendor.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/peercover/js/app.min.js"></script>

    <style>
    @font-face {
      font-family: 'Poiret One';
      font-style: normal;
      font-weight: 400;
      src: url(https://themes.googleusercontent.com/static/fonts/poiretone/v2/HrI4ZJpJ3Fh0wa5ofYMK8RsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
    }
    </style>

    <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/z8DqDEg6IPAPltF74VFXmw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '331231503672659',
      channelUrl : '//peercover.com/channel.html',
      status     : true,
      xfbml      : true
    });

    if (typeof facebookInit == 'function') {
            facebookInit();
        }

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="app" style="display:none;">
</div>
</body>
</html>
