<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=480, initial-scale=.5">
<title>GetFirstCoins.com</title>
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/peercover/images/firstincoin.png">
	<link rel="stylesheet" href="/css/vendorFirst.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleFirst.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/tradingview/tv.js"></script>
	<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
	<script src="/js/ember.js"></script>

    <script src="/js/templatesFirst.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vendorFirst.js"></script>
    <script src="/js/bitcoinsApp.min.js"></script>
    <script type="text/javascript">
        balanced.init('/v1/marketplaces/MP4VSk3Pu3UxPMTv3P3Q8tT0');
    </script>
    <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/z8DqDEg6IPAPltF74VFXmw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
    <script type="text/javascript" src="https://netswipe.com/widget/jumio-start/1.0/iframe-script.js"></script>
    <script type="text/javascript" src="https://netverify.com/widget/jumio-verify/2.0/iframe-script.js"></script>
</head>
<body>
<div id="fb-root"></div>
<div id="app" style="display:none;">
</div>
</body>
</html>