<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<style>
html, body
{
  height: 100%;
}
.alert{
padding: 0px !important;
border: 0px !important;
}
</style>
</head>
<body>
<div class='alert alert-success' style='height: 70% !important; display: table !important;  width: 100% !important;text-align:center !important; vertical-align:middle !important; font-size: 18px !important;'><p style='display: table-cell !important;  text-align: center !important;  vertical-align: middle !important;'>Identity verification successful.</p></div>
</body>
</html>