<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Get First Coins Investor Deck</title>

        <meta name="description" content="Get First Coins Investor Deck">
        <meta name="author" content="Jared Mimms">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/peercover/images/firstincoin.png">
        <link rel="stylesheet" href="css/reveal.min.css">
        <link rel="stylesheet" href="css/theme/default.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
            document.write( '<link rel="stylesheet" href="/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>

        <!--[if lt IE 9]>
        <script src="/js/libs/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="reveal">

            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
                <section>
                    <a href="https://getfirstcoins.com" target="_blank">
                        <img src="https://s3-us-west-2.amazonaws.com/peercover/images/tripple-coin.svg" style="width: 20%; padding: 10px;" />
                    </a>
                    <h3>Get Your First Bitcoins!</h3>
                    <p>
                        <small><a href="mailto:jmimms@peercover.com">Jared Mimms</a> & <a href="mailto:jack@tinybike.net">Jack Peterson</a><br/><a href="https://getfirstcoins.com">GetFirstCoins.com</a></small>
                    </p>
                </section>

                <!--<section>
                    <h2>It's hard to buy Bitcoins.</h2>
                    <p>
                        Years after the release of Bitcoin, people are still asking: <i>"Bitcoins sound amazing!  How do I get some?"</i>
                    </p>
                    <p>
                        Our answer: just <i>use your credit card</i> to buy some from GetFirstCoins.com, <i>without</i> paying a huge markup.
                    </p>
                </section>

                <section>
                    <h2>Why hasn't anyone done this already?</h2>
                    <p>
                        - Legal: the U.S. makes it impossible to run a service that (1) takes cash deposits and (2) exchanges cash for Bitcoins.
                    </p>
                    <p>
                        - Financial: fear of chargebacks = giant markup for the customer.
                    </p>
                </section>-->

                <section>
                    <h2>Bitcoin: reshaping the financial world</h2>
                    <img src="https://s3-us-west-2.amazonaws.com/peercover/images/btce.png" style="width: 20%; padding: 10px;" />
                    <ul>
                        <li>Right now, Bitcoins are a $10.5 billion market.</li>
                        <li>The price of Bitcoins has increased 10x over the past year.</li>
                        <li>Bitcoins are experiencing exponential growth of value -- based on current trends, Bitcoins could easily be a $1 trillion market by 2020.</li>
                    </ul>
                </section>

                <section>
                    <h2>A digital NASDAQ</h2>
                    <ul>
                        <li>Bitcoin is decentralized by design...</li>
                        <li>...but buyers and sellers still require a way to find each other.</li>
                        <li>GetFirstCoins will evolve into the clearinghouse where buyers and sellers meet.</li>
                    </ul>
                </section>

                <section>
                    <h2>More Bitcoins for your dollar</h2>
                    <p>
                        GetFirstCoins.com: buy Bitcoins with your credit card.<br />
                        No markup.  No fees.
                    </p>
                    <p>
                        <style>
                        #comparison-chart {
                            font-size: 80%;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            margin: auto;
                            width: 70%;
                        }
                        #comparison-chart td, #comparison-chart th {
                            padding: 5px 70px;
                        }
                        </style>
                        <div id="comparison-chart">
                        <table>
                            <tbody>
                            <tr>
                                <th></th>
                                <th>Markup*</th>
                                <!-- <th>Waiting time</th> -->
                            </tr>
                            <tr>
                                <td>CoinMama</td>
                                <td>17.2%</td>
                                <!-- <td></td> -->
                            </tr>
                            <tr>
                                <td>BTC-Dealer</td>
                                <td>14.3%</td>
                                <!-- <td></td> -->
                            </tr>
                            <tr>
                                <td>btcQuick</td>
                                <td>5.5%+</td>
                                <!-- <td></td> -->
                            </tr>
                            <tr>
                                <td>GetFirstCoins</td>
                                <td>0%</td>
                                <!-- <td></td> -->
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </p>
                    <p>
                        <small>* versus aggregate market price from coinmarketcap.com at 7:48 PM PST, 1/4/14</small>
                    </p>
                </section>

                <section>
                    <h2>Ripple's magic: profit without fees</h2>
                    <p>
                        <img src="https://s3-us-west-2.amazonaws.com/peercover/images/dollar-btc-flow1.png" alt="Dollar-to-BTC flowchart" style="padding: 10px; border: 1px solid #ccc;" />
                    </p>
                </section>

                <section>
                    <h2>A fast, U.S.-based service</h2>
                    <p>
                        GetFirstCoins is built on top of the lightning-fast, 100% decentralized Ripple protocol.  This revolutionary technology allows us to accept cash deposits and exchange them for Bitcoins <i>without being classified as a money transmitter</i>.
                    </p>
                    <p>
                        We've been providing a trial version of this service for 9 months.  Centralized dollars-for-bitcoin exchanges are prohibited under current U.S. law, but Ripple is 100% legal.
                    </p>
                </section>

                <!--<section>
                    <h2>State-of-the-art identity verification</h2>
                    <p>
                        - User scans ID/passport, which are verified by Jumio.<br />
                        - Credit cards are verified by Jumio's Netswipe service, and independently by our payment processor, Balanced.
                    </p>
                </section>

                <section>
                    <h2>Ripple is a revolutionary protocol with the potential to transform the financial industry.</h2>
                    <p>
                        Right now, Ripple is less than a year old.  GetFirstCoins is running on the <i>only</i> production-environment Ripple system outside of Ripple Labs.
                    </p>
                </section>

                <section>
                    <h2>The Team</h2>
                    <p>
                        - Jared Mimms.  Jared is the principal developer of GetFirstCoins.com, and has over 2 years experience in crypto-currencies.
                    </p>
                    <p>
                        - Jack Peterson, PhD.  Jack is a physicist and developer with a deep interest in crypto-currencies.
                    </p>
                </section>-->

            </div>

        </div>

        <script src="/js/libs/head.min.js"></script>
        <script src="/js/libs/reveal.min.js"></script>

        <script>

            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

                dependencies: [
                    { src: 'js/libs/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                    { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                ]
            });

        </script>

    </body>
</html>
