<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Peercover Investor Deck</title>

		<meta name="description" content="Peercover Investor Deck">
		<meta name="author" content="Jared Mimms">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="https://d1geqvinw0cz14.cloudfront.net/images/favicon.ico">
		<link rel="stylesheet" href="/css/reveal.min.css">
		<link rel="stylesheet" href="/css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
        <script src="/js/libs/html5shiv.js"></script>
        <![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<a href="https://peercover.com" target="_blank"><img src="https://d1geqvinw0cz14.cloudfront.net/images/peercover-logo-wallet.svg" style="background-color:#ffffff;"></a>
					<h3>A New Society</h3>
				</section>

				<section>
                    <h2>Problem</h2>
                    <p>
                        The barriers to foundership are too high. No good frameworks or tools to build and manage profit bearing, semi-autonomous cryptocurrency backed virtual assets exist.
                    </p>
                </section>

				<section>
					<h2>Founder of Founders</h2>
					<p>
						Peercover provides a means for people to own, control, and trade tangible assets online fueled by useful services and bound together by social contracts. Peercover fixes life online and establishes a new society where the societal underdog can thrive.
					</p>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section>
						<h2>Company Types</h2>

						<a href="#" class="image navigate-down">
							<img width="178" height="238" src="https://d1geqvinw0cz14.cloudfront.net/images/arrowDown.png" alt="Down arrow">
						</a>
					</section>
					<section>
						<h2>Insurance</h2>
						<p>Insure anything and only pay after a claim is made.</p>
                        <img width="280" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverInsuranceGroup.svg">
					</section>
					<section>
                        <h2>Merchant</h2>
                        <p>List products and services in a customizable online store. Distribute products and services across the web made available for direct purchase in publications cross domain. Manage and directly commission customer service reps and support cross domain or default to IBM's Watson API.</p>
                        <img width="280" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverMerchantGroup.svg">
                    </section>
                    <section>
                        <h2>Reward</h2>
                        <p>Make friendly wagers. Now single value prediction. "How close can you get algorithm." Later dates, date range, two value.</p>
                        <img width="280" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverRewardGroup.svg">
                    </section>
                    <section>
                        <h2>Investment</h2>
                        <p>Band together to pay for, make, and track external investments.</p>
                    </section>
                    <section>
                        <h2>Company Investment</h2>
                        <p>Do funding rounds and join investors for established businesses. As a founder, track investment in your company, solicit investments, and track funding.</p>
                    </section>
                    <section>
                        <h2>Bracket</h2>
                        <p>An expanded prediction company type with dependencies.</p>
                    </section>
                    <section>
                        <h2>Charity</h2>
                        <p>Form and donate to non-profits. Encourage members to dust off their wallets into charities to help people.</p>
                    </section>
                    <section>
                        <h2>Project</h2>
                        <p>Help fund and manage projects. Although these may be used in a "Kickstarter-like" fashion, they include project management features and are designed for internal project management and internal funding of projects.</p>
                    </section>
                    <section>
                        <h2>Project Insurance</h2>
                        <p>Insure projects and protect them against failure.</p>
                    </section>
                    <section>
                        <h2>Company Seed</h2>
                        <p>Start a company, seed fund among a select group, ideate, and assign company roles.</p>
                    </section>
                    <section>
                        <h2>Hedge</h2>
                        <p>Join a company and hedge your investments against the group. Reimburse each other for failed investments.</p>
                    </section>
                    <section>
                        <h2>Accounting</h2>
                        <p>Keep track of expenses and pay people for expenses within the group.</p>
                    </section>
                    <section>
                        <h2>Bill Pay</h2>
                        <p>Join creditors and debtors to your company so they may easily pay bills and issue you bills to pay. Apply your deals/offers after the point of sale prior to paying a bill.</p>
                    </section>
					<section>
						<a href="#/3" class="image">
							<img width="178" height="238" src="https://d1geqvinw0cz14.cloudfront.net/images/arrowDown.png" alt="Up arrow" style="-webkit-transform: rotate(180deg);">
						</a>
					</section>
				</section>
                <section>
                    <h2>Built in Payments</h2>
                    <p>The seamless Peercover wallet integrates credit card, ACH, Bitcoin and Ripple.</p>
                    <img width="280" src="https://d1geqvinw0cz14.cloudfront.net/images/wallet.svg">
                </section>
                <section>
                    <img src="https://d1geqvinw0cz14.cloudfront.net/images/simplePrez.png" style="background-color:#ffffff;">
                    <p>Peercover is one of the first U.S. Ripple gateways and runs on the most efficient payment protocol ever conceived.</p>
                </section>
                <section>
                    <img src="https://d1geqvinw0cz14.cloudfront.net/images/simpleStocks.png" style="background-color:#ffffff;">
                    <p>Launching February 1st, Simple Stocks allows for public and private offerings of shares, automated real time dividends, and purchase of tickers directly coupled with Peercover companies on the Ripple protocol.</p>
                </section>
                <section>
                    <section>
                        <a href="https://getfirstcoins.com" target="_blank">
                            <img src="https://d1geqvinw0cz14.cloudfront.net/images/tripple-coin.svg" style="width: 20%; padding: 10px;" />
                        </a>
                        <h3>Peercover will soon offer direct Bitcoin sales via Credit Card under our GetFirstCoins brand</h3>
                        <a href="#" class="image navigate-down">
                            <img width="178" height="238" src="https://d1geqvinw0cz14.cloudfront.net/images/arrowDown.png" alt="Down arrow">
                        </a>
                    </section>
                    <section>
                        <h2>More Bitcoins for your dollar</h2>
                        <p>
                            GetFirstCoins.com: buy Bitcoins with your credit card.<br />
                            No markup.  No fees.
                        </p>
                        <p>
                            <style>
                            #comparison-chart {
                                font-size: 80%;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                margin: auto;
                                width: 70%;
                            }
                            #comparison-chart td, #comparison-chart th {
                                padding: 5px 70px;
                            }
                            </style>
                            <div id="comparison-chart">
                            <table>
                                <tbody>
                                <tr>
                                    <th></th>
                                    <th>Markup*</th>
                                    <!-- <th>Waiting time</th> -->
                                </tr>
                                <tr>
                                    <td>CoinMama</td>
                                    <td>17.2%</td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>BTC-Dealer</td>
                                    <td>14.3%</td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>btcQuick</td>
                                    <td>5.5%+</td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>GetFirstCoins</td>
                                    <td>0%</td>
                                    <!-- <td></td> -->
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </p>
                        <p>
                            <small>* versus aggregate market price from coinmarketcap.com at 7:48 PM PST, 1/4/14</small>
                        </p>
                    </section>
                    <section>
                        <h2>Ripple's magic: profit without fees</h2>
                        <p>
                            <img src="https://d1geqvinw0cz14.cloudfront.net/images/dollar-btc-flow1.png" alt="Dollar-to-BTC flowchart" style="padding: 10px; border: 1px solid #ccc;" />
                        </p>
                    </section>
                    <section>
                        <a href="#/6" class="image">
                            <img width="178" height="238" src="https://d1geqvinw0cz14.cloudfront.net/images/arrowDown.png" alt="Up arrow" style="-webkit-transform: rotate(180deg);">
                        </a>
                    </section>
                </section>
				<section>
					<h2>User Base, Traction, & Market</h2>
					<p>
						Peercover has {{memberCount}} active members dedicated to founding companies who mainly use the progressively developed built-in wallet service. The community is tight-knit and closely involved in the cryptocurrency space. With the arrival of new features such as improved external/internal company interface, more company types, and better marketing/walkthroughs, Peercover will draw in a very different demographic of young professionals.
					</p>
				</section>
                <section data-transition="linear" data-background="#4d7e65" data-background-transition="slide">
                    <section>
                        <h2>Business Models</h2>
                        <a href="#" class="image navigate-down">
                            <img width="178" height="238" src="https://d1geqvinw0cz14.cloudfront.net/images/arrowDown.png" alt="Down arrow">
                        </a>
                    </section>
                    <section>
                        <h2>Direct XRP, NXT, BTC, LTC, PPC, NMC, soon MSC Sales at 10% Markup via Credit Card</h2>
                    </section>
                    <section>
                        <h2>USD, XRP, NXT, BTC, LTC, PPC, NMC, and soon MSC Gateway Deposits at 1-5% Markup</h2>
                    </section>
                    <section>
                        <h2>Peercover Reserve</h2>
                        <p>Compounding interest in a 5% - 2% cycle.</p>
                        <p><small>(your investment) * (1.05) ^ (compounding sold total/your investment)<br>
                           compounding sold total: += (your contribution/total pool at that moment) * amount of sale<br>
                           the total pool as XRP: XRP + USD in bank account * XRP/USD (exchange rate)</small></p>
                        <img width="640" style="padding: 5px;" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverReserve.png">
                    </section>
                    <section>
                        <h2>Transaction Fees</h2>
                        <h3>1% - 2% on portioning and invoice payments</h3>
                    </section>
                    <section>
                        <h2>Offers</h2>
                        <p>Members may invest in their companies by buying and attaching "offers," expendable virtual goods proposed and sold by third parties to replace the functions of warranties and mail in rebates which make companies more desirable to join.</p>
                        <p>Traction already proven by $1000 in VIP offer sales at $200 each and $1000 in founder deal sales at $5 each.</p>
                        <img width="280" src="https://d1geqvinw0cz14.cloudfront.net/images/offers.svg">
                    </section>
                    <section>
                        <h2>Affiliate Marketing</h2>
                        <p>As gateways near perfect competition, like banks, they will have to offer products and services that target specific customer groups. We can track trust and gateway usage data, customer habits, and composition without revealing anything compromising regarding individuals. Gateways will pay for analyses which could give them a competitive edge in advertising and marketing.</p>
                        <img width="740" src="https://d1geqvinw0cz14.cloudfront.net/images/affiliateMarketing.png">
                    </section>
                    <section>
                        <a href="#/9" class="image">
                            <img width="178" height="238" src="https://d1geqvinw0cz14.cloudfront.net/images/arrowDown.png" alt="Up arrow" style="-webkit-transform: rotate(180deg);">
                        </a>
                    </section>
                </section>
                <section>
                    <h2>Intellectual Property</h2>
                    <h4>Provisional Patent US 61/881,443</h4>
                    <p>Patent pending on insurance and reward portioning algorithms - open for addition of each company type</p>
                </section>
                <section>
                    <h2>Protection</h2>
                    <img src="https://d1geqvinw0cz14.cloudfront.net/images/procopio.gif">
                </section>
                <section>
                    <h2>Code</h2>
                    <p>Custom, cutting edge code and patentable algorithms</p>
                    <p>Node.js &#8226; Ember.js &#8226; SOLR &#8226; Redis &#8226; MongoDB &#8226; PostgreSQL &#8226; Rippled &#8226; Many, many code bases</p>
                    <pre><code data-trim contenteditable>
group.terms[0].signature.forEach(function(sig){
    if (sig.user.toString() != claim.user.toString()){
        if (sig.currency != "USD"){
            valueInUSD = fx.convert(sig.valueInsured, {from: sig.currency, to: "USD"});
            if (valueInUSD){
                valueArray.push(valueInUSD);
            }
        }
        else if (sig.currency == "USD"){
            valueArray.push(sig.valueInsured);
        }
    }
});
valueArrayInit = valueArray;
var sumArray = 0;
valueArray.forEach(function(num){
    sumArray += num;
});
valueArray = _.map(valueArray, function(num){ return num / sumArray; });
var average = 0;
valueArray.forEach(function(num){
    average += num / valueArray.length;
});
valueArray = _.map(valueArray, function(num){ return (num - average) * (1 + finalVal) + average; });

initObject = _.object(valueArrayInit, valueArray);

group.terms[0].signature.forEach(function(sig){
    if (sig.user.toString() != claim.user.toString()){
        sig.portion = initObject[fx.convert(sig.valueInsured, {from: sig.currency, to: "USD"})];
    }
});
                					</code></pre>
                </section>
                <section>
                    <h2>Players</h2>
                    <p>Jared Mimms - full stack developer and dealmaker</p>
                    <p>Jack Peterson - Ph.D. developer</p>
                    <p>James Lee - USD/NXT Market Maker</p>
                    <p>Per Knutsen - USD Market Maker</p>
                    <p>Ripple Labs - XRP Wholeseller</p>
                    <p>RippleWise - Affiliate</p>
                </section>
                <section>
                    <h2>Competitive Advantages</h2>
                    <li>fastest gun in the west</li>
                    <li>fully integrated company intelligence</li>
                    <li>fully integrated technology</li>
                    <li>cutting edge architecture</li>
                    <li>original, patent-pending algorithms</li>
                    <li>first to market (post-launch)</li>
                    <li>first to publicity</li>
                    <li>one of first Ripple gateways</li>
                    <li>highly connected in crypto space</li>
                </section>
                <section>
                    <h2>Prior Funding & Cash Flow</h2>
                    <li>self-funded 20k USD</li>
                    <li>40k USD raised from accredited angels</li>
                </section>
                <section>
                    <h2>Investment</h2>
                    <p>
                        Raised $40k USD in pre-seed at $1.2 million dollar valuation with 400 users and two products.
                    </p>
                    <p>
                        Raising $200k USD in seed at $3 million dollar valuation with {{memberCount}} users and seven+ products.
                    </p>
                    <p>
                        Deadline is Thursday January 30th.
                    </p>
                </section>
				<section>
					<h2>Philosophy</h2>
					<blockquote>
						&ldquo;By lowering the barriers to foundership, enabling anyone to create, hold, build, and invest in profitable assets online, we unleash the might of the human spirit and relinquish the reigns of complacency in our technologically driven economy.&rdquo;
					</blockquote>
				</section>
                <section>
                    <h2>Rallying Cry</h2>
                    <p>Peercover means freedom for millions globally to collaborate and own their own assets outside the highly regulated and patently unfair economic ecosystem of ages past.</p>
                    <p>Help Peercover and help the world realize the dream of social and economic equal opportunity.</p>
                </section>
				<section>
					<h1>LET MY PEOPLE FOUND</h1>
					<a href="https://peercover.com" target="_blank"><h3>Peercover</h3></a>
				</section>

			</div>

		</div>

		<script src="/js/libs/head.min.js"></script>
		<script src="/js/libs/reveal.min.js"></script>

		<script>

			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				dependencies: [
					{ src: 'js/libs/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
