<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Peercover</title>
	<link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/peercover/images/favicon.ico">

	<link rel="stylesheet" href="/css/vendor.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">

	<!--[if IE]>
    <script type="text/javascript" src="/js/libs/excanvas.js"></script>
    <![endif]-->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/js/libs/handlebars.runtime-1.0.0.js"></script>
	<script src="/js/libs/ember-1.0.0-rc.7.js"></script>
	<script src="/js/libs/ember-data-0.13.js"></script>

    <script src="/js/templates.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/app.js"></script>
    <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/z8DqDEg6IPAPltF74VFXmw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

	<link href="//code.jquery.com/qunit/qunit-1.12.0.css" rel="stylesheet">
    <script src="//code.jquery.com/qunit/qunit-1.12.0.js"></script>
    <script src="/js/tests.js"></script>

</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '331231503672659',
      channelUrl : '//peercover.com/channel.html',
      status     : true,
      xfbml      : true
    });

    if (typeof facebookInit == 'function') {
            facebookInit();
        }

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<div id="app">
</div>
</body>
</html>
