// TODO : stringify and compress this and return from a peercover.js route so handlebars are enabled for custom currencies
(function() {

    var jQuery;

    if (window.jQuery === undefined || window.jQuery.fn.jquery !== '1.4.2') {
        var script_tag = document.createElement('script');
        script_tag.setAttribute("type","text/javascript");
        script_tag.setAttribute("src",
            "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js");
        if (script_tag.readyState) {
            script_tag.onreadystatechange = function () {
                if (this.readyState == 'complete' || this.readyState == 'loaded') {
                    scriptLoadHandler();
                }
            };
        } else {
            script_tag.onload = scriptLoadHandler;
        }
    } else {
        main();
    }

    function scriptLoadHandler() {
        (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(script_tag);
        main();
    }

    function main() {
        jQuery(document).ready(function($) {
            var styleSheetPresent = false;
            for( var i in document.styleSheets ){
                if( document.styleSheets[i].href && document.styleSheets[i].href.indexOf("https://peercover.com/css/tradeStyle1.css") ) {
                    styleSheetPresent = true;
                }
            }
            if (!styleSheetPresent){
                var css_link = $("<link>", {
                    rel: "stylesheet",
                    type: "text/css",
                    href: "https://peercover.com/css/tradeStyle1.css"
                });
                css_link.appendTo('head');
            }

            $('#simple-exchange-trading-widget-' + '{{identifier}}' .simpleExchangeModal-dialog .simpleExchangeModal-content).html('{{html}}');

            +function ($) {
              'use strict';
              
              var SimpleExchangeModal = function (element, options) {
                this.options   = options
                this.$element  = $(element)
                this.$backdrop =
                this.isShown   = null
            
                if (this.options.remote) {
                  this.$element
                    .find('.simpleExchangeModal-content')
                    .load(this.options.remote, $.proxy(function () {
                      this.$element.trigger('loaded.bs.simpleExchangeModal')
                    }, this))
                }
              }
            
              SimpleExchangeModal.DEFAULTS = {
                backdrop: true,
                keyboard: true,
                show: true
              }
            
              SimpleExchangeModal.prototype.toggle = function (_relatedTarget) {
                return this[!this.isShown ? 'show' : 'hide'](_relatedTarget)
              }
            
              SimpleExchangeModal.prototype.show = function (_relatedTarget) {
                var that = this
                var e    = $.Event('show.bs.simpleExchangeModal', { relatedTarget: _relatedTarget })
            
                this.$element.trigger(e)
            
                if (this.isShown || e.isDefaultPrevented()) return
            
                this.isShown = true
            
                this.escape()
            
                this.$element.on('click.dismiss.bs.simpleExchangeModal', '[data-dismiss="simpleExchangeModal"]', $.proxy(this.hide, this))
            
                this.backdrop(function () {
                  var transition = $.support.transition && that.$element.hasClass('fade')
            
                  if (!that.$element.parent().length) {
                    that.$element.appendTo(document.body) // don't move simpleExchangeModals dom position
                  }
            
                  that.$element
                    .show()
                    .scrollTop(0)
            
                  if (transition) {
                    that.$element[0].offsetWidth // force reflow
                  }
            
                  that.$element
                    .addClass('in')
                    .attr('aria-hidden', false)
            
                  that.enforceFocus()
            
                  var e = $.Event('shown.bs.simpleExchangeModal', { relatedTarget: _relatedTarget })
            
                  transition ?
                    that.$element.find('.simpleExchangeModal-dialog') // wait for simpleExchangeModal to slide in
                      .one($.support.transition.end, function () {
                        that.$element.focus().trigger(e)
                      })
                      .emulateTransitionEnd(300) :
                    that.$element.focus().trigger(e)
                })
              }
            
              SimpleExchangeModal.prototype.hide = function (e) {
                if (e) e.preventDefault()
            
                e = $.Event('hide.bs.simpleExchangeModal')
            
                this.$element.trigger(e)
            
                if (!this.isShown || e.isDefaultPrevented()) return
            
                this.isShown = false
            
                this.escape()
            
                $(document).off('focusin.bs.simpleExchangeModal')
            
                this.$element
                  .removeClass('in')
                  .attr('aria-hidden', true)
                  .off('click.dismiss.bs.simpleExchangeModal')
            
                $.support.transition && this.$element.hasClass('fade') ?
                  this.$element
                    .one($.support.transition.end, $.proxy(this.hideModal, this))
                    .emulateTransitionEnd(300) :
                  this.hideModal()
              }
            
              SimpleExchangeModal.prototype.enforceFocus = function () {
                $(document)
                  .off('focusin.bs.simpleExchangeModal') // guard against infinite focus loop
                  .on('focusin.bs.simpleExchangeModal', $.proxy(function (e) {
                    if (this.$element[0] !== e.target && !this.$element.has(e.target).length) {
                      this.$element.focus()
                    }
                  }, this))
              }
            
              SimpleExchangeModal.prototype.escape = function () {
                if (this.isShown && this.options.keyboard) {
                  this.$element.on('keyup.dismiss.bs.simpleExchangeModal', $.proxy(function (e) {
                    e.which == 27 && this.hide()
                  }, this))
                } else if (!this.isShown) {
                  this.$element.off('keyup.dismiss.bs.simpleExchangeModal')
                }
              }
            
              SimpleExchangeModal.prototype.hideModal = function () {
                var that = this
                this.$element.hide()
                this.backdrop(function () {
                  that.removeBackdrop()
                  that.$element.trigger('hidden.bs.simpleExchangeModal')
                })
              }
            
              SimpleExchangeModal.prototype.removeBackdrop = function () {
                this.$backdrop && this.$backdrop.remove()
                this.$backdrop = null
              }
            
              SimpleExchangeModal.prototype.backdrop = function (callback) {
                var animate = this.$element.hasClass('fade') ? 'fade' : ''
            
                if (this.isShown && this.options.backdrop) {
                  var doAnimate = $.support.transition && animate
            
                  this.$backdrop = $('<div class="simpleExchangeModal-backdrop ' + animate + '" />')
                    .appendTo(document.body)
            
                  this.$element.on('click.dismiss.bs.simpleExchangeModal', $.proxy(function (e) {
                    if (e.target !== e.currentTarget) return
                    this.options.backdrop == 'static'
                      ? this.$element[0].focus.call(this.$element[0])
                      : this.hide.call(this)
                  }, this))
            
                  if (doAnimate) this.$backdrop[0].offsetWidth // force reflow
            
                  this.$backdrop.addClass('in')
            
                  if (!callback) return
            
                  doAnimate ?
                    this.$backdrop
                      .one($.support.transition.end, callback)
                      .emulateTransitionEnd(150) :
                    callback()
            
                } else if (!this.isShown && this.$backdrop) {
                  this.$backdrop.removeClass('in')
            
                  $.support.transition && this.$element.hasClass('fade') ?
                    this.$backdrop
                      .one($.support.transition.end, callback)
                      .emulateTransitionEnd(150) :
                    callback()
            
                } else if (callback) {
                  callback()
                }
              }
              
              var old = $.fn.simpleExchangeModal
            
              $.fn.simpleExchangeModal = function (option, _relatedTarget) {
                return this.each(function () {
                  var $this   = $(this)
                  var data    = $this.data('bs.simpleExchangeModal')
                  var options = $.extend({}, Modal.DEFAULTS, $this.data(), typeof option == 'object' && option)
            
                  if (!data) $this.data('bs.simpleExchangeModal', (data = new Modal(this, options)))
                  if (typeof option == 'string') data[option](_relatedTarget)
                  else if (options.show) data.show(_relatedTarget)
                })
              }
            
              $.fn.simpleExchangeModal.Constructor = Modal
            
              $.fn.simpleExchangeModal.noConflict = function () {
                $.fn.simpleExchangeModal = old
                return this
              }
            
              $(document).on('click.bs.simpleExchangeModal.data-api', '[data-toggle="simpleExchangeModal"]', function (e) {
                var $this   = $(this)
                var href    = $this.attr('href')
                var $target = $($this.attr('data-target') || (href && href.replace(/.*(?=#[^\s]+$)/, ''))) //strip for ie7
                var option  = $target.data('bs.simpleExchangeModal') ? 'toggle' : $.extend({ remote: !/#/.test(href) && href }, $target.data(), $this.data())
            
                if ($this.is('a')) e.preventDefault()
            
                $target
                  .simpleExchangeModal(option, this)
                  .one('hide', function () {
                    $this.is(':visible') && $this.focus()
                  })
              })
            
              $(document)
                .on('show.bs.simpleExchangeModal', '.simpleExchangeModal', function () { $(document.body).addClass('simpleExchangeModal-open') })
                .on('hidden.bs.simpleExchangeModal', '.simpleExchangeModal', function () { $(document.body).removeClass('simpleExchangeModal-open') })
            
            }(jQuery);
        });
    }

})();