<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Simple Exchange Trade</title>
	<link rel="shortcut icon" href="https://d1geqvinw0cz14.cloudfront.net/images/favicon.ico">
	<link rel="stylesheet" href="/css/tradeStyle.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="/js/libs/touchPunch.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/ripple-0.7.34-min.js"></script>

    <script>
    $(document).ready(function() {
        var socket = io.connect();
        var identifier = '{{identifier}}';
        var fee = {{fee}};
        var houseFee = {{houseFee}};
        var iouAddress = '{{iouAddress}}';
        var indicator = true;
        var exchangeIdArray = [];
        var currency = '{{currency}}';
        var counterCurrency = '{{counterCurrency}}';
        var paths;
        var Remote = ripple.Remote;

        function getPathfindingRate(){
            paths = null;
            if ($('#amount').val()){
                var remote = new Remote({
                    trusted:        true,
                    local_signing:  true,
                    local_fee:      true,
                    fee_cushion:     1.5,
                    servers: [
                        {
                            host:    's1.peercover.com'
                            , port:    51232
                            , secure:  false
                        }
                    ]
                });
                var request;
                if (indicator){
                    var toCurrency = currency;
                    var fromCurrency = counterCurrency;
                }
                else {
                    var fromCurrency = currency;
                    var toCurrency = counterCurrency;
                }
                if (toCurrency == 'XRP'){
                    var destinationAmount = (Number($('#amount').val()) * 1000000).toString()
                }
                else {
                    var destinationAmount = {
                        currency : toCurrency
                        value : $('#amount').val().toString(),
                        issuer : iouAddress
                    };
                }
                if (fromCurrency == 'XRP'){
                    var sourceCurrencies = [currency : fromCurrency];
                }
                else {
                    var sourceCurrencies = [currency : fromCurrency, issuer : iouAddress];
                }
                remote.connect(function() {
                    request = remote.request_ripple_path_find({
                        src_account : iouAddress,
                        dst_account : iouAddress,
                        dst_amount : destinationAmount,
                        src_currencies : sourceCurrencies
                    }, function(err, transaction){
                        if (transaction.alternatives && transaction.alternatives[0]){
                            if (fromCurrency == 'XRP'){
                                var amountPaid = Number(transaction.alternatives[0].source_amount) / 1000000;
                            }
                            else {
                                var amountPaid = Number(transaction.alternatives[0].source_amount.value);
                            }
                        }
                    });
                });
            }
        }

        function getExchangeRate(){
            paths = null;
            if ($('#amount').val()){
                var remote = new Remote({
                    trusted:        true,
                    local_signing:  true,
                    local_fee:      true,
                    fee_cushion:     1.5,
                    servers: [
                        {
                            host:    's1.peercover.com'
                            , port:    51232
                            , secure:  false
                        }
                    ]
                });
                var request;
                remote.connect(function() {
                    request = remote.request_book_offers({
                        gets: {
                            'currency' : currency,
                            'issuer' : iouAddress
                        },
                        pays: {
                            'currency' : counterCurrency,
                            'issuer': iouAddress
                        },
                        taker : iouAddress
                    }, function(err, transaction){
                        if (transaction && transaction.offers && transaction.offers[0]){
                            var exchangeRates = [];
                            transaction.offers.forEach(function(trans){
                                if (currency == 'XRP'){
                                    var getValue = Number(trans.TakerGets) / 1000000;
                                }
                                else {
                                    var getValue = Number(trans.TakerGets.value);
                                }
                                if (counterCurrency == 'XRP'){
                                    var paysValue = Number(trans.TakerPays) / 1000000;
                                }
                                else {
                                    var paysValue = Number(trans.TakerPays.value);
                                }
                                var exchangeRate = getValue / paysValue;
                                exchangeRates.push(exchangeRate);
                            });
                        }
                    });
                });
            }
        }

        setInterval(function(){
            getExchangeRate();
        },2000);

        socket.on('exchangeDetected', function(data){

        });

        function toggleBuy(){
            if (!indicator){
                // swap out html
            }
            indicator = true;
        }
        function toggleSell(){
            if (indicator){
                // swap out html
            }
            indicator = false;
        }

        // function to submit amount and address and return QR code
        function submit(){
            var btn = $('#submitButton');
            // btn.button('loading');
            // if failed btn.button('reset');
            // if succeeded html swap
            // determine if active class on button #buyState to get indicator state
        }
    });
    </script>
</head>
<body style="width:100%;">
<div class="row">
  <div class="col-md-12">
  <div class="btn-group" data-toggle="buttons" style="width:100%;">
    <label class="btn btn-primary buyState" style="width:50%;" onclick="toggleBuy();">
      <input type="radio" name="options" id="option1"> Buy {{currency}} with {{counterCurrency}}
    </label>
    <label class="btn btn-primary sellState" style="width:50%;" onclick="toggleSell();">
      <input type="radio" name="options" id="option2"> Sell {{currency}} for {{counterCurrency}}
    </label>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

  </div>
</div>
</body>
</html>