#wikiBack {
  width: 900px;
  margin: 80px auto;
  padding: 10px;
  overflow: hidden;
}
#wikiContent {
  float: right;
  width: 620px;
  background-color: #efefef;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 0 30px 30px 30px;
  -webkit-box-shadow: 0px 0px 8px 0px #494949;
  box-shadow: 0px 0px 8px 0px #494949;
}
#wikiContent pre {
  background: #ddd;
  border: 1px solid #bbb;
  padding: 12px;
  overflow: auto;
}
#wikiContent code {
  background: #ddd;
  padding: 1px 3px;
}
#wikiContent #wikiContent_header {
  margin: 0 -30px 0 -30px;
  -webkit-border-radius: 8px 8px 0 0;
  background: #eaeaea;
  background: -moz-linear-gradient(top, #eaeaea 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #eaeaea 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #eaeaea 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #eaeaea 0%, #dddddd 100%);
  background: linear-gradient(top, #eaeaea 0%, #dddddd 100%);
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #cbcbcb;
  padding: 20px;
  color: #484848;
  text-shadow: 0px 1px 0px #ffffff;
  filter: dropshadow(color=#ffffff, offx=0, offy=1);
  overflow: hidden;
}
#wikiContent #wikiContent_header h1 {
  font-size: 24px;
  padding-left: 7px;
  float: left;
}
#wikiContent #wikiContent_header #edit_save_buttons {
  float: right;
  font-size: 16px;
}
#wikiContent #wikiContent_header #edit_save_buttons a#save,
#wikiContent #wikiContent_header #edit_save_buttons a#edit,
#wikiContent #wikiContent_header #edit_save_buttons a#cancel {
  background: #5fbc70;
  background: -moz-linear-gradient(top, #5fbc70 0%, #1e8932 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5fbc70), color-stop(100%, #1e8932));
  background: -webkit-linear-gradient(top, #5fbc70 0%, #1e8932 100%);
  background: -o-linear-gradient(top, #5fbc70 0%, #1e8932 100%);
  background: -ms-linear-gradient(top, #5fbc70 0%, #1e8932 100%);
  background: linear-gradient(top, #5fbc70 0%, #1e8932 100%);
  color: white;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0px -1px 0px #1e6e2e;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #afddb8;
  box-shadow: inset 0px 1px 0px 0px #afddb8;
  border: 1px solid #525252;
}
#wikiContent #wikiContent_header #edit_save_buttons a#save:active,
#wikiContent #wikiContent_header #edit_save_buttons a#edit:active,
#wikiContent #wikiContent_header #edit_save_buttons a#cancel:active {
  background: #1e8932;
  background: -moz-linear-gradient(top, #1e8932 0%, #5fbc70 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e8932), color-stop(100%, #5fbc70));
  background: -webkit-linear-gradient(top, #1e8932 0%, #5fbc70 100%);
  background: -o-linear-gradient(top, #1e8932 0%, #5fbc70 100%);
  background: -ms-linear-gradient(top, #1e8932 0%, #5fbc70 100%);
  background: linear-gradient(top, #1e8932 0%, #5fbc70 100%);
  text-shadow: 0px 1px 0px #1e6e2e;
}
#wikiContent #wikiContent_header input {
  padding: 4px;
  font-size: 14px;
  width: 400px;
}
#wikiContent #markdown_wikiContent {
  padding-top: 20px;
  font-size: 14px;
}
#wikiContent #markdown_wikiContent p {
  margin: 10px 0;
}
#wikiContent #markdown_wikiContent a {
  color: #1563f1;
}
#wikiContent #markdown_wikiContent h1,
#wikiContent #markdown_wikiContent h2 {
  border-bottom: 1px solid #bbb;
  margin-bottom: 3px;
}
#wikiContent #markdown_wikiContent h1 {
  font-size: 28px;
}
#wikiContent #markdown_wikiContent h2 {
  font-size: 24px;
}
#wikiContent #markdown_wikiContent h3 {
  font-size: 20px;
}
#wikiContent #markdown_wikiContent h4 {
  font-size: 17px;
}
#wikiContent textarea {
  width: 100%;
  height: 500px;
}
#wikiContent #notification {
  display: none;
  background: yellow;
  margin: 0 -30px 0 -30px;
  padding: 6px 20px;
  background: #eceda8;
  background: -moz-linear-gradient(top, #eceda8 0%, #dee19e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eceda8), color-stop(100%, #dee19e));
  background: -webkit-linear-gradient(top, #eceda8 0%, #dee19e 100%);
  background: -o-linear-gradient(top, #eceda8 0%, #dee19e 100%);
  background: -ms-linear-gradient(top, #eceda8 0%, #dee19e 100%);
  background: linear-gradient(top, #eceda8 0%, #dee19e 100%);
  -webkit-box-shadow: inset 0px 1px 0px 0px #fafae9;
  box-shadow: inset 0px 1px 0px 0px #fafae9;
  color: #525252;
  border-bottom: 1px solid #bfbfbf;
}
#wikiNavigation {
  margin-top: 20px;
  background: #242425;
  width: 219px;
  float: left;
  -webkit-box-radius: 7px 0 0 7px;
  border-radius: 7px 0 0 7px;
  -webkit-box-shadow: 0px 0px 0px 1px #000000;
  box-shadow: 0px 0px 0px 1px #000000;
  overflow: hidden;
}
#wikiNavigation a.link {
  color: #fff;
  text-decoration: none;
  padding: 10px 10px 10px 15px;
  display: block;
  border-bottom: 1px solid #060606;
  border-top: 1px solid #353536;
}

#wikiNavigation a.link {
    display: block;
}

#wikiNavigation a.link:first-letter {
    text-transform: uppercase;
}

#wikiNavigation a.link:first-child {
  border-top: none;
  border-radius: 7px 0 0 0;
  -webkit-box-radius: 7px 0 0 0;
}
#wikiNavigation a.link:last-child {
  border-bottom: none;
}
#wikiNavigation a.link code {
  font-size: 14px;
}
#wikiNavigation a {
  outline: none;
}
#wikiNavigation #temp_new_folder {
  padding: 10px 10px 10px 15px;
  display: block;
  border-bottom: 1px solid #060606;
  background: #0e6ab9;
  background: -moz-linear-gradient(top, #0a4e88 0%, #0e6ab9 37%, #0e6ab9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a4e88), color-stop(37%, #0e6ab9), color-stop(100%, #0e6ab9));
  background: -webkit-linear-gradient(top, #0a4e88 0%, #0e6ab9 37%, #0e6ab9 100%);
  background: -o-linear-gradient(top, #0a4e88 0%, #0e6ab9 37%, #0e6ab9 100%);
  background: -ms-linear-gradient(top, #0a4e88 0%, #0e6ab9 37%, #0e6ab9 100%);
  background: linear-gradient(top, #0a4e88 0%, #0e6ab9 37%, #0e6ab9 100%);
}
#wikiNavigation #temp_new_folder input {
  width: 178px;
  padding: 4px;
}
#wikiNavigation a.selected {
  padding: 11px 10px 10px 15px;
  background: #0e6ab9;
  border-top: none;
  background: -moz-linear-gradient(top, #0a4e88 0%, #0e6ab9 37%, #0e6ab9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a4e88), color-stop(37%, #0e6ab9), color-stop(100%, #0e6ab9));
  background: -webkit-linear-gradient(top, #0a4e88 0%, #0e6ab9 37%, #0e6ab9 100%);
  background: -o-linear-gradient(top, #0a4e88 0%, #0e6ab9 37%, #0e6ab9 100%);
  background: -ms-linear-gradient(top, #0a4e88 0%, #0e6ab9 37%, #0e6ab9 100%);
  background: linear-gradient(top, #0a4e88 0%, #0e6ab9 37%, #0e6ab9 100%);
  display: block;
}
#wikiNavigation code {
  color: #fff;
}
#wikiNavigation #tri_buttons {
  background: #242425;
}
#wikiNavigation #tri_buttons a {
  font-size: 12px;
  background: #121213;
  border-right: 1px solid #000;
  color: #e5e5e5;
  text-decoration: none;
  padding: 10px;
  width: 47px;
  height: 30px;
  text-align: center;
  float: left;
  margin-right: 5px;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
#wikiNavigation #tri_buttons a#go_back_inactive,
#wikiNavigation #tri_buttons a#new_file_inactive,
#wikiNavigation #tri_buttons a#new_folder_inactive {
  color: #333;
}
#wikiNavigation #tri_buttons a#new_folder,
#wikiNavigation #tri_buttons a#new_folder_inactive {
  width: 51px;
  border-left: 1px solid #000;
  border-right: 0;
  margin-right: 0;
}
#wikiNavigation #tri_buttons a#go_back,
#wikiNavigation #tri_buttons a#go_back_inactive {
  border-left: 1px solid #000;
}
#wikiNavigation #tri_buttons a:hover {
  background: #171717;
}
#wikiNavigation #tri_buttons a#save_folder,
#wikiNavigation #tri_buttons a#cancel_folder {
  width: 88px;
  margin-right: 0px;
  height: auto;
}
#wikiNavigation #tri_buttons a#save_folder {
  border: none;
}
@media screen and (min-width: 1300px) {
  #wikiBack {
    width: 1200px;
  }
  #wikiContent {
    width: 920px;
  }
  #wikiContent #markdown_wikiContent {
    font-size: 15px;
  }
}
