<div class="row">
	<div class="span6 offset3">
		<div class="well">
		<form class="form-horizontal" {{action changeName on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="walletName">Current Wallet Name</label>
				<div class="controls">
				    {{input type="text" id="walletName" value=walletName name="walletName" placeholder="name"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Current Password</label>
				<div class="controls">
				    {{input type="password" id="password" value=password name="password" placeholder="password"}}
				</div>
			</div>
			<div class="control-group">
                <label class="control-label" for="newWalletName">New Wallet Name</label>
                <div class="controls">
                    {{input type="text" id="newWalletName" value=newWalletName name="newWalletName" placeholder="new name"}}
                </div>
            </div>
			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary btn-block max-block" value="Change"}}
				</div>
			</div>
		</form>
		</div>
	</div>
</div>