<div class="row">
<div class="span12">
<ul class="thumbnails">
{{#if user.bankAccounts}}
{{#each account in user.bankAccounts}}
{{#if account.accountURI}}
<li class="span2" style="text-align: center;text-decoration: none;">
    {{#view App.BankAccountView accountBinding=account}}
    {{#if account.verified}}
    <a class="thumbnail" style="text-align: center;text-decoration: none;">
    {{else}}
    <a href="#verifyModal" style="text-align: center;text-decoration: none;" role="button" data-toggle="modal" class="thumbnail" {{action verifySetup target="view"}}>
    {{/if}}
    <p>{{account.name}}</p>
    <p>{{account.bankName}}</p>
    <p>{{account.accountNumber}}</p>
    <p>{{account.accountType}}</p>
    {{#if account.verified}}
    <p style="margin-bottom:0px;"><i class="icon-ok" style="color:#1ABC9C"></i> VERIFIED</p>
    {{else}}
    <p style="margin-bottom:0px;">
    <button class="btn btn-primary btn-block">Verify</button>
    </p>
    {{/if}}
    {{input type="hidden" class="bankAccountId" value=account._id}}
    </a>
    {{/view}}
</li>
{{/if}}
{{/each}}
{{/if}}
<li class="span2">
    <a href="#pathfindPay" data-toggle="modal" class="thumbnail">
        <img src="https://d1geqvinw0cz14.cloudfront.net/images/profileEdit.jpg" alt="Add Bank Account">
    </a>
</li>
</ul>
</div>
</div>

<div id="pathfindPay" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="pathfindPayLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="pathfindPayLabel">Attach Bank Account</h3>
    </div>
    <div class="modal-body">
        {{#view App.CashOutFormView}}
        <form class="form-horizontal form-professional">
            <div class="control-group">
                <label class="control-label" for="fullName">Full Name
                {{#if controller.fullNameValid}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if controller.enteredKey}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                {{/if}}
                </label>
                <div class="controls">
                {{#view App.AutoAccountView}}
                {{input id="fullName" type="text" class="input-block-level addressInput cashoutInput" value=controller.recipient placeholder="Full Name"}}
                {{/view}}
                </div>
            </div>
            {{#if enteredKey}}
            {{else}}
            <div class="control-group">
                <label class="control-label" for="routingNumber">Routing Number
                {{#if controller.routingNumberValid}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                </label>
                <div class="controls">
                {{input id="routingNumber" type="text" class="input-block-level cashoutInput" value=controller.routingNumber placeholder="Routing Number"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="bankAccount">Account Number
                {{#if controller.bankAccountValid}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                </label>
                <div class="controls">
                {{input id="bankAccount" type="text" class="input-block-level cashoutInput" value=controller.bankAccount placeholder="Bank Account Number"}}
                </div>
            </div>
            {{/if}}
    </div>
    <div class="modal-footer" style="text-align:center;">
    <div class="control-group" style="text-align:center;margin-bottom:0px;">
        <div class="controls" style="text-align:center;">
            <a href="#" role="button" class="btn btn-primary btn-block" data-dismiss="modal" {{action addBankAccount}}>Attach Bank Account</a>
        </div>
    </div>
    </form>
    {{/view}}
    </div>
</div>
<div id="verifyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="verifyLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="verifyLabel">Verify</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="alert alert-info" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
                Check your bank account statement and enter in the two deposit values from Peercover formatted without the decimal. (i.e. enter $0.05 as 05, $1.01 as 101)
            </div>
            <div class="control-group">
                <label class="control-label" style="margin-right:20px;" for="verify1">Verify Value One</label>
                <div class="controls">
                    {{input type="text" id="verify1" value=verifyOne name="verify1" placeholder="verify value one"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" style="margin-right:20px;" for="verify2">Verify Value Two</label>
                <div class="controls">
                    {{input type="text" id="verify2" value=verifyTwo name="verify2" placeholder="verify value two"}}
                </div>
            </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
    <div class="control-group" style="text-align:center;margin-bottom:0px;">
        <div class="controls" style="text-align:center;">
            <a href="#" role="button" class="btn btn-primary btn-block" data-dismiss="modal" {{action verify}}>Verify</a>
        </div>
    </div>
    </form>
    </div>
</div>