<div class="row">
	<div class="span6 offset3">
		<div class="well">
		<form class="form-horizontal" {{action changePassword on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="walletName">Current Wallet Name</label>
				<div class="controls">
				    {{input type="text" id="walletName" value=walletName name="walletName" placeholder="name"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Current Password</label>
				<div class="controls">
				    {{input type="password" id="password" value=password name="password" placeholder="password"}}
				</div>
			</div>
            <div class="control-group">
                <label class="control-label" for="newPassword">New Password</label>
                <div class="controls">
                    {{input type="password" id="newPassword" value=newPassword name="newPassword" placeholder="new password"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="newPassword2">New Password Again</label>
                <div class="controls">
                    {{input type="password" id="newPassword2" value=newPassword2 name="newPassword2" placeholder="new password"}}
                </div>
            </div>
			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary btn-block max-block" value="Change"}}
				</div>
			</div>
		</form>
		</div>
	</div>
</div>