<div class="row">
    <div class="span6">
        {{#view App.PathfindSendView}}
        <div class="userIcon"></div>
        <form class="form-horizontal form-professional" {{action send on="submit"}} id="sendForm">
            <legend>Send Currency</legend>
            <div class="control-group">
                <label class="control-label" for="recipient">Address
                {{#if controller.publicKey}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                {{/if}}
                </label>
                <div class="controls">
                {{input id="recipient" type="text" class="input-block-level addressInput" value=controller.recipient placeholder="Member Name or Ripple Address"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="amount">Amount</label>
                <div class="controls">
                {{input id="amount" type="text" class="input-block-level amountInput" value=controller.amount placeholder=""}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="currency">Currency</label>
                <div class="controls">
                    {{view Ember.Select
                           contentBinding="controller.currencyOptions"
                           valueBinding="controller.currency"
                    }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                {{#if inProgress}}
                {{else}}
                    {{input type="submit" class="btn btn-primary currencySend" value="Send"}}
                {{/if}}
                </div>
            </div>
        </form>
        {{/view}}
        <div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">

            {{#each filter in filterPath}}
            {{#view App.PathSubmitView}}

            <button class="btn btn-primary" {{action pathPay target="view"}}>
            {{filter.amount}} {{filter.currency}}
            </button>
            {{input type="hidden" class="pathIndex" value=filter.index}}
            {{/view}}
            {{/each}}

        </div>
    </div>
    <div class="span6" style="text-align: center !important;">
    <h5 class="page-title">Balances</h5>
    <hr>
    <div class="span6 well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">
        {{#each controllers.walletIndex.currencyBalance}}
            {{view App.Popover templateName="popover-currency" }}
        {{/each}}
    </div>
    </div>
</div>