<div class="row">
	<div class="span6 offset3">
	    <!--
        <div class="btn-group" style="margin-bottom: 20px;width:100%;">
        <button class="btn btn-primary" {{bindAttr style=rippleStyle}} {{action rippleTurned}}>
        Ripple
        </button>
        <button class="btn btn-primary" {{bindAttr style=bitcoinStyle}} {{action bitcoinTurned}}>
        Bitcoin
        </button>
        <button class="btn btn-primary" {{bindAttr style=litecoinStyle}} {{action litecoinTurned}}>
        Litecoin
        </button>
        </div>
        -->
        <div class="alert alert-info">
            Make sure to send all your assets to a new address for safe keeping first. Save your {{#linkTo 'wallet.receive'}}<span style="cursor: pointer; cursor: hand; padding: 3px 3px;" class="label label-warning">public and private keys</span>{{/linkTo}}. Attaching a new wallet will displace your old wallet.
        </div>
		<div class="well">
		<form class="form-horizontal" {{action attach on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="oldWalletName">Current Wallet Name</label>
				<div class="controls">
				    {{input type="text" id="oldWalletName" value=oldWalletName name="oldWalletName" placeholder="name"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="oldPassword">Current Password</label>
				<div class="controls">
				    {{input type="password" id="oldPassword" value=oldPassword name="oldPassword" placeholder="password"}}
				</div>
			</div>
            <div class="control-group">
                <label class="control-label" for="privateKey">Private Key</label>
                <div class="controls">
                    {{input type="password" id="privateKey" value=privateKey name="privateKey" placeholder="private key"}}
                </div>
            </div>
			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary btn-block max-block" value="Attach"}}
				</div>
			</div>
		</form>
		</div>
	</div>
</div>