<div class="row">
	<div class="span12">
        <ul class="nav nav-tabs">
            <li>
                {{#linkTo 'administrate.attach'}}Attach Wallet{{/linkTo}}
            </li>
            <li>
                {{#linkTo 'administrate.compromised'}}New Wallet{{/linkTo}}
            </li>
            <li>
                {{#linkTo 'administrate.changeName'}}Change Name{{/linkTo}}
            </li>
            <li>
                {{#linkTo 'administrate.changePassword'}}Change Password{{/linkTo}}
            </li>
        </ul>
	</div>
</div>

{{outlet}}
