<div class="row">
	<div class="span6 offset3">
        <!--
        <div class="btn-group" style="margin-bottom: 20px;width:100%;">
        <button class="btn btn-primary" {{bindAttr style=rippleStyle}} {{action rippleTurned}}>
        Ripple
        </button>
        <button class="btn btn-primary" {{bindAttr style=bitcoinStyle}} {{action bitcoinTurned}}>
        Bitcoin
        </button>
        <button class="btn btn-primary" {{bindAttr style=litecoinStyle}} {{action litecoinTurned}}>
        Litecoin
        </button>
        </div>
        -->
		<div class="alert alert-info">
			Use this form to issue a new <!-- Ripple, Bitcoin, or Litecoin -->wallet to replace your old or compromised wallet. Save your {{#linkTo 'wallet.receive'}}<span style="cursor: pointer; cursor: hand; padding: 3px 3px;" class="label label-warning">public and private keys</span>{{/linkTo}}. Make sure to send all your assets to a new address for safe keeping first.
		</div>

		<div class="well">

		<form class="form-horizontal" {{action compromised on="submit"}}>
            <div class="control-group">
                <label class="control-label" for="oldWalletName">Current Wallet Name</label>
                <div class="controls">
                    {{input type="text" id="oldWalletName" value=oldWalletName name="oldWalletName" placeholder="name"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="oldPassword">Current Password</label>
                <div class="controls">
                    {{input type="password" id="oldPassword" value=oldPassword name="oldPassword" placeholder="password"}}
                </div>
            </div>
			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary btn-block max-block" value="New Wallet"}}
				</div>
			</div>
		</form>

		</div>

	</div>
</div>
