<div id="wrap">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">

			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".colp">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<a class="brand" href="#">Peercover</a>

			{{#if currentUserId}}
				<ul class="nav pull-right">
				    <li>
				      {{#linkTo 'wall'}}
                      <img style="width: 20px;" src="https://d1geqvinw0cz14.cloudfront.net/images/Simple_Exchange_Circle.svg">
                      {{/linkTo}}
                    </li>
					<li>
						{{#linkTo 'inbox'}}
							<i class="icon-envelope"></i>
							{{#if inboxCount}}
							<span class="navbar-indicator-count">{{inboxCount}}</span>
							{{/if}}
						{{/linkTo}}
					</li>
					<li class="visible-desktop"><a href="#" {{action logout}}>Logout</a></li>
					<li>{{#view App.ConnectionIndicator}}<a class="connection-indicator" href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Connection Status" {{action connect}}><i class="icon-circle"></i></a>{{/view}}</li>
				</ul>
			{{/if}}

			{{#unless currentUserId}}
			<ul class="social-login nav pull-right" style="width: 215px !important;">
				<li>
					<a id="facebook-login" href="#" data-toggle="tooltip" data-placement="bottom" title="Login with Facebook" {{action facebookLogin}}>
						<i class="icon-facebook"></i>
					</a>
				</li>
				<li>
					<a id="linkedin-login" href="#" data-toggle="tooltip" data-placement="bottom" title="Login with LinkedIn" {{action linkedinLogin}}>
						<i class="icon-linkedin"></i>
					</a>
				</li>
				<li>
					<a id="dwolla-login" href="#" data-toggle="tooltip" data-placement="bottom" title="Login with Dwolla" {{action dwollaLogin}}>
						<i class="ico-dwolla"></i>
					</a>
				</li>
				<li>
                    <a id="password-recovery" href="#/inputEmail" data-toggle="tooltip" data-placement="bottom" title="Recover Password">
                        <i class="icon-exclamation-sign"></i>
                    </a>
                </li>
                <li class="visible-desktop">{{#view App.ConnectionIndicator}}<a class="connection-indicator" href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Connection Status" {{action connect}}><i class="icon-circle"></i></a>{{/view}}</li>
			</ul>
			{{/unless}}
			
			{{#unless currentUserId}}
			<form class="navbar-form pull-right" {{action login on="submit"}}>
				{{input id="navbarInputEmail" type="text" class="span2" value=email placeholder="email"}}
				{{input id="navbarInputPassword" type="password" class="span2" value=password placeholder="password"}}
				<button id="navbar-login-btn" type="submit" class="btn btn-success" {{bindAttr disabled="loginProcessing"}}>Log in</button>

			</form>
			{{/unless}}

			<div class="nav-collapse collapse colp">
			<ul class="nav">
			    <li class="simpleGateway">{{#linkTo 'simpleGateway'}}<img src="https://d1geqvinw0cz14.cloudfront.net/images/Simple_Exchange_Compact.svg" style="height: 20px;margin-top: -5px;">{{/linkTo}}</li>
                <li class="simpleStocks">{{#linkTo 'simpleStocks'}}<img src="https://d1geqvinw0cz14.cloudfront.net/images/Simple_Stocks_Compact.svg" style="height: 20px;margin-top: -5px;">{{/linkTo}}</li>
				<li>{{#linkTo 'about'}}About{{/linkTo}}</li>
				{{#if currentUserId}}
				    <li>{{#linkTo 'profile'}}Profile{{/linkTo}}</li>
				    <li>{{#linkTo 'groups'}}Companies{{/linkTo}}</li>
				    <li>{{#linkTo 'members'}}Partners{{/linkTo}}</li>
				    <li>{{#linkTo 'wallet'}}Wallet{{/linkTo}}</li>
				    <li>{{#linkTo 'marketplace'}}Investments{{/linkTo}}</li>
				{{else}}
				<li>{{#linkTo 'register'}}Register{{/linkTo}}</li>
				{{/if}}
				<li><a style="padding-right: 0px;" href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#2c3e50" data-uv-link-color="#1abc9c" data-uv-default-mode="support" data-uv-forum-id="220747">Support</a></li>
				{{#if currentUserId}}
				<li class="hidden-desktop"><a href="#" {{action logout}}>Logout</a></li>
				{{/if}}
			</ul>
			</div>

		</div>
	</div>
</div>


<div id="main" class="container">
    {{#if notificationActive}}
    {{#view App.StickyNotificationsView}}
    <div id="notifications" class="row hander" {{action notificationGone target="view"}} style="display:none;background-color: #2c3e50;position: fixed; z-index: 9; top: 51px;left: 0px;margin-left:0px;width: 100%;color: #ffffff;text-align: center;">
        <div class="span12" style="padding: 17px;margin-left: 0px;width: 100%;">
        <span id="notificationsContent">{{{controller.notificationText}}}</span>
        </div>
    </div>
    {{/view}}
    {{/if}}
	<div id="alerts" class="row">
		<div class="span12" style="position: relative !important;margin-top: -38px !important;">
            <div class="alert alert-error" id="noticeSlide" style="margin-bottom:0px;display: none;text-align : center !important;padding: 8px 5px 8px 5px !important;">
            </div>
		</div>
	</div>
	{{outlet}}
</div>
</div> <!-- end #wrap -->
<div class="chatContent avgrund-popin" style="display:none;">
{{#if rippledDown}}
<span style="float:right;font-size: 10px;margin-top: -5px;"><i class="icon-warning-sign" style="color:#E74C3C"></i> Ripple network is down.</span>
{{/if}}
{{#if publicKeyed}}
{{#if chatActive}}
<div style="height: 346px;position: absolute;width: 380px;left: 0px;top: 0px;border: 2px solid #dce4ec;padding: 25px;padding-top: 10px;">
{{#view App.MembersChatView}}
<div class="row" style="margin-left: -5px;">
    <div>
    <h5>Find Partner</h5>
    <form class="form-horizontal form-professional">
        <div class="control-group">
            <label class="control-label" for="referUsered">Name</label>
            <div class="controls">
            {{input type="text" class="input-block-level outThere" id="referUsered" name="referUsered" value=controller.userToRefer placeholder="type name"}}
            </div>
        </div>
    </form>
    </div>
</div>
{{/view}}
{{#if controller.sOLRresults}}
<div class="row" style="margin-left: -5px;">
	<div>
		<table class="table members-table">
			<thead>
				<td></td>
				<td style="text-align:center">Verified</td>
				<td></td>
			</thead>
			<tbody>
				{{#each user in controller.sOLRresults}}
				{{#if user}}
				<tr>
					<td>
					<div class="profile-image img-circle" {{bindAttr style="user.profileImageBackgroundStyle"}}></div>
						{{#linkTo 'member' user.id class="name"}} {{ user.fullName }} {{/linkTo}}
					</td>
					<td style="text-align:center">
						{{#if user.verified}}
							<i class="icon-ok" style="color:#1ABC9C"></i>
						{{/if}}
						{{#if user.verificationBadge}}
							<i class="icon-certificate" style="color:#9B59B6"></i>
						{{/if}}
					</td>
                    <td>
                        {{#view App.ChatSelectView userBinding=user}}
                        {{#unless view.isCurrentUser}}
                        <i class="icon-comment" style="width: 20px;height: 20px;font-size: 25px;cursor:hand;cursor:pointer;" {{action selectUserChat target="view"}}></i>
                        {{input class="userChatSelect" type="hidden" value=user.id}}
                        {{/unless}}
                        {{/view}}
                    </td>
				</tr>
				{{/if}}
				{{/each}}
			</tbody>
		</table>
		<div class="pagination" style="margin-top: -25px;"></div>
	</div>
</div>
{{/if}}
<div class="row loadered">
<div class="span5" style="text-align:center;">
<i class="icon-spin" style="background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;width: 20px;height: 20px;padding-bottom: 3px;display:none;padding-right: 2px;background-size: 20px 20px;"></i>
</div>
</div>
</div>
<div style="height: 366px;position: absolute;width: 134px;right: 0px;top: 0px;border: 2px solid #dce4ec;overflow-y:auto;overflow-x:hidden;">
<p style="padding-top: 18px;text-align: center;">Conversations</p>
<ol class="noDecoration hander">
{{#each thread in sortedThreads}}
{{#unless thread.isStock}}
{{#unless thread.isGroup}}
{{#unless thread.isCurrencyTrade}}
{{#view App.ToolTipView place="body"}}
{{#view App.ThreadWrapperView threadBinding=thread}}
<li class="convoRow tooled" data-toggle="tooltip" data-placement="left" {{bindAttr title="view.otherUser.fullName"}} {{action chooseThread target="view"}} {{bindAttr style="view.styleThread"}}>
<div class="profile-image img-circle smallerCirc convoProfile" {{bindAttr style="view.otherUser.profileImageBackgroundStyle"}}></div>
{{#if thread.read}}
<div style="position: relative;right: 80px;top: 24px;">
<span class="navbar-indicator-count thread-indicator-count convoIndicator">{{thread.read}}</span>
</div>
{{/if}}
<span class="dateLast convoLast">{{dateLast thread.dateLast}}</span>
</li>
{{/view}}
{{/view}}
{{/unless}}
{{/unless}}
{{/unless}}
{{/each}}
</ol>
</div>
{{else}}
{{view Ember.TextArea valueBinding="messageContent" rows="4" cols="50" id="messageContent"}}
{{#if amountAttached}}
{{#view App.ButtonSlideView}}
<button class="btn btn-primary tooledBody up-down" style="bottom: 31px;position: absolute;right: 0px;margin: 0px;height: 31px;width: 68px;border-radius: 0px;font-size: 12px;padding: 0px;border-left: 1px solid #dce4ec;border-bottom: 1px solid #dce4ec;line-height: 12px;background-color:#16a085;z-index:9999999;" {{action moneyUnattach}}>{{amountAttached}} {{currencyAttached}}</button>
<button class="btn btn-primary tooledBody up-down-default" style="bottom: 31px;position: absolute;right: 0px;margin: 0px;height: 0px;width: 68px;border-radius: 0px;font-size: 12px;padding: 0px;border-left: 1px solid #dce4ec;border-bottom: 1px solid #dce4ec;line-height: 12px;background-color:#E74C3C;z-index:99999999;" {{action moneyUnattach}}>Detach Money</button>
{{/view}}
{{else}}
{{#if rippledDown}}
<button class="btn btn-primary disabled" style="bottom: 31px;position: absolute;right: 0px;margin: 0px;height: 31px;width: 68px;border-radius: 0px;font-size: 12px;padding: 0px;border-left: 1px solid #dce4ec;border-bottom: 1px solid #dce4ec;line-height: 12px;">Attach Money</button>
{{else}}
<button class="btn btn-primary" style="bottom: 31px;position: absolute;right: 0px;margin: 0px;height: 31px;width: 68px;border-radius: 0px;font-size: 12px;padding: 0px;border-left: 1px solid #dce4ec;border-bottom: 1px solid #dce4ec;line-height: 12px;" {{action attachedMoney}}>Attach Money</button>
{{/if}}
{{/if}}
{{#if amountInvoiceAttached}}
{{#view App.ButtonSlideView}}
<button class="btn btn-primary tooledBody up-down" style="bottom: 0px;position: absolute;right: 0px;margin: 0px;height: 31px;width: 68px;border-radius: 0px;font-size: 12px;padding: 0px;border-left: 1px solid #dce4ec;border-top: 1px solid #dce4ec;line-height: 12px;background-color:#16a085;z-index:9999999;" {{action invoiceUnattach}}>{{amountInvoiceAttached}} {{currencyInvoiceAttached}}</button>
<button class="btn btn-primary tooledBody up-down-default" style="bottom: 0px;position: absolute;right: 0px;margin: 0px;height: 0px;width: 68px;border-radius: 0px;font-size: 12px;padding: 0px;border-left: 1px solid #dce4ec;border-top: 1px solid #dce4ec;line-height: 12px;background-color:#E74C3C;z-index:99999999;" {{action invoiceUnattach}}>Detach Invoice</button>
{{/view}}
{{else}}
<button class="btn btn-primary" style="bottom: 0px;position: absolute;right: 0px;margin: 0px;height: 31px;width: 68px;border-radius: 0px;font-size: 12px;padding: 0px;border-left: 1px solid #dce4ec;border-top: 1px solid #dce4ec;line-height: 12px;" {{action attachedInvoice}}>Attach Invoice</button>
{{/if}}
<button class="btn btn-primary" style="bottom: 0px;position: absolute;right: 68px;margin: 0px;height: 63px;width: 68px;border-radius: 0px;font-size: 14px;padding: inherit;border-right: 1px solid #dce4ec;" {{action sendMessage}}>Send</button>
{{#if attachMoney}}

<div style="margin-left: 0px !important;height: 284px;position: absolute;width: 410px;left: 0px;top: 0px;border: 2px solid #dce4ec;padding: 10px;overflow:auto;">
{{#linkTo 'member' currentChatUser.id class="name"}}<div class="profile-image img-circle chatCirc smallerCirc" {{bindAttr style="currentChatUser.profileImageBackgroundStyle"}}></div>{{/linkTo}}
{{#view App.PathfindAttachView}}
<div class="userIcon"></div>

<form class="form-horizontal form-professional" {{action cancelStraight on="submit"}} id="sendForm">
    <legend style="margin-bottom:0px;">Attach Money</legend>
    <div class="control-group">
        <label class="control-label" for="amountedd">Amount</label>
        <div class="controls">
        {{input id="amountedd" type="text" class="input-block-level amountInputed" value=controller.amountedd placeholder=""}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="currency">Currency</label>
        <div class="controls selectOver">
            {{view Ember.Select
                   contentBinding="controller.currencyOptions"
                   valueBinding="controller.currencyd"
            }}
        </div>
    </div>
    <div class="control-group">
        {{#if xrpSelected}}
        {{input type="submit" class="btn btn-primary nonBlock" value="Cancel"}}
        {{#if amountValid}}
        <button class="btn btn-primary btn-block" style="width:200px;display:inline-block;margin-left: 3px;" {{action attachXRP}}>Attach</button>
        {{else}}
        <button class="btn btn-primary btn-block disabled" style="width:200px;display:inline-block;margin-left: 3px;" {{action doNothing}}>Attach</button>
        {{/if}}
        {{else}}
        <div class="controls">
        {{input type="submit" class="btn btn-primary btn-block" value="Cancel"}}
        </div>
        {{/if}}
    </div>
</form>

{{/view}}
<div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 10px !important; padding-bottom: 10px !important; text-align: center !important; margin-left: 2px !important;margin-bottom: 0px !important;">
    {{#unless controller.paths}}
    <i class="icon-spin loadered2" style="display:none;background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
    <p style="margin-bottom:0px;display:none;" class="noPathsFound2">No paths found.</p>
    {{/unless}}
    {{#each filter in filterPathd}}
    {{#view App.PathAttachSubmitView}}

    <button class="btn btn-primary currencyButton" {{action pathAttach target="view"}}>
    {{roundBalanceFour filter.amount}} {{filter.currency}}
    </button>
    {{input type="hidden" class="pathIndex" value=filter.index}}
    {{/view}}
    {{/each}}

</div>
</div>
<div style="height: 305px;position: absolute;width: 134px;right: 0px;top: 0px;border: 2px solid #dce4ec;overflow-y:auto;overflow-x:hidden;">
<p style="padding-top: 18px;text-align: center;">Conversations</p>
<ol class="noDecoration hander">
{{#each thread in sortedThreads}}
{{#unless thread.isStock}}
{{#unless thread.isGroup}}
{{#unless thread.isCurrencyTrade}}
{{#view App.ToolTipView place="body"}}
{{#view App.ThreadWrapperView threadBinding=thread}}
<li class="convoRow tooled" data-toggle="tooltip" data-placement="left" {{bindAttr title="view.otherUser.fullName"}} {{action chooseThread target="view"}} {{bindAttr style="view.styleThread"}}>
<div class="profile-image img-circle smallerCirc convoProfile" {{bindAttr style="view.otherUser.profileImageBackgroundStyle"}}></div>
{{#if thread.read}}
<div style="position: relative;right: 80px;top: 24px;">
<span class="navbar-indicator-count thread-indicator-count convoIndicator">{{thread.read}}</span>
</div>
{{/if}}
<span class="dateLast convoLast">{{dateLast thread.dateLast}}</span>
</li>
{{/view}}
{{/view}}
{{/unless}}
{{/unless}}
{{/unless}}
{{/each}}
</ol>
</div>

{{else}}
{{#if attachInvoice}}
<div style="height: 284px;position: absolute;width: 410px;left: 0px;top: 0px;border: 2px solid #dce4ec;padding: 10px;">
{{#linkTo 'member' currentChatUser.id class="name"}}<div class="profile-image img-circle chatCirc smallerCirc" {{bindAttr style="currentChatUser.profileImageBackgroundStyle"}}></div>{{/linkTo}}
<form class="form-horizontal form-professional" {{action cancelStraight on="submit"}} id="sendForm">
    <legend style="margin-bottom:0px;">Attach Invoice</legend>
    <div class="control-group">
        <label class="control-label" for="amountedd">Amount</label>
        <div class="controls">
        {{input id="amountedd" type="text" class="input-block-level amountInputed" value=controller.amountedd placeholder=""}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="currency">Currency</label>
        <div class="controls selectOver">
            {{view Ember.Select
                   contentBinding="controller.currencyOptions"
                   valueBinding="controller.currencyd"
            }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="dueDated" data-placement="top">Due Date</label>
        <div class="controls">
            {{#view App.DatePickerInView}}
            <div class="datetimepicker1 input-append" style="width: 230px;position: relative;">
                <input data-format="yyyy-MM-dd hh:mm:ss" type="text" id="dueDated"></input>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar" style="margin-left:8px;">
                  </i>
                </span>
              </div>
            {{/view}}
        </div>
    </div>
    <div class="control-group">
        {{input type="submit" class="btn btn-primary nonBlock" value="Cancel"}}
        {{#if amountValid}}
        <button class="btn btn-primary btn-block" style="width:200px;display:inline-block;margin-left: 3px;" {{action invoiceAttach}}>Attach</button>
        {{else}}
        <button class="btn btn-primary btn-block disabled" style="width:200px;display:inline-block;margin-left: 3px;" {{action doNothing}}>Attach</button>
        {{/if}}
    </div>
</form>
</div>
<div style="height: 305px;position: absolute;width: 134px;right: 0px;top: 0px;border: 2px solid #dce4ec;overflow-y:auto;overflow-x:hidden;">
<p style="padding-top: 18px;text-align: center;">Conversations</p>
<ol class="noDecoration hander">
{{#each thread in sortedThreads}}
{{#unless thread.isStock}}
{{#unless thread.isGroup}}
{{#unless thread.isCurrencyTrade}}
{{#view App.ToolTipView place="body"}}
{{#view App.ThreadWrapperView threadBinding=thread}}
<li class="convoRow tooled" data-toggle="tooltip" data-placement="left" {{bindAttr title="view.otherUser.fullName"}} {{action chooseThread target="view"}} {{bindAttr style="view.styleThread"}}>
<div class="profile-image img-circle smallerCirc convoProfile" {{bindAttr style="view.otherUser.profileImageBackgroundStyle"}}></div>
{{#if thread.read}}
<div style="position: relative;right: 80px;top: 24px;">
<span class="navbar-indicator-count thread-indicator-count convoIndicator">{{thread.read}}</span>
</div>
{{/if}}
<span class="dateLast convoLast">{{dateLast thread.dateLast}}</span>
</li>
{{/view}}
{{/view}}
{{/unless}}
{{/unless}}
{{/unless}}
{{/each}}
</ol>
</div>


{{else}}
<div style="height: 284px;position: absolute;width: 410px;left: 0px;top: 0px;border: 2px solid #dce4ec;padding: 10px;">
<i class="icon-chevron-left" style="top:5px;left:5px;height: 20px;width: 20px;font-size: 20px;position: absolute;z-index:99999999;cursor:hand;cursor:pointer;" {{action chatActivate}}></i>
{{#unless currentThread.messages}}
{{#linkTo 'member' currentChatUser.id class="name"}}<div class="profile-image img-circle chatCirc smallerCirc" {{bindAttr style="currentChatUser.profileImageBackgroundStyle"}}></div>{{/linkTo}}
{{/unless}}
<div class="messageContainer">
{{#view App.MessageInfiniteScrollView}}
<ol id="discussionScroll" class="discussion">
    {{#each message in sortedMessages}}
    {{#view App.MessageView messageBinding=message}}
    {{#if view.other}}
        <li class="other">
            {{#linkTo 'member' controller.currentChatUser.id class="name avatar"}}<div class="profile-image img-circle smallerCirc" {{bindAttr style="controller.currentChatUser.profileImageBackgroundStyle"}}></div>{{/linkTo}}
            <div class="messages">
                <p>{{{emoji message.message}}}</p>
                {{#each transaction in message.transactions}}
                <p style="color:#18bc9c;">Received {{transaction.amount}} {{transaction.currency}}</p>
                {{/each}}
                {{#each invoice in message.invoices}}
                {{#if invoice.paid}}
                <p style="color:#18bc9c;">{{#linkTo 'wallet.index'}}Invoice for {{invoice.amount}} {{invoice.currencyClaimedIn}}{{/linkTo}}</p>
                {{else}}
                <p style="color:#B8860B !important;">{{#linkTo 'wallet.index'}}Invoice for {{invoice.amount}} {{invoice.currencyClaimedIn}}{{/linkTo}}</p>
                {{/if}}
                {{/each}}
                <time {{bindAttr datetime=message.dateSent}}>{{dateLast message.dateSent}}</time>
            </div>
        </li>
    {{else}}
        <li class="self">
            {{#linkTo 'member' view.selfUser.id class="name avatar"}}<div class="profile-image img-circle smallerCirc" {{bindAttr style="view.selfUser.profileImageBackgroundStyle"}}></div>{{/linkTo}}
            <div class="messages">
                <p>{{{emoji message.message}}}</p>
                {{#each transaction in message.transactions}}
                <p style="color:#18bc9c;">Sent {{transaction.amount}} {{transaction.currency}}</p>
                {{/each}}
                {{#each invoice in message.invoices}}
                {{#if invoice.paid}}
                <p style="color:#18bc9c;">{{#linkTo 'wallet.index'}}Due for {{invoice.amount}} {{invoice.currencyClaimedIn}}{{/linkTo}}</p>
                {{else}}
                <p style="color:#B8860B !important;">{{#linkTo 'wallet.index'}}Due for {{invoice.amount}} {{invoice.currencyClaimedIn}}{{/linkTo}}</p>
                {{/if}}
                {{/each}}
                <time {{bindAttr datetime=message.dateSent}}>{{dateLast message.dateSent}}</time>
            </div>
        </li>
    {{/if}}
    {{/view}}
    {{/each}}
</ol>
{{/view}}
</div>


</div>
<div style="height: 305px;position: absolute;width: 134px;right: 0px;top: 0px;border: 2px solid #dce4ec;overflow-y:auto;overflow-x:hidden;">
<p style="padding-top: 18px;text-align: center;">Conversations</p>
<ol class="noDecoration hander">
{{#each thread in sortedThreads}}
{{#unless thread.isStock}}
{{#unless thread.isGroup}}
{{#unless thread.isCurrencyTrade}}
{{#view App.ToolTipView place="body"}}
{{#view App.ThreadWrapperView threadBinding=thread}}
<li class="convoRow tooled" data-toggle="tooltip" data-placement="left" {{bindAttr title="view.otherUser.fullName"}} {{action chooseThread target="view"}} {{bindAttr style="view.styleThread"}}>
<div class="profile-image img-circle smallerCirc convoProfile" {{bindAttr style="view.otherUser.profileImageBackgroundStyle"}}></div>
{{#if thread.read}}
<div style="position: relative;right: 80px;top: 24px;">
<span class="navbar-indicator-count thread-indicator-count convoIndicator">{{thread.read}}</span>
</div>
{{/if}}
<span class="dateLast convoLast">{{dateLast thread.dateLast}}</span>
</li>
{{/view}}
{{/view}}
{{/unless}}
{{/unless}}
{{/unless}}
{{/each}}
</ol>
</div>
{{/if}}
{{/if}}
{{/if}}
{{else}}
<div class="well currencyHolder" style="height: 310px;margin-bottom: 0px;padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">
    {{#if haveWallet}}
    {{#unless publicKeyed}}
        <legend style="margin-bottom:0px;">Login Wallet</legend>
        <form class="form-horizontal walletSignIn" style="margin-bottom:0px;margin-top: 40px;" {{action walletLogin on="submit"}}>
            <div class="control-group">
                <label class="control-label" for="walletNamed" style="text-align:center;">Wallet Name</label>
                <div class="controls">
                    {{input type="text" id="walletNamed" value=walletName name="walletNamed" placeholder="wallet name"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="passworded" style="text-align:center;">Password</label>
                <div class="controls">
                    {{input type="password" id="passworded" value=walletPassword name="passworded" placeholder="password"}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{input type="submit" class="btn btn-primary loginOverride" value="Login"}}
                </div>
            </div>
        </form>
    {{/unless}}
    {{else}}
    <p style="margin-bottom:0px;" class="walletCreate" data-dismiss="modal">{{#linkTo 'wallet.create'}}Create wallet{{/linkTo}} first.</p>
    {{/if}}
</div>
{{/if}}
</div>
{{#if currentUserId}}
{{#view App.AvgrundView}}
<div class="chat" id="chat" style="color: #ffffff;font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;cursor: hand;cursor: pointer;"><span style="margin-left: 20px;">Partner Chat</span>
    {{#if messageCount}}
    <i class="icon-comment" style="width: 20px;height: 20px;color: #e74c3c;font-size: 25px;margin-top: 2px !important;"></i>
    <span class="navbar-indicator-count" style="top: 13px;right: 25px;">{{messageCount}}</span>
    {{else}}
    <i class="icon-comment" style="width: 20px;height: 20px;color: #ffffff;font-size: 25px;margin-top: 2px !important;"></i>
    {{/if}}
</div>
{{/view}}
{{/if}}
<div id="footer">
	<footer>
		<div class="container">
		    <div id="alerts" class="row">
                <div class="span12" style="position: relative !important;margin-top: -40px !important;">
                    <div class="alert alert-error" id="noticeSlide2" style="margin-bottom:0px;display: none;text-align : center !important;padding: 8px 5px 8px 5px !important;">
                    </div>
                </div>
            </div>
			<div class="row" style="height:100px;">
				<div class="span12">
					<div class="page-header" style="text-align: center !important;margin-bottom:0px;padding-bottom:0px;">
						<address style="margin-bottom:0px;padding:0px;height:60px;">
							<strong>&copy; 2014 Peercover</strong><br>
				    		{{#linkTo 'termsConditions'}}Terms &amp; Conditions{{/linkTo}}<br>
				    		{{#linkTo 'ruleBook'}}Rule Book{{/linkTo}}
						</address>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
