<ul class="font-group">
<li><i class="icon-glass"></i> <span class="icon-name">icon-glass</span>                <span class="icon-value">"\f000"</span></li>
<li><i class="icon-music"></i> <span class="icon-name">icon-music</span>                <span class="icon-value">"\f001"</span></li>
<li><i class="icon-search"></i> <span class="icon-name">icon-search</span>                <span class="icon-value">"\f002"</span></li>
<li><i class="icon-envelope-alt"></i> <span class="icon-name">icon-envelope-alt</span>                <span class="icon-value">"\f003"</span></li>
<li><i class="icon-heart"></i> <span class="icon-name">icon-heart</span>                <span class="icon-value">"\f004"</span></li>
<li><i class="icon-star"></i> <span class="icon-name">icon-star</span>                <span class="icon-value">"\f005"</span></li>
<li><i class="icon-star-empty"></i> <span class="icon-name">icon-star-empty</span>                <span class="icon-value">"\f006"</span></li>
<li><i class="icon-user"></i> <span class="icon-name">icon-user</span>                <span class="icon-value">"\f007"</span></li>
<li><i class="icon-film"></i> <span class="icon-name">icon-film</span>                <span class="icon-value">"\f008"</span></li>
<li><i class="icon-th-large"></i> <span class="icon-name">icon-th-large</span>                <span class="icon-value">"\f009"</span></li>
<li><i class="icon-th"></i> <span class="icon-name">icon-th</span>                <span class="icon-value">"\f00a"</span></li>
<li><i class="icon-th-list"></i> <span class="icon-name">icon-th-list</span>                <span class="icon-value">"\f00b"</span></li>
<li><i class="icon-ok"></i> <span class="icon-name">icon-ok</span>                <span class="icon-value">"\f00c"</span></li>
<li><i class="icon-remove"></i> <span class="icon-name">icon-remove</span>                <span class="icon-value">"\f00d"</span></li>
<li><i class="icon-zoom-in"></i> <span class="icon-name">icon-zoom-in</span>                <span class="icon-value">"\f00e"</span></li>
<li><i class="icon-zoom-out"></i> <span class="icon-name">icon-zoom-out</span>                <span class="icon-value">"\f010"</span></li>
<li><i class="icon-off"></i> <span class="icon-name">icon-off</span>                <span class="icon-value">"\f011"</span></li>
<li><i class="icon-signal"></i> <span class="icon-name">icon-signal</span>                <span class="icon-value">"\f012"</span></li>
<li><i class="icon-cog"></i> <span class="icon-name">icon-cog</span>                <span class="icon-value">"\f013"</span></li>
<li><i class="icon-trash"></i> <span class="icon-name">icon-trash</span>                <span class="icon-value">"\f014"</span></li>
<li><i class="icon-home"></i> <span class="icon-name">icon-home</span>                <span class="icon-value">"\f015"</span></li>
<li><i class="icon-file-alt"></i> <span class="icon-name">icon-file-alt</span>                <span class="icon-value">"\f016"</span></li>
<li><i class="icon-time"></i> <span class="icon-name">icon-time</span>                <span class="icon-value">"\f017"</span></li>
<li><i class="icon-road"></i> <span class="icon-name">icon-road</span>                <span class="icon-value">"\f018"</span></li>
<li><i class="icon-download-alt"></i> <span class="icon-name">icon-download-alt</span>                <span class="icon-value">"\f019"</span></li>
<li><i class="icon-download"></i> <span class="icon-name">icon-download</span>                <span class="icon-value">"\f01a"</span></li>
<li><i class="icon-upload"></i> <span class="icon-name">icon-upload</span>                <span class="icon-value">"\f01b"</span></li>
<li><i class="icon-inbox"></i> <span class="icon-name">icon-inbox</span>                <span class="icon-value">"\f01c"</span></li>
<li><i class="icon-play-circle"></i> <span class="icon-name">icon-play-circle</span>                <span class="icon-value">"\f01d"</span></li>
<li><i class="icon-repeat"></i> <span class="icon-name">icon-repeat</span>                <span class="icon-value">"\f01e"</span></li>
<li><i class="icon-refresh"></i> <span class="icon-name">icon-refresh</span>                <span class="icon-value">"\f021"</span></li>
<li><i class="icon-list-alt"></i> <span class="icon-name">icon-list-alt</span>                <span class="icon-value">"\f022"</span></li>
<li><i class="icon-lock"></i> <span class="icon-name">icon-lock</span>                <span class="icon-value">"\f023"</span></li>
<li><i class="icon-flag"></i> <span class="icon-name">icon-flag</span>                <span class="icon-value">"\f024"</span></li>
<li><i class="icon-headphones"></i> <span class="icon-name">icon-headphones</span>                <span class="icon-value">"\f025"</span></li>
<li><i class="icon-volume-off"></i> <span class="icon-name">icon-volume-off</span>                <span class="icon-value">"\f026"</span></li>
<li><i class="icon-volume-down"></i> <span class="icon-name">icon-volume-down</span>                <span class="icon-value">"\f027"</span></li>
<li><i class="icon-volume-up"></i> <span class="icon-name">icon-volume-up</span>                <span class="icon-value">"\f028"</span></li>
<li><i class="icon-qrcode"></i> <span class="icon-name">icon-qrcode</span>                <span class="icon-value">"\f029"</span></li>
<li><i class="icon-barcode"></i> <span class="icon-name">icon-barcode</span>                <span class="icon-value">"\f02a"</span></li>
<li><i class="icon-tag"></i> <span class="icon-name">icon-tag</span>                <span class="icon-value">"\f02b"</span></li>
<li><i class="icon-tags"></i> <span class="icon-name">icon-tags</span>                <span class="icon-value">"\f02c"</span></li>
<li><i class="icon-book"></i> <span class="icon-name">icon-book</span>                <span class="icon-value">"\f02d"</span></li>
<li><i class="icon-bookmark"></i> <span class="icon-name">icon-bookmark</span>                <span class="icon-value">"\f02e"</span></li>
<li><i class="icon-print"></i> <span class="icon-name">icon-print</span>                <span class="icon-value">"\f02f"</span></li>
<li><i class="icon-camera"></i> <span class="icon-name">icon-camera</span>                <span class="icon-value">"\f030"</span></li>
<li><i class="icon-font"></i> <span class="icon-name">icon-font</span>                <span class="icon-value">"\f031"</span></li>
<li><i class="icon-bold"></i> <span class="icon-name">icon-bold</span>                <span class="icon-value">"\f032"</span></li>
<li><i class="icon-italic"></i> <span class="icon-name">icon-italic</span>                <span class="icon-value">"\f033"</span></li>
<li><i class="icon-text-height"></i> <span class="icon-name">icon-text-height</span>                <span class="icon-value">"\f034"</span></li>
<li><i class="icon-text-width"></i> <span class="icon-name">icon-text-width</span>                <span class="icon-value">"\f035"</span></li>
<li><i class="icon-align-left"></i> <span class="icon-name">icon-align-left</span>                <span class="icon-value">"\f036"</span></li>
<li><i class="icon-align-center"></i> <span class="icon-name">icon-align-center</span>                <span class="icon-value">"\f037"</span></li>
<li><i class="icon-align-right"></i> <span class="icon-name">icon-align-right</span>                <span class="icon-value">"\f038"</span></li>
<li><i class="icon-align-justify"></i> <span class="icon-name">icon-align-justify</span>                <span class="icon-value">"\f039"</span></li>
<li><i class="icon-list"></i> <span class="icon-name">icon-list</span>                <span class="icon-value">"\f03a"</span></li>
<li><i class="icon-indent-left"></i> <span class="icon-name">icon-indent-left</span>                <span class="icon-value">"\f03b"</span></li>
<li><i class="icon-indent-right"></i> <span class="icon-name">icon-indent-right</span>                <span class="icon-value">"\f03c"</span></li>
<li><i class="icon-facetime-video"></i> <span class="icon-name">icon-facetime-video</span>                <span class="icon-value">"\f03d"</span></li>
<li><i class="icon-picture"></i> <span class="icon-name">icon-picture</span>                <span class="icon-value">"\f03e"</span></li>
<li><i class="icon-pencil"></i> <span class="icon-name">icon-pencil</span>                <span class="icon-value">"\f040"</span></li>
<li><i class="icon-map-marker"></i> <span class="icon-name">icon-map-marker</span>                <span class="icon-value">"\f041"</span></li>
<li><i class="icon-adjust"></i> <span class="icon-name">icon-adjust</span>                <span class="icon-value">"\f042"</span></li>
<li><i class="icon-tint"></i> <span class="icon-name">icon-tint</span>                <span class="icon-value">"\f043"</span></li>
<li><i class="icon-edit"></i> <span class="icon-name">icon-edit</span>                <span class="icon-value">"\f044"</span></li>
<li><i class="icon-share"></i> <span class="icon-name">icon-share</span>                <span class="icon-value">"\f045"</span></li>
<li><i class="icon-check"></i> <span class="icon-name">icon-check</span>                <span class="icon-value">"\f046"</span></li>
<li><i class="icon-move"></i> <span class="icon-name">icon-move</span>                <span class="icon-value">"\f047"</span></li>
<li><i class="icon-step-backward"></i> <span class="icon-name">icon-step-backward</span>                <span class="icon-value">"\f048"</span></li>
<li><i class="icon-fast-backward"></i> <span class="icon-name">icon-fast-backward</span>                <span class="icon-value">"\f049"</span></li>
<li><i class="icon-backward"></i> <span class="icon-name">icon-backward</span>                <span class="icon-value">"\f04a"</span></li>
<li><i class="icon-play"></i> <span class="icon-name">icon-play</span>                <span class="icon-value">"\f04b"</span></li>
<li><i class="icon-pause"></i> <span class="icon-name">icon-pause</span>                <span class="icon-value">"\f04c"</span></li>
<li><i class="icon-stop"></i> <span class="icon-name">icon-stop</span>                <span class="icon-value">"\f04d"</span></li>
<li><i class="icon-forward"></i> <span class="icon-name">icon-forward</span>                <span class="icon-value">"\f04e"</span></li>
<li><i class="icon-fast-forward"></i> <span class="icon-name">icon-fast-forward</span>                <span class="icon-value">"\f050"</span></li>
<li><i class="icon-step-forward"></i> <span class="icon-name">icon-step-forward</span>                <span class="icon-value">"\f051"</span></li>
<li><i class="icon-eject"></i> <span class="icon-name">icon-eject</span>                <span class="icon-value">"\f052"</span></li>
<li><i class="icon-chevron-left"></i> <span class="icon-name">icon-chevron-left</span>                <span class="icon-value">"\f053"</span></li>
<li><i class="icon-chevron-right"></i> <span class="icon-name">icon-chevron-right</span>                <span class="icon-value">"\f054"</span></li>
<li><i class="icon-plus-sign"></i> <span class="icon-name">icon-plus-sign</span>                <span class="icon-value">"\f055"</span></li>
<li><i class="icon-minus-sign"></i> <span class="icon-name">icon-minus-sign</span>                <span class="icon-value">"\f056"</span></li>
<li><i class="icon-remove-sign"></i> <span class="icon-name">icon-remove-sign</span>                <span class="icon-value">"\f057"</span></li>
<li><i class="icon-ok-sign"></i> <span class="icon-name">icon-ok-sign</span>                <span class="icon-value">"\f058"</span></li>
<li><i class="icon-question-sign"></i> <span class="icon-name">icon-question-sign</span>                <span class="icon-value">"\f059"</span></li>
<li><i class="icon-info-sign"></i> <span class="icon-name">icon-info-sign</span>                <span class="icon-value">"\f05a"</span></li>
<li><i class="icon-screenshot"></i> <span class="icon-name">icon-screenshot</span>                <span class="icon-value">"\f05b"</span></li>
<li><i class="icon-remove-circle"></i> <span class="icon-name">icon-remove-circle</span>                <span class="icon-value">"\f05c"</span></li>
<li><i class="icon-ok-circle"></i> <span class="icon-name">icon-ok-circle</span>                <span class="icon-value">"\f05d"</span></li>
<li><i class="icon-ban-circle"></i> <span class="icon-name">icon-ban-circle</span>                <span class="icon-value">"\f05e"</span></li>
<li><i class="icon-arrow-left"></i> <span class="icon-name">icon-arrow-left</span>                <span class="icon-value">"\f060"</span></li>
<li><i class="icon-arrow-right"></i> <span class="icon-name">icon-arrow-right</span>                <span class="icon-value">"\f061"</span></li>
<li><i class="icon-arrow-up"></i> <span class="icon-name">icon-arrow-up</span>                <span class="icon-value">"\f062"</span></li>
<li><i class="icon-arrow-down"></i> <span class="icon-name">icon-arrow-down</span>                <span class="icon-value">"\f063"</span></li>
<li><i class="icon-share-alt"></i> <span class="icon-name">icon-share-alt</span>                <span class="icon-value">"\f064"</span></li>
<li><i class="icon-resize-full"></i> <span class="icon-name">icon-resize-full</span>                <span class="icon-value">"\f065"</span></li>
<li><i class="icon-resize-small"></i> <span class="icon-name">icon-resize-small</span>                <span class="icon-value">"\f066"</span></li>
<li><i class="icon-plus"></i> <span class="icon-name">icon-plus</span>                <span class="icon-value">"\f067"</span></li>
<li><i class="icon-minus"></i> <span class="icon-name">icon-minus</span>                <span class="icon-value">"\f068"</span></li>
<li><i class="icon-asterisk"></i> <span class="icon-name">icon-asterisk</span>                <span class="icon-value">"\f069"</span></li>
<li><i class="icon-exclamation-sign"></i> <span class="icon-name">icon-exclamation-sign</span>                <span class="icon-value">"\f06a"</span></li>
<li><i class="icon-gift"></i> <span class="icon-name">icon-gift</span>                <span class="icon-value">"\f06b"</span></li>
<li><i class="icon-leaf"></i> <span class="icon-name">icon-leaf</span>                <span class="icon-value">"\f06c"</span></li>
<li><i class="icon-fire"></i> <span class="icon-name">icon-fire</span>                <span class="icon-value">"\f06d"</span></li>
<li><i class="icon-eye-open"></i> <span class="icon-name">icon-eye-open</span>                <span class="icon-value">"\f06e"</span></li>
<li><i class="icon-eye-close"></i> <span class="icon-name">icon-eye-close</span>                <span class="icon-value">"\f070"</span></li>
<li><i class="icon-warning-sign"></i> <span class="icon-name">icon-warning-sign</span>                <span class="icon-value">"\f071"</span></li>
<li><i class="icon-plane"></i> <span class="icon-name">icon-plane</span>                <span class="icon-value">"\f072"</span></li>
<li><i class="icon-calendar"></i> <span class="icon-name">icon-calendar</span>                <span class="icon-value">"\f073"</span></li>
<li><i class="icon-random"></i> <span class="icon-name">icon-random</span>                <span class="icon-value">"\f074"</span></li>
<li><i class="icon-comment"></i> <span class="icon-name">icon-comment</span>                <span class="icon-value">"\f075"</span></li>
<li><i class="icon-magnet"></i> <span class="icon-name">icon-magnet</span>                <span class="icon-value">"\f076"</span></li>
<li><i class="icon-chevron-up"></i> <span class="icon-name">icon-chevron-up</span>                <span class="icon-value">"\f077"</span></li>
<li><i class="icon-chevron-down"></i> <span class="icon-name">icon-chevron-down</span>                <span class="icon-value">"\f078"</span></li>
<li><i class="icon-retweet"></i> <span class="icon-name">icon-retweet</span>                <span class="icon-value">"\f079"</span></li>
<li><i class="icon-shopping-cart"></i> <span class="icon-name">icon-shopping-cart</span>                <span class="icon-value">"\f07a"</span></li>
<li><i class="icon-folder-close"></i> <span class="icon-name">icon-folder-close</span>                <span class="icon-value">"\f07b"</span></li>
<li><i class="icon-folder-open"></i> <span class="icon-name">icon-folder-open</span>                <span class="icon-value">"\f07c"</span></li>
<li><i class="icon-resize-vertical"></i> <span class="icon-name">icon-resize-vertical</span>                <span class="icon-value">"\f07d"</span></li>
<li><i class="icon-resize-horizontal"></i> <span class="icon-name">icon-resize-horizontal</span>                <span class="icon-value">"\f07e"</span></li>
<li><i class="icon-bar-chart"></i> <span class="icon-name">icon-bar-chart</span>                <span class="icon-value">"\f080"</span></li>
<li><i class="icon-twitter-sign"></i> <span class="icon-name">icon-twitter-sign</span>                <span class="icon-value">"\f081"</span></li>
<li><i class="icon-facebook-sign"></i> <span class="icon-name">icon-facebook-sign</span>                <span class="icon-value">"\f082"</span></li>
<li><i class="icon-camera-retro"></i> <span class="icon-name">icon-camera-retro</span>                <span class="icon-value">"\f083"</span></li>
<li><i class="icon-key"></i> <span class="icon-name">icon-key</span>                <span class="icon-value">"\f084"</span></li>
<li><i class="icon-cogs"></i> <span class="icon-name">icon-cogs</span>                <span class="icon-value">"\f085"</span></li>
<li><i class="icon-comments"></i> <span class="icon-name">icon-comments</span>                <span class="icon-value">"\f086"</span></li>
<li><i class="icon-thumbs-up-alt"></i> <span class="icon-name">icon-thumbs-up-alt</span>                <span class="icon-value">"\f087"</span></li>
<li><i class="icon-thumbs-down-alt"></i> <span class="icon-name">icon-thumbs-down-alt</span>                <span class="icon-value">"\f088"</span></li>
<li><i class="icon-star-half"></i> <span class="icon-name">icon-star-half</span>                <span class="icon-value">"\f089"</span></li>
<li><i class="icon-heart-empty"></i> <span class="icon-name">icon-heart-empty</span>                <span class="icon-value">"\f08a"</span></li>
<li><i class="icon-signout"></i> <span class="icon-name">icon-signout</span>                <span class="icon-value">"\f08b"</span></li>
<li><i class="icon-linkedin-sign"></i> <span class="icon-name">icon-linkedin-sign</span>                <span class="icon-value">"\f08c"</span></li>
<li><i class="icon-pushpin"></i> <span class="icon-name">icon-pushpin</span>                <span class="icon-value">"\f08d"</span></li>
<li><i class="icon-external-link"></i> <span class="icon-name">icon-external-link</span>                <span class="icon-value">"\f08e"</span></li>
<li><i class="icon-signin"></i> <span class="icon-name">icon-signin</span>                <span class="icon-value">"\f090"</span></li>
<li><i class="icon-trophy"></i> <span class="icon-name">icon-trophy</span>                <span class="icon-value">"\f091"</span></li>
<li><i class="icon-github-sign"></i> <span class="icon-name">icon-github-sign</span>                <span class="icon-value">"\f092"</span></li>
<li><i class="icon-upload-alt"></i> <span class="icon-name">icon-upload-alt</span>                <span class="icon-value">"\f093"</span></li>
<li><i class="icon-lemon"></i> <span class="icon-name">icon-lemon</span>                <span class="icon-value">"\f094"</span></li>
<li><i class="icon-phone"></i> <span class="icon-name">icon-phone</span>                <span class="icon-value">"\f095"</span></li>
<li><i class="icon-check-empty"></i> <span class="icon-name">icon-check-empty</span>                <span class="icon-value">"\f096"</span></li>
<li><i class="icon-bookmark-empty"></i> <span class="icon-name">icon-bookmark-empty</span>                <span class="icon-value">"\f097"</span></li>
<li><i class="icon-phone-sign"></i> <span class="icon-name">icon-phone-sign</span>                <span class="icon-value">"\f098"</span></li>
<li><i class="icon-twitter"></i> <span class="icon-name">icon-twitter</span>                <span class="icon-value">"\f099"</span></li>
<li><i class="icon-facebook"></i> <span class="icon-name">icon-facebook</span>                <span class="icon-value">"\f09a"</span></li>
<li><i class="icon-github"></i> <span class="icon-name">icon-github</span>                <span class="icon-value">"\f09b"</span></li>
<li><i class="icon-unlock"></i> <span class="icon-name">icon-unlock</span>                <span class="icon-value">"\f09c"</span></li>
<li><i class="icon-credit-card"></i> <span class="icon-name">icon-credit-card</span>                <span class="icon-value">"\f09d"</span></li>
<li><i class="icon-rss"></i> <span class="icon-name">icon-rss</span>                <span class="icon-value">"\f09e"</span></li>
<li><i class="icon-hdd"></i> <span class="icon-name">icon-hdd</span>                <span class="icon-value">"\f0a0"</span></li>
<li><i class="icon-bullhorn"></i> <span class="icon-name">icon-bullhorn</span>                <span class="icon-value">"\f0a1"</span></li>
<li><i class="icon-bell"></i> <span class="icon-name">icon-bell</span>                <span class="icon-value">"\f0a2"</span></li>
<li><i class="icon-certificate"></i> <span class="icon-name">icon-certificate</span>                <span class="icon-value">"\f0a3"</span></li>
<li><i class="icon-hand-right"></i> <span class="icon-name">icon-hand-right</span>                <span class="icon-value">"\f0a4"</span></li>
<li><i class="icon-hand-left"></i> <span class="icon-name">icon-hand-left</span>                <span class="icon-value">"\f0a5"</span></li>
<li><i class="icon-hand-up"></i> <span class="icon-name">icon-hand-up</span>                <span class="icon-value">"\f0a6"</span></li>
<li><i class="icon-hand-down"></i> <span class="icon-name">icon-hand-down</span>                <span class="icon-value">"\f0a7"</span></li>
<li><i class="icon-circle-arrow-left"></i> <span class="icon-name">icon-circle-arrow-left</span>                <span class="icon-value">"\f0a8"</span></li>
<li><i class="icon-circle-arrow-right"></i> <span class="icon-name">icon-circle-arrow-right</span>                <span class="icon-value">"\f0a9"</span></li>
<li><i class="icon-circle-arrow-up"></i> <span class="icon-name">icon-circle-arrow-up</span>                <span class="icon-value">"\f0aa"</span></li>
<li><i class="icon-circle-arrow-down"></i> <span class="icon-name">icon-circle-arrow-down</span>                <span class="icon-value">"\f0ab"</span></li>
<li><i class="icon-globe"></i> <span class="icon-name">icon-globe</span>                <span class="icon-value">"\f0ac"</span></li>
<li><i class="icon-wrench"></i> <span class="icon-name">icon-wrench</span>                <span class="icon-value">"\f0ad"</span></li>
<li><i class="icon-tasks"></i> <span class="icon-name">icon-tasks</span>                <span class="icon-value">"\f0ae"</span></li>
<li><i class="icon-filter"></i> <span class="icon-name">icon-filter</span>                <span class="icon-value">"\f0b0"</span></li>
<li><i class="icon-briefcase"></i> <span class="icon-name">icon-briefcase</span>                <span class="icon-value">"\f0b1"</span></li>
<li><i class="icon-fullscreen"></i> <span class="icon-name">icon-fullscreen</span>                <span class="icon-value">"\f0b2"</span></li>
<li><i class="icon-group"></i> <span class="icon-name">icon-group</span>                <span class="icon-value">"\f0c0"</span></li>
<li><i class="icon-link"></i> <span class="icon-name">icon-link</span>                <span class="icon-value">"\f0c1"</span></li>
<li><i class="icon-cloud"></i> <span class="icon-name">icon-cloud</span>                <span class="icon-value">"\f0c2"</span></li>
<li><i class="icon-beaker"></i> <span class="icon-name">icon-beaker</span>                <span class="icon-value">"\f0c3"</span></li>
<li><i class="icon-cut"></i> <span class="icon-name">icon-cut</span>                <span class="icon-value">"\f0c4"</span></li>
<li><i class="icon-copy"></i> <span class="icon-name">icon-copy</span>                <span class="icon-value">"\f0c5"</span></li>
<li><i class="icon-paper-clip"></i> <span class="icon-name">icon-paper-clip</span>                <span class="icon-value">"\f0c6"</span></li>
<li><i class="icon-save"></i> <span class="icon-name">icon-save</span>                <span class="icon-value">"\f0c7"</span></li>
<li><i class="icon-sign-blank"></i> <span class="icon-name">icon-sign-blank</span>                <span class="icon-value">"\f0c8"</span></li>
<li><i class="icon-reorder"></i> <span class="icon-name">icon-reorder</span>                <span class="icon-value">"\f0c9"</span></li>
<li><i class="icon-list-ul"></i> <span class="icon-name">icon-list-ul</span>                <span class="icon-value">"\f0ca"</span></li>
<li><i class="icon-list-ol"></i> <span class="icon-name">icon-list-ol</span>                <span class="icon-value">"\f0cb"</span></li>
<li><i class="icon-strikethrough"></i> <span class="icon-name">icon-strikethrough</span>                <span class="icon-value">"\f0cc"</span></li>
<li><i class="icon-underline"></i> <span class="icon-name">icon-underline</span>                <span class="icon-value">"\f0cd"</span></li>
<li><i class="icon-table"></i> <span class="icon-name">icon-table</span>                <span class="icon-value">"\f0ce"</span></li>
<li><i class="icon-magic"></i> <span class="icon-name">icon-magic</span>                <span class="icon-value">"\f0d0"</span></li>
<li><i class="icon-truck"></i> <span class="icon-name">icon-truck</span>                <span class="icon-value">"\f0d1"</span></li>
<li><i class="icon-pinterest"></i> <span class="icon-name">icon-pinterest</span>                <span class="icon-value">"\f0d2"</span></li>
<li><i class="icon-pinterest-sign"></i> <span class="icon-name">icon-pinterest-sign</span>                <span class="icon-value">"\f0d3"</span></li>
<li><i class="icon-google-plus-sign"></i> <span class="icon-name">icon-google-plus-sign</span>                <span class="icon-value">"\f0d4"</span></li>
<li><i class="icon-google-plus"></i> <span class="icon-name">icon-google-plus</span>                <span class="icon-value">"\f0d5"</span></li>
<li><i class="icon-money"></i> <span class="icon-name">icon-money</span>                <span class="icon-value">"\f0d6"</span></li>
<li><i class="icon-caret-down"></i> <span class="icon-name">icon-caret-down</span>                <span class="icon-value">"\f0d7"</span></li>
<li><i class="icon-caret-up"></i> <span class="icon-name">icon-caret-up</span>                <span class="icon-value">"\f0d8"</span></li>
<li><i class="icon-caret-left"></i> <span class="icon-name">icon-caret-left</span>                <span class="icon-value">"\f0d9"</span></li>
<li><i class="icon-caret-right"></i> <span class="icon-name">icon-caret-right</span>                <span class="icon-value">"\f0da"</span></li>
<li><i class="icon-columns"></i> <span class="icon-name">icon-columns</span>                <span class="icon-value">"\f0db"</span></li>
<li><i class="icon-sort"></i> <span class="icon-name">icon-sort</span>                <span class="icon-value">"\f0dc"</span></li>
<li><i class="icon-sort-down"></i> <span class="icon-name">icon-sort-down</span>                <span class="icon-value">"\f0dd"</span></li>
<li><i class="icon-sort-up"></i> <span class="icon-name">icon-sort-up</span>                <span class="icon-value">"\f0de"</span></li>
<li><i class="icon-envelope"></i> <span class="icon-name">icon-envelope</span>                <span class="icon-value">"\f0e0"</span></li>
<li><i class="icon-linkedin"></i> <span class="icon-name">icon-linkedin</span>                <span class="icon-value">"\f0e1"</span></li>
<li><i class="icon-undo"></i> <span class="icon-name">icon-undo</span>                <span class="icon-value">"\f0e2"</span></li>
<li><i class="icon-legal"></i> <span class="icon-name">icon-legal</span>                <span class="icon-value">"\f0e3"</span></li>
<li><i class="icon-dashboard"></i> <span class="icon-name">icon-dashboard</span>                <span class="icon-value">"\f0e4"</span></li>
<li><i class="icon-comment-alt"></i> <span class="icon-name">icon-comment-alt</span>                <span class="icon-value">"\f0e5"</span></li>
<li><i class="icon-comments-alt"></i> <span class="icon-name">icon-comments-alt</span>                <span class="icon-value">"\f0e6"</span></li>
<li><i class="icon-bolt"></i> <span class="icon-name">icon-bolt</span>                <span class="icon-value">"\f0e7"</span></li>
<li><i class="icon-sitemap"></i> <span class="icon-name">icon-sitemap</span>                <span class="icon-value">"\f0e8"</span></li>
<li><i class="icon-umbrella"></i> <span class="icon-name">icon-umbrella</span>                <span class="icon-value">"\f0e9"</span></li>
<li><i class="icon-paste"></i> <span class="icon-name">icon-paste</span>                <span class="icon-value">"\f0ea"</span></li>
<li><i class="icon-lightbulb"></i> <span class="icon-name">icon-lightbulb</span>                <span class="icon-value">"\f0eb"</span></li>
<li><i class="icon-exchange"></i> <span class="icon-name">icon-exchange</span>                <span class="icon-value">"\f0ec"</span></li>
<li><i class="icon-cloud-download"></i> <span class="icon-name">icon-cloud-download</span>                <span class="icon-value">"\f0ed"</span></li>
<li><i class="icon-cloud-upload"></i> <span class="icon-name">icon-cloud-upload</span>                <span class="icon-value">"\f0ee"</span></li>
<li><i class="icon-user-md"></i> <span class="icon-name">icon-user-md</span>                <span class="icon-value">"\f0f0"</span></li>
<li><i class="icon-stethoscope"></i> <span class="icon-name">icon-stethoscope</span>                <span class="icon-value">"\f0f1"</span></li>
<li><i class="icon-suitcase"></i> <span class="icon-name">icon-suitcase</span>                <span class="icon-value">"\f0f2"</span></li>
<li><i class="icon-bell-alt"></i> <span class="icon-name">icon-bell-alt</span>                <span class="icon-value">"\f0f3"</span></li>
<li><i class="icon-coffee"></i> <span class="icon-name">icon-coffee</span>                <span class="icon-value">"\f0f4"</span></li>
<li><i class="icon-food"></i> <span class="icon-name">icon-food</span>                <span class="icon-value">"\f0f5"</span></li>
<li><i class="icon-file-text-alt"></i> <span class="icon-name">icon-file-text-alt</span>                <span class="icon-value">"\f0f6"</span></li>
<li><i class="icon-building"></i> <span class="icon-name">icon-building</span>                <span class="icon-value">"\f0f7"</span></li>
<li><i class="icon-hospital"></i> <span class="icon-name">icon-hospital</span>                <span class="icon-value">"\f0f8"</span></li>
<li><i class="icon-ambulance"></i> <span class="icon-name">icon-ambulance</span>                <span class="icon-value">"\f0f9"</span></li>
<li><i class="icon-medkit"></i> <span class="icon-name">icon-medkit</span>                <span class="icon-value">"\f0fa"</span></li>
<li><i class="icon-fighter-jet"></i> <span class="icon-name">icon-fighter-jet</span>                <span class="icon-value">"\f0fb"</span></li>
<li><i class="icon-beer"></i> <span class="icon-name">icon-beer</span>                <span class="icon-value">"\f0fc"</span></li>
<li><i class="icon-h-sign"></i> <span class="icon-name">icon-h-sign</span>                <span class="icon-value">"\f0fd"</span></li>
<li><i class="icon-plus-sign-alt"></i> <span class="icon-name">icon-plus-sign-alt</span>                <span class="icon-value">"\f0fe"</span></li>
<li><i class="icon-double-angle-left"></i> <span class="icon-name">icon-double-angle-left</span>                <span class="icon-value">"\f100"</span></li>
<li><i class="icon-double-angle-right"></i> <span class="icon-name">icon-double-angle-right</span>                <span class="icon-value">"\f101"</span></li>
<li><i class="icon-double-angle-up"></i> <span class="icon-name">icon-double-angle-up</span>                <span class="icon-value">"\f102"</span></li>
<li><i class="icon-double-angle-down"></i> <span class="icon-name">icon-double-angle-down</span>                <span class="icon-value">"\f103"</span></li>
<li><i class="icon-angle-left"></i> <span class="icon-name">icon-angle-left</span>                <span class="icon-value">"\f104"</span></li>
<li><i class="icon-angle-right"></i> <span class="icon-name">icon-angle-right</span>                <span class="icon-value">"\f105"</span></li>
<li><i class="icon-angle-up"></i> <span class="icon-name">icon-angle-up</span>                <span class="icon-value">"\f106"</span></li>
<li><i class="icon-angle-down"></i> <span class="icon-name">icon-angle-down</span>                <span class="icon-value">"\f107"</span></li>
<li><i class="icon-desktop"></i> <span class="icon-name">icon-desktop</span>                <span class="icon-value">"\f108"</span></li>
<li><i class="icon-laptop"></i> <span class="icon-name">icon-laptop</span>                <span class="icon-value">"\f109"</span></li>
<li><i class="icon-tablet"></i> <span class="icon-name">icon-tablet</span>                <span class="icon-value">"\f10a"</span></li>
<li><i class="icon-mobile-phone"></i> <span class="icon-name">icon-mobile-phone</span>                <span class="icon-value">"\f10b"</span></li>
<li><i class="icon-circle-blank"></i> <span class="icon-name">icon-circle-blank</span>                <span class="icon-value">"\f10c"</span></li>
<li><i class="icon-quote-left"></i> <span class="icon-name">icon-quote-left</span>                <span class="icon-value">"\f10d"</span></li>
<li><i class="icon-quote-right"></i> <span class="icon-name">icon-quote-right</span>                <span class="icon-value">"\f10e"</span></li>
<li><i class="icon-spinner"></i> <span class="icon-name">icon-spinner</span>                <span class="icon-value">"\f110"</span></li>
<li><i class="icon-circle"></i> <span class="icon-name">icon-circle</span>                <span class="icon-value">"\f111"</span></li>
<li><i class="icon-reply"></i> <span class="icon-name">icon-reply</span>                <span class="icon-value">"\f112"</span></li>
<li><i class="icon-github-alt"></i> <span class="icon-name">icon-github-alt</span>                <span class="icon-value">"\f113"</span></li>
<li><i class="icon-folder-close-alt"></i> <span class="icon-name">icon-folder-close-alt</span>                <span class="icon-value">"\f114"</span></li>
<li><i class="icon-folder-open-alt"></i> <span class="icon-name">icon-folder-open-alt</span>                <span class="icon-value">"\f115"</span></li>
<li><i class="icon-expand-alt"></i> <span class="icon-name">icon-expand-alt</span>                <span class="icon-value">"\f116"</span></li>
<li><i class="icon-collapse-alt"></i> <span class="icon-name">icon-collapse-alt</span>                <span class="icon-value">"\f117"</span></li>
<li><i class="icon-smile"></i> <span class="icon-name">icon-smile</span>                <span class="icon-value">"\f118"</span></li>
<li><i class="icon-frown"></i> <span class="icon-name">icon-frown</span>                <span class="icon-value">"\f119"</span></li>
<li><i class="icon-meh"></i> <span class="icon-name">icon-meh</span>                <span class="icon-value">"\f11a"</span></li>
<li><i class="icon-gamepad"></i> <span class="icon-name">icon-gamepad</span>                <span class="icon-value">"\f11b"</span></li>
<li><i class="icon-keyboard"></i> <span class="icon-name">icon-keyboard</span>                <span class="icon-value">"\f11c"</span></li>
<li><i class="icon-flag-alt"></i> <span class="icon-name">icon-flag-alt</span>                <span class="icon-value">"\f11d"</span></li>
<li><i class="icon-flag-checkered"></i> <span class="icon-name">icon-flag-checkered</span>                <span class="icon-value">"\f11e"</span></li>
<li><i class="icon-terminal"></i> <span class="icon-name">icon-terminal</span>                <span class="icon-value">"\f120"</span></li>
<li><i class="icon-code"></i> <span class="icon-name">icon-code</span>                <span class="icon-value">"\f121"</span></li>
<li><i class="icon-reply-all"></i> <span class="icon-name">icon-reply-all</span>                <span class="icon-value">"\f122"</span></li>
<li><i class="icon-mail-reply-all"></i> <span class="icon-name">icon-mail-reply-all</span>                <span class="icon-value">"\f122"</span></li>
<li><i class="icon-star-half-empty"></i> <span class="icon-name">icon-star-half-empty</span>                <span class="icon-value">"\f123"</span></li>
<li><i class="icon-location-arrow"></i> <span class="icon-name">icon-location-arrow</span>                <span class="icon-value">"\f124"</span></li>
<li><i class="icon-crop"></i> <span class="icon-name">icon-crop</span>                <span class="icon-value">"\f125"</span></li>
<li><i class="icon-code-fork"></i> <span class="icon-name">icon-code-fork</span>                <span class="icon-value">"\f126"</span></li>
<li><i class="icon-unlink"></i> <span class="icon-name">icon-unlink</span>                <span class="icon-value">"\f127"</span></li>
<li><i class="icon-question"></i> <span class="icon-name">icon-question</span>                <span class="icon-value">"\f128"</span></li>
<li><i class="icon-info"></i> <span class="icon-name">icon-info</span>                <span class="icon-value">"\f129"</span></li>
<li><i class="icon-exclamation"></i> <span class="icon-name">icon-exclamation</span>                <span class="icon-value">"\f12a"</span></li>
<li><i class="icon-superscript"></i> <span class="icon-name">icon-superscript</span>                <span class="icon-value">"\f12b"</span></li>
<li><i class="icon-subscript"></i> <span class="icon-name">icon-subscript</span>                <span class="icon-value">"\f12c"</span></li>
<li><i class="icon-eraser"></i> <span class="icon-name">icon-eraser</span>                <span class="icon-value">"\f12d"</span></li>
<li><i class="icon-puzzle-piece"></i> <span class="icon-name">icon-puzzle-piece</span>                <span class="icon-value">"\f12e"</span></li>
<li><i class="icon-microphone"></i> <span class="icon-name">icon-microphone</span>                <span class="icon-value">"\f130"</span></li>
<li><i class="icon-microphone-off"></i> <span class="icon-name">icon-microphone-off</span>                <span class="icon-value">"\f131"</span></li>
<li><i class="icon-shield"></i> <span class="icon-name">icon-shield</span>                <span class="icon-value">"\f132"</span></li>
<li><i class="icon-calendar-empty"></i> <span class="icon-name">icon-calendar-empty</span>                <span class="icon-value">"\f133"</span></li>
<li><i class="icon-fire-extinguisher"></i> <span class="icon-name">icon-fire-extinguisher</span>                <span class="icon-value">"\f134"</span></li>
<li><i class="icon-rocket"></i> <span class="icon-name">icon-rocket</span>                <span class="icon-value">"\f135"</span></li>
<li><i class="icon-maxcdn"></i> <span class="icon-name">icon-maxcdn</span>                <span class="icon-value">"\f136"</span></li>
<li><i class="icon-chevron-sign-left"></i> <span class="icon-name">icon-chevron-sign-left</span>                <span class="icon-value">"\f137"</span></li>
<li><i class="icon-chevron-sign-right"></i> <span class="icon-name">icon-chevron-sign-right</span>                <span class="icon-value">"\f138"</span></li>
<li><i class="icon-chevron-sign-up"></i> <span class="icon-name">icon-chevron-sign-up</span>                <span class="icon-value">"\f139"</span></li>
<li><i class="icon-chevron-sign-down"></i> <span class="icon-name">icon-chevron-sign-down</span>                <span class="icon-value">"\f13a"</span></li>
<li><i class="icon-html5"></i> <span class="icon-name">icon-html5</span>                <span class="icon-value">"\f13b"</span></li>
<li><i class="icon-css3"></i> <span class="icon-name">icon-css3</span>                <span class="icon-value">"\f13c"</span></li>
<li><i class="icon-anchor"></i> <span class="icon-name">icon-anchor</span>                <span class="icon-value">"\f13d"</span></li>
<li><i class="icon-unlock-alt"></i> <span class="icon-name">icon-unlock-alt</span>                <span class="icon-value">"\f13e"</span></li>
<li><i class="icon-bullseye"></i> <span class="icon-name">icon-bullseye</span>                <span class="icon-value">"\f140"</span></li>
<li><i class="icon-ellipsis-horizontal"></i> <span class="icon-name">icon-ellipsis-horizontal</span>                <span class="icon-value">"\f141"</span></li>
<li><i class="icon-ellipsis-vertical"></i> <span class="icon-name">icon-ellipsis-vertical</span>                <span class="icon-value">"\f142"</span></li>
<li><i class="icon-rss-sign"></i> <span class="icon-name">icon-rss-sign</span>                <span class="icon-value">"\f143"</span></li>
<li><i class="icon-play-sign"></i> <span class="icon-name">icon-play-sign</span>                <span class="icon-value">"\f144"</span></li>
<li><i class="icon-ticket"></i> <span class="icon-name">icon-ticket</span>                <span class="icon-value">"\f145"</span></li>
<li><i class="icon-minus-sign-alt"></i> <span class="icon-name">icon-minus-sign-alt</span>                <span class="icon-value">"\f146"</span></li>
<li><i class="icon-check-minus"></i> <span class="icon-name">icon-check-minus</span>                <span class="icon-value">"\f147"</span></li>
<li><i class="icon-level-up"></i> <span class="icon-name">icon-level-up</span>                <span class="icon-value">"\f148"</span></li>
<li><i class="icon-level-down"></i> <span class="icon-name">icon-level-down</span>                <span class="icon-value">"\f149"</span></li>
<li><i class="icon-check-sign"></i> <span class="icon-name">icon-check-sign</span>                <span class="icon-value">"\f14a"</span></li>
<li><i class="icon-edit-sign"></i> <span class="icon-name">icon-edit-sign</span>                <span class="icon-value">"\f14b"</span></li>
<li><i class="icon-external-link-sign"></i> <span class="icon-name">icon-external-link-sign</span>                <span class="icon-value">"\f14c"</span></li>
<li><i class="icon-share-sign"></i> <span class="icon-name">icon-share-sign</span>                <span class="icon-value">"\f14d"</span></li>
<li><i class="icon-compass"></i> <span class="icon-name">icon-compass</span>                <span class="icon-value">"\f14e"</span></li>
<li><i class="icon-collapse"></i> <span class="icon-name">icon-collapse</span>                <span class="icon-value">"\f150"</span></li>
<li><i class="icon-collapse-top"></i> <span class="icon-name">icon-collapse-top</span>                <span class="icon-value">"\f151"</span></li>
<li><i class="icon-expand"></i> <span class="icon-name">icon-expand</span>                <span class="icon-value">"\f152"</span></li>
<li><i class="icon-eur"></i> <span class="icon-name">icon-eur</span>                <span class="icon-value">"\f153"</span></li>
<li><i class="icon-gbp"></i> <span class="icon-name">icon-gbp</span>                <span class="icon-value">"\f154"</span></li>
<li><i class="icon-usd"></i> <span class="icon-name">icon-usd</span>                <span class="icon-value">"\f155"</span></li>
<li><i class="icon-inr"></i> <span class="icon-name">icon-inr</span>                <span class="icon-value">"\f156"</span></li>
<li><i class="icon-jpy"></i> <span class="icon-name">icon-jpy</span>                <span class="icon-value">"\f157"</span></li>
<li><i class="icon-cny"></i> <span class="icon-name">icon-cny</span>                <span class="icon-value">"\f158"</span></li>
<li><i class="icon-krw"></i> <span class="icon-name">icon-krw</span>                <span class="icon-value">"\f159"</span></li>
<li><i class="icon-btc"></i> <span class="icon-name">icon-btc</span>                <span class="icon-value">"\f15a"</span></li>
<li><i class="icon-file"></i> <span class="icon-name">icon-file</span>                <span class="icon-value">"\f15b"</span></li>
<li><i class="icon-file-text"></i> <span class="icon-name">icon-file-text</span>                <span class="icon-value">"\f15c"</span></li>
<li><i class="icon-sort-by-alphabet"></i> <span class="icon-name">icon-sort-by-alphabet</span>                <span class="icon-value">"\f15d"</span></li>
<li><i class="icon-sort-by-alphabet-alt"></i> <span class="icon-name">icon-sort-by-alphabet-alt</span>                <span class="icon-value">"\f15e"</span></li>
<li><i class="icon-sort-by-attributes"></i> <span class="icon-name">icon-sort-by-attributes</span>                <span class="icon-value">"\f160"</span></li>
<li><i class="icon-sort-by-attributes-alt"></i> <span class="icon-name">icon-sort-by-attributes-alt</span>                <span class="icon-value">"\f161"</span></li>
<li><i class="icon-sort-by-order"></i> <span class="icon-name">icon-sort-by-order</span>                <span class="icon-value">"\f162"</span></li>
<li><i class="icon-sort-by-order-alt"></i> <span class="icon-name">icon-sort-by-order-alt</span>                <span class="icon-value">"\f163"</span></li>
<li><i class="icon-thumbs-up"></i> <span class="icon-name">icon-thumbs-up</span>                <span class="icon-value">"\f164"</span></li>
<li><i class="icon-thumbs-down"></i> <span class="icon-name">icon-thumbs-down</span>                <span class="icon-value">"\f165"</span></li>
<li><i class="icon-youtube-sign"></i> <span class="icon-name">icon-youtube-sign</span>                <span class="icon-value">"\f166"</span></li>
<li><i class="icon-youtube"></i> <span class="icon-name">icon-youtube</span>                <span class="icon-value">"\f167"</span></li>
<li><i class="icon-xing"></i> <span class="icon-name">icon-xing</span>                <span class="icon-value">"\f168"</span></li>
<li><i class="icon-xing-sign"></i> <span class="icon-name">icon-xing-sign</span>                <span class="icon-value">"\f169"</span></li>
<li><i class="icon-youtube-play"></i> <span class="icon-name">icon-youtube-play</span>                <span class="icon-value">"\f16a"</span></li>
<li><i class="icon-dropbox"></i> <span class="icon-name">icon-dropbox</span>                <span class="icon-value">"\f16b"</span></li>
<li><i class="icon-stackexchange"></i> <span class="icon-name">icon-stackexchange</span>                <span class="icon-value">"\f16c"</span></li>
<li><i class="icon-instagram"></i> <span class="icon-name">icon-instagram</span>                <span class="icon-value">"\f16d"</span></li>
<li><i class="icon-flickr"></i> <span class="icon-name">icon-flickr</span>                <span class="icon-value">"\f16e"</span></li>
<li><i class="icon-adn"></i> <span class="icon-name">icon-adn</span>                <span class="icon-value">"\f170"</span></li>
<li><i class="icon-bitbucket"></i> <span class="icon-name">icon-bitbucket</span>                <span class="icon-value">"\f171"</span></li>
<li><i class="icon-bitbucket-sign"></i> <span class="icon-name">icon-bitbucket-sign</span>                <span class="icon-value">"\f172"</span></li>
<li><i class="icon-tumblr"></i> <span class="icon-name">icon-tumblr</span>                <span class="icon-value">"\f173"</span></li>
<li><i class="icon-tumblr-sign"></i> <span class="icon-name">icon-tumblr-sign</span>                <span class="icon-value">"\f174"</span></li>
<li><i class="icon-long-arrow-down"></i> <span class="icon-name">icon-long-arrow-down</span>                <span class="icon-value">"\f175"</span></li>
<li><i class="icon-long-arrow-up"></i> <span class="icon-name">icon-long-arrow-up</span>                <span class="icon-value">"\f176"</span></li>
<li><i class="icon-long-arrow-left"></i> <span class="icon-name">icon-long-arrow-left</span>                <span class="icon-value">"\f177"</span></li>
<li><i class="icon-long-arrow-right"></i> <span class="icon-name">icon-long-arrow-right</span>                <span class="icon-value">"\f178"</span></li>
<li><i class="icon-apple"></i> <span class="icon-name">icon-apple</span>                <span class="icon-value">"\f179"</span></li>
<li><i class="icon-windows"></i> <span class="icon-name">icon-windows</span>                <span class="icon-value">"\f17a"</span></li>
<li><i class="icon-android"></i> <span class="icon-name">icon-android</span>                <span class="icon-value">"\f17b"</span></li>
<li><i class="icon-linux"></i> <span class="icon-name">icon-linux</span>                <span class="icon-value">"\f17c"</span></li>
<li><i class="icon-dribble"></i> <span class="icon-name">icon-dribble</span>                <span class="icon-value">"\f17d"</span></li>
<li><i class="icon-skype"></i> <span class="icon-name">icon-skype</span>                <span class="icon-value">"\f17e"</span></li>
<li><i class="icon-foursquare"></i> <span class="icon-name">icon-foursquare</span>                <span class="icon-value">"\f180"</span></li>
<li><i class="icon-trello"></i> <span class="icon-name">icon-trello</span>                <span class="icon-value">"\f181"</span></li>
<li><i class="icon-female"></i> <span class="icon-name">icon-female</span>                <span class="icon-value">"\f182"</span></li>
<li><i class="icon-male"></i> <span class="icon-name">icon-male</span>                <span class="icon-value">"\f183"</span></li>
<li><i class="icon-gittip"></i> <span class="icon-name">icon-gittip</span>                <span class="icon-value">"\f184"</span></li>
<li><i class="icon-sun"></i> <span class="icon-name">icon-sun</span>                <span class="icon-value">"\f185"</span></li>
<li><i class="icon-moon"></i> <span class="icon-name">icon-moon</span>                <span class="icon-value">"\f186"</span></li>
<li><i class="icon-archive"></i> <span class="icon-name">icon-archive</span>                <span class="icon-value">"\f187"</span></li>
<li><i class="icon-bug"></i> <span class="icon-name">icon-bug</span>                <span class="icon-value">"\f188"</span></li>
<li><i class="icon-vk"></i> <span class="icon-name">icon-vk</span>                <span class="icon-value">"\f189"</span></li>
<li><i class="icon-weibo"></i> <span class="icon-name">icon-weibo</span>                <span class="icon-value">"\f18a"</span></li>
<li><i class="icon-renren"></i> <span class="icon-name">icon-renren</span>                <span class="icon-value">"\f18b"</span></li>
</ul>