{{view view.indicatorsView}}
{{view view.itemsView}}
<a class="left carousel-control" {{action previousSlide target="view"}}><i class="icon-hand-left"></i> </a>
<a class="right carousel-control" {{action nextSlide target="view"}}><i class="icon-hand-right"></i> </a> 
