<div class="row">
	<div class="span8">
		<h3>Claims</h3>
	</div>
	<div class="span2 offset2">
		{{#linkTo 'claims.create' class='btn btn-primary btn-block'}}File a Claim{{/linkTo}}
	</div>
</div>
<div class="row">
	<div class="span12">
		<table class="table">
			<thead>
				<tr>
				    <td>Title</td>
					<td>Claimant</td>
					<td>Amount Claimed</td>
					<td>Claim Date</td>
					{{#if controllers.group.claimVote}}
					<td>Percentage Vote</td>
                    <td>Vote</td>
					{{else}}
					<td>Percentage Vote</td>
					{{#if controllers.group.isAdmin}}
					{{#if controllers.group.userIsAdmin}}
                    <td>Vote</td>
					{{/if}}
                    {{else}}
                    <td>Vote</td>
					{{/if}}
					{{/if}}
				</tr>
			</thead>
			<tbody>
			{{#if adminClaim}}
                {{#each claimed}}
                    <tr>
                        <td>
                        {{#linkTo 'claim' this.claim}} {{this.claim.title}} {{/linkTo}}
                        </td>
                        <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                        <td>
                        {{this.claim.amountClaimed}} {{this.claim.currencyClaimedIn}}
                        </td>
                        <td>{{ displayDate this.claim.creationDate }}</td>
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        <td>
                        {{#unless this.alreadyVoted}}
                        {{#view App.ClaimVoteView}}
                        <button class="btn btn-success" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action yay target="view"}}>Yay</button>
                        <button class="btn btn-danger" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action nay target="view"}}>Nay</button>
                        {{input type="hidden" class="claimClass" value=this.claim.id}}
                        {{/view}}
                        {{/unless}}
                        </td>
                    </tr>
                {{/each}}
            {{else}}
			    {{#if controllers.group.claimVote}}
                {{#each claimed}}
                    <tr>
                        <td>
                        {{#linkTo 'claim' this.claim}} {{this.claim.title}} {{/linkTo}}
                        </td>
                        <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                        <td>
                        {{this.claim.amountClaimed}} {{this.claim.currencyClaimedIn}}
                        </td>
						<td>{{ displayDate this.claim.creationDate }}</td>
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
						<td>
						{{#unless this.alreadyVoted}}
						{{#view App.ClaimVoteView}}
						<button class="btn btn-success" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action yay target="view"}}>Yay</button>
                        <button class="btn btn-danger" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action nay target="view"}}>Nay</button>
                        {{input type="hidden" class="claimClass" value=this.claim.id}}
                        {{/view}}
                        {{/unless}}
						</td>
					</tr>
				{{/each}}
                {{else}}
                {{#if controllers.group.isAdmin}}
                {{#if controllers.group.userIsAdmin}}
                {{#each claimed}}
                    <tr>
                        <td>
                        {{#linkTo 'claim' this.claim}} {{this.claim.title}} {{/linkTo}}
                        </td>
                        <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                        <td>
                        {{this.claim.amountClaimed}} {{this.claim.currencyClaimedIn}}
                        </td>
                        <td>{{ displayDate this.claim.creationDate }}</td>
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        <td>
                        {{#unless this.alreadyVoted}}
                        {{#view App.ClaimVoteView}}
                        <button class="btn btn-success" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action yay target="view"}}>Yay</button>
                        <button class="btn btn-danger" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action nay target="view"}}>Nay</button>
                        {{input type="hidden" class="claimClass" value=this.claim.id}}
                        {{/view}}
                        {{/unless}}
                        </td>
                    </tr>
                {{/each}}
                {{else}}
                {{#each claimed}}
                <tr>
                    <td>
                    {{#linkTo 'claim' this.claim}} {{this.claim.title}} {{/linkTo}}
                    </td>
                    <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                    <td>
                    {{this.claim.amountClaimed}} {{this.claim.currencyClaimedIn}}
                    </td>
                    <td>{{ displayDate this.claim.creationDate }}</td>
                    <td>
                    <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                        <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                        <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                        <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                    </div>
                    </td>
                </tr>
                {{/each}}
                {{/if}}
                {{else}}
                {{#each claimed}}
                <tr>
                    <td>
                    {{#linkTo 'claim' this.claim}} {{this.claim.title}} {{/linkTo}}
                    </td>
                    <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                    <td>
                    {{this.claim.amountClaimed}} {{this.claim.currencyClaimedIn}}
                    </td>
                    <td>{{ displayDate this.claim.creationDate }}</td>
                    <td>
                    <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                        <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                        <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                        <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                    </div>
                    </td>
                    <td>
                    {{#unless this.alreadyVoted}}
                    {{#view App.ClaimVoteView}}
                    <button class="btn btn-success" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action yay target="view"}}>Yay</button>
                    <button class="btn btn-danger" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action nay target="view"}}>Nay</button>
                    {{input type="hidden" class="claimClass" value=this.claim.id}}
                    {{/view}}
                    {{/unless}}
                    </td>
                </tr>
                {{/each}}
                {{/if}}
                {{/if}}
            {{/if}}
			</tbody>
		</table>
	</div>
</div>
