{{#view App.EpicEditorView epicType="claimView"}}
<div class="row">
    <div class="span6">
    <div class="page-heading profile-heading">
        <h2 class="page-title full-name">{{ model.title}}</h2>
        <h4 class="page-title full-name">{{model.amountClaimed}} {{model.currencyClaimedIn}}</h4>
        <span class="page-subtitle join-date muted">Filed {{ displayDate  model.creationDate }}</span>
    </div>
	</div>
	<div class="span4 offset2">
		<div class="page-heading profile-heading" style="top: 20px !important;position: relative;">
			<div class="profile-image img-circle" {{bindAttr style=model.user.profileImageBackgroundStyle}}>
			{{#if model.user.accredit}}
			<img id="accredidationBadge" src="https://d1geqvinw0cz14.cloudfront.net/images/accredited.png">
			{{/if}}
			</div>
			{{#linkTo 'member' model.user}}<h3 class="page-title full-name">{{ model.user.fullName}}</h3>{{/linkTo}}
			<span class="page-subtitle join-date muted">Member since {{ displayDate  model.user.joinDate }}</span>
			{{#if model.dateVoteEnd}}
			<br>
			<span class="page-subtitle join-date muted">Voting ended {{ displayDate  model.dateVoteEnd }}</span>
			{{/if}}
		</div>
	</div>
</div>

<hr/>

<div class="row">
	<div class="span8">
	{{#if voteObject.onTopToThreshold}}
	 <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
        <div class="bar" {{bindAttr style="voteObject.percentageYesVoted"}}></div>
        <div class="bar bar-warning" {{bindAttr style="voteObject.onTopToThreshold"}}></div>
        <div class="bar bar-danger" {{bindAttr style="voteObject.percentageNoVotesMinusThreshold"}}></div>
    </div>
    {{/if}}
    <hr/>
	<div id="epiceditor" style="height: 500px;"></div>
	{{#if model.files}}
        <hr/>
        <h4 class="page-title full-name">Attachments</h4>
        <hr/>
        {{#each model.files}}
        <a {{bindAttr href=this.url}} target="_blank">{{this.name}}</a>
        <br>
        {{/each}}
        <hr/>
    {{/if}}
    {{#if claimantIsAdmin}}
    <button class="btn btn-success btn-block" style="margin-top: 20px;width: 48%;display: inline-block;margin-bottom: 20px;" {{action yay}}>Approve</button>
    <div style="width:2%;display: inline-block;margin-bottom: 20px;"></div>
    <button class="btn btn-danger btn-block" style="margin-top: 20px;width: 48%;display: inline-block;margin-bottom: 20px;" {{action nay}}>Disapprove</button>
    {{else}}
    {{#unless voteObject.alreadyVoted}}
    {{#unless model.dateVoteEnd}}
    {{#if model.group.isAdmin}}
    {{#if userIsAdmin}}
    <button class="btn btn-success btn-block" style="margin-top: 20px;width: 48%;display: inline-block;margin-bottom: 20px;" {{action yay}}>Approve</button>
    <div style="width:2%;display: inline-block;margin-bottom: 20px;"></div>
    <button class="btn btn-danger btn-block" style="margin-top: 20px;width: 48%;display: inline-block;margin-bottom: 20px;" {{action nay}}>Disapprove</button>
    {{/if}}
    {{else}}
    <button class="btn btn-success btn-block" style="margin-top: 20px;width: 48%;display: inline-block;margin-bottom: 20px;" {{action yay}}>Approve</button>
    <div style="width:2%;display: inline-block;margin-bottom: 20px;"></div>
    <button class="btn btn-danger btn-block" style="margin-top: 20px;width: 48%;display: inline-block;margin-bottom: 20px;" {{action nay}}>Disapprove</button>
	{{/if}}
	{{/unless}}
	{{/unless}}
	{{/if}}

	</div>
	<div class="span4 comments">
    <div class="control-group">
        <label class="control-label" for="commented">Comment</label>
        <div class="controls">
        {{textarea id="commented" type="text" style="max-width: 100%;" class="input-block-level" value=commented placeholder="Enter comment here."}}
        <hr>
        <button class="btn btn-success btn-block" style="margin-top: 20px;" {{action 'comment'}}>Comment</button>
        </div>
    </div>
    {{#if commenteded}}
    <div class="control-group" style="max-height: 562px;overflow: hidden;overflow-y: scroll;">
        <table class="table members-table table-condensed table-hover">
            <thead>
                <td>Name</td>
                <td>Date</td>
                <td>Comment</td>
            </thead>
            <tbody>
                {{#each commenteded}}
                <tr>
                    <td style="text-align:center !important;">
                    <div class="profile-image img-circle commentImage" {{bindAttr style="this.user.profileImageBackgroundStyle"}}></div>
                        {{#linkTo 'member' this.user class="name commentLink"}} {{ this.user.fullName }} {{/linkTo}}
                    </td>
                    <td>
                        {{ displayDate this.creationDate }}
                    </td>
                    <td>
                        {{this.comment}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
	</div>
</div>
<div class="row span8">
</div>
{{/view}}