<div class="row">
	<div class="span12">
		<h1>About Peercover</h1>
	</div>
    <form action="https://d1geqvinw0cz14.cloudfront.net/" method="post" enctype="multipart/form-data" id="claimForm">
        <input type="file" name="file" id="claimFile">
        <input type="hidden" name="policy">
        <input type="submit" name="submit" id="claimSubmitButton">
    </form>
</div>