<div class="row">
	{{#view App.EpicEditorView epicType="claim"}}
    	<div class="span8">
    		<form class="form-horizontal form-professional">
                <div class="page-heading">
                    <h3 class="page-title">File a Claim</h3>
                    <span class="page-subtitle join-date muted">Claim</span>
                    <hr>
                </div>
    			<div class="control-group">
    				<label class="control-label" for="claimTitle">Claim Title</label>
    				<div class="controls">
    				{{input id="claimTitle" type="text" class="input-block-level" value=claimTitle placeholder=""}}
    				</div>
                    <div style="margin-top: 20px">
    				<label class="control-label" for="amounted2">Amount</label>
                    <div class="controls">
                    {{input type="text" id="amounted2" class="input-block-level" value=amount name="amount"}}
                    {{view Ember.Select
                           contentBinding=contented
                           selectionBinding=selectedCurrency class="currencySelect2"}}
                    </div>
                    </div>
    			</div>
                <div class="navbar">
                    <div class="navbar-inner templateSelector">
                        <div class="container">

                            {{#view App.Popover parentSelector=".version" contentSelector=".versionContent"}}
                            <div class="versionContent" style="display:none;">
                            <table class="table table-condensed table-hover handerTable">
                            <thead>
                            <tr>
                            <td>
                            Name
                            </td>
                            <td>
                            Date Created
                            </td>
                            <td>
                            Date Modified
                            </td>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each version}}
                            {{#view App.TermsTemplatesView}}
                            {{input type="hidden" class="templateVersion" value=this.id}}
                            <tr {{action switchVersion target="view"}}>
                            <td>
                            {{#if this.templateName}}
                            {{this.templateName}}
                            {{else}}
                            {{this.name}}
                            {{/if}}
                            </td>
                            <td>
                            {{displayDate this.created}}
                            </td>
                            <td>
                            {{displayDate this.modified}}
                            </td>
                            </tr>
                            {{/view}}
                            {{/each}}
                            </tbody>
                            </table>
                            </div>
                            <a class="brand version" href="#" onclick="return false;" data-original-title="Claim Versions">claims</a>
                            {{/view}}
                        </div>
                    </div>
                </div>
    		</form>
    		<div class="control-group">
                <div id="epiceditor" style="height: 500px;"></div>
                {{#view App.DropperView}}
                <form action="/claimAttachment" class="dropper dropzone" id="my-dropzone" style="box-shadow: #2c3e50 0 2px 5px;border-top: 2px;border-color: white;border-top-style: dotted;">
                {{input type="hidden" id="amountFinal" name="amountFinal" value=amount}}
                {{input type="hidden" id="selectedCurrencyFinal" name="selectedCurrencyFinal" value=selectedCurrency}}
                {{input type="hidden" id="claimTitleFinal" name="claimTitleFinal" value=claimTitle}}
                {{input type="hidden" id="editorContentFinal" name="editorContentFinal" value=editorContent}}
                {{input type="hidden" id="groupFinal" name="groupFinal" value=controllers.group.id}}
                </form>
                <button id="submit-all" class="btn btn-success btn-block" style="margin-top: 20px;" {{action 'fileClaim' target="view"}}>Submit</button>
                {{/view}}
            </div>
    	</div>
    {{/view}}

	<div class="span2 offset2">
		{{#linkTo 'claims.index' class='btn btn-block'}}Go Back{{/linkTo}}
	</div>
</div>
