{{#unless controllers.group.reward}}
{{#unless controllers.group.investment}}
{{#if controllers.group.vested}}
{{else}}
{{#if controllers.group.isAdmin}}
{{#if controllers.group.userIsAdmin}}
<div class="row">
	<div class="span8">
		<form class="form-horizontal form-professional">
			<legend>Change Company Settings</legend>
			<div class="control-group">
				<label class="control-label" for="inputName">Company Name</label>
				<div class="controls">
				{{input id="inputName" type="text" class="input-block-level" value=controllers.group.name placeholder="pick a company name"}}
				</div>
			</div>
			<div class="control-group">
                <label class="control-label" for="descriptioned">Description</label>
                <div class="controls">
                {{view Ember.TextArea valueBinding="controllers.group.description" id="descriptioned"}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The minimum number of users signed needed to vest the company." for="inputUsers"><i class="icon-info-sign"></i> Minimum Users</label>
                {{/view}}
                <div class="controls">
                {{input id="inputUsers" type="text" class="input-block-level" value=controllers.group.minimumUsers placeholder="input minimum users to vest"}}
                </div>
            </div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="If enabled for an admin company, regular partners may vote on claims."><i class="icon-info-sign"></i> Non-admin<br>Claim Voting</label>
                {{/view}}
                <div class="controls">
                    <label class="checkbox">
                    {{view Ember.Checkbox checkedBinding="controllers.group.claimVote"}}
                    Allow non-admins to vote on claims
                    </label>
                </div>
            </div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
				<label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="If enabled, any Peercover partner may view the company settings and ask to join the company. If disabled, only partners referred or invited to the company may view the company settings."><i class="icon-info-sign"></i> Privacy</label>
				{{/view}}
				<div class="controls">
					<label class="checkbox">
					{{view Ember.Checkbox checkedBinding="controllers.group.isPublic"}}
					Make company public
					</label>
				</div>
			</div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The amount of time a company stays active and legally binding after vesting."><i class="icon-info-sign"></i> Duration</label>
                {{/view}}
                <div class="controls">
                    {{#view App.DurationView}}
                    <p style="margin-bottom:0px;">
                    <input class="days" name="value" data-title="days" {{bindAttr value="controllers.group.duration.days"}} size=1/>
                    <input class="hours" name="value" data-title="hours" {{bindAttr value="controllers.group.duration.hours"}} size=1/>

                    <input class="minutes" name="value" data-title="minutes" {{bindAttr value="controllers.group.duration.minutes"}} size=1/>

                    <input class="seconds" name="value" data-title="seconds" {{bindAttr value="controllers.group.duration.seconds"}} size=1/>
                    </p>
                    {{/view}}
                </div>
            </div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to approve a new partner."><i class="icon-info-sign"></i> Vote Threshold<br>New Partners</label>
                {{/view}}
                <div class="controls">
                    {{#view App.ThresholdSlider selector="#voteThresholdNewMembersEdit" }}
                    <div id="voteThresholdNewMembersEdit" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet1" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                    {{/view}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to approve a claim."><i class="icon-info-sign"></i> Vote Threshold<br>Claim Approval</label>
                {{/view}}
                <div class="controls">
                    {{#view App.ThresholdSlider selector="#voteThresholdClaimApprovalEdit" }}
                    <div id="voteThresholdClaimApprovalEdit" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet3" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                    {{/view}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to change the terms prior to company vest."><i class="icon-info-sign"></i> Vote Threshold<br>Term Change</label>
                {{/view}}
                <div class="controls">
                    {{#view App.ThresholdSlider selector="#voteThresholdTermVestEdit" }}
                    <div id="voteThresholdTermVestEdit" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet4" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                    {{/view}}
                </div>
            </div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
			    <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The input to the portioning algorithm. Slide the bar down to make people who insure more pay more."><i class="icon-info-sign"></i> Portion</label>
			    {{/view}}
			    <div class="controls">
                    {{view App.Slider templateName="slider-edit" selector="#slidePortionEdit" }}
                </div>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="span8">
	    <h3>Branding</h3>
        <ul class="thumbnails">
            {{#if controllers.group.uploadImage}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'selectUploadImage'}}>
                    <img {{bindAttr src="controllers.group.uploadImage"}} alt="Select Uploaded Image">
                </a>
            </li>
            {{/if}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'selectDefaultImage'}}>
                    <img {{bindAttr src="controllers.group.defaultImage"}} alt="Select Default Image">
                </a>
            </li>
            {{#view App.CompanyImageView}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'uploadProfileImage' target="view"}}>
                    <img src="https://d1geqvinw0cz14.cloudfront.net/images/profileEdit.jpg" alt="Upload Profile Image">
                </a>
            </li>
            <form method="post" enctype="multipart/form-data" id="imageForm" style="display: none;">
            <input type='file' name='files' id='files'>
            <input type="submit" name="submit" id="imageSubmitButton">
            </form>
            {{/view}}
            <div id="previewImage"></div>
            <canvas id="canvas"></canvas>
        </ul>
        <hr/>
        <div class="btn-group" style="margin-bottom: 20px;width:100%;">
        <button class="btn btn-success" {{action 'editGroup'}} style="width: 47%;">Save</button>
        <a href="#deleteGroup" role="button" class="btn btn-danger" data-toggle="modal" style="width: 47%;">Dissolve Company</a>
        </div>
    </div>
</div>
{{/if}}
{{else}}
{{#if controllers.group.userIsFounder}}
<a href="#deleteGroup" role="button" class="btn btn-danger" data-toggle="modal">Dissolve Company</a>
{{/if}}
{{/if}}
{{/if}}
{{/unless}}
{{/unless}}

{{#if controllers.group.investment}}
    {{#if controllers.group.isAdmin}}
    {{#if controllers.group.userIsAdmin}}
    <div class="row">
    	<div class="span8">
    		<form id="form-groups-create" class="form-horizontal form-professional">
                <legend>Change Company Settings</legend>
                <div class="control-group">
                    <label class="control-label" for="inputName">Company Name</label>
                    <div class="controls">
                    {{input id="inputName" type="text" class="input-block-level" value=controllers.group.name placeholder="pick a company name"}}
                    </div>
                </div>
                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" for="inputStock" data-toggle="tooltip" data-placement="top" data-title="The maximum number of shares possibly issued over the lifetime of this company."><i class="icon-info-sign"></i> Maximum Shares</label>
                    {{/view}}
                    <div class="controls">
                    {{input id="inputStock" type="text" class="input-block-level" value=controllers.group.maximumShares placeholder="maximum stock shares"}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputUrl">URL</label>
                    <div class="controls">
                    {{input id="inputUrl" type="text" class="input-block-level" value=controllers.group.outsideUrl placeholder="link to company"}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="descriptioned">Description</label>
                    <div class="controls">
                    {{view Ember.TextArea valueBinding="controllers.group.description" id="descriptioned"}}
                    </div>
                </div>
                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="If enabled, any Peercover partner may view the company settings and ask to join the company. If disabled, only partners referred or invited to the company may view the company settings."><i class="icon-info-sign"></i> Privacy</label>
                    {{/view}}
                    <div class="controls">
                        <label class="checkbox">
                        {{view Ember.Checkbox checkedBinding="controllers.group.isPublic"}}
                        Make company public
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to approve a new partner."><i class="icon-info-sign"></i> Vote Threshold<br>New Partners</label>
                    {{/view}}
                    <div class="controls">
                        {{#view App.ThresholdSlider selector="#voteThresholdNewMembers" }}
                        <div id="voteThresholdNewMembers" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet1" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                        {{/view}}
                    </div>
                </div>
            </form>
    	</div>
    </div>
    <div class="row">
    	<div class="span8">
    	    <h3>Branding</h3>
            <ul class="thumbnails">
                {{#if controllers.group.uploadImage}}
                <li class="span2">
                    <a href="#" class="thumbnail" {{action 'selectUploadImage'}}>
                        <img {{bindAttr src="controllers.group.uploadImage"}} alt="Select Uploaded Image">
                    </a>
                </li>
                {{/if}}
                <li class="span2">
                    <a href="#" class="thumbnail" {{action 'selectDefaultImage'}}>
                        <img {{bindAttr src="controllers.group.defaultImage"}} alt="Select Default Image">
                    </a>
                </li>
                {{#view App.CompanyImageView}}
                <li class="span2">
                    <a href="#" class="thumbnail" {{action 'uploadProfileImage' target="view"}}>
                        <img src="https://d1geqvinw0cz14.cloudfront.net/images/profileEdit.jpg" alt="Upload Profile Image">
                    </a>
                </li>
                <form method="post" enctype="multipart/form-data" id="imageForm" style="display: none;">
                <input type='file' name='files' id='files'>
                <input type="submit" name="submit" id="imageSubmitButton">
                </form>
                {{/view}}
                <div id="previewImage"></div>
                <canvas id="canvas"></canvas>
            </ul>
            <hr/>
            <div class="btn-group" style="margin-bottom: 20px;width:100%;">
            <button class="btn btn-success" {{action 'editGroup'}} style="width: 47%;">Save</button>
            <a href="#deleteGroup" role="button" class="btn btn-danger" data-toggle="modal" style="width: 47%;">Dissolve Company</a>
            </div>
        </div>
    </div>
    {{/if}}
    {{else}}
    {{#if controllers.group.userIsFounder}}
    <a href="#deleteGroup" role="button" class="btn btn-danger" data-toggle="modal">Dissolve Company</a>
    {{/if}}
    {{/if}}
{{/if}}

{{#if controllers.group.reward}}
{{#if controllers.group.userIsFounder}}
{{#if controllers.group.notSigned}}
<a href="#deleteGroup" role="button" class="btn btn-danger" data-toggle="modal">Dissolve Company</a>
{{else}}
{{#if controllers.group.didNotVest}}
<a href="#deleteGroup" role="button" class="btn btn-danger" data-toggle="modal">Dissolve Company</a>
{{/if}}
{{#if controllers.group.vested}}
{{#unless controllers.group.dissolveDate}}
<div class="row">
    <form class="form-horizontal form-professional" {{action rewardFinalValue on="submit"}}>
        <div class="span8">
            <div class="control-group">
                <label class="control-label" for="rewardFinalValue">Final Value:</label>
                <div class="controls">
                    {{input type="text" id="rewardFinalValue" class="input-block-level" value=finalValue name="rewardFinalValue" placeholder="enter final value here"}}
                </div>
            </div>
        </div>
        <div class="span3 offset1">
            {{input type="submit" class="btn btn-block btn-success" value="Input Final Value"}}
        </div>
    </form>
</div>
{{/unless}}
{{/if}}
{{/if}}
{{/if}}
{{/if}}

{{#if controllers.group.userIsAdmin}}
<hr>
<p style="text-align:center;">Drag and drop your deal to apply to the company.</p>
<div class="row">
<div class="span6" style="text-align:center;height: 282px;">
<h4>Investment Piggy Bank</h4>
<div id="piggyBankZone" style="position: relative;margin-left: -190px;left:50%;width:380px; height:220px;border:1px solid #2c3e50;margin-bottom:20px;overflow:auto;" ondrop="groupDrop(event)" ondragover="allowDrop(event)">

{{#each offer in offers}}
{{#unless offer.used}}
<div {{bindAttr id=offer.id}} draggable="true" ondragstart="drag(event)">
<input type="hidden" {{bindAttr value=offer.id}}>
{{#view App.OfferPopover}}
<i {{bindAttr data-title="offer.offerId.title"}} {{bindAttr class="offer.offerId.finalClass"}} {{bindAttr style="offer.offerId.colorStyleDrag"}}></i>
<div class="sampleDiv" style="display:none;"><p style="text-align:center;margin-bottom:0px;padding:5px;color:#ffffff;font-size:12px;line-height:normal;">{{offer.offerId.description}}</p></div>
<div class="sampleTitle" style="display:none;">{{offer.offerId.title}}</div>
{{/view}}
</div>
{{/unless}}
{{/each}}

</div>
</div>
<div class="span6" style="text-align:center;height: 282px;">
<h4>Apply to Company Zone</h4>
<div id="groupZone" style="position: relative;margin-left: -190px;left:50%;width:380px; height:220px;border:1px solid #2c3e50;" ondrop="groupDrop(event)" ondragover="allowDrop(event)">
</div>
</div>
</div>
<div style="text-align: center;"><button class="btn btn-success" {{action redeem}}>Add Investments</button></div>
{{else}}
{{#if controllers.group.userIsFounder}}
<hr>
<p style="text-align:center;">Drag and drop your deal to apply to the company.</p>
<div class="row">
<div class="span6" style="text-align:center;height: 282px;">
<h4>Investment Piggy Bank</h4>
<div id="piggyBankZone" style="position: relative;margin-left: -190px;left:50%;width:380px; height:220px;border:1px solid #2c3e50;margin-bottom:20px;overflow:auto;" ondrop="groupDrop(event)" ondragover="allowDrop(event)">

{{#each offer in offers}}
{{#unless offer.used}}
<div {{bindAttr id=offer.id}} draggable="true" ondragstart="drag(event)">
<input type="hidden" {{bindAttr value=offer.id}}>
{{#view App.OfferPopover}}
<i {{bindAttr data-title="offer.offerId.title"}} {{bindAttr class="offer.offerId.finalClass"}} {{bindAttr style="offer.offerId.colorStyleDrag"}}></i>
<div class="sampleDiv" style="display:none;"><p style="text-align:center;margin-bottom:0px;padding:5px;color:#ffffff;font-size:12px;line-height:normal;">{{offer.offerId.description}}</p></div>
<div class="sampleTitle" style="display:none;">{{offer.offerId.title}}</div>
{{/view}}
</div>
{{/unless}}
{{/each}}

</div>
</div>
<div class="span6" style="text-align:center;height: 282px;">
<h4>Apply to Company Zone</h4>
<div id="groupZone" style="position: relative;margin-left: -190px;left:50%;width:380px; height:220px;border:1px solid #2c3e50;" ondrop="groupDrop(event)" ondragover="allowDrop(event)">
</div>
</div>
</div>
<div style="text-align: center;"><button class="btn btn-success" {{action redeem}}>Redeem Investments</button></div>
{{/if}}
{{/if}}

{{#view App.FounderDealView}}
{{#if controllers.group.userIsAdmin}}
<hr>
<div style="text-align: center;"><button class="btn founderButton" {{action founderInvite target="view"}}>Founder/Promotion Codes</button></div>
<div class="row fadeDived" style="display: none;margin-top:30px;">
    <form class="form-horizontal form-professional" {{action promotion on="submit"}}>
        <div class="span8">
            <div class="control-group">
                <label class="control-label" for="founderCode">Promotion Code:</label>
                <div class="controls">
                    {{input type="text" id="founderCode" class="input-block-level" value=founderCode name="founderCode" placeholder="enter code here"}}
                </div>
            </div>
        </div>
        <div class="span3 offset1">
            {{input type="submit" class="btn btn-block btn-success" value="Get Promotion"}}
        </div>
    </form>
</div>
{{else}}
{{#if controllers.group.userIsFounder}}
<hr>
<div style="text-align: center;"><button class="btn founderButton" {{action founderInvite target="view"}}>Founder/Promotion Codes</button></div>
<div class="row fadeDived" style="display: none;margin-top:30px;">
    <form class="form-horizontal form-professional" {{action promotion on="submit"}}>
        <div class="span8">
            <div class="control-group">
                <label class="control-label" for="verifyCode">Promotion Code:</label>
                <div class="controls">
                    {{input type="text" id="founderCode" class="input-block-level" value=founderCode name="founderCode" placeholder="enter code here"}}
                </div>
            </div>
        </div>
        <div class="span3 offset1">
            {{input type="submit" class="btn btn-block btn-success" value="Get Promotion"}}
        </div>
    </form>
</div>
{{/if}}
{{/if}}
{{/view}}

<div id="deleteGroup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="linkedinLabel" aria-hidden="true">
    <div class="modal-header" style="background-color:#e95d4e;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="deleteGroupLabel">Leave Company</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="alert-danger alerm">
                <span style="text-align : center !important;"><h3 style="font-size:20px !important;">Please confirm your decision to dissolve company.</h3></span>
            </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
    <div class="control-group" style="margin-bottom:0px;">
        <div class="controls" style="margin-bottom:0px;">
            <button class="btn btn-danger" data-dismiss="modal" {{action deleteGroup}}>Dissolve Company</button>
        </div>
    </div>
    </form>
    </div>
</div>



