<div class="row">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li>
				{{#linkTo 'edit.group'}}Administrate Group{{/linkTo}}
			</li>
			{{#if controllers.group.userIsAdmin}}
            <li>
                {{#linkTo 'edit.users'}}Administrate Users{{/linkTo}}
            </li>
			{{/if}}
		</ul>
	</div>
</div>

{{outlet}}
