<div class="row">
	<div class="span12">
		<h3>Partners</h3>
		<table class="table">
			<thead>
			    {{#if controllers.group.reward}}
				<tr>
					<td>Name</td>
					<td>Joined</td>
					<td>Status</td>
					<td>Remove</td>
					<td>Promote to Admin</td>
				</tr>
				{{else}}
				<tr>
                    <td>Name</td>
                    <td>Joined</td>
                    <td>Signed</td>
                    <td>Portion</td>
                    <td>Status</td>
                    <td>Remove</td>
                    <td>Promote to Admin</td>
                </tr>
			    {{/if}}
			</thead>
			<tbody>
			{{#if controllers.group.reward}}
			    {{#each groupUserSorted}}
                    {{#if this}}
                    {{#if this.deleted}}
                    {{else}}
                    {{#if this.member}}
                    <tr>
                        <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                        <td>{{ displayDate this.dateJoined }}</td>
                        <td class="table-meta">
                            {{#if this.admin }}
                                Admin
                            {{/if}}
                            {{#if this.foundingUser }}
                                <span style="color:#9b59b6;">Founder</span>
                            {{/if}}
                        </td>
                        <td>
                        {{#view App.EditUserView}}
                        {{#if this.admin }}
                        <i class="icon-lock" style="color: #E74C3C"> </i>
                        {{else}}
                        <button class="btn btn-success" {{action makeAdmin target="view"}}>Make Admin</button>
                        {{/if}}
                        <input class="editUserIded" type="hidden" {{bindAttr value="this.user.id"}}>
                        {{/view}}
                        </td>
                    </tr>
                    {{/if}}
                    {{/if}}
                    {{/if}}
                {{/each}}
			{{else}}
				{{#each groupUserSorted}}
                    {{#if this}}
                    {{#if this.deleted}}
                    {{else}}
				    {{#if this.member}}
					<tr>
						<td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
						<td>{{ displayDate this.dateJoined }}</td>
						<td>
						{{#if this.signed}}
                        {{ this.signedValue }}
                        {{/if}}
						</td>
						<td>{{ this.portion }}</td>
						<td class="table-meta">
							{{#if this.admin }}
								Admin
							{{/if}}
							{{#if this.foundingUser }}
								<span style="color:#9b59b6;">Founder</span>
							{{/if}}
						</td>
						<td>
                        {{#view App.EditUserView}}
                        {{#if this.admin }}
                        <i class="icon-lock" style="color: #E74C3C"> </i>
                        {{else}}
                        <button class="btn btn-danger" {{action remove target="view"}}>Remove</button>
                        {{/if}}
                        <input class="editUserIded" type="hidden" {{bindAttr value="this.user.id"}}>
                        {{/view}}
						</td>
						<td>
                        {{#view App.EditUserView}}
                        {{#if this.admin }}
                        <i class="icon-lock" style="color: #E74C3C"> </i>
                        {{else}}
                        <button class="btn btn-success" {{action makeAdmin target="view"}}>Make Admin</button>
                        {{/if}}
                        <input class="editUserIded" type="hidden" {{bindAttr value="this.user.id"}}>
                        {{/view}}
                        </td>
					</tr>
					{{/if}}
					{{/if}}
					{{/if}}
				{{/each}}
				{{/if}}
			</tbody>
		</table>
	</div>
</div>