<div class="row">
    <div class="span12">
    {{#view App.ToolTipView classNames=[iBB]}}
    <img {{bindAttr style=peercoverStyle}} class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="top" data-title="Search Peercover Users" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverInsuranceGroup.svg" {{action peercoverSort}}>
    {{/view}}
    {{#view App.ToolTipView classNames=[iBB]}}
    <img {{bindAttr style=facebookStyle}} class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="top" data-title="Search Facebook Users" src="https://d1geqvinw0cz14.cloudfront.net/images/facebook.svg" {{action facebookSort}}>
    {{/view}}
    {{#view App.ToolTipView classNames=[iBB]}}
    <img {{bindAttr style=linkedinStyle}} class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="top" data-title="Search LinkedIn Users" src="https://d1geqvinw0cz14.cloudfront.net/images/linkedin.svg" {{action linkedinSort}}>
    {{/view}}
    {{#view App.ToolTipView classNames=[iBB]}}
    <img {{bindAttr style=allStyle}} class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="top" data-title="Search All Users" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverAllGroup.svg" {{action allSort}}>
    {{/view}}
    </div>
</div>

{{#view App.ReferInviteView}}
<div class="row">
    <div class="span8">
    <h3>Refer User</h3>
    <form class="form-horizontal form-professional">
        <div class="control-group">
            <label class="control-label" for="referUser">Name</label>
            <div class="controls">
            {{input type="text" class="input-block-level referInvite" id="referUser" name="referUser" value=userToRefer placeholder="type name"}}
            </div>
        </div>
    </form>
    </div>
</div>
{{/view}}

{{#if allList}}
{{#each searchProfileResults}}
{{#view App.ReferInviteListView}}
<div class="row" style="margin-bottom: 25px;">
    <div class="span6">
        <div class="page-heading profile-heading">
            <div class="profile-image img-circle" {{bindAttr style="this.profileImageBackgroundStyle"}}></div>

            {{#if this.joinDate}}
            <h3 class="page-title full-name">
                {{#linkTo 'member' this.id}} {{ this.fullName }} {{/linkTo}}
            </h3>
            {{/if}}
            {{#if this.publicProfileUrl}}
            <h3 class="page-title full-name">
                <a target="_blank" {{bindAttr href="this.publicProfileUrl"}}> {{ this.fullName }} </a>
            </h3>
            {{/if}}
            {{#if this.link}}
            <h3 class="page-title full-name">
                <a target="_blank" {{bindAttr href="this.link"}}> {{ this.fullName }} </a>
            </h3>
            {{/if}}

            {{#if this.joinDate}}
            <span class="join-date muted">Peer since {{ displayDate this.joinDate }}</span>
            {{#if this.referredByUser}}
            <br>
            <span class="join-date muted">Already Referred</span>
            {{/if}}
            {{/if}}
            {{#if this.publicProfileUrl}}
            <span class="join-date muted"><i class="icon-linkedin"></i></span>
            {{/if}}
            {{#if this.link}}
            <span class="join-date muted"><i class="icon-facebook"></i></span>
            {{/if}}
        <hr/>
        </div>
    </div>
    <div class="span2">
    {{#if this.joinDate}}
    <button class="btn btn-success" {{action refer target="view"}}>Refer</button>
    {{/if}}
    {{#if this.publicProfileUrl}}
    <a href="#linkedinModal" role="button" class="btn btn-success" data-toggle="modal" {{action messageModal target="view"}}>Refer</a>
    {{/if}}
    {{#if this.link}}
    {{#view App.FBView}}
    <button class="btn btn-success" {{action referFacebook target="view"}}>Refer</button>
    {{input type="hidden" class="referId" value=this.id}}
    {{/view}}
    </div>
    {{else}}
    {{input type="hidden" class="referId" value=this.id}}
    </div>
    {{/if}}
</div>
{{/view}}
{{/each}}
{{else}}

{{#if peercoverList}}

{{#each searchProfileResults}}
{{#unless this.publicProfileUrl}}
{{#unless this.link}}
{{#view App.ReferInviteListView}}
<div class="row" style="margin-bottom: 25px;">
    <div class="span6">
        <div class="page-heading profile-heading">
            <div class="profile-image img-circle" {{bindAttr style="this.profileImageBackgroundStyle"}}></div>

            {{#if this.joinDate}}
            <h3 class="page-title full-name">
                {{#linkTo 'member' this.id}} {{ this.fullName }} {{/linkTo}}
            </h3>
            {{/if}}
            {{#if this.publicProfileUrl}}
            <h3 class="page-title full-name">
                <a target="_blank" {{bindAttr href="this.publicProfileUrl"}}> {{ this.fullName }} </a>
            </h3>
            {{/if}}
            {{#if this.link}}
            <h3 class="page-title full-name">
                <a target="_blank" {{bindAttr href="this.link"}}> {{ this.fullName }} </a>
            </h3>
            {{/if}}

            {{#if this.joinDate}}
            <span class="join-date muted">Peer since {{ displayDate this.joinDate }}</span>
            {{#if this.referredByUser}}
            <br>
            <span class="join-date muted">Already Referred</span>
            {{/if}}
            {{/if}}
            {{#if this.publicProfileUrl}}
            <span class="join-date muted"><i class="icon-linkedin"></i></span>
            {{/if}}
            {{#if this.link}}
            <span class="join-date muted"><i class="icon-facebook"></i></span>
            {{/if}}
        <hr/>
        </div>
    </div>
    <div class="span2">
    {{#if this.joinDate}}
    <button class="btn btn-success" {{action refer target="view"}}>Refer</button>
    {{/if}}
    {{#if this.publicProfileUrl}}
    <a href="#linkedinModal" role="button" class="btn btn-success" data-toggle="modal" {{action messageModal target="view"}}>Refer</a>
    {{/if}}
    {{#if this.link}}
    {{#view App.FBView}}
    <button class="btn btn-success" {{action referFacebook target="view"}}>Refer</button>
    {{input type="hidden" class="referId" value=this.id}}
    {{/view}}
    </div>
    {{else}}
    {{input type="hidden" class="referId" value=this.id}}
    </div>
    {{/if}}
</div>
{{/view}}
{{/unless}}
{{/unless}}
{{/each}}
{{else}}

{{#if facebookList}}

{{#each searchProfileResults}}
{{#if this.link}}
{{#view App.ReferInviteListView}}
<div class="row" style="margin-bottom: 25px;">
    <div class="span6">
        <div class="page-heading profile-heading">
            <div class="profile-image img-circle" {{bindAttr style="this.profileImageBackgroundStyle"}}></div>

            {{#if this.joinDate}}
            <h3 class="page-title full-name">
                {{#linkTo 'member' this.id}} {{ this.fullName }} {{/linkTo}}
            </h3>
            {{/if}}
            {{#if this.publicProfileUrl}}
            <h3 class="page-title full-name">
                <a target="_blank" {{bindAttr href="this.publicProfileUrl"}}> {{ this.fullName }} </a>
            </h3>
            {{/if}}
            {{#if this.link}}
            <h3 class="page-title full-name">
                <a target="_blank" {{bindAttr href="this.link"}}> {{ this.fullName }} </a>
            </h3>
            {{/if}}

            {{#if this.joinDate}}
            <span class="join-date muted">Peer since {{ displayDate this.joinDate }}</span>
            {{#if this.referredByUser}}
            <br>
            <span class="join-date muted">Already Referred</span>
            {{/if}}
            {{/if}}
            {{#if this.publicProfileUrl}}
            <span class="join-date muted"><i class="icon-linkedin"></i></span>
            {{/if}}
            {{#if this.link}}
            <span class="join-date muted"><i class="icon-facebook"></i></span>
            {{/if}}
        <hr/>
        </div>
    </div>
    <div class="span2">
    {{#if this.joinDate}}
    <button class="btn btn-success" {{action refer target="view"}}>Refer</button>
    {{/if}}
    {{#if this.publicProfileUrl}}
    <a href="#linkedinModal" role="button" class="btn btn-success" data-toggle="modal" {{action messageModal target="view"}}>Refer</a>
    {{/if}}
    {{#if this.link}}
    {{#view App.FBView}}
    <button class="btn btn-success" {{action referFacebook target="view"}}>Refer</button>
    {{input type="hidden" class="referId" value=this.id}}
    {{/view}}
    </div>
    {{else}}
    {{input type="hidden" class="referId" value=this.id}}
    </div>
    {{/if}}
</div>
{{/view}}
{{/if}}
{{/each}}

{{else}}

{{#if linkedinList}}

{{#each searchProfileResults}}
{{#if this.publicProfileUrl}}
{{#view App.ReferInviteListView}}
<div class="row" style="margin-bottom: 25px;">
    <div class="span6">
        <div class="page-heading profile-heading">
            <div class="profile-image img-circle" {{bindAttr style="this.profileImageBackgroundStyle"}}></div>

            {{#if this.joinDate}}
            <h3 class="page-title full-name">
                {{#linkTo 'member' this.id}} {{ this.fullName }} {{/linkTo}}
            </h3>
            {{/if}}
            {{#if this.publicProfileUrl}}
            <h3 class="page-title full-name">
                <a target="_blank" {{bindAttr href="this.publicProfileUrl"}}> {{ this.fullName }} </a>
            </h3>
            {{/if}}
            {{#if this.link}}
            <h3 class="page-title full-name">
                <a target="_blank" {{bindAttr href="this.link"}}> {{ this.fullName }} </a>
            </h3>
            {{/if}}

            {{#if this.joinDate}}
            <span class="join-date muted">Peer since {{ displayDate this.joinDate }}</span>
            {{#if this.referredByUser}}
            <br>
            <span class="join-date muted">Already Referred</span>
            {{/if}}
            {{/if}}
            {{#if this.publicProfileUrl}}
            <span class="join-date muted"><i class="icon-linkedin"></i></span>
            {{/if}}
            {{#if this.link}}
            <span class="join-date muted"><i class="icon-facebook"></i></span>
            {{/if}}
        <hr/>
        </div>
    </div>
    <div class="span2">
    {{#if this.joinDate}}
    <button class="btn btn-success" {{action refer target="view"}}>Refer</button>
    {{/if}}
    {{#if this.publicProfileUrl}}
    <a href="#linkedinModal" role="button" class="btn btn-success" data-toggle="modal" {{action messageModal target="view"}}>Refer</a>
    {{/if}}
    {{#if this.link}}
    {{#view App.FBView}}
    <button class="btn btn-success" {{action referFacebook target="view"}}>Refer</button>
    {{input type="hidden" class="referId" value=this.id}}
    {{/view}}
    </div>
    {{else}}
    {{input type="hidden" class="referId" value=this.id}}
    </div>
    {{/if}}
</div>
{{/view}}
{{/if}}
{{/each}}

{{/if}}

{{/if}}

{{/if}}

{{/if}}
<div id="pagination"></div>
<div id="linkedinModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="linkedinLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="linkedinLabel">Refer {{currentName}} Over LinkedIn</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="subjected">Subject</label>
                <div class="controls">
                    {{input type="text" id="subjected" value=subjected name="subjected" placeholder="subject"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="contented">Content</label>
                <div class="controls">
                {{view Ember.TextArea rows="5" valueBinding="contented" id="contented" name="contented" placeholder="content"}}
                </div>
            </div>
    </div>
    <div class="modal-footer" style="margin-bottom:0px;text-align:center;">
    <div class="control-group" style="margin-bottom:0px;text-align:center;">
        <div class="controls" style="margin-bottom:0px;text-align:center;">
            <input type="submit" data-dismiss="modal" class="btn btn-primary" value="Send Message" {{action referLinkedin}}>
        </div>
    </div>
    </form>
    </div>
</div>