{{#unless controllers.group.investment}}
{{#if controllers.group.reward}}
{{#if controllers.group.didVest}}
{{#if controllers.group.dissolveDate}}
<h4 style="margin-bottom: 20px !important;text-align: center;">Final value: {{controllers.group.finalValue}} {{controllers.group.rewardLabel}}</h4>
<hr style="margin-top:0px;">
{{/if}}
{{/if}}
<h4 style="margin-bottom: 20px !important;text-align: center;">{{controllers.group.multiplier}}X Multiplier</h4>

{{#if controllers.group.description}}
<hr style="margin-top:0px;">
<h5 style="text-align:center;">{{controllers.group.description}}</h5>
{{/if}}
{{#if controllers.group.eventEndDate}}
<hr>
<h5 style="margin-bottom: 20px !important;text-align: center;">Pays out {{displayDate controllers.group.eventEndDate}}</h5>
{{/if}}
{{#if controllers.group.dissolveDate}}
{{else}}
{{#if controllers.group.promotion}}
{{#if controllers.group.dateRangeEnd}}
<hr>
<h6 style="margin-bottom: 20px !important;text-align: center;">Promoted until {{displayDate controllers.group.dateRangeEnd}}</h6>
{{/if}}
{{/if}}
{{/if}}
{{else}}
{{#if controllers.group.userIsMember}}
{{#if controllers.group.vested}}
{{else}}
<h4 style="margin-bottom: 20px !important;text-align: center;">Group Vest Threshold</h4>
<div class="progress progress-striped active voteTip">
    <div class="bar" {{bindAttr style="percentageYesVoted"}}></div>
    <div class="bar bar-warning" {{bindAttr style="onTopToThreshold"}}></div>
</div>
{{#if controllers.group.terms}}
{{#if controllers.group.signed}}
{{#unless alreadyVoted}}
{{#if controllers.group.isAdmin}}
{{#if controllers.group.userIsAdmin}}
<div class="row">
    <div class="span12">
        <div class="alert">
            Warning: If the company vests without proper signatures unsigned partners will be forced out of the company. {{#linkTo 'group.members'}}Check signatures{{/linkTo}} prior to voting to vest.
        </div>
    </div>
</div>
<button class="btn btn-success" style="text-align: center;margin-bottom: 20px;left: 50%;position: relative;margin-left: -62px;" {{action adminVest}}>Vote to Vest</button>
{{/if}}
{{else}}
<div class="row">
    <div class="span12">
        <div class="alert">
            Warning: If the company vests without proper signatures unsigned partners will be forced out of the company. {{#linkTo 'group.members'}}Check signatures{{/linkTo}} prior to voting to vest.
        </div>
    </div>
</div>
<button class="btn btn-success" style="text-align: center;margin-bottom: 20px;left: 50%;position: relative;margin-left: -62px;" {{action voteToVest}}>Vote to Vest</button>
{{/if}}
{{/unless}}
{{else}}
<div class="row">
<div class="alert alert-error span12" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
    Must sign terms prior to voting for vest.
</div>
</div>
{{/if}}
{{else}}
<div class="row">
<div class="alert alert-error span12" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
    Need to sign terms prior to voting for group vest.
</div>
</div>
{{/if}}
{{/if}}
{{/if}}

{{#if controllers.group.description}}
<hr style="margin-top:0px;">
<h5 style="text-align:center;">{{controllers.group.description}}</h5>
<hr>
{{/if}}
{{#if controllers.group.durationOfGroup}}
<h4 style="text-align:center;">
{{controllers.group.durationOfGroup}} days
</h4>
<hr>
{{else}}
{{#if controllers.group.durationed}}
<h4 style="text-align:center;">
{{#if controllers.group.duration.days}}
{{controllers.group.duration.days}} days{{#if controllers.group.duration.hours}}, {{/if}}
{{/if}}
{{#if controllers.group.duration.hours}}
{{#unless controllers.group.duration.minutes}}
and {{/unless}}{{controllers.group.duration.hours}} hours{{#if controllers.group.duration.minutes}}, {{/if}}
{{/if}}
{{#if controllers.group.duration.minutes}}
{{#unless controllers.group.duration.seconds}}and {{/unless}}{{controllers.group.duration.minutes}} minutes{{#if controllers.group.duration.seconds}}, {{/if}}
{{/if}}
{{#if controllers.group.duration.seconds}}
and {{controllers.group.duration.seconds}} seconds
{{/if}}
</h4>
<hr>
{{/if}}
{{/if}}

<table class="table">
    <thead>
        <tr>
        <td>Vote Threshold
            Group Vest</td>
        <td>Vote Threshold
            New Partners</td>
        <td>Vote Threshold
            Claim Approval</td>
        <td>Vote Threshold
            Term Change</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{displayPercent controllers.group.voteThresholdGroupVest}}</td>
        <td>{{displayPercent controllers.group.voteThresholdNewMembers}}</td>
        <td>{{displayPercent controllers.group.voteThresholdClaimApproval}}</td>
        <td>{{displayPercent controllers.group.voteThresholdTermVest}}</td>
        </tr>
    </tbody>
</table>
{{#if controllers.group.isAdmin}}
<table class="table">
    <thead>
        <tr>
            <td style="text-align: center;">Non-admin Claim Voting</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: center;">
        {{#if controllers.group.claimVote}}
        <i class="icon-ok" style="color:#1ABC9C"></i>
        {{else}}
        <i class="icon-remove" style="color: #e74c3c"></i>
        {{/if}}
        </td>
    </tr>
    </tbody>
</table>
{{/if}}
<div class="control-group">
    <div class="controls">
    {{#if valued.firstValue}}
    <h4 style="text-align: center;">Portioning Ex. 600 Partner Group</h4>
    <table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align:center;">Number Covered</th>
            <th style="text-align:center;">Value Covered</th>
            <th style="text-align:center;">Claim Portion Obligations Per Partner</th>
        </tr>
        <tbody>
        <tr>
            <td style="text-align:center;">{{numberEach}}</td>
            <td style="text-align:center;">$50</td>
            <td style="text-align:center;">{{valued.firstValue}}</td>
        </tr>
        <tr>
            <td style="text-align:center;">{{numberEach}}</td>
            <td style="text-align:center;">$100</td>
            <td style="text-align:center;">{{valued.secondValue}}</td>
        </tr>
        <tr>
            <td style="text-align:center;">{{numberEach}}</td>
            <td style="text-align:center;">$200</td>
            <td style="text-align:center;">{{valued.thirdValue}}</td>
        </tr>
      </tbody>
    </thead>
    </table>
    {{/if}}
    </div>
</div>
{{/if}}
{{/unless}}

{{#if controllers.group.investment}}
    {{#if controllers.group.description}}
    <hr style="margin-top:0px;">
    <h5 style="text-align:center;">{{controllers.group.description}}</h5>
    <hr>
    {{/if}}
    {{#if controllers.group.outsideUrl}}
    <a {{bindAttr href=controllers.group.outsideUrl}} target="_blank"><h5 style="text-align:center;">Outside Company Link</h5></a>
    <hr>
    {{/if}}
    <table class="table">
        <thead>
            <tr>
            <td style="text-align: center;">Vote Threshold
                New Shares</td>
            <td style="text-align: center;">Vote Threshold
                New Partners</td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align: center;">{{displayPercent controllers.group.voteThresholdShareIssuance}}</td>
            <td style="text-align: center;">{{displayPercent controllers.group.voteThresholdNewMembers}}</td>
            </tr>
        </tbody>
    </table>
{{/if}}

{{#if controllers.group.offers}}
<div class="row">
<div class="span12" style="text-align : center !important;">
    {{#each offer in controllers.group.offers}}
    <div {{bindAttr id=offer.id}}>
    <input type="hidden" {{bindAttr value=offer.id}}>
    {{#view App.OfferPopover}}
    <i {{bindAttr data-title="offer.offerId.title"}} {{bindAttr class="offer.offerId.finalClass"}} {{bindAttr style="offer.offerId.colorStyleDrag"}}></i>
    <div class="sampleDiv" style="display:none;"><p style="text-align:center;margin-bottom:0px;padding:5px;color:#ffffff;font-size:12px;line-height:normal;">{{offer.offerId.description}}</p></div>
    <div class="sampleTitle" style="display:none;">{{offer.offerId.title}}</div>
    {{/view}}
    </div>
    {{/each}}
</div>
</div>
{{/if}}