{{#if controllers.group.userIsFounder}}
<div class="row" style="text-align:center;">
    <div class="span6 offset3">
        <form class="form-horizontal form-professional">
            <legend>Tax Settings</legend>
            <div class="control-group">
                <label class="control-label" for="inputName">Tax Address {{#if taxAddressValid}}<i class="icon-ok" style="color:#1ABC9C"></i>{{/if}}</label>
                <div class="controls">
                {{input id="inputName" type="text" class="input-block-level" value=controllers.group.taxAddress placeholder="tax address"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="dividendTaxRate">Dividend Tax Rate</label>
                <div class="controls">
                {{input id="dividendTaxRate" type="text" class="input-block-level" value=controllers.group.dividendTaxRate placeholder="dividend tax rate (i.e. 0.02)"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="salesTaxRate">Sales Tax Rate</label>
                <div class="controls">
                {{input id="salesTaxRate" type="text" class="input-block-level" value=controllers.group.salesTaxRate placeholder="sales tax rate (i.e. 0.02)"}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                <button class="btn btn-block btn-success" {{action 'editGroup'}}>Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{#if taxAddressValid}}
<div class="row" style="text-align:center;">
    <div class="span6 offset3">
    {{#if taxAddress}}
    <form class="depoWithForm form-horizontal form-professional">
      <p>Send XRP to:</p>
      <h5 style="margin-bottom: 0px;">{{taxAddress}}</h5>
      <img class="qrCode" {{bindAttr src=taxQR}}>
      {{#if controllers.application.publicKeyed}}
      <div class="control-group">
          <div class="controls" style="margin-bottom: 0px;margin-top: 40px;margin-left: 10px;">
          {{input id="xrpAmount" type="text" class="xrpBack" value=xrpAmount placeholder="XRP amount"}}
          <button class="btn btn-success" style="display:inline-block;" {{action 'sendTax'}}>Send Tax</button>
          </div>
      </div>
      {{/if}}
    </form>
    {{else}}
    {{#if controllers.group.userIsFounder}}
    <button class="btn btn-primary" style="height: 200px;width:100%;font-size:50px;" {{action newTax}}>New Tax</button>
    <hr>
    {{else}}
    {{#if controllers.group.userIsAdmin}}
    <button class="btn btn-primary" style="height: 200px;width:100%;font-size:50px;" {{action newTax}}>New Tax</button>
    <hr>
    {{/if}}
    {{/if}}
    {{/if}}
    </div>
</div>
{{/if}}
{{/if}}
{{#if controllers.group.taxes}}
    <div class="row" style="text-align:center;">
        <div class="span12">
        <div class="page-heading">
            <h3>Manual Taxes</h3>
            <hr>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td style="text-align: center;">Amount (XRP)</td>
                    {{#if shares}}
                    <td style="text-align: center;">Amount/Share (XRP)</td>
                    {{/if}}
                    <td style="text-align: center;">Date</td>
                </tr>
            </thead>
            <tbody>
                {{#each transaction in taxesSorted}}
                <tr>
                    <td style="text-align: center;">{{formatXRP transaction.amount}}</td>
                    {{#if shares}}
                    <td style="text-align: center;">{{formatXRP transaction.amountPerShare}}</td>
                    {{/if}}
                    <td style="text-align: center;">{{displayDate transaction.initialDate}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
    </div>
{{/if}}
{{#if controllers.group.taxFees}}
    <div class="row" style="text-align:center;">
        <div class="span12">
            <div class="row" style="text-align:center;">
                <div class="span12">
                <div class="page-heading">
                    <h3>Automated Taxes</h3>
                    <hr>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <td style="text-align: center;">Amount (XRP)</td>
                            {{#if shares}}
                            <td style="text-align: center;">Amount/Share (XRP)</td>
                            {{/if}}
                            <td style="text-align: center;">Date</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each transaction in controllers.group.taxFees}}
                            <tr>
                                <td style="text-align: center;">{{formatXRP transaction.amount}}</td>
                                {{#if shares}}
                                <td style="text-align: center;">{{formatXRP transaction.amountPerShare}}</td>
                                {{/if}}
                                <td style="text-align: center;">{{displayDate transaction.initialDate}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
{{/if}}