<div class="row">
	<div class="span12">
		<h3>Predictions</h3>
		<table class="table">
			<thead>
				<tr>
					<td>Name</td>
					<td>Predicted ({{rewardLabel}})</td>
					<td>Predicted Date</td>
					{{#if didNotVest}}
					<td style="text-align:center;">Refunded</td>
					{{else}}
					<td style="text-align:center;">Awarded (XRP)</td>
					{{/if}}
				</tr>
			</thead>
			<tbody>
				{{#each filteredSignatures}}
				    {{#if this.paidDate}}
					<tr>
						<td>
						{{#if this.user}}
						{{#if this.user.fullName}}
						{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}
						{{/if}}
						{{else}}
						{{#view App.ToolTipView countryBinding=this.countryName flagBinding=this.flagClass}}
						<i class="tooled flagger" style="font-size:12px;"></i> anonymous
						{{/view}}
						{{/if}}
						</td>
						<td>{{this.userInput}}</td>
						<td>{{displayDate this.paidDate}}</td>
                        <td style="text-align:center;">
                        {{#if controller.didNotVest}}
                        {{#if this.refundedDate}}
                        <i class="icon-ok" style="color:#1ABC9C"></i>
                        {{/if}}
						{{else}}
						{{this.awarded}}
						{{/if}}
						</td>
					</tr>
					{{/if}}
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
