<div class="row">
	<div class="span12">
		<h3>Partners</h3>
		<table class="table">
			<thead>
				<tr>
					<td>Name</td>
					<td>Joined</td>
					{{#if controllers.group.reward}}
					{{else}}
					<td>Signed</td>
					{{/if}}
					{{#if controllers.group.reward}}
					{{else}}
                    <td>Portion</td>
                    {{/if}}
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
			    {{#if controllers.group.reward}}
                    {{#each groupHistory}}
                        {{#if this}}
                        {{#if this.deleted}}
                        {{else}}
                        {{#if this.member}}
                        <tr>
                            <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                            <td>{{#if this.dateJoined}}{{ displayDate this.dateJoined }}{{else}}{{#if this.voteJoinDate}}{{ displayDate this.voteJoinDate }}{{/if}}{{/if}}</td>
                            <td class="table-meta">
                                {{#if this.member }}
                                    <span style="color:#3498DB">Partner</span>
                                    <span class="item-divider"></span>
                                {{/if}}
                                {{#if this.foundingUser }}
                                    <span style="color:#9b59b6;">Founder</span>
                                    <span class="item-divider"></span>
                                {{/if}}
                                {{#if this.admin }}
                                    <span style="color:#D35400">Admin</span>
                                {{/if}}
                            </td>
                        </tr>
                        {{/if}}
                        {{/if}}
                        {{/if}}
                    {{/each}}
                {{else}}
                    {{#each groupHistory}}
                        {{#if this}}
                        {{#if this.deleted}}
                        {{else}}
                        {{#if this.member}}
                        <tr>
                            <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                            <td>{{#if this.dateJoined}}{{ displayDate this.dateJoined }}{{else}}{{#if this.voteJoinDate}}{{ displayDate this.voteJoinDate }}{{/if}}{{/if}}</td>
                            <td>
                            {{#if this.userSigned}}
                            {{ this.userSignedValue }}
                            {{/if}}
                            </td>
                            <td>
                            {{ this.portion }}
                            </td>
                            <td class="table-meta">
                                {{#if this.member }}
                                    <span style="color:#3498DB">Partner</span>
                                    <span class="item-divider"></span>
                                {{/if}}
                                {{#if this.foundingUser }}
                                    <span style="color:#9b59b6;">Founder</span>
                                    <span class="item-divider"></span>
                                {{/if}}
                                {{#if this.admin }}
                                    <span style="color:#D35400">Admin</span>
                                {{/if}}
                            </td>
                        </tr>
                        {{/if}}
                        {{/if}}
                        {{/if}}
                    {{/each}}
				{{/if}}
			</tbody>
		</table>
	</div>
</div>
