<div class="row">
	<div class="span12">
		<h3>Users Referred</h3>
		<table class="table">
			<thead>
				<tr>
					<td>Name</td>
					<td>Referred By</td>
					<td>Last Referral Date</td>
					<td>Percentage Vote</td>
					{{#if controllers.group.isAdmin}}
					{{#if controllers.group.userIsAdmin}}
                    <td>Vote</td>
					{{/if}}
					{{else}}
					<td>Vote</td>
					{{/if}}
				</tr>
			</thead>
			<tbody>
			    {{#if controllers.group.isAdmin}}
                {{#if controllers.group.userIsAdmin}}
                {{#each referredUser}}
                    {{#if this.member}}
                    {{else}}
                    <tr>
                        <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                        <td>
                        <span {{bindAttr class="this.classNames"}} style="display: inline-block; text-align: center; cursor: pointer; cursor: hand;" data-title="Referred By">Referred By</span>
                        {{view App.Popover templateName="popover-referred"}}
                        </td>
						<td>{{ displayDate this.lastDateReferred }}</td>
						{{#if controllers.group.isAdmin}}
                        {{#if controllers.group.userIsAdmin}}
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        {{/if}}
                        {{else}}
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        {{/if}}
                        {{#if this.currentUser}}
                        {{else}}
						<td>
						{{#unless this.alreadyVoted}}
						{{#view App.UserReferredView}}
                        <button class="btn btn-success btn-mini" {{action yay target="view"}}>Yay</button>
                        <button class="btn btn-danger btn-mini" {{action nay target="view"}}>Nay</button>
                        {{input type="hidden" class="referUserClass" value=this.user.id}}
                        {{/view}}
                        {{/unless}}
						</td>
						{{/if}}
					</tr>
					{{/if}}
				{{/each}}
				{{else}}
				{{#each referredUser}}
                    {{#if this.member}}
                    {{else}}
                    <tr>
                        <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                        <td>
                        <span {{bindAttr class="this.classNames"}} style="display: inline-block; text-align: center; cursor: pointer; cursor: hand;" data-title="Referred By">Referred By</span>
                        {{view App.Popover templateName="popover-referred"}}
                        </td>
                        <td>{{ displayDate this.lastDateReferred }}</td>
                        {{#if controllers.group.isAdmin}}
                        {{#if controllers.group.userIsAdmin}}
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        {{/if}}
                        {{else}}
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        {{/if}}
                    </tr>
                    {{/if}}
                {{/each}}
				{{/if}}
                {{else}}
                {{#each referredUser}}
                    {{#if this.member}}
                    {{else}}
                    <tr>
                        <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                        <td>
                        <span {{bindAttr class="this.classNames"}} style="display: inline-block; text-align: center; cursor: pointer; cursor: hand;" data-title="Referred By">Referred By</span>
                        {{view App.Popover templateName="popover-referred"}}
                        </td>
                        <td>{{ displayDate this.lastDateReferred }}</td>
                        {{#if controllers.group.isAdmin}}
                        {{#if controllers.group.userIsAdmin}}
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        {{/if}}
                        {{else}}
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        {{/if}}
                        {{#if this.currentUser}}
                        {{else}}
                        <td>
                        {{#unless this.alreadyVoted}}
                        {{#view App.UserReferredView}}
                        <button class="btn btn-success btn-mini" {{action yay target="view"}}>Yay</button>
                        <button class="btn btn-danger btn-mini" {{action nay target="view"}}>Nay</button>
                        {{input type="hidden" class="referUserClass" value=this.user.id}}
                        {{/view}}
                        {{/unless}}
                        </td>
                        {{/if}}
                    </tr>
                    {{/if}}
                {{/each}}
                {{/if}}
			</tbody>
		</table>
	</div>
</div>
