<div class="row">
	<div class="span6">
		<div class="page-heading">
			<h3 class="page-title">Found Company</h3>
		</div>
	</div>
	<div class="span6">
	</div>
</div>

<hr/>

{{#unless insuranceSelected}}
{{#unless rewardSelected}}
{{#unless investmentSelected}}
{{#unless tradingSelected}}
<div class="row groupSelectors">
	<div class="span6 offset3">
	{{#view App.ToolTipView}}
    <img style="width:20%;float:left;" class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="top" data-title="Create Trading Company - Coming Soon" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverTradingGroup.svg">
    {{/view}}
	{{#view App.ToolTipView}}
	<img style="width:20%;float:left;" class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="top" data-title="Create Insurance Company" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverInsuranceGroup.svg" {{action selectInsurance}}>
    {{/view}}
    {{#view App.ToolTipView}}
    <img style="width:20%;float:right;" class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="top" data-title="Create Merchant Company - Coming Soon" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverMerchantGroup.svg">
    {{/view}}
    {{#view App.ToolTipView}}
    <img style="width:20%;float:right;" class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="top" data-title="Create Pure Investment Company" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverInvestmentGroup.svg" {{action selectInvestment}}>
    {{/view}}
    {{#view App.ToolTipView}}
    <img style="width:20%;float:right;" class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="top" data-title="Create Reward Company" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverRewardGroup.svg" {{action selectReward}}>
    {{/view}}
    </div>
</div>
{{/unless}}
{{/unless}}
{{/unless}}
{{/unless}}

{{#if rewardSelected}}
<div class="row">
	<div class="span8">
		<form id="form-groups-create" class="form-horizontal form-professional">
		    <div style="margin-bottom:20px;">
			<legend style="margin-bottom:0px;">Found a New Reward Company</legend>
			<span class="page-subtitle muted">Make wagers, currency backed predictions, and more.</span>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputName">Company Name</label>
				<div class="controls">
				{{input id="inputName" type="text" class="input-block-level" value=name placeholder="pick a company name"}}
				</div>
			</div>
			<div class="control-group">
                <label class="control-label" for="descriptioned">Description</label>
                <div class="controls">
                {{view Ember.TextArea valueBinding="description" id="descriptioned"}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="inputUsers" data-toggle="tooltip" data-placement="top" data-title="The number of users who must pledge by the Last Bet Date for the company to activate."><i class="icon-info-sign"></i> Minimum Bets</label>
                {{/view}}
                <div class="controls">
                {{input id="inputUsers" type="text" class="input-block-level" value=minimumUsers placeholder="minimum users to vest"}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="inputStock" data-toggle="tooltip" data-placement="top" data-title="The maximum number of shares possibly issued over the lifetime of this company."><i class="icon-info-sign"></i> Maximum Shares</label>
                {{/view}}
                <div class="controls">
                {{input id="inputStock" type="text" class="input-block-level" value=maximumShares placeholder="maximum stock shares"}}
                </div>
            </div>

            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="rewardLabel" data-toggle="tooltip" data-placement="top" data-title="The units of the number guessed. i.e. points, votes or goals."><i class="icon-info-sign"></i> Label for Bet Units</label>
                {{/view}}
                <div class="controls">
                {{input id="rewardLabel" type="text" class="input-block-level" value=rewardLabel placeholder="unit label for input values"}}
                </div>
            </div>

            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="promoteAmount" data-toggle="tooltip" data-placement="top" data-title="The amount a user must pledge (send in) in order to join the reward pool."><i class="icon-info-sign"></i> Bet Amount</label>
                {{/view}}
                <div class="controls">
                {{input id="promoteAmount" type="text" class="input-block-level" value=promoteAmount placeholder="amount of XRP a user must send to join"}}
                </div>
            </div>

            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="willVest" data-toggle="tooltip" data-placement="top" data-title="If Minimum Bets is met, the company will become active on this date and the company will not accept any additional pledges."><i class="icon-info-sign"></i> Last Bet Date</label>
                {{/view}}
                <div class="controls">
                    {{#view App.DatePickerView}}
                    <div class="datetimepicker1 input-append">
                        <input data-format="yyyy-MM-dd hh:mm:ss" type="text" id="willVest"></input>
                        <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                          </i>
                        </span>
                      </div>
                    {{/view}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="endDate" data-toggle="tooltip" data-placement="top" data-title="The estimated date the Reward Company will pay out pledges (when the founder inputs the Final Value)."><i class="icon-info-sign"></i> Payout Date</label>
                {{/view}}
                <div class="controls">
                    {{#view App.DatePickerView}}
                    <div class="datetimepicker1 input-append">
                        <input data-format="yyyy-MM-dd hh:mm:ss" id="endDate" type="text"></input>
                        <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                          </i>
                        </span>
                      </div>
                    {{/view}}
                </div>
            </div>
			<div class="control-group">
				<label class="control-label">Admin</label>
				<div class="controls">
					<label class="checkbox">
					{{view Ember.Checkbox checkedBinding="isAdmin"}}
					Allow specified users to have admin privileges
					</label>
				</div>
			</div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
				<label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="If enabled, any Peercover partner may view the company settings. If disabled, only partners referred or invited to the company may view the company settings."><i class="icon-info-sign"></i> Privacy</label>
				{{/view}}
				<div class="controls">
					<label class="checkbox">
					{{view Ember.Checkbox checkedBinding="isPublic"}}
					Make company public
					</label>
				</div>
			</div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
                <label class="control-label tooled" for="inputMultiplier" data-toggle="tooltip" data-placement="top" data-title="The higher the multiplier, the more partners and pledges closer to the Final Value get paid out. A negative multiplier means partners and pledges further away from the Final Value get paid out more."><i class="icon-info-sign"></i> Multiplier</label>
                {{/view}}
                <div class="controls">
                    {{#view App.SpinnerView}}
                    <p style="margin-bottom:0px;">
                    <input class="spun" id="inputMultiplier" name="value" size=1 />
                    </p>
                    {{/view}}
                </div>
            </div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
                <label class="control-label tooled" for="rStart" data-toggle="tooltip" data-placement="top" data-title="The range of numbers partners and pledges may make a prediction within."><i class="icon-info-sign"></i> Prediction Range</label>
                {{/view}}
                <div class="controls">
                    {{#view App.RangeView}}
                    <p style="margin-bottom:0px;" class="rewardInput">
                    <input class="rangeStart" id="rStart" name="value" data-title="Range Start" size=2 />
                    <input class="rangeEnd" name="value" data-title="Range End" size=2 />
                    </p>
                    {{/view}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to issue new shares when no voting shares or the percentage of voting shares which must vote yes to issue new shares when voting shares."><i class="icon-info-sign"></i> Vote Threshold<br>Stock Issuance</label>
                {{/view}}
                <div class="controls">
                    {{#view App.ThresholdSlider selector="#voteThresholdShareIssuance" }}
                    <div id="voteThresholdShareIssuance" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet6" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                    {{/view}}
                </div>
            </div>
		</form>
	</div>
    <div class="span2 offset2">
        <button class="btn btn-block" {{action 'back'}}>Change Company Type</button>
    </div>
</div>
<div class="row">
	<div class="span8">
	    <h3>Branding</h3>
        <ul class="thumbnails">
            {{#if uploadImage}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'selectUploadImage'}}>
                    <img {{bindAttr src="uploadImage"}} alt="Select Uploaded Image">
                </a>
            </li>
            {{/if}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'selectDefaultImage'}}>
                    <img {{bindAttr src="defaultImage"}} alt="Select Default Image">
                </a>
            </li>
            {{#view App.CompanyCreateImageView}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'uploadProfileImage' target="view"}}>
                    <img src="https://d1geqvinw0cz14.cloudfront.net/images/profileEdit.jpg" alt="Upload Profile Image">
                </a>
            </li>
            <form method="post" enctype="multipart/form-data" id="imageForm" style="display: none;">
            <input type='file' name='files' id='files'>
            <input type="submit" name="submit" id="imageSubmitButton">
            </form>
            {{/view}}
            <div id="previewImage"></div>
            <canvas id="canvas"></canvas>
        </ul>
        <hr/>
        <button id="group-create-btn" class="btn btn-success btn-block" {{action 'createRewardGroup'}}>Create</button>
    </div>
</div>
{{/if}}

{{#if insuranceSelected}}
<div class="row">
	<div class="span8">
		<form id="form-groups-create" class="form-horizontal form-professional">
			<div style="margin-bottom:20px;">
            <legend style="margin-bottom:0px;">Found a New Insurance Company</legend>
            <span class="page-subtitle muted">Insure anything you desire any way you like.</span>
            </div>
			<div class="control-group">
				<label class="control-label" for="inputName">Company Name</label>
				<div class="controls">
				{{input id="inputName" type="text" class="input-block-level" value=name placeholder="pick a company name"}}
				</div>
			</div>
			<div class="control-group">
                <label class="control-label" for="descriptioned">Description</label>
                <div class="controls">
                {{view Ember.TextArea valueBinding="description" id="descriptioned"}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The minimum number of users signed needed to vest the company." for="inputUsers"><i class="icon-info-sign"></i> Minimum Users</label>
                {{/view}}
                <div class="controls">
                {{input id="inputUsers" type="text" class="input-block-level" value=minimumUsers placeholder="minimum users to vest"}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="inputStock" data-toggle="tooltip" data-placement="top" data-title="The maximum number of shares possibly issued over the lifetime of this company."><i class="icon-info-sign"></i> Maximum Shares</label>
                {{/view}}
                <div class="controls">
                {{input id="inputStock" type="text" class="input-block-level" value=maximumShares placeholder="maximum stock shares"}}
                </div>
            </div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
				<label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="If enabled, only admins may vote on terms changes, partner approval, and claim approval."><i class="icon-info-sign"></i> Admin</label>
				{{/view}}
				<div class="controls">
					<label class="checkbox">
					{{view Ember.Checkbox checkedBinding="isAdmin"}}
					Allow specified users to have admin privileges
					</label>
				</div>
			</div>
			{{#if isAdmin}}
			<div class="control-group">
			    {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="If enabled for an admin company, regular partners may vote on claims."><i class="icon-info-sign"></i> Non-admin<br>Claim Voting</label>
                {{/view}}
                <div class="controls">
                    <label class="checkbox">
                    {{view Ember.Checkbox checkedBinding="claimVote"}}
                    Allow non-admins to vote on claims
                    </label>
                </div>
            </div>
			{{/if}}
			<div class="control-group">
			    {{#view App.ToolTipView}}
				<label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="If enabled, any Peercover partner may view the company settings and ask to join the company. If disabled, only partners referred or invited to the company may view the company settings."><i class="icon-info-sign"></i> Privacy</label>
				{{/view}}
				<div class="controls">
					<label class="checkbox">
					{{view Ember.Checkbox checkedBinding="isPublic"}}
					Make company public
					</label>
				</div>
			</div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The amount of time a company stays active and legally binding after vesting."><i class="icon-info-sign"></i> Duration</label>
                {{/view}}
                <div class="controls">
                    {{#view App.DurationView}}
                    <p style="margin-bottom:0px;">
                    <input class="days" name="value" data-title="days" size=1/>
                    <input class="hours" name="value" data-title="hours" size=1/>

                    <input class="minutes" name="value" data-title="minutes" size=1/>

                    <input class="seconds" name="value" data-title="seconds" size=1/>
                    </p>
                    {{/view}}
                </div>
            </div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to approve a new partner."><i class="icon-info-sign"></i> Vote Threshold<br>New Partners</label>
                {{/view}}
                <div class="controls">
                    {{#view App.ThresholdSlider selector="#voteThresholdNewMembers" }}
                    <div id="voteThresholdNewMembers" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet1" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                    {{/view}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to vest the company."><i class="icon-info-sign"></i> Vote Threshold<br>Group Vest</label>
                {{/view}}
                <div class="controls">
                    {{#view App.ThresholdSlider selector="#voteThresholdGroupVest" }}
                    <div id="voteThresholdGroupVest" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet2" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                    {{/view}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to approve a claim."><i class="icon-info-sign"></i> Vote Threshold<br>Claim Approval</label>
                {{/view}}
                <div class="controls">
                    {{#view App.ThresholdSlider selector="#voteThresholdClaimApproval" }}
                    <div id="voteThresholdClaimApproval" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet3" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                    {{/view}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to change the terms prior to company vest."><i class="icon-info-sign"></i> Vote Threshold<br>Term Change</label>
                {{/view}}
                <div class="controls">
                    {{#view App.ThresholdSlider selector="#voteThresholdTermVest" }}
                    <div id="voteThresholdTermVest" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet4" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                    {{/view}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to issue new shares when no voting shares or the percentage of voting shares which must vote yes to issue new shares when voting shares."><i class="icon-info-sign"></i> Vote Threshold<br>Stock Issuance</label>
                {{/view}}
                <div class="controls">
                    {{#view App.ThresholdSlider selector="#voteThresholdShareIssuance" }}
                    <div id="voteThresholdShareIssuance" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet6" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                    {{/view}}
                </div>
            </div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
			    <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The input to the portioning algorithm. Slide the bar down to make people who insure more pay more."><i class="icon-info-sign"></i> Portion</label>
			    {{/view}}
			    <div class="controls">
                    {{view App.Slider templateName="slider-content" selector="#slidePortion" }}
                </div>
			</div>
		</form>
	</div>

    <div class="span2 offset2">
        <button class="btn btn-block" {{action 'back'}}>Change Company Type</button>
    </div>
</div>
<div class="row">
	<div class="span8">
	    <h3>Branding</h3>
        <ul class="thumbnails">
            {{#if uploadImage}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'selectUploadImage'}}>
                    <img {{bindAttr src="uploadImage"}} alt="Select Uploaded Image">
                </a>
            </li>
            {{/if}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'selectDefaultImage'}}>
                    <img {{bindAttr src="defaultImage"}} alt="Select Default Image">
                </a>
            </li>
            {{#view App.CompanyCreateImageView}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'uploadProfileImage' target="view"}}>
                    <img src="https://d1geqvinw0cz14.cloudfront.net/images/profileEdit.jpg" alt="Upload Profile Image">
                </a>
            </li>
            <form method="post" enctype="multipart/form-data" id="imageForm" style="display: none;">
            <input type='file' name='files' id='files'>
            <input type="submit" name="submit" id="imageSubmitButton">
            </form>
            {{/view}}
            <div id="previewImage"></div>
            <canvas id="canvas"></canvas>
        </ul>
        <hr/>
        <button id="group-create-btn" class="btn btn-success btn-block" {{action 'createInsuranceGroup'}}>Create</button>
    </div>
</div>
{{/if}}

{{#if investmentSelected}}
<div class="row">
	<div class="span8">
		<form id="form-groups-create" class="form-horizontal form-professional">
			<div style="margin-bottom:20px;">
            <legend style="margin-bottom:0px;">Found a New Investment Company</legend>
            <span class="page-subtitle muted">Raise money and manage stock.</span>
            </div>
			<div class="control-group">
				<label class="control-label" for="inputName">Company Name</label>
				<div class="controls">
				{{input id="inputName" type="text" class="input-block-level" value=name placeholder="pick a company name"}}
				</div>
			</div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="inputStock" data-toggle="tooltip" data-placement="top" data-title="The maximum number of shares possibly issued over the lifetime of this company."><i class="icon-info-sign"></i> Maximum Shares</label>
                {{/view}}
                <div class="controls">
                {{input id="inputStock" type="text" class="input-block-level" value=maximumShares placeholder="maximum stock shares"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputUrl">URL</label>
                <div class="controls">
                {{input id="inputUrl" type="text" class="input-block-level" value=outsideUrl placeholder="link to company"}}
                </div>
            </div>
			<div class="control-group">
                <label class="control-label" for="descriptioned">Description</label>
                <div class="controls">
                {{view Ember.TextArea valueBinding="description" id="descriptioned"}}
                </div>
            </div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
				<label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="If enabled, admins vote on new partners and stock issuances."><i class="icon-info-sign"></i> Admin</label>
				{{/view}}
				<div class="controls">
					<label class="checkbox">
					{{view Ember.Checkbox checkedBinding="isAdmin"}}
					Allow specified users to have admin privileges
					</label>
				</div>
			</div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
				<label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="If enabled, any Peercover partner may view the company settings and ask to join the company. If disabled, only partners referred or invited to the company may view the company settings."><i class="icon-info-sign"></i> Privacy</label>
				{{/view}}
				<div class="controls">
					<label class="checkbox">
					{{view Ember.Checkbox checkedBinding="isPublic"}}
					Make company public
					</label>
				</div>
			</div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to approve a new partner."><i class="icon-info-sign"></i> Vote Threshold<br>New Partners</label>
                {{/view}}
                <div class="controls">
                    {{#view App.ThresholdSlider selector="#voteThresholdNewMembers" }}
                    <div id="voteThresholdNewMembers" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet1" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                    {{/view}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to issue new shares when no voting shares or the percentage of voting shares which must vote yes to issue new shares when voting shares."><i class="icon-info-sign"></i> Vote Threshold<br>Stock Issuance</label>
                {{/view}}
                <div class="controls">
                    {{#view App.ThresholdSlider selector="#voteThresholdShareIssuance" }}
                    <div id="voteThresholdShareIssuance" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet6" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                    {{/view}}
                </div>
            </div>
		</form>
	</div>

    <div class="span2 offset2">
        <button class="btn btn-block" {{action 'back'}}>Change Company Type</button>
    </div>
</div>
<div class="row">
	<div class="span8">
	    <h3>Branding</h3>
        <ul class="thumbnails">
            {{#if uploadImage}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'selectUploadImage'}}>
                    <img {{bindAttr src="uploadImage"}} alt="Select Uploaded Image">
                </a>
            </li>
            {{/if}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'selectDefaultImage'}}>
                    <img {{bindAttr src="defaultImage"}} alt="Select Default Image">
                </a>
            </li>
            {{#view App.CompanyCreateImageView}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'uploadProfileImage' target="view"}}>
                    <img src="https://d1geqvinw0cz14.cloudfront.net/images/profileEdit.jpg" alt="Upload Profile Image">
                </a>
            </li>
            <form method="post" enctype="multipart/form-data" id="imageForm" style="display: none;">
            <input type='file' name='files' id='files'>
            <input type="submit" name="submit" id="imageSubmitButton">
            </form>
            {{/view}}
            <div id="previewImage"></div>
            <canvas id="canvas"></canvas>
        </ul>
        <hr/>
        <button id="group-create-btn" class="btn btn-success btn-block" {{action 'createInvestmentGroup'}}>Create</button>
    </div>
</div>
{{/if}}

{{#if tradingSelected}}
<div class="row">
	<div class="span8">
		<form id="form-groups-create" class="form-horizontal form-professional">
			<div style="margin-bottom:20px;">
            <legend style="margin-bottom:0px;">Found a New Trading Company</legend>
            <span class="page-subtitle muted">Make and monitor trading widgets.</span>
            </div>
			<div class="control-group">
				<label class="control-label" for="inputName">Company Name</label>
				<div class="controls">
				{{input id="inputName" type="text" class="input-block-level" value=name placeholder="pick a company name"}}
				</div>
			</div>
			<div class="control-group">
                <label class="control-label" for="descriptioned">Description</label>
                <div class="controls">
                {{view Ember.TextArea valueBinding="description" id="descriptioned"}}
                </div>
            </div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
				<label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="If enabled, admins vote on new partners and stock issuances."><i class="icon-info-sign"></i> Admin</label>
				{{/view}}
				<div class="controls">
					<label class="checkbox">
					{{view Ember.Checkbox checkedBinding="isAdmin"}}
					Allow specified users to have admin privileges
					</label>
				</div>
			</div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
				<label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="If enabled, any Peercover partner may view the company settings and ask to join the company. If disabled, only partners referred or invited to the company may view the company settings."><i class="icon-info-sign"></i> Privacy</label>
				{{/view}}
				<div class="controls">
					<label class="checkbox">
					{{view Ember.Checkbox checkedBinding="isPublic"}}
					Make company public
					</label>
				</div>
			</div>
			<div class="control-group">
			    {{#view App.ToolTipView}}
                <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The percent of partners or admins who must vote yes to approve a new partner."><i class="icon-info-sign"></i> Vote Threshold<br>New Partners</label>
                {{/view}}
                <div class="controls">
                    {{#view App.ThresholdSlider selector="#voteThresholdNewMembers" }}
                    <div id="voteThresholdNewMembers" class="span2" style="margin-left:0px;margin-bottom:20px;"></div><p id="valOutlet1" class="span1" style="position: relative;top: 8px;left: 2px;">50%</p>
                    {{/view}}
                </div>
            </div>
		</form>
	</div>

    <div class="span2 offset2">
        <button class="btn btn-block" {{action 'back'}}>Change Company Type</button>
    </div>
</div>
<div class="row">
	<div class="span8">
	    <h3>Branding</h3>
        <ul class="thumbnails">
            {{#if uploadImage}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'selectUploadImage'}}>
                    <img {{bindAttr src="uploadImage"}} alt="Select Uploaded Image">
                </a>
            </li>
            {{/if}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'selectDefaultImage'}}>
                    <img {{bindAttr src="defaultImage"}} alt="Select Default Image">
                </a>
            </li>
            {{#view App.CompanyCreateImageView}}
            <li class="span2">
                <a href="#" class="thumbnail" {{action 'uploadProfileImage' target="view"}}>
                    <img src="https://d1geqvinw0cz14.cloudfront.net/images/profileEdit.jpg" alt="Upload Profile Image">
                </a>
            </li>
            <form method="post" enctype="multipart/form-data" id="imageForm" style="display: none;">
            <input type='file' name='files' id='files'>
            <input type="submit" name="submit" id="imageSubmitButton">
            </form>
            {{/view}}
            <div id="previewImage"></div>
            <canvas id="canvas"></canvas>
        </ul>
        <hr/>
        <button id="group-create-btn" class="btn btn-success btn-block" {{action 'createTradingGroup'}}>Create</button>
    </div>
</div>
{{/if}}

{{#unless insuranceSelected}}
{{#unless rewardSelected}}
{{#unless investmentSelected}}
{{#unless tradingSelected}}
    <div class="row" style="margin-top:20px;">
    <div class="span6 offset3">
        {{#linkTo 'groups.index' class='btn btn-block'}}Go Back{{/linkTo}}
    </div>
    </div>
{{/unless}}
{{/unless}}
{{/unless}}
{{/unless}}
