<div class="row">
	<div class="span12">
		<h3>Companies</h3>
		<table class="table">
			<thead>
				<tr>
					<td>Name</td>
					<td>Joined</td>
					<td>Roles</td>
					<td>Status</td>
					<td style="text-align: center">Privacy</td>
				</tr>
			</thead>
			<tbody>
		{{#each groupHistory in model.groupHistory}}
		    {{#if groupHistory.group.creationDate}}
		    {{#if groupHistory}}
		    {{#if groupHistory.member}}
		    {{#if groupHistory.group.id}}
            {{#if groupHistory.group.deleted}}
            {{else}}
			<tr>
				<td>
                 <img style="height: 20px;bottom: 2px;position: relative;margin-left:-4px;margin-right: 4px;" {{bindAttr src=groupHistory.group.defaultImage}}>
                 {{#linkTo 'group' groupHistory.group}} {{ groupHistory.group.displayName }} {{/linkTo}}</td>
                <td>{{ displayDate groupHistory.dateJoined }}</td>
				<td class="table-meta">
					{{#if groupHistory.member }}
						<span style="color:#3498DB">Partner</span>
						<span class="item-divider"></span>
					{{/if}}
					{{#if groupHistory.foundingUser }}
						<span style="color:#9b59b6;">Founder</span>
						<span class="item-divider"></span>
					{{/if}}
					{{#if groupHistory.admin }}
						<span style="color:#D35400">Admin</span>
					{{/if}}
				</td>
				<td class="table-meta">
					{{#if groupHistory.group.vested}}
					<strong style="color:#1ABC9C"> Vested</strong>
					{{else}}
					<strong style="color:#f39c12"> Unvested</strong>
					{{/if}}
				</td>
				<td style="text-align: center">
					{{#if groupHistory.group.isPublic }}
						<i class="icon-unlock" style="color: #1ABC9C"></i>
					{{else}}
						<i class="icon-lock" style="color: #E74C3C"></i>
					{{/if}}
				</td>
			</tr>
			{{/if}}
			{{/if}}
			{{/if}}
			{{/if}}
			{{/if}}
		{{/each}}
			</tbody>
			</table>
	</div>
</div>
