<div class="row">
	<div class="span6">
		<div class="page-heading">
			<h3 class="page-title">My Companies</h3>
		</div>
	</div>
	<div class="span6">
	</div>
</div>

<hr/>

<div class="row">
	<div class="span12">
        <table class="table">
            <thead>
                {{#view App.FadeInView tagName='tr'}}
                    <td>Name</td>
                    <td>Joined</td>
                    <td>Roles</td>
                    <td>Status</td>
                    <td style="text-align: center">Privacy</td>
                {{/view}}
            </thead>
            <tbody>
        {{#each model.groupHistory}}
            {{#if this.group.creationDate}}
            {{#if this}}
            {{#if this.member}}
            {{#if this.group.deleted}}
            {{else}}
            <tr>
                <td>
                 <img style="height: 20px;bottom: 2px;position: relative;margin-left:-4px;margin-right: 4px;" {{bindAttr src=this.group.defaultImage}}>
                {{#linkTo 'group' this.group}} {{ this.group.displayName }} {{/linkTo}}</td>
                <td>{{ displayDate this.dateJoined }}</td>
                <td class="table-meta">
                    {{#if this.member }}
                        <span style="color:#3498DB">Partner</span>
                        <span class="item-divider"></span>
                    {{/if}}
                    {{#if this.foundingUser }}
                        <span style="color:#9b59b6;">Founder</span>
                        <span class="item-divider"></span>
                    {{/if}}
                    {{#if this.admin }}
                        <span style="color:#D35400">Admin</span>
                    {{/if}}
                </td>
                <td class="table-meta">
                    {{#if this.group.vested}}
                    <strong style="color:#1ABC9C"> Vested</strong>
                    {{else}}
                    <strong style="color:#f39c12"> Unvested</strong>
                    {{/if}}
                </td>
                <td style="text-align: center">
                    {{#if this.group.isPublic }}
                        <i class="icon-unlock" style="color: #1ABC9C"></i>
                    {{else}}
                        <i class="icon-lock" style="color: #E74C3C"></i>
                    {{/if}}
                </td>
            </tr>
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
        {{/each}}
            </tbody>
            </table>
	</div>
</div>
{{#if controllers.application.groupsArrived}}
{{else}}
<div class="row loadered">
<div class="span12" style="text-align:center;">
<i class="icon-spin" style="background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
</div>
</div>
{{/if}}