<div class="row">
	<div class="span6">
		<div class="page-heading">
            <div class="profile-image img-circle companyHeadStyle" {{bindAttr style="companyBackgroundStyle"}}>
            </div>
			<h3 class="page-title">{{ displayName }} {{#if ticker}}({{ticker}}){{/if}}</h3>
			<br>
			<span class="page-subtitle join-date muted">Since {{ displayDate creationDate }}</span>
			{{#if vested}}
			{{#unless reward}}
			<br>
            <span class="muted"><em><small>Ends
            {{displayDate endDate}}
            </small></em></span>
            {{/unless}}
            {{/if}}
            {{#if reward}}
            <div class="lastBet">
            <h6>Last bet in:</h6>
            {{#view App.CountDownView countDownDateBinding=willVestDate}}
            <h5 class="countDown"></h5>
            {{/view}}
            </div>
            {{/if}}
		</div>
	</div>
	<div class="span4 offset2">
		<table class="table">
			<thead>
				<tr>
					<td>
					{{#if isPublic }}
						<i class="icon-unlock" style="color: #1ABC9C"></i><strong> Public</strong>
					{{else}}
						<i class="icon-lock" style="color: #E74C3C"> </i><span class="item-divider">/</span> Private
					{{/if}}
					{{#if vested}}
					<span class="item-divider">/</span><strong style="color:#1ABC9C"> Vested</strong>
					{{else}}
					<span class="item-divider">/</span><strong style="color:#f39c12"> Unvested</strong>
					{{/if}}
					</td>
				</tr>
				{{#if userIsMember}}
                <tr>
                <td>
                    <i class="icon-user"></i>
                    <strong style="color:#3498DB">Partner</strong>
                    {{#if userIsAdmin}}
                        <span class="item-divider">/</span>
                        <strong style="color:#D35400">Admin</strong>
                    {{/if}}
                    {{#if userIsFounder}}
                        <span class="item-divider">/</span>
                        <strong style="color:#9b59b6;">Founder</strong>
                    {{/if}}
                </td>
                </tr>
                {{/if}}
			</thead>
			<tbody>
				<tr>
				<td>
					{{#with model}}
					    <small>
					    {{#if reward}}
					    <img style="height: 20px;bottom: 2px;position: relative;margin-left:-4px;" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverRewardGroup.svg">
                        {{else}}
                        {{#if investment}}
                        <img style="height: 20px;bottom: 2px;position: relative;margin-left:-4px;" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverInvestmentGroup.svg">
                        {{else}}
                        <img style="height: 20px;bottom: 2px;position: relative;margin-left:-4px;" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverInsuranceGroup.svg">
                        {{/if}}
                        {{/if}}
                        </small>
                        <span class="item-divider">·</span>
						<small style="font-size:70%;">{{memberCount}} {{pluralize 'Partner' countBinding="memberCount"}}</small>
						{{#if isAdmin}}
							<span class="item-divider">&middot;</span>
							<small style="font-size:70%;">{{adminCount}} {{pluralize 'Admin' countBinding="adminCount"}}</small>
						{{/if}}
					{{/with}}
					<span class="item-divider">&middot;</span>
					<span class="muted"><em><small style="font-size:70%;">Updated
						{{#if updateDate}}
							{{ fromNowDate updateDate }}
						{{else}}
							{{ fromNowDate creationDate }}
						{{/if}}</small></em></span>
				    </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{{#if reward}}
{{#unless noMoreBets}}
<div class="row predictionEnter">
	<div class="span6">
    <p>Choose a number between {{rangeStart}} {{rewardLabel}} and {{rangeEnd}} {{rewardLabel}}.</p>

    {{input id="promotion" placeholder="enter prediction" value=promotionValue type="text"}}
    <button class="btn btn-success" style="position: relative;bottom: 5px;" {{action submitPromotionValue}}>Submit Prediction</button>
    </div>

    <div class="span4 offset2">
    <p style="margin-left:10px;margin-bottom:0px;margin-top:5px;">{{totalPledged}} predictions made{{#unless minimumMet}}, {{leftToMinimum}} left to minimum{{/unless}}</p>
    <hr style="margin:10px;">
    <h4 style="margin-bottom:0px;margin-left:10px;">Pot size: {{totalXRPPledged}} XRP</h4>
    </div>
</div>
{{/unless}}
{{/if}}

{{#if isPublic }}
{{#if userIsMember}}
{{#if vested}}
{{else}}
{{/if}}
{{else}}

{{#if controllers.application.profileComplete}}
{{#unless reward}}
{{#view App.ReferInviteListView}}
<button class="btn btn-success" {{action referSelf target="view"}}>Ask to Join</button>
{{/view}}
{{/unless}}
{{else}}
	<div class="alert alert-info" style="text-align:center">
		Interested in joining this company? Please
		{{#unless controllers.application.verified}}
			{{#linkTo 'profile'}}verify your email address{{/linkTo}}
			{{#unless controllers.application.haveWallet}}
				and
			{{/unless}}
		{{/unless}}
		{{#unless controllers.application.haveWallet}}
			{{#linkTo 'wallet.create'}}create a wallet{{/linkTo}}
		{{/unless}}
		first.
	</div>
{{/if}}
{{/if}}
{{/if}}

<hr/>

<div class="row">
	<div class="span12">
		<div class="subnav">
			<ul class="nav nav-pills">
				<li>
					{{#linkTo 'group.index'}}Overview{{/linkTo}}
				</li>
				{{#if userIsMember}}
				{{#unless reward}}
				{{#unless investment}}
				{{#if vested}}
				<li>
					{{#linkTo 'claims'}}Claims{{/linkTo}}
				</li>
				{{/if}}
				{{/unless}}
				{{/unless}}
				{{/if}}
				<li>
					{{#linkTo 'terms'}}Terms{{/linkTo}}
				</li>
				<li>
					{{#linkTo 'group.members'}}Partners{{/linkTo}}
				</li>
				{{#if reward}}
				<li>
                    {{#linkTo 'group.predictions'}}Predictions{{/linkTo}}
                </li>
                {{/if}}
				{{#if userIsMember}}
				{{#if vested}}
				{{else}}
				{{#unless reward}}
				<li>
                    {{#linkTo 'group.referred'}}Users Referred{{/linkTo}}
                </li>
                {{/unless}}
                {{/if}}
				{{#if vested}}
				{{else}}
				<li>
                    {{#linkTo 'group.refer'}}Refer Peers{{/linkTo}}
                </li>
                {{#if userIsAdmin}}
                <li>
                    {{#linkTo 'group.invite'}}Invite Peers{{/linkTo}}
                </li>
                {{/if}}
                {{/if}}
                {{/if}}

                <li>
                {{#linkTo 'group.stock'}}Stock{{/linkTo}}
                </li>
                <li>
                {{#linkTo 'group.tax'}}Taxes{{/linkTo}}
                </li>
                {{#unless vested}}
                {{#if userIsAdmin}}
                <li>
                    {{#linkTo 'edit'}}<i class="icon-cog"></i>{{/linkTo}}
                </li>
                {{else}}
                {{#if userIsFounder}}
                <li>
                    {{#linkTo 'edit'}}<i class="icon-cog"></i>{{/linkTo}}
                </li>
                {{/if}}
                {{/if}}
				{{#if userIsMember}}
				{{#unless reward}}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#leaveGroup" data-toggle="modal"><i class="icon-remove"></i> Leave Company</a></li>
					</ul>
				</li>
				{{/unless}}
				{{/if}}
				{{/unless}}
				{{#if dateUp}}
				{{#if userIsMember}}
				{{#unless reward}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#leaveGroup" data-toggle="modal"><i class="icon-remove"></i> Leave Company</a></li>
                    </ul>
                </li>
                {{/unless}}
                {{/if}}
                {{else}}
                {{#if dissolveDate}}
                {{#if userIsMember}}
                {{#if reward}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#leaveGroup" data-toggle="modal"><i class="icon-remove"></i> Leave Company</a></li>
                    </ul>
                </li>
                {{/if}}
                {{/if}}
                {{/if}}
				{{/if}}
			</ul>
		</div>
	</div>
</div>
<div id="leaveGroup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="linkedinLabel" aria-hidden="true">
    <div class="modal-header" style="background-color:#e95d4e;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="leaveGroupLabel">Leave Company</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="alert-danger">
                <span class="alertMessage" style="text-align : center !important;"><h3 style="font-size:20px !important;color:#ffffff;">If you leave the company you will need another invitation to rejoin. Please confirm your decision to leave company.</h3></span>
            </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
    <div class="control-group" style="margin-bottom:0px;">
        <div class="controls" style="margin-bottom:0px;">
            {{#view App.ReferInviteListView}}
            <button class="btn btn-danger" data-dismiss="modal" {{action leave target="view"}}>Leave Company</button>
            {{/view}}
        </div>
    </div>
    </form>
    </div>
</div>

{{#if reward}}
<div id="promotionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header" style="background-color:#2c3e50;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 class="modalHeader">Join Pool</h5>
    </div>
    <div class="modal-body" style="text-align:center;">
        <span class="addressDisplay" style="text-align: center !important;"></span>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <span style="text-align : center !important;">Send funds by QR code or with one click via connected wallet to join pool.</span>
        {{#unless wait}}
        {{#if controllers.application.haveWallet}}
        <br>
        <button class="btn btn-primary" style="margin-top:10px;" {{action buyIn}}>Buy In for {{convertedAmount}} XRP</button>
        {{/if}}
        {{/unless}}
    </div>
</div>
{{/if}}

{{outlet}}
