{{#unless controllers.group.ticker}}
{{#if controllers.group.userIsFounder}}
{{#if controllers.application.publicKeyed}}
<div class="row">
	<div class="span6 offset3 alert" style="text-align:center;">
        Enter a three letter ticker to check availability and purchase.
	</div>
</div>
<div class="row">
	<div class="span6 offset3">

		<form class="form-horizontal form-professional">
			<div class="control-group">
				<label class="control-label" for="password">Three Letter Ticker {{#if notTaken}}<i class="icon-ok" style="color:#1ABC9C"></i>{{/if}}</label>
				<div class="controls">
				    {{#view App.TickerCheckView}}
				    {{input type="text" id="ticker" class="referInvite input-block-level" name="ticker" value=ticker placeholder="ticker"}}
				    {{/view}}
				</div>
			</div>
			{{#if takenListener}}
			{{#unless notTaken}}
			<p style="margin-bottom: 0px;text-align: center;color:#c9302c;">Ticker already taken.</p>
			{{/unless}}
			{{/if}}
		</form>
	</div>
</div>

{{#if notTaken}}
<div class="row">
	<div class="span6 offset3">
        <div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">
            {{#unless paths}}
            <i class="icon-spin loadered" style="display:none;background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
            <p style="margin-bottom:0px;display:none;" class="noPathsFound">No paths found.</p>
            {{/unless}}
            {{#each filter in filterPath}}
            {{#view App.PathSubmitView}}

            <button class="btn btn-primary currencyButton" {{action pathPay target="view"}}>
            {{roundBalanceFour filter.amount}} {{filter.currency}}
            </button>
            {{input type="hidden" class="pathIndex" value=filter.index}}
            {{/view}}
            {{/each}}

        </div>
    </div>
</div>
{{#if isPacketXRP}}
<div class="row">
	<div class="span6 offset3">
        <button class="btn btn-primary" style="height: 200px;width:100%;font-size:30px;" {{action buyWithXRP}}>Purchase Ticker for {{formatPrice pricePack}} {{pricePack.currency}}</button>
    </div>
</div>
{{/if}}
{{/if}}
{{else}}
<div class="row">
	<div class="span6 offset3">

		<div class="alert info-alert">
			Sign in with your wallet name and password before continuing.
		</div>

		<div class="well">

		<form class="form-horizontal walletSelectorIndicator" {{action walletLogin on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="walletName">Wallet Name</label>
				<div class="controls">
				    {{input type="text" id="walletName" value=controllers.application.walletName name="walletName" placeholder="wallet name"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
				    {{input type="password" id="password" value=controllers.application.walletPassword name="password" placeholder="password"}}
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary btn-block max-block" value="Login"}}
				</div>
			</div>
		</form>

		</div>

	</div>
</div>

{{/if}}
{{/if}}
{{/unless}}

{{#if controllers.group.ticker}}
<!--
ticker information goes here - market cap, last trade, max shares, shares issued, bids, asks, and graph of stock

later announcements (founder admins may post announcements, links, or article embeds pertaining to company news)
<div class="row">
<div class="span12">

</div>
</div>
-->
<div class="row">
<div class="span12">
    <div class="btn-group" style="margin-bottom: 20px;width:100%;">
    <button class="btn btn-primary" {{action shareholdersTurned}} {{bindAttr style=shareholdersStyle}}>
    Shareholders
    </button>
    <button class="btn btn-primary" {{action dividendsTurned}} {{bindAttr style=dividendsStyle}}>
    Dividends
    </button>
    <button class="btn btn-primary" {{action issuancesTurned}} {{bindAttr style=issuancesStyle}}>
    Stock Issuance
    </button>
    <button class="btn btn-primary" {{action newIssuancesTurned}} {{bindAttr style=newIssuancesStyle}}>
    New Stock
    </button>
    </div>
</div>
</div>
</div>
    {{#if issuances}}

    {{#if stockIssuanceProposals}}
    <div class="row">
    <div class="span12">
            <div class="page-heading">
                <h3>Share Issuance Proposals</h3>
                <hr>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td style="text-align: center;">Title</td>
                        <td style="text-align: center;">Description</td>
                        <td style="text-align: center;">Shares Amount</td>
                        <td style="text-align: center;">Price per Share</td>
                        <td style="text-align: center;">Public/Private</td>
                        <td style="text-align: center;">Shares Voting</td>
                        <td style="text-align: center;">Proposed By</td>
                        <td style="text-align: center;">Proposed Date</td>
                        <td style="text-align: center;">Percentage Vote</td>
                        {{#if controllers.group.userIsAdmin}}
                        <td style="text-align: center;">Vote</td>
                        {{else}}
                        {{#if controllers.group.isAdmin}}
                        {{else}}
                        <td style="text-align: center;">Vote</td>
                        {{/if}}
                        {{/if}}
                    </tr>
                </thead>
                <tbody>
                    {{#if controllers.group.isAdmin}}
                    {{#if controllers.group.userIsAdmin}}
                    {{#each stockIssuanceProposals}}
                        {{#if this.voteEnd}}
                        {{else}}
                        <tr>
                            <td style="text-align: center;">{{this.title}}</td>
                            <td style="text-align: center;">{{this.description}}</td>
                            <td style="text-align: center;">{{this.sharesAmount}}</td>
                            <td style="text-align: center;">{{#if this.amount}}{{this.amount}} {{this.currency}}{{/if}}</td>
                            <td style="text-align: center;">
                            {{#if this.sharesPublic}}
                            <i class="icon-unlock" style="color: #1ABC9C"></i>
                            {{else}}
                            <i class="icon-lock" style="color: #E74C3C"></i>
                            {{/if}}
                            </td>
                            <td style="text-align: center;">
                            {{#if this.sharesVoting}}
                            <i class="icon-ok" style="color:#1ABC9C"></i>
                            {{else}}
                            <i class="icon-remove" style="color: #e74c3c"></i>
                            {{/if}}
                            </td>
                            <td style="text-align: center;">{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                            <td style="text-align: center;">{{ displayDate this.creationDate }}</td>
                            {{#if controllers.group.isAdmin}}
                            {{#if controllers.group.userIsAdmin}}
                            <td style="text-align: center;">
                            <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                                <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                                <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                                <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                            </div>
                            </td>
                            {{/if}}
                            {{else}}
                            <td style="text-align: center;">
                            <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                                <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                                <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                                <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                            </div>
                            </td>
                            {{/if}}
                            <td style="text-align: center;">
                            {{#view App.StockProposeView}}
                            <button class="btn btn-success" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action yay target="view"}}>Yay</button>
                            <button class="btn btn-danger" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action nay target="view"}}>Nay</button>
                            {{input type="hidden" class="stockId" value=this._id}}
                            {{/view}}
                            </td>
                        </tr>
                        {{/if}}
                    {{/each}}
                    {{else}}
                    {{#each stockIssuanceProposals}}
                        {{#if this.voteEnd}}
                        {{else}}
                        <tr>
                            <td style="text-align: center;">{{this.title}}</td>
                            <td style="text-align: center;">{{this.description}}</td>
                            <td style="text-align: center;">{{this.sharesAmount}}</td>
                            <td style="text-align: center;">{{this.amount}} {{this.currency}}</td>
                            <td style="text-align: center;">
                            {{#if this.sharesPublic}}
                            <i class="icon-unlock" style="color: #1ABC9C"></i>
                            {{else}}
                            <i class="icon-lock" style="color: #E74C3C"></i>
                            {{/if}}
                            </td>
                            <td style="text-align: center;">
                            {{#if this.sharesVoting}}
                            <i class="icon-ok" style="color:#1ABC9C"></i>
                            {{else}}
                            <i class="icon-remove" style="color: #e74c3c"></i>
                            {{/if}}
                            </td>
                            <td style="text-align: center;">{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                            <td style="text-align: center;">{{ displayDate this.creationDate }}</td>
                            {{#if controllers.group.isAdmin}}
                            {{#if controllers.group.userIsAdmin}}
                            <td style="text-align: center;">
                            <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                                <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                                <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                                <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                            </div>
                            </td>
                            {{/if}}
                            {{else}}
                            <td style="text-align: center;">
                            <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                                <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                                <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                                <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                            </div>
                            </td>
                            {{/if}}
                        </tr>
                        {{/if}}
                    {{/each}}
                    {{/if}}
                    {{else}}
                    {{#each stockIssuanceProposals}}
                        {{#if this.voteEnd}}
                        {{else}}
                        <tr>
                            <td style="text-align: center;">{{this.title}}</td>
                            <td style="text-align: center;">{{this.description}}</td>
                            <td style="text-align: center;">{{this.sharesAmount}}</td>
                            <td style="text-align: center;">{{this.amount}} {{this.currency}}</td>
                            <td style="text-align: center;">
                            {{#if this.sharesPublic}}
                            <i class="icon-unlock" style="color: #1ABC9C"></i>
                            {{else}}
                            <i class="icon-lock" style="color: #E74C3C"></i>
                            {{/if}}
                            </td>
                            <td style="text-align: center;">
                            {{#if this.sharesVoting}}
                            <i class="icon-ok" style="color:#1ABC9C"></i>
                            {{else}}
                            <i class="icon-remove" style="color: #e74c3c"></i>
                            {{/if}}
                            </td>
                            <td style="text-align: center;">{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                            <td style="text-align: center;">{{ displayDate this.creationDate }}</td>
                            {{#if controllers.group.isAdmin}}
                            {{#if controllers.group.userIsAdmin}}
                            <td style="text-align: center;">
                            <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                                <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                                <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                                <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                            </div>
                            </td>
                            {{/if}}
                            {{else}}
                            <td style="text-align: center;">
                            <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                                <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                                <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                                <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                            </div>
                            </td>
                            {{/if}}
                            <td style="text-align: center;">
                            {{#view App.StockProposeView}}
                            <button class="btn btn-success" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action yay target="view"}}>Yay</button>
                            <button class="btn btn-danger" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action nay target="view"}}>Nay</button>
                            {{input type="hidden" class="stockId" value=this._id}}
                            {{/view}}
                            </td>
                        </tr>
                        {{/if}}
                    {{/each}}
                {{/if}}
                </tbody>
            </table>
            </div>
            </div>
    	{{/if}}

    	{{#if stockIssuanceProposals}}
            <div class="row">
            <div class="span12">
            <div class="page-heading">
                <h3>Share Issuance History</h3>
                <hr>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td style="text-align: center;">Title</td>
                        <td style="text-align: center;">Description</td>
                        <td style="text-align: center;">Shares Amount</td>
                        <td style="text-align: center;">Price per Share</td>
                        <td style="text-align: center;">Public/Private</td>
                        <td style="text-align: center;">Shares Voting</td>
                        <td style="text-align: center;">Proposed By</td>
                        <td style="text-align: center;">Proposed Date</td>
                        <td style="text-align: center;">Issue Date</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each stockIssuanceProposals}}
                        {{#if this.dateIssued}}
                        <tr>
                            <td style="text-align: center;">{{this.title}}</td>
                            <td style="text-align: center;">{{this.description}}</td>
                            <td style="text-align: center;">{{this.sharesAmount}}</td>
                            <td style="text-align: center;">{{#if this.amount}}{{this.amount}} {{this.currency}}{{/if}}</td>
                            <td style="text-align: center;">
                            {{#if this.sharesPublic}}
                            <i class="icon-unlock" style="color: #1ABC9C"></i>
                            {{else}}
                            <i class="icon-lock" style="color: #E74C3C"></i>
                            {{/if}}
                            </td>
                            <td style="text-align: center;">
                            {{#if this.sharesVoting}}
                            <i class="icon-ok" style="color:#1ABC9C"></i>
                            {{else}}
                            <i class="icon-remove" style="color: #e74c3c"></i>
                            {{/if}}
                            </td>
                            <td style="text-align: center;">{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                            <td style="text-align: center;">{{ displayDate this.creationDate }}</td>
                            <td style="text-align: center;">{{#if this.ipoDate}}{{ displayDate this.ipoDate }}{{else}}{{ displayDate this.creationDate }}{{/if}}</td>
                        </tr>
                        {{/if}}
                    {{/each}}
                </tbody>
            </table>
            </div>
            </div>
        {{/if}}
    {{/if}}
    {{#if shareholders}}
    {{#if controllers.group.userIsFounder}}
    {{#if reportActive}}
    <div class="row" style="text-align:center;">
        <div class="span6 offset3">

        <form id="form-groups-create" class="form-horizontal form-professional creamStyle" style="padding: 20px;border: 1px solid #ccc; -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;margin-top: 10px;background: url(https://s3-us-west-2.amazonaws.com/peercover/images/cream_dust.png) repeat;">
            <div style="margin-bottom:20px;">
            <legend style="margin-bottom:0px;">Create a Shareholder Report</legend>
            <span class="page-subtitle muted">Report company affairs.</span>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputName">Title</label>
                <div class="controls">
                {{input id="inputName" type="text" class="input-block-level" value=reportTitle placeholder="title your report"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="descriptioned">Content</label>
                <div class="controls">
                {{view Ember.TextArea valueBinding="reportDescription" id="descriptioned"}}
                </div>
            </div>


            <div class="control-group">
                <label class="control-label">Is Financial Report</label>
                <div class="controls">
                    <label class="checkbox">
                    {{view Ember.Checkbox checkedBinding="isFinancial"}}
                    Check if this report is a financial report.
                    </label>
                </div>
            </div>

            {{#if isFinancial}}
            <div class="control-group">
                <label class="control-label" for="currency">Currency</label>
                <div class="controls selectOver">
                    {{view Ember.Select
                           contentBinding="controller.controllers.application.currencyOptions"
                           valueBinding="controller.reportCurrency"
                    }}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="inputUsers" data-toggle="tooltip" data-placement="top" data-title="Revenues from designated time period."><i class="icon-info-sign"></i> Revenues</label>
                {{/view}}
                <div class="controls">
                {{input id="inputUsers" type="text" class="input-block-level" value=revenues placeholder="revenues"}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="inputStock" data-toggle="tooltip" data-placement="top" data-title="Expenses from designated time period."><i class="icon-info-sign"></i> Expenses</label>
                {{/view}}
                <div class="controls">
                {{input id="inputStock" type="text" class="input-block-level" value=expenses placeholder="expenses"}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="periodStartDate" data-toggle="tooltip" data-placement="top" data-title="Start of financial reporting period."><i class="icon-info-sign"></i> Financial Period<br>Start Date</label>
                {{/view}}
                <div class="controls">
                    {{#view App.DatePickerView}}
                    <div class="datetimepicker1 input-append">
                        <input data-format="yyyy-MM-dd hh:mm:ss" type="text" id="periodStartDate"></input>
                        <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                          </i>
                        </span>
                      </div>
                    {{/view}}
                </div>
            </div>
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="periodEndDate" data-toggle="tooltip" data-placement="top" data-title="End of financial reporting period."><i class="icon-info-sign"></i> Financial Period<br>End Date</label>
                {{/view}}
                <div class="controls">
                    {{#view App.DatePickerView}}
                    <div class="datetimepicker1 input-append">
                        <input data-format="yyyy-MM-dd hh:mm:ss" type="text" id="periodEndDate"></input>
                        <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                          </i>
                        </span>
                      </div>
                    {{/view}}
                </div>
            </div>
            {{/if}}

            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="releaseDate" data-toggle="tooltip" data-placement="top" data-title="Date you wish to send report."><i class="icon-info-sign"></i> Report Release Date</label>
                {{/view}}
                <div class="controls">
                    {{#view App.DatePickerView}}
                    <div class="datetimepicker1 input-append">
                        <input data-format="yyyy-MM-dd hh:mm:ss" type="text" id="releaseDate"></input>
                        <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                          </i>
                        </span>
                      </div>
                    {{/view}}
                </div>
            </div>
        </form>
        <div class="control-group" style="margin-top: -40px;">
            {{#view App.DropperReportView}}
            <form action="/submitReport" class="dropper dropzone" id="my-dropzone" style="box-shadow: #2c3e50 0 2px 5px;border-top: 2px;border-color: white;border-top-style: dotted;">
            {{input type="hidden" id="profitIn" name="profitIn" value=profit}}
            {{input type="hidden" id="revenuesIn" name="revenuesIn" value=revenues}}
            {{input type="hidden" id="expensesIn" name="expensesIn" value=expenses}}
            {{input type="hidden" id="isFinancialIn" name="isFinancialIn" value=isFinancial}}
            {{input type="hidden" id="reportCurrencyIn" name="reportCurrencyIn" value=finalReportCurrency}}
            {{input type="hidden" id="reportTitleIn" name="reportTitleIn" value=reportTitle}}
            {{input type="hidden" id="reportDescriptionIn" name="reportDescriptionIn" value=reportDescription}}
            {{input type="hidden" id="releaseDateIn" name="releaseDateIn" value=releaseDate}}
            {{input type="hidden" id="periodStartDateIn" name="periodStartDateIn" value=periodStartDate}}
            {{input type="hidden" id="periodEndDateIn" name="periodEndDateIn" value=periodEndDate}}
            {{input type="hidden" id="groupIdIn" name="groupIdIn" value=controllers.group.id}}
            </form>
            <button id="submit-all" class="btn btn-success btn-block" style="margin-top: 20px;" {{action 'submitReport' target="view"}}>Submit Report</button>
            {{/view}}
        </div>
        </div>
    </div>

    {{else}}
    <div class="row" style="text-align:center;">
        <div class="span6 offset3">
        <button class="btn btn-primary" style="height: 200px;width:100%;font-size:50px;" {{action newReport}}>New Report</button>
        <hr>
        </div>
    </div>
    {{/if}}
    {{else}}
    {{#if controllers.group.userIsAdmin}}
    {{#if reportActive}}
        <div class="row" style="text-align:center;">
            <div class="span6 offset3">

            <form id="form-groups-create" class="form-horizontal form-professional creamStyle" style="padding: 20px;border: 1px solid #ccc; -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;margin-top: 10px;background: url(https://s3-us-west-2.amazonaws.com/peercover/images/cream_dust.png) repeat;">
                <div style="margin-bottom:20px;">
                <legend style="margin-bottom:0px;">Create a Shareholder Report</legend>
                <span class="page-subtitle muted">Report company affairs.</span>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputName">Title</label>
                    <div class="controls">
                    {{input id="inputName" type="text" class="input-block-level" value=reportTitle placeholder="title your report"}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="descriptioned">Content</label>
                    <div class="controls">
                    {{view Ember.TextArea valueBinding="reportDescription" id="descriptioned"}}
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label">Is Financial Report</label>
                    <div class="controls">
                        <label class="checkbox">
                        {{view Ember.Checkbox checkedBinding="isFinancial"}}
                        Check if this report is a financial report.
                        </label>
                    </div>
                </div>

                {{#if isFinancial}}
                <div class="control-group">
                    <label class="control-label" for="currency">Currency</label>
                    <div class="controls selectOver">
                        {{view Ember.Select
                               contentBinding="controller.controllers.application.currencyOptions"
                               valueBinding="controller.reportCurrency"
                        }}
                    </div>
                </div>
                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" for="inputUsers" data-toggle="tooltip" data-placement="top" data-title="Revenues from designated time period."><i class="icon-info-sign"></i> Revenues</label>
                    {{/view}}
                    <div class="controls">
                    {{input id="inputUsers" type="text" class="input-block-level" value=revenues placeholder="revenues"}}
                    </div>
                </div>
                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" for="inputStock" data-toggle="tooltip" data-placement="top" data-title="Expenses from designated time period."><i class="icon-info-sign"></i> Expenses</label>
                    {{/view}}
                    <div class="controls">
                    {{input id="inputStock" type="text" class="input-block-level" value=expenses placeholder="expenses"}}
                    </div>
                </div>
                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" for="periodStartDate" data-toggle="tooltip" data-placement="top" data-title="Start of financial reporting period."><i class="icon-info-sign"></i> Financial Period<br>Start Date</label>
                    {{/view}}
                    <div class="controls">
                        {{#view App.DatePickerView}}
                        <div class="datetimepicker1 input-append">
                            <input data-format="yyyy-MM-dd hh:mm:ss" type="text" id="periodStartDate"></input>
                            <span class="add-on">
                              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                              </i>
                            </span>
                          </div>
                        {{/view}}
                    </div>
                </div>
                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" for="periodEndDate" data-toggle="tooltip" data-placement="top" data-title="End of financial reporting period."><i class="icon-info-sign"></i> Financial Period<br>End Date</label>
                    {{/view}}
                    <div class="controls">
                        {{#view App.DatePickerView}}
                        <div class="datetimepicker1 input-append">
                            <input data-format="yyyy-MM-dd hh:mm:ss" type="text" id="periodEndDate"></input>
                            <span class="add-on">
                              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                              </i>
                            </span>
                          </div>
                        {{/view}}
                    </div>
                </div>
                {{/if}}

                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" for="releaseDate" data-toggle="tooltip" data-placement="top" data-title="Date you wish to send report."><i class="icon-info-sign"></i> Report Release Date</label>
                    {{/view}}
                    <div class="controls">
                        {{#view App.DatePickerView}}
                        <div class="datetimepicker1 input-append">
                            <input data-format="yyyy-MM-dd hh:mm:ss" type="text" id="releaseDate"></input>
                            <span class="add-on">
                              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                              </i>
                            </span>
                          </div>
                        {{/view}}
                    </div>
                </div>
            </form>
            <div class="control-group" style="margin-top: -40px;">
                {{#view App.DropperReportView}}
                <form action="/submitReport" class="dropper dropzone" id="my-dropzone" style="box-shadow: #2c3e50 0 2px 5px;border-top: 2px;border-color: white;border-top-style: dotted;">
                {{input type="hidden" id="profit" name="profit" value=profit}}
                {{input type="hidden" id="revenuesIn" name="revenuesIn" value=revenues}}
                {{input type="hidden" id="expensesIn" name="expensesIn" value=expenses}}
                {{input type="hidden" id="isFinancialIn" name="isFinancialIn" value=isFinancial}}
                {{input type="hidden" id="reportCurrencyIn" name="reportCurrencyIn" value=finalReportCurrency}}
                {{input type="hidden" id="reportTitleIn" name="reportTitleIn" value=reportTitle}}
                {{input type="hidden" id="reportDescriptionIn" name="reportDescriptionIn" value=reportDescription}}
                {{input type="hidden" id="releaseDateIn" name="releaseDateIn" value=releaseDate}}
                {{input type="hidden" id="periodStartDateIn" name="periodStartDateIn" value=periodStartDate}}
                {{input type="hidden" id="periodEndDateIn" name="periodEndDateIn" value=periodEndDate}}
                {{input type="hidden" id="groupIdIn" name="groupIdIn" value=controllers.group.id}}
                </form>
                <button id="submit-all" class="btn btn-success btn-block" style="margin-top: 20px;" {{action 'submitReport' target="view"}}>Submit Report</button>
                {{/view}}
            </div>
            </div>
        </div>

        {{else}}
        <div class="row" style="text-align:center;">
            <div class="span6 offset3">
            <button class="btn btn-primary" style="height: 200px;width:100%;font-size:50px;" {{action newReport}}>New Report</button>
            <hr>
            </div>
        </div>
        {{/if}}
    {{/if}}
    {{/if}}
    <div class="row" style="text-align:center;">
    	<div class="span12">
    		<h3>Shareholders</h3>
    		<table class="table">
    			<thead>
    				<tr>
    					<td>Shareholder</td>
    					<td>Shares</td>
    					<td>Stake</td>
    				</tr>
    			</thead>
    			<tbody>
    			    {{#if controllers.group.shareholders}}
                        {{#each controllers.group.shareholders}}
                            <tr>
                                <td>{{#if this.id}}{{#linkTo 'member' this.id}} {{ this.fullName }} {{/linkTo}}{{else}} {{this.account}} {{/if}}</td>
                                <td>{{this.balance}}</td>
                                <td>{{fractionToPercent this.fractionAmount}}</td>
                            </tr>
                        {{/each}}
    				{{/if}}
    			</tbody>
    		</table>
    	</div>
    </div>
    {{#if controllers.group.reports}}
    <div class="row" style="text-align:center;">
        <div class="span12">
            <h3>Shareholder Reports</h3>
            <table class="table">
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Date Filed</td>
                        <td>Period Start</td>
                        <td>Period End</td>
                        <td>Shares Outstanding</td>
                        <td>Dividends Per Share</td>
                        <td>Released</td>
                    </tr>
                </thead>
                <tbody>
                    {{#if controllers.group.reports}}
                        {{#each report in controllers.group.reports}}
                            <tr>
                                {{#if report.reportSentDate}}
                                <td>{{report.title}}</td>
                                <td>{{{report.description}}}</td>
                                <td>{{#if report.creationDate}}{{displayDate report.creationDate}}{{/if}}</td>
                                <td>{{#if report.periodStartDate}}{{displayDate report.periodStartDate}}{{/if}}</td>
                                <td>{{#if report.periodEndDate}}{{displayDate report.periodEndDate}}{{/if}}</td>
                                <td>{{report.sharesOustanding}}</td>
                                <td>{{report.dividendsPerShare}}</td>
                                <td><i class="icon-ok" style="color:#1ABC9C"></i> {{#if report.reportSentDate}}{{displayDate report.reportSentDate}}{{else}}{{#if report.releaseDate}}{{displayDate report.releaseDate}}{{/if}}{{/if}}</td>
                                {{else}}
                                {{#if controllers.group.userIsFounder}}
                                <td>{{report.title}}</td>
                                <td>{{{report.description}}}</td>
                                <td>{{#if report.creationDate}}{{displayDate report.creationDate}}{{/if}}</td>
                                <td>{{#if report.periodStartDate}}{{displayDate report.periodStartDate}}{{/if}}</td>
                                <td>{{#if report.periodEndDate}}{{displayDate report.periodEndDate}}{{/if}}</td>
                                <td>{{report.sharesOustanding}}</td>
                                <td>{{report.dividendsPerShare}}</td>
                                <td><i class="icon-ok" style="color:#1ABC9C"></i> {{#if report.reportSentDate}}{{displayDate report.reportSentDate}}{{else}}{{#if report.releaseDate}}{{displayDate report.releaseDate}}{{/if}}{{/if}}</td>
                                {{/if}}
                                {{/if}}

                            </tr>
                        {{/each}}
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
    {{/if}}
    {{/if}}
    {{#if dividends}}
    <div class="row" style="text-align:center;">
        <div class="span6 offset3">
        {{#if dividendAddress}}
        <form class="depoWithForm form-horizontal form-professional">
          <p>Send XRP to:</p>
          <h5 style="margin-bottom: 0px;">{{dividendAddress}}</h5>
          <img class="qrCode" {{bindAttr src=dividendQR}}>
          {{#if controllers.application.publicKeyed}}
          <div class="control-group">
              <div class="controls" style="margin-bottom: 0px;margin-top: 40px;margin-left: 10px;">
              {{input id="xrpAmount" type="text" class="xrpBack" value=xrpAmount placeholder="XRP amount"}}
              <button class="btn btn-success" style="display:inline-block;" {{action 'sendDividend'}}>Send Dividend</button>
              </div>
          </div>
          {{/if}}
        </form>
        {{else}}
        {{#if controllers.group.userIsFounder}}
        <button class="btn btn-primary" style="height: 200px;width:100%;font-size:50px;" {{action newDividend}}>New Dividend</button>
        <hr>
        {{else}}
        {{#if controllers.group.userIsAdmin}}
        <button class="btn btn-primary" style="height: 200px;width:100%;font-size:50px;" {{action newDividend}}>New Dividend</button>
        <hr>
        {{/if}}
        {{/if}}
        {{/if}}
        </div>
    </div>
    {{#if controllers.group.dividends}}
        <div class="row" style="text-align:center;">
            <div class="span12">
            <div class="page-heading">
                <h3>Manual Dividends</h3>
                <hr>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td style="text-align: center;">Amount (XRP)</td>
                        <td style="text-align: center;">Amount/Share (XRP)</td>
                        <td style="text-align: center;">Date</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each transaction in dividendsSorted}}
                    <tr>
                        <td style="text-align: center;">{{formatXRP transaction.amount}}</td>
                        <td style="text-align: center;">{{formatXRP transaction.amountPerShare}}</td>
                        <td style="text-align: center;">{{displayDate transaction.initialDate}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            </div>
        </div>
    {{/if}}
    {{#if controllers.group.dividendFees}}
        <div class="row" style="text-align:center;">
            <div class="span12">
                <div class="row" style="text-align:center;">
                    <div class="span12">
                    <div class="page-heading">
                        <h3>Automated Dividends</h3>
                        <hr>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <td style="text-align: center;">Amount (XRP)</td>
                                <td style="text-align: center;">Amount/Share (XRP)</td>
                                <td style="text-align: center;">Date</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each transaction in controllers.group.dividendFees}}
                                <tr>
                                    <td style="text-align: center;">{{formatXRP transaction.amount}}</td>
                                    <td style="text-align: center;">{{formatXRP transaction.amountPerShare}}</td>
                                    <td style="text-align: center;">{{displayDate transaction.initialDate}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    {{/if}}
    {{#if newIssuances}}
    <div class="row">
    	<div class="span8">
    		<form id="form-groups-create" class="form-horizontal form-professional">
    		    <div style="margin-bottom:20px;">
    			<legend style="margin-bottom:0px;">Create a Proposal to Issue Stock</legend>
    			<span class="page-subtitle muted">Raise money for your company.</span>
    			</div>
    			<div class="control-group">
    				<label class="control-label" for="inputName">Issuance Name</label>
    				<div class="controls">
    				{{input id="inputName" type="text" class="input-block-level" value=title placeholder="title your issuance"}}
    				</div>
    			</div>
    			<div class="control-group">
                    <label class="control-label" for="descriptioned">Description</label>
                    <div class="controls">
                    {{view Ember.TextArea valueBinding="description" id="descriptioned"}}
                    </div>
                </div>
                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" for="inputUsers" data-toggle="tooltip" data-placement="top" data-title="The number of shares you wish to issue."><i class="icon-info-sign"></i> Number of Shares</label>
                    {{/view}}
                    <div class="controls">
                    {{input id="inputUsers" type="text" class="input-block-level" value=sharesAmount placeholder="number of shares"}}
                    </div>
                </div>

                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" for="inputStock" data-toggle="tooltip" data-placement="top" data-title="The maximum number of shares possibly issued over the lifetime of this company."><i class="icon-info-sign"></i> Maximum Shares</label>
                    {{/view}}
                    <div class="controls">
                    {{input id="inputStock" type="text" class="input-block-level" value=maximumShares placeholder="maximum stock shares"}}
                    </div>
                </div>
                {{#unless alreadySharesVoting}}
                <div class="control-group">
                    <label class="control-label">Shares Voting</label>
                    <div class="controls">
                        <label class="checkbox">
                        {{view Ember.Checkbox checkedBinding="sharesVoting"}}
                        Only partners and admins who hold shares may vote their shares as a percentage of the total.
                        </label>
                    </div>
                </div>
                {{/unless}}
                <div class="control-group">
                    <label class="control-label">Shares Transferable</label>
                    <div class="controls">
                        <label class="checkbox">
                        {{view Ember.Checkbox checkedBinding="sharesTransferable"}}
                        Shares may be transferred and whoever holds shares may become a partner of the company.
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Publicly Issued</label>
                    <div class="controls">
                        <label class="checkbox">
                        {{view Ember.Checkbox checkedBinding="sharesPublic"}}
                        Shares will be issued on the open market on IPO date.
                        </label>
                    </div>
                </div>

                {{#if sharesPublic}}
                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" for="rewardLabel" data-toggle="tooltip" data-placement="top" data-title="The price per share in chosen currency."><i class="icon-info-sign"></i> Price per Share</label>
                    {{/view}}
                    <div class="controls">
                    {{input id="rewardLabel" type="text" class="input-block-level" value=amount placeholder="price per share"}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="currency">Currency</label>
                    <div class="controls selectOverTwo">
                        {{view Ember.Select
                               contentBinding="controller.controllers.application.currencyOptions"
                               valueBinding="controller.currency"
                        }}
                    </div>
                </div>
                {{#unless isXRP}}
                <div class="control-group">
                    <label class="control-label">Issuer</label>
                    <div class="controls selectOverTwo">
                        {{view Ember.Select
                               contentBinding="controller.controllers.application.issuerOptions"
                               valueBinding="controller.issuer"
                        }}
                    </div>
                </div>
                {{/unless}}
                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" for="endDate" data-toggle="tooltip" data-placement="top" data-title="Date you wish to issue shares onto the open market if not immediately. Default is immediate issuance."><i class="icon-info-sign"></i> IPO Date</label>
                    {{/view}}
                    <div class="controls">
                        {{#view App.DatePickerView}}
                        <div class="datetimepicker1 input-append">
                            <input data-format="yyyy-MM-dd hh:mm:ss" type="text" id="endDate"></input>
                            <span class="add-on">
                              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                              </i>
                            </span>
                          </div>
                        {{/view}}
                    </div>
                </div>
                {{/if}}

    		</form>
    	</div>
    </div>
    <div class="row">
    	<div class="span8">
            <hr/>
            <button id="group-create-btn" class="btn btn-success btn-block" {{action 'proposeStockIssuance'}}>Propose New Stock Issuance</button>
        </div>
    </div>
    {{/if}}
{{/if}}