<div class="row">
	<div class="span6">
		<div class="page-heading">
			<h3 class="page-title">Unvested Companies</h3>
		</div>
	</div>
	<div class="span6">
	</div>
</div>

<hr/>
<div class="row">
    <div class="span12">
    {{#view App.ToolTipView}}
    <img {{bindAttr style=allStyle}} class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="bottom" data-title="All Companies" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverAllGroup.svg" {{action allSort}}>
    <img {{bindAttr style=insuranceStyle}} class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="bottom" data-title="Insurance Companies" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverInsuranceGroup.svg" {{action insuranceSort}}>
    <img {{bindAttr style=rewardStyle}} class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="bottom" data-title="Reward Companies" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverRewardGroup.svg" {{action rewardSort}}>
    <img {{bindAttr style=investmentStyle}} class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="bottom" data-title="Investment Companies" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverInvestmentGroup.svg" {{action investmentSort}}>
    <img {{bindAttr style=tradingStyle}} class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="bottom" data-title="Trading Companies" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverTradingGroup.svg" {{action tradingSort}}>
    <img style="width: 45px;border: #2c3e50;border-style: solid;border-radius: 100%;background-color: #2c3e50;margin-right: 1px;margin-left: 1px;" class="groupTypeIcon tooled" data-toggle="tooltip" data-placement="bottom" data-title="Merchant Companies - Coming Soon" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverMerchantGroup.svg">
    {{/view}}
    </div>
</div>
<hr/>

<div class="row">
	<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<td>Name</td>
					<td>Founded</td>
					<td></td>
					{{#if allList}}
					<td>Partners</td>
					{{else}}
					{{#if rewardList}}
					<td>Pledges</td>
					{{else}}
					{{#if insuranceList}}
					<td>Partners</td>
					{{/if}}
					{{/if}}
					{{/if}}
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
	    {{#if allList}}
		{{#each group in controller}}
		    {{#if group.vested}}
		    {{else}}
		    {{#if group.deleted}}
		    {{else}}
            {{#view App.FadeInView tagName='tr'}}
                <td>{{#linkTo 'group' group}}
                 <img style="height: 20px;bottom: 2px;position: relative;margin-left:-4px;margin-right: 4px;" {{bindAttr src=group.defaultImage}}>
                 {{ group.displayName }} {{/linkTo}}</td>
                <td>{{ displayDate group.creationDate }}</td>
                <td style="text-align: center">
                    {{#unless group.isPublic }}
                        <i class="icon-lock" style="color: #E74C3C"></i>
                    {{/unless}}
                </td>
                <td>
                {{group.memberCount}}
                </td>
				<td class="table-meta">
					{{#if group.vested}}
					<strong style="color:#1ABC9C"> Vested</strong>
					{{else}}
					<strong style="color:#f39c12"> Unvested</strong>
					{{/if}}
					{{#if group.isAdmin }}
						<span class="item-divider">/</span>
						<span style="color:#D35400">Admin</span>
					{{/if}}
				</td>
            {{/view}}
			{{#if group.description}}
			{{#view App.FadeInTwoView tagName='tr'}}
				<td colspan="4" style="border-top: none;">
					<span class="muted"><small><em>
					{{ truncateText group.description }}
					</em></small></span>
				</td>
			{{/view}}
		    {{/if}}
		    {{/if}}
		    {{/if}}
		{{else}}
		    {{#if controllers.application.groupsArrived}}
			{{#view App.FadeInView tagName='tr'}}
				<td colspan="4">
				It looks like there are no groups.
			{{#if controllers.application.profileComplete}}
				Go ahead and {{#linkTo 'groups.create'}}create one{{/linkTo}}.
				</td>
			{{/if}}
			{{/view}}
			{{/if}}
		{{/each}}
		{{else}}
		{{#if rewardList}}
        {{#each group in controller}}
            {{#if group.vested}}
            {{else}}
            {{#if group.deleted}}
            {{else}}
            {{#if group.reward}}
            {{#view App.FadeInView tagName='tr'}}
                <td>{{#linkTo 'group' group}}
                 <img style="height: 20px;bottom: 2px;position: relative;margin-left:-4px;margin-right: 4px;" {{bindAttr src=group.defaultImage}}>
                 {{ group.displayName }} {{/linkTo}}</td>
                <td>{{ displayDate group.creationDate }}</td>
                <td style="text-align: center">
                    {{#unless group.isPublic }}
                        <i class="icon-lock" style="color: #E74C3C"></i>
                    {{/unless}}
                </td>
                <td>
                {{group.totalPledged}}
                </td>
                <td class="table-meta">
                    {{#if group.vested}}
                    <strong style="color:#1ABC9C"> Vested</strong>
                    {{else}}
                    <strong style="color:#f39c12"> Unvested</strong>
                    {{/if}}
                    {{#if group.isAdmin}}
                        <span class="item-divider">/</span>
                        <span style="color:#D35400">Admin</span>
                    {{/if}}
                </td>
            {{/view}}
            {{#if group.description}}
            {{#view App.FadeInTwoView tagName='tr'}}
                <td colspan="4" style="border-top: none;">
                    <span class="muted"><small><em>
                    {{ truncateText group.description }}
                    </em></small></span>
                </td>
            {{/view}}
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
        {{else}}
            {{#if controllers.application.groupsArrived}}
            {{#view App.FadeInView tagName='tr'}}
                <td colspan="4">
                It looks like there are no groups.
            {{#if controllers.application.profileComplete}}
                Go ahead and {{#linkTo 'groups.create'}}create one{{/linkTo}}.
                </td>
            {{/if}}
            {{/view}}
            {{/if}}
        {{/each}}
		{{else}}
		{{#if insuranceList}}
        {{#each group in controller}}
            {{#if group.vested}}
            {{else}}
            {{#if group.deleted}}
            {{else}}
            {{#if group.reward}}
            {{else}}
            {{#view App.FadeInView tagName='tr'}}
                <td>{{#linkTo 'group' group}}
                 <img style="height: 20px;bottom: 2px;position: relative;margin-left:-4px;margin-right: 4px;" {{bindAttr src=group.defaultImage}}>
                 {{ group.displayName }} {{/linkTo}}</td>
                <td>{{ displayDate group.creationDate }}</td>
                <td style="text-align: center">
                    {{#unless group.isPublic }}
                        <i class="icon-lock" style="color: #E74C3C"></i>
                    {{/unless}}
                </td>
                <td>
                {{group.memberCount}}
                </td>
                <td class="table-meta">
                    {{#if group.vested}}
                    <strong style="color:#1ABC9C"> Vested</strong>
                    {{else}}
                    <strong style="color:#f39c12"> Unvested</strong>
                    {{/if}}
                    {{#if group.isAdmin }}
                        <span class="item-divider">/</span>
                        <span style="color:#D35400">Admin</span>
                    {{/if}}
                </td>
            {{/view}}
            {{#if group.description}}
            {{#view App.FadeInTwoView tagName='tr'}}
                <td colspan="4" style="border-top: none;">
                    <span class="muted"><small><em>
                    {{ truncateText group.description }}
                    </em></small></span>
                </td>
            {{/view}}
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
        {{else}}
            {{#if controllers.application.groupsArrived}}
            {{#view App.FadeInView tagName='tr'}}
                <td colspan="4">
                It looks like there are no groups.
            {{#if controllers.application.profileComplete}}
                Go ahead and {{#linkTo 'groups.create'}}create one{{/linkTo}}.
                </td>
            {{/if}}
            {{/view}}
            {{/if}}
        {{/each}}
        {{else}}
        {{#if investmentList}}
        {{#each group in controller}}
            {{#if group.vested}}
            {{else}}
            {{#if group.deleted}}
            {{else}}
            {{#if group.investment}}
            {{#view App.FadeInView tagName='tr'}}
                <td>{{#linkTo 'group' group}}
                 <img style="height: 20px;bottom: 2px;position: relative;margin-left:-4px;margin-right: 4px;" {{bindAttr src=group.defaultImage}}>
                 {{ group.displayName }} {{/linkTo}}</td>
                <td>{{ displayDate group.creationDate }}</td>
                <td style="text-align: center">
                    {{#unless group.isPublic }}
                        <i class="icon-lock" style="color: #E74C3C"></i>
                    {{/unless}}
                </td>
                <td>
                {{group.memberCount}}
                </td>
                <td class="table-meta">
                    {{#if group.vested}}
                    <strong style="color:#1ABC9C"> Vested</strong>
                    {{else}}
                    <strong style="color:#f39c12"> Unvested</strong>
                    {{/if}}
                    {{#if group.isAdmin }}
                        <span class="item-divider">/</span>
                        <span style="color:#D35400">Admin</span>
                    {{/if}}
                </td>
            {{/view}}
            {{#if group.description}}
            {{#view App.FadeInTwoView tagName='tr'}}
                <td colspan="4" style="border-top: none;">
                    <span class="muted"><small><em>
                    {{ truncateText group.description }}
                    </em></small></span>
                </td>
            {{/view}}
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
        {{else}}
            {{#if controllers.application.groupsArrived}}
            {{#view App.FadeInView tagName='tr'}}
                <td colspan="4">
                It looks like there are no groups.
            {{#if controllers.application.profileComplete}}
                Go ahead and {{#linkTo 'groups.create'}}create one{{/linkTo}}.
                </td>
            {{/if}}
            {{/view}}
            {{/if}}
        {{/each}}

        {{/if}}
        {{/if}}
        {{/if}}
        {{/if}}
			</tbody>
		</table>
	</div>
</div>
{{#if controllers.application.groupsArrived}}
{{else}}
<div class="row loadered">
<div class="span12" style="text-align:center;">
<i class="icon-spin" style="background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
</div>
</div>
{{/if}}
