<div class="row">
	<div class="span12">
			<ul class="nav nav-tabs">
				<li>
					{{#linkTo 'groups.public'}}Unvested Companies{{/linkTo}}
				</li>
				<li>
                    {{#linkTo 'groups.vested'}}Vested Companies{{/linkTo}}
                </li>
				{{#if controllers.application.profileComplete}}
				<li>
					{{#linkTo 'groups.mine'}}My Companies{{/linkTo}}
				</li>
				<li>
                    {{#linkTo 'groups.create'}}Found Company{{/linkTo}}
                </li>
                {{/if}}
			</ul>
	</div>
</div>

{{outlet}}
