<div class="row">
	<div class="span6">
		<div class="page-heading">
			<h3 class="page-title">Home</h3>
			<span class="page-subtitle muted">Welcome to Peercover</span>
		</div>
	</div>
	<div class="span6">
	</div>
</div>

<hr/>

{{#unless controllers.application.profileComplete}}
<div class="row">
	<div class="span12">
	<div class="alert alert-info" style="text-align:center">
		To get started with Peercover, please
		{{#unless controllers.application.verified}}
			{{#linkTo 'profile'}}verify your email address{{/linkTo}}
			{{#unless controllers.application.haveWallet}}
				and
			{{/unless}}
		{{/unless}}
		{{#unless controllers.application.haveWallet}}
			{{#linkTo 'wallet.create'}}create a wallet{{/linkTo}}
		{{/unless}}
		first.
	</div>
	</div>
</div>
{{else}}
<div class="row">
	<div class="span6">
		{{outlet groups}}
	</div>
	<div class="span6">
		{{outlet invites}}
		{{outlet referrals}}
	</div>
</div>
{{/unless}}
