<table class="table">
	<thead>
		<tr>
			<td>Companies</td>
			<td style="text-transform: none; display: none;">Updated</td>
		</tr>
	</thead>
	<tbody>
	{{#each groupHistory in model.groupHistory}}
	    {{#unless groupHistory.deleted}}
	    {{#if groupHistory.group}}
		{{#if groupHistory.member}}
			<tr>
				<td>{{#linkTo 'group' groupHistory.group}} {{ groupHistory.group.displayName }} {{/linkTo}}</td>
				<td>
				    {{#if groupHistory.group.updateDate}}
					<small>
						{{ fromNowDate groupHistory.group.updateDate }}
					</small>
					{{/if}}
				</td>
			</tr>
		{{/if}}
		{{/if}}
		{{/unless}}
	{{/each}}
	</tbody>
</table>
