<table class="table">
	<thead>
		<tr><td>Referrals</td></tr>
	</thead>
	<tbody>
	{{#each userReferrals }}
		<tr>
			<td>
				{{#linkTo 'group' group}} {{ group.displayName }} {{/linkTo}}
			</td>
			<td>
				<small>
				from
				{{#linkTo 'member' referredBy}} {{ referredBy.fullName }} {{/linkTo}}
				{{#if date}}
				<span class="muted">
					{{ fromNowDate date }}
				</span>
				{{/if}}
				</small>
			</td>
			<td class="table-meta">
			{{#if resolved }}
				{{#if acceptedDeclined }}
					<span style="color:#3498DB">Referred</span>
				{{else}}
					<span style="color:#E74C3C">Declined</span>
				{{/if}}
			{{else}}
				<button {{action "accept" this}} class="btn btn-mini btn-success">Accept</button>
				<button {{action "decline" this}} class="btn btn-mini btn-danger">Decline</button>
			{{/if}}
			</td>
			</tr>
	{{else}}
		<tr>
			<td>
				<span class="muted"><em>You have no referrals</em></span>
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>
