<table class="table">
	<thead>
		<tr><td>Invites</td></tr>
	</thead>
	<tbody>
	{{#each userInvites }}
		<tr>
			<td>
				{{#linkTo 'group' group}} {{ group.displayName }} {{/linkTo}}
			</td>
			<td>
				<small>
				from
				{{#linkTo 'member' sentBy}} {{ sentBy.fullName }} {{/linkTo}}
				{{#if sentDate}}
				<span class="muted">
					{{ fromNowDate sentDate }}
				</span>
				{{/if}}
				</small>
			</td>
			<td class="table-meta">
			{{#if retract}}
				<span style="color:#E74C3C">Retracted</span>
			{{else}}
				{{#if acceptedDeclined}}
					<span style="color:#3498DB">Accepted</span>
				{{else}}
					{{#if declinedDate}}
					<span style="color:#E74C3C">Declined</span>
					{{else}}
					<button {{action "accept" this}} class="btn btn-mini btn-success">Accept</button>
					<button {{action "decline" this}} class="btn btn-mini btn-danger">Decline</button>
					{{/if}}
				{{/if}}
			{{/if}}
			</td>
		</tr>
	{{else}}
		<tr>
			<td>
				<span class="muted"><em>You have no invites</em></span>
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>
