<div class="row">
	<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<td>Company</td>
					<td>Total Referrals</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
			{{#each groupHistory in model.groupHistory}}
			{{#if groupHistory.member}}
				{{#if groupHistory.group.referralCount }}
				{{#if groupHistory.group.vested }}
				{{else}}
				<tr>
					<td>{{#linkTo 'group' groupHistory.group}} {{ groupHistory.group.displayName }} {{/linkTo}}</td>
					<td> {{ groupHistory.group.referralCount }} </td>
					<td>{{#linkTo 'group.referred' groupHistory.group}} Check for New Referrals {{/linkTo}}</td>
				</tr>
				{{/if}}
				{{/if}}
			{{/if}}
			{{/each}}
			<tbody>
		</table>
	</div>
</div>


