<div class="row">
	<div class="span6">
		<div class="page-heading">
			<h3 class="page-title">Inbox</h3>
			<span class="page-subtitle muted">Invites, Referrals, Notifications</span>
		</div>
	</div>
	<div class="span6">
	</div>
</div>

<hr/>

<div class="row">
	<div class="span12">
		<div class="subnav">
			<ul class="nav nav-pills">
				<li>
					{{#linkTo 'inbox.index'}}All{{/linkTo}}
				</li>
				<li>
					{{#linkTo 'inbox.invites'}}Invites{{/linkTo}}
				</li>
				<li>
					{{#linkTo 'inbox.referrals'}}Referrals{{/linkTo}}
				</li>
				<li>
					{{#linkTo 'inbox.groups'}}Companies{{/linkTo}}
				</li>
				<li>
					{{#linkTo 'inbox.claims'}}Claims{{/linkTo}}
				</li>
				<li>
					{{#linkTo 'inbox.members'}}Partners{{/linkTo}}
				</li>
			</ul>
		</div>
	</div>
</div>

{{outlet}}
