<div class="row">
	<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<td>Company</td>
					<td>To</td>
					<td>From</td>
					<td>Date</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
{{#each userInvites }}
			<tr>
			<td>
				{{#linkTo 'group' group}} {{ group.displayName }} {{/linkTo}}
			</td>
			<td>
				{{ receivedBy.fullName }}
			</td>
			<td>
				{{#linkTo 'member' sentBy}} {{ sentBy.fullName }} {{/linkTo}}
			</td>
			<td>
				{{ displayDate sentDate }}
			</td>
			<td class="table-meta">
			{{#if retract}}
				<span style="color:#E74C3C">Retracted</span>
			{{else}}
				{{#if acceptedDeclined}}
					<span style="color:#3498DB">Accepted</span>
				{{else}}
					{{#if declinedDate}}
					<span style="color:#E74C3C">Declined</span>
					{{else}}
					<button {{action "accept" this}} class="btn btn-mini btn-success">Accept</button>
					<button {{action "decline" this}} class="btn btn-mini btn-danger">Decline</button>
					{{/if}}
				{{/if}}
			{{/if}}
			</td>
			</tr>
	{{else}}
		<tr>
			<td colspan="5">
				<span class="muted"><em>You have no invites</em></span>
			</td>
		</tr>
{{/each}}
			</tbody>
		</table>
	</div>
</div>
