<div class="row">
	<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<td>Company</td>
					<td>Updated</td>
					<td>Duration</td>
					<td>Status</td>
					<td>Members</td>
				</tr>
			</thead>
			<tbody>
			{{#each groupHistory in model.groupHistory}}
			{{#if groupHistory.member}}
			<tr>
				<td>{{#linkTo 'group' groupHistory.group}} {{ groupHistory.group.displayName }} {{/linkTo}}</td>
				<td>{{ fromNowDate groupHistory.group.updateDate }}</td>
				<td>
					{{#with groupHistory.group }}
					    {{#if durationOfGroup}}
						{{ durationOfGroup }} {{pluralize 'day' countBinding="durationOfGroup"}}
						{{else}}
						{{#if duration}}
                        {{#if duration.months}}
                        {{ duration.months }} {{pluralize 'month' countBinding="duration.months"}}
                        {{/if}}
                        {{#if duration.days}}
                        {{ duration.days }} {{pluralize 'day' countBinding="duration.days"}}
                        {{/if}}
                        {{#if duration.minutes}}
                        {{ duration.minutes }} {{pluralize 'minute' countBinding="duration.minutes"}}
                        {{/if}}
                        {{#if duration.seconds}}
                        {{ duration.seconds }} {{pluralize 'second' countBinding="duration.seconds"}}
                        {{/if}}
						{{/if}}
						{{/if}}
					{{/with}}
				</td>
				<td class="table-meta">
					{{#if groupHistory.group.vested}}
					<strong style="color:#1ABC9C"> Vested</strong>
					{{else}}
					<strong style="color:#f39c12"> Unvested</strong>
					{{/if}}
				</td>
				<td>
					{{ groupHistory.group.memberCount }}
				</td>
			</tr>
			{{/if}}
			{{/each}}
			</tbody>
			</table>
	</div>
</div>
