<div class="row">
	<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<td>Company</td>
					<td>To</td>
					<td>From</td>
					<td>Date</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
{{#each userReferrals }}
			<tr>
			<td>
				{{#linkTo 'group' group}} {{ group.displayName }} {{/linkTo}}
			</td>
			<td>
				{{ user.fullName }}
			</td>
			<td>
				{{#if selfReferral}}
					<span class="table-meta" style="color:#3498DB">Self-Referral</span>
				{{else}}
					{{#linkTo 'member' referredBy}} {{ referredBy.fullName }} {{/linkTo}}
				{{/if}}
			</td>
			<td>
				{{ displayDate date }}
			</td>
			<td class="table-meta">
			{{#if resolved }}
				{{#if acceptedDeclined }}
					<span style="color:#3498DB">Referred</span>
				{{else}}
					<span style="color:#E74C3C">Declined</span>
				{{/if}}
			{{else}}
				<button {{action "accept" this}} class="btn btn-mini btn-success">Accept</button>
				<button {{action "decline" this}} class="btn btn-mini btn-danger">Decline</button>
			{{/if}}
			</td>
			</tr>
	{{else}}
		<tr>
			<td colspan="5">
				<span class="muted"><em>You have no referrals</em></span>
			</td>
		</tr>
{{/each}}
			</tbody>
		</table>
	</div>
</div>
