<div class="row">
	<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<td>Company</td>
					<td>Total Claims</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
			{{#each groupHistory in model.groupHistory}}
			{{#if groupHistory.member}}
				{{#if groupHistory.group.claimCount }}
				{{#if groupHistory.group.vested }}
				<tr>
					<td>{{#linkTo 'group' groupHistory.group}} {{ groupHistory.group.displayName }} {{/linkTo}}</td>
					<td> {{ groupHistory.group.claimCount }} </td>
					<td>{{#linkTo 'claims' groupHistory.group}} Check for New Claims {{/linkTo}}</td>
				</tr>
				{{/if}}
				{{/if}}
			{{/if}}
			{{/each}}
			<tbody>
		</table>
	</div>
</div>