{{#unless controllers.application.currentUserId}}
{{#view App.JumbotronView}}
<div id="jumbotron" class="carousel jumbotron slide" style="min-height:284px;">
  <ol class="carousel-indicators" style="display:none;">
  </ol>

  <div class="carousel-inner" style="height:100%;">
        <div class="item active logoed" style="height:100%;">
        <table id="wrappered" style="width:100%;height:100%;margin 0;padding:0;border:0;">
          <tr style="width:100%;height:100%">


             <td class="oneHundred worldAnim" style="display:none;width:100%;height:100%;vertical-align: middle;text-align: center;">
             <iframe src="/animation" style="width:100%;height:3000px;max-width: 500px;"></iframe>
             </td>

              <td class="oneHundred qrStart" style="color:white;display:none;width:100%;height:100%;vertical-align: middle;text-align: center;">
                    <h4>Register and Instantly Fund your Ripple Wallet</h4>
                    <h5>This is the best registration option if you do not yet have a Ripple wallet. Otherwise {{#linkTo 'register'}}register here{{/linkTo}}.</h5>

             		<form class="form-vertical" {{action registerFund on="submit"}}>
             		  {{#unless controllers.application.startBitcoin}}
             		  <p>Register and instant fund:</p>
             		  {{else}}
             		  <p>Send Bitcoins to:</p>
                        <h5 style="margin-bottom: 10px;">{{controllers.application.startBitcoin}}</h5>

                        <img class="qrCode" style="text-align:center;" {{bindAttr src=controllers.application.startQr}}>
             		  {{/unless}}
                      {{#unless controllers.application.startQr}}
             			<div class="control-group">
             				<label class="control-label" for="email">Identity Info</label>
             				<div class="controls">
             				    {{input type="text" id="email" class="alignCenter" value=controllers.application.emailReg name="email" placeholder="email"}}
             				</div>
             			</div>
                        <div class="control-group">
                            <div class="controls">
                                {{input type="text" id="walletName" class="alignCenter" value=controllers.application.walletName name="walletName" placeholder="wallet name"}}
                            </div>
                        </div>
             			<div class="control-group">
             				<label class="control-label" for="password">Password</label>
             				<div class="controls">
             				    {{input type="password" id="password" class="alignCenter" value=controllers.application.passwordReg name="password" placeholder="password"}}
             				</div>
             			</div>
             			<div class="control-group">
                            <div class="controls">
                                {{#if controllers.application.registeredValid}}
                                {{input id="btn-register" type="submit" class="btn btn-primary setWidthInsta" value="Register"}}
                                {{else}}
                                {{input id="btn-register" type="submit" class="btn btn-primary setWidthInsta disabled" value="Register"}}
                                {{/if}}
                            </div>
                        </div>
                      {{else}}
                        <br>
                        <h5>Bitcoins will be converted into XRP and credited to your account in three confirmations.</h5>
                      {{/unless}}
             		</form>

              </td>

             <td class="oneHundred logoAnim" style="width:100%;height:100%;vertical-align: middle;text-align: center;">
             <img class="peercoverLogoBigInverted" style="width: 80%;display:none;" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverInvertedTrophy.svg">
             {{#view App.RaphaelView}}<div id="rsr" style="width:100%;height:100%;"></div>
             {{/view}}

             </td>
          </tr>
        </table>
        </div>
        {{#each group in model}}
                {{#if group.promoted}}
                {{#if group.reward}}
                {{#if group.ifEndingSoonest}}
                {{#unless group.dissolveDate}}
                <div class="item" style="height:100%;">
                <div class="row predictionEnter" style="padding-left: 20px;padding-right: 20px;">
                    <div class="span10">
                    <h5 class="page-title" style="color:#ffffff;margin-top:0px;"><strong style="font-size:20px;">{{ group.displayName }}</strong></h5>
                    <div class="lastBet">
                    <h6 style="color:#ffffff;">Last bet in:</h6>
                    {{#view App.CountDownView countDownDateBinding=group.willVestDate}}
                    <h5 style="color:#ffffff;" class="countDown"></h5>
                    {{/view}}
                    </div>
                    <p style="margin-bottom:0px;margin-top:5px;color:#ffffff;font-size:14px;">{{group.totalPledged}} predictions made{{#unless group.minimumMet}}, {{group.leftToMinimum}} left to minimum{{/unless}}</p>
                    <h4 style="margin-bottom:0px;color:#ffffff;font-size:14px;">Pot size: {{group.totalXRPPledged}} XRP</h4>
                    </div>

                    <div class="span5" style="float:right;position: absolute;bottom: 0px;text-align:center;right: 0px;margin-right: 20px;margin-left: 20px;width: auto;">

                    {{#unless group.noMoreBets}}
                    <p style="color:#ffffff;font-size:12px;margin-bottom:0px;">Choose a number between {{group.rangeStart}} {{group.rewardLabel}} and {{group.rangeEnd}} {{group.rewardLabel}}.</p>
                    {{#view App.PromotionMainView}}
                    <form {{action submitPromotionValue on="submit" target="view"}} style="margin-bottom:0px;">
                    <input type="text" class="promotionValue" placeholder="enter prediction" style="position: relative;left: 35px;margin-bottom:0px;width:120px;text-align:center;">
                    <input class="btn btn-primary" type="submit" style="position: relative;left: 35px;background-color:#ffffff;color:#2c3e50;">Submit</input>
                    </form>
                    {{input type="hidden" class="groupId" value=group.id}}
                    {{/view}}
                    {{/unless}}
                    </div>

                </div>
                <h4 style="text-align:center;position: relative;color: #ffffff;margin-top: 50px;margin-bottom: 0px;">{{group.multiplier}}X Multiplier</h4>
                <div style="text-align: center;line-height: 1.5;">
                {{#view App.IndexPopover contentBinding=group.description}}
                <button class="btn btn-primary btn-mini popoverClass" style="background-color:#ffffff;color:#2c3e50;">Description</button>
                {{/view}}
                </div>
                </div>
                {{/unless}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/each}}
  </div>

  <a class="left carousel-control" style="display:none;" href="#jumbotron" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" style="display:none;" href="#jumbotron" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
{{/view}}
<div class="row" style="margin-left:0px;">
    <div class="span9 offset1 offsetWalkthrough">
        <div class="marketing">
            <hr/>
            <h2>People Promoting People</h2>
            <h3>Social Contracts for the Real World</h3>
            <hr style="margin-bottom:23px;">
            <p>
                {{#linkTo 'register' class='btn btn-large btn-primary menuPad'}}Register{{/linkTo}}
                {{#linkTo 'login' class='btn btn-large btn-success menuPad'}}Login{{/linkTo}}
            </p>
            <hr/>
        </div>
    </div>
</div>

<div class="row">
	<div class="marketing page-header">
	<div class="span4">
		<div class="sticker big-sticker palette-turquoise">
			<i class="icon-user"></i>
		</div>
		<h2>
			Become your own company
		</h2>
		<p class="lead">
			Increase transparency, refine control, reduce costs.
		</p>
	</div>
	<div class="span4">
		<div class="sticker big-sticker palette-peter-river">
			<i class="icon-pencil"></i>
		</div>
		<h2>
			Your company writes its own goals
		</h2>
		<p class="lead">
			Dictate exactly how and under what circumstances you get compensated.
		</p>
	</div>
	<div class="span4">
		<div class="sticker big-sticker palette-wet-asphalt">
			<i class="icon-tags"></i>
		</div>
		<h2>
			Add perks - offer, buy, sell, and trade deals
		</h2>
		<p class="lead">
			Make your company more attractive and useful by adding perks and deals.
		</p>
	</div>
	</div>
</div>

<div class="row">
	<div class="marketing page-header">
	<div class="span10 offset1">
	<hr/>
	<div class="row">
	<div class="span2">
		<div class="sticker palette-turquoise">
			1	
		</div>
		<p class="lead">
			Sign up above and gain trust
		</p>
		<p>
			Connect your Facebook, LinkedIn, and Dwolla accounts for increased credibility.
		</p>
	</div>
	<div class="span2">
		<div class="sticker palette-emerald">
			2	
		</div>
		<p class="lead">
			Found or join a company
		</p>
		<p>
			Use our metrics to evaluate good companies or trust the referrals of your acquaintances.
		</p>
	</div>
	<div class="span2">
		<div class="sticker palette-peter-river">
			3	
		</div>
		<p class="lead">
			Help draft and sign terms
		</p>
		<p>
			Choose from our templates or write and ammend your own terms.
		</p>
	</div>
	<div class="span2">
		<div class="sticker palette-amethyst">
			4	
		</div>
		<p class="lead">
			Approve new members
		</p>
		<p>
			Trust referrals and require identity certification for best results.
		</p>
	</div>
	<div class="span2">
		<div class="sticker palette-wet-asphalt">
			5	
		</div>
		<p class="lead">
			Conduct transactions
		</p>
		<p>
			Utilize Peercover company types to establish payment infrastructures.
		</p>
	</div>
	</div>
	</div>
	</div>
</div>

<div id="promotionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header" style="background-color:#2c3e50;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 class="modalHeader">Join Pool</h5>
    </div>
    <div class="modal-body" style="text-align:center;">
        <span class="addressDisplay" style="text-align : center !important;"></span>
    </div>
    <div class="modal-footer" style="text-align:center;">
        <span style="text-align : center !important;"><p style="margin-bottom:0px;">Register after sending funds to keep track of pool.</p></span>
    </div>
</div>

{{/unless}}
