{{#unless superadmin}}
{{#unless founderDeal}}
{{#unless groupDeal}}
{{#unless promotion}}
<div class="row groupSelectors">
    <div class="span6 offset3" style="text-align:center;">
        <i class="icon-star" style="font-size: 100px;margin:10px;cursor:hand;cursor:pointer;" {{action promotionGo}}></i>
        <i class="icon-sitemap" style="font-size: 100px;margin:10px;cursor:hand;cursor:pointer;" {{action founderDealGo}}></i>
        <i class="icon-group" style="font-size: 100px;margin:10px;cursor:hand;cursor:pointer;" {{action groupDealGo}}></i>
        <i class="icon-sun" style="font-size: 100px;margin:10px;cursor:hand;cursor:pointer;" {{action superadminGo}}></i>
    </div>
</div>
{{/unless}}
{{/unless}}
{{/unless}}
{{/unless}}

{{#if founderDeal}}
<div class="row">
	<div class="span6 offset3">
        <h3>Founder Code</h3>
		<div class="well" style="min-width: 420px;">
		<form class="form-horizontal" {{action issue on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="code">Code</label>
				<div class="controls">
				    {{input type="text" id="code" value=code name="code" placeholder="code"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="userEmail">Email</label>
				<div class="controls">
				    {{input type="email" id="userEmail" value=userEmail name="userEmail" placeholder="email"}}
				</div>
			</div>

			<div class="control-group">
                <label class="control-label">Duration</label>
                <div class="controls">
                    {{#view App.DurationView}}
                    <p style="margin-bottom:0px;">
                    <input class="days" name="value" data-title="days" size=1/>
                    <input class="hours" name="value" data-title="hours" size=1/>

                    <input class="minutes" name="value" data-title="minutes" size=1/>

                    <input class="seconds" name="value" data-title="seconds" size=1/>
                    </p>
                    {{/view}}
                </div>
            </div>

			<div class="control-group">
                <label class="control-label" for="duration">Expires</label>
                <div class="controls">
                    {{#view App.DatePickerView}}
                    <div class="datetimepicker1 input-append">
                        <input class="dated" data-format="yyyy-MM-dd hh:mm:ss" type="text"></input>
                        <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                          </i>
                        </span>
                      </div>
                    {{/view}}
                </div>
            </div>

			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary" value="Issue"}}
				</div>
			</div>
		</form>

		</div>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
	<button class="btn btn-block" {{action 'back'}}>Go Back</button>
	</div>
</div>
{{/if}}
{{#if groupDeal}}
<div class="row">
	<div class="span6 offset3">
        <h3>Group Founder Code</h3>
		<div class="well" style="min-width: 420px;">
		<form class="form-horizontal" {{action issue on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="groupCode">Code</label>
				<div class="controls">
				    {{input type="text" id="groupCode" value=code name="groupCode" placeholder="code"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="userEmail2">Email</label>
				<div class="controls">
				    {{input type="email" id="userEmail2" value=userEmail name="userEmail2" placeholder="email"}}
				</div>
			</div>

			<div class="control-group">
                <label class="control-label">Duration</label>
                <div class="controls">
                    {{#view App.DurationView}}
                    <p style="margin-bottom:0px;">
                    <input class="days" name="value" data-title="days" size=1/>
                    <input class="hours" name="value" data-title="hours" size=1/>

                    <input class="minutes" name="value" data-title="minutes" size=1/>

                    <input class="seconds" name="value" data-title="seconds" size=1/>
                    </p>
                    {{/view}}
                </div>
            </div>

			<div class="control-group">
                <label class="control-label" for="duration">Expires</label>
                <div class="controls">
                    {{#view App.DatePickerView}}
                    <div class="datetimepicker1 input-append">
                        <input class="dated" data-format="yyyy-MM-dd hh:mm:ss" type="text"></input>
                        <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                          </i>
                        </span>
                      </div>
                    {{/view}}
                </div>
            </div>

			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary" value="Issue"}}
				</div>
			</div>
		</form>

		</div>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
	<button class="btn btn-block" {{action 'back'}}>Go Back</button>
	</div>
</div>
{{/if}}
{{#if promotion}}
<div class="row">
	<div class="span6 offset3">
        <h3>Promotion Code</h3>
		<div class="well" style="min-width: 420px;">
		<form class="form-horizontal" {{action issue on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="promotionCode">Code</label>
				<div class="controls">
				    {{input type="text" id="promotionCode" value=code name="promotionCode" placeholder="code"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="userEmail3">Email</label>
				<div class="controls">
				    {{input type="email" id="userEmail3" value=userEmail name="userEmail3" placeholder="email"}}
				</div>
			</div>

            <div class="control-group">
                <label class="control-label">Duration</label>
                <div class="controls">
                    {{#view App.DurationView}}
                    <p style="margin-bottom:0px;">
                    <input class="days" name="value" data-title="days" size=1/>
                    <input class="hours" name="value" data-title="hours" size=1/>

                    <input class="minutes" name="value" data-title="minutes" size=1/>

                    <input class="seconds" name="value" data-title="seconds" size=1/>
                    </p>
                    {{/view}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="duration">Expires</label>
                <div class="controls">
                    {{#view App.DatePickerView}}
                    <div class="datetimepicker1 input-append">
                        <input class="dated" data-format="yyyy-MM-dd hh:mm:ss" type="text"></input>
                        <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                          </i>
                        </span>
                      </div>
                    {{/view}}
                </div>
            </div>

			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary" value="Issue"}}
				</div>
			</div>
		</form>

		</div>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
	<button class="btn btn-block" {{action 'back'}}>Go Back</button>
	</div>
</div>
{{/if}}
{{#if promotion}}
<div class="row">
	<div class="span6 offset3">
        <h3>Promotion Code</h3>
		<div class="well" style="min-width: 420px;">
		<form class="form-horizontal" {{action issue on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="promotionCode">Code</label>
				<div class="controls">
				    {{input type="text" id="promotionCode" value=code name="promotionCode" placeholder="code"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="userEmail3">Email</label>
				<div class="controls">
				    {{input type="email" id="userEmail3" value=userEmail name="userEmail3" placeholder="email"}}
				</div>
			</div>

            <div class="control-group">
                <label class="control-label">Duration</label>
                <div class="controls">
                    {{#view App.DurationView}}
                    <p style="margin-bottom:0px;">
                    <input class="days" name="value" data-title="days" size=1/>
                    <input class="hours" name="value" data-title="hours" size=1/>

                    <input class="minutes" name="value" data-title="minutes" size=1/>

                    <input class="seconds" name="value" data-title="seconds" size=1/>
                    </p>
                    {{/view}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="duration">Expires</label>
                <div class="controls">
                    {{#view App.DatePickerView}}
                    <div class="datetimepicker1 input-append">
                        <input class="dated" data-format="yyyy-MM-dd hh:mm:ss" type="text"></input>
                        <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                          </i>
                        </span>
                      </div>
                    {{/view}}
                </div>
            </div>

			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary" value="Issue"}}
				</div>
			</div>
		</form>

		</div>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
	<button class="btn btn-block" {{action 'back'}}>Go Back</button>
	</div>
</div>
{{/if}}

{{#if superadmin}}
<div class="row">
	<div class="span6 offset3">
        <h3>Superadmin</h3>
		<div class="well" style="min-width: 420px;">
		<form class="form-horizontal" {{action superadminMake on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="promotionCode">Code</label>
				<div class="controls">
				    {{input type="text" id="promotionCode" value=code name="promotionCode" placeholder="code"}}
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary" value="Issue"}}
				</div>
			</div>
		</form>

		</div>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
	<button class="btn btn-block" {{action 'back'}}>Go Back</button>
	</div>
</div>
{{/if}}