<div class="row">
	<div class="span12" style="text-align:center;">
		<div class="page-heading" style="text-align:center;">
			<h3 class="page-title">Login</h3>
			<span class="page-subtitle muted">Sign in to manage your profile and companies</span>
		</div>
	</div>
</div>

<hr/>

<div class="row">
	<div class="span6 offset3">
        {{#if controllers.application.twoFactor}}
        <div class="alert alert-info">
            Enter token you receive via text message.
        </div>
        {{else}}
		<div class="alert alert-info">
			Enter your email and password to sign in.
		</div>
		{{/if}}

		<div class="well">

		<form class="form-horizontal" {{action login on="submit" target="controllers.application"}}>
		    {{#if controllers.application.twoFactor}}
            <div class="control-group">
                <label class="control-label" for="email">Two-Factor Token</label>
                <div class="controls">
                    {{input type="text" id="verify" value=verify name="verify" placeholder="token"}}
                </div>
            </div>
		    {{else}}
			<div class="control-group">
				<label class="control-label" for="email">Email</label>
				<div class="controls">
				    {{input type="text" id="email" value=email name="email" placeholder="email"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
				    {{input type="password" id="password" value=password name="password" placeholder="password"}}
				</div>
			</div>
			{{/if}}
			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary btn-block max-block" value="Login"}}
				</div>
			</div>
		</form>	
			
		</div>
	</div>
</div>
