<div class="row">
{{#each offer in offers}}
{{#unless offer.used}}
{{#view App.FlipperView}}
<div class="flip span4" style="margin-bottom:30px;">
    <input class="offerId" type="hidden" {{bindAttr value=offer.id}}>
    <div class="card">
        <div class="face front">
            <div class="thumbnail" {{bindAttr style="offer.offerId.thumbnailStyle"}}>
                <div {{bindAttr style=offer.offerId.textStyle}}>
                    <i {{bindAttr class="offer.offerId.imageUrl"}} {{bindAttr style="offer.offerId.colorStyle"}}></i>
                    {{#if offer.offerId.title}}
                    <h3 style="margin-top: -10px;margin-bottom:0px;">{{offer.offerId.title}}</h3>
                    {{/if}}
                    {{#if offer.offerId.tagline}}
                    <p>{{offer.offerId.tagline}}</p>
                    {{/if}}
                </div>
                <div class="caption" style="padding-top:0px;margin-top:0px;padding-bottom:0px;">
                    <hr style="margin: 10px 0;">
                    <p {{bindAttr style="offer.offerId.purchaseButtonStyle"}}>Details</p>
                </div>
            </div>
        </div>
        <div class="face back">
            <div class="thumbnail" {{bindAttr style="offer.offerId.thumbnailStyle"}}>
                <div {{bindAttr style=offer.offerId.textStyle}}>
                    <p style="height: 100px;overflow:hidden;margin-bottom:0px;padding:10px;">{{offer.offerId.description}}</p>

                    <h5>Purchased {{displayDate offer.issuedDate}}</h5>

                </div>
                <div class="caption" style="padding-top:0px;margin-top:0px;padding-bottom:0px;">
                    <hr style="margin: 10px 0;">
                    <p {{bindAttr style="offer.offerId.purchaseButtonStyle"}}>Purchased for {{offer.boughtOfferFor}} {{offer.boughtOfferForCurrency}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/view}}
{{/unless}}
{{/each}}
</div>