<div class="row">
{{#each offer in model}}
{{#if offer.madeByUser}}
{{#unless offer.discontinued}}
{{#view App.FlipperView}}
<div class="flip span4" style="margin-bottom:30px;">
    <input class="offerId" type="hidden" {{bindAttr value=offer.id}}>
    <div class="card">
        <div class="face front">
            <div class="thumbnail" {{bindAttr style="offer.thumbnailStyle"}}>
                <div {{bindAttr style=offer.textStyle}}>
                    <i {{bindAttr class="offer.imageUrl"}} {{bindAttr style="offer.colorStyle"}}></i>
                    {{#if offer.title}}
                    <h3 style="margin-top: -10px;margin-bottom:0px;">{{offer.title}}</h3>
                    {{/if}}
                    {{#if offer.tagline}}
                    <p>{{offer.tagline}}</p>
                    {{/if}}
                </div>
                <div class="caption" style="padding-top:0px;margin-top:0px;padding-bottom:0px;">
                    <hr style="margin: 10px 0;">
                    <p {{bindAttr style="offer.purchaseButtonStyle"}}>Details</p>
                </div>
            </div>
        </div>
        <div class="face back">
            <div class="thumbnail" {{bindAttr style="offer.thumbnailStyle"}}>
                <div {{bindAttr style=offer.textStyle}}>
                    <p style="height: 100px;overflow:hidden;margin-bottom:0px;padding:10px;">{{offer.description}}</p>

                    {{#if offer.isPricePerDay}}
                    {{#view App.OfferDurationSlider pricePerBinding=offer.pricePerDay priceBinding=offer.price viewed=true sliderColorBinding=offer.color}}
                    <h5 class="pricePer" style="margin-top:-40px;margin-bottom:0px;"></h5>
                    <p class="durationHolder">Duration: 30 days</p>
                    <div class="offerDuration"></div>
                    {{/view}}
                    {{else}}
                    <h5>{{{offer.finalPrice}}}</h5>
                    {{/if}}

                </div>
                <div class="caption" style="padding-top:0px;margin-top:0px;padding-bottom:0px;" {{action discontinue target="view"}}>
                    <hr style="margin: 10px 0;">
                    <p {{bindAttr style="offer.purchaseButtonStyle"}}>Discontinue</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/view}}
{{/unless}}
{{/if}}
{{/each}}
</div>