<div class="row">
	<div class="span12">
		<div class="subnav">
			<ul class="nav nav-pills">
				<li>
					{{#linkTo 'marketplace.offers'}}Investments{{/linkTo}}
				</li>
				<li>
					{{#linkTo 'marketplace.bought'}}Purchased Investments{{/linkTo}}
				</li>
				<li>
                    {{#linkTo 'marketplace.madeOffers'}}Made Investments{{/linkTo}}
                </li>
				<li>
                    {{#linkTo 'marketplace.makeOffer'}}Make Investment{{/linkTo}}
                </li>
			</ul>
		</div>
	</div>
</div>


{{outlet}}