<div class="row">
	<div class="span8">
		<form id="form-groups-create" class="form-horizontal form-professional">
		    <div style="margin-bottom:20px;">
			<legend style="margin-bottom:0px;">Create an Investment</legend>
			<span class="page-subtitle muted">Make an investment to distribute or sell.</span>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputName">Title</label>
				<div class="controls">
				{{input id="inputName" type="text" class="input-block-level" value=title placeholder="investment title"}}
				</div>
			</div>
			<div class="control-group">
                <label class="control-label" for="tagline">Tagline</label>
                <div class="controls">
                {{input id="tagline" type="text" class="input-block-level" value=tagline placeholder="tagline"}}
                </div>
            </div>
			<div class="control-group">
                <label class="control-label" for="descriptioned">Description</label>
                <div class="controls">
                {{view Ember.TextArea valueBinding="description" id="descriptioned"}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Active</label>
                <div class="controls">
                    <label class="checkbox">
                    {{view Ember.Checkbox checkedBinding="active"}}
                    Make investment active at creation.
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Enable Price per Day</label>
                <div class="controls">
                    <label class="checkbox">
                    {{view Ember.Checkbox checkedBinding="isPricePerDay"}}
                    Price per day pricing rather than one time pricing
                    </label>
                </div>
            </div>

            {{#if isPricePerDay}}
            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="pricePerDay" data-toggle="tooltip" data-placement="top" data-title="The price per day of investment in addition to base price."><i class="icon-info-sign"></i> Price per Day</label>
                {{/view}}
                <div class="controls">
                {{input id="pricePerDay" type="text" class="input-block-level" value=pricePerDay placeholder="price of investment per day"}}
                </div>
            </div>
            {{/if}}

            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="price" data-toggle="tooltip" data-placement="top" data-title="The base price of investment."><i class="icon-info-sign"></i> Price</label>
                {{/view}}
                <div class="controls">
                {{input id="price" type="text" class="input-block-level" value=price placeholder="price of investment"}}
                </div>
            </div>

            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="amountLimit" data-toggle="tooltip" data-placement="top" data-title="The limit of the amount of investments or deals. If left blank will default to unlimited."><i class="icon-info-sign"></i> Amount Limit</label>
                {{/view}}
                <div class="controls">
                {{input id="amountLimit" type="text" class="input-block-level" value=amountLimit placeholder="limit of amount"}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="offerImage">Investment Image</label>
                <div class="controls selectOver">
                    {{#view App.IconSelectView}}
                    <select id="iconSelect">
                        <option value="icon-heart">Heart</option>
                        <option value="icon-glass">Glass</option>
                        <option value="icon-music">Music</option>
                        <option value="icon-search">Search</option>
                        <option value="icon-envelope-alt">Envelope</option>
                        <option value="icon-star">Star</option>
                        <option value="icon-star-empty">Star Empty</option>
                        <option value="icon-user">User</option>
                        <option value="icon-film">Film</option>
                        <option value="icon-th-large">TH Large</option>
                        <option value="icon-th">TH</option>
                        <option value="icon-th-list">TH List</option>
                        <option value="icon-ok">OK</option>
                        <option value="icon-remove">Remove</option>

                        <option value="icon-zoom-in">Zoom In</option>
                        <option value="icon-zoom-out">Zoom Out</option>
                        <option value="icon-off">Off</option>
                        <option value="icon-signal">Signal</option>
                        <option value="icon-cog">Cog</option>

                        <option value="icon-trash">Trash</option>
                        <option value="icon-home">Home</option>

                        <option value="icon-file-alt">File</option>
                        <option value="icon-time">Time</option>
                        <option value="icon-road">Road</option>
                        <option value="icon-download-alt">Download Alt</option>
                        <option value="icon-download">Download</option>

                        <option value="icon-upload">Upload</option>
                        <option value="icon-inbox">Inbox</option>
                        <option value="icon-play-circle">Play</option>
                        <option value="icon-repeat">Repeat</option>
                        <option value="icon-refresh">Refresh</option>
                        <option value="icon-list-alt">List</option>

                        <option value="icon-lock">Lock</option>
                        <option value="icon-flag">Flag</option>
                        <option value="icon-headphones">Headphones</option>
                        <option value="icon-volume-off">Off</option>
                        <option value="icon-volume-down">Down</option>
                        <option value="icon-volume-up">Up</option>

                        <option value="icon-qrcode">QR Code</option>
                        <option value="icon-barcode">Barcode</option>
                        <option value="icon-tag">Tag</option>
                        <option value="icon-tags">Tags</option>
                        <option value="icon-book">Book</option>
                        <option value="icon-bookmark">Bookmark</option>
                        <option value="icon-print">Print</option>
                        <option value="icon-camera">Camera</option>
                        <option value="icon-font">Font</option>
                        <option value="icon-bold">Bold</option>
                        <option value="icon-italic">Italic</option>
                        <option value="icon-text-height">Text Height</option>
                        <option value="icon-text-width">Text Width</option>
                        <option value="icon-align-left">Align Left</option>
                        <option value="icon-align-center">Align Center</option>

                        <option value="icon-align-right">Align Right</option>
                        <option value="icon-align-justify">Justify</option>
                        <option value="icon-list">List</option>
                        <option value="icon-indent-left">Left</option>
                        <option value="icon-indent-right">Right</option>

                        <option value="icon-facetime-video">Video</option>
                        <option value="icon-picture">Picture</option>
                        <option value="icon-pencil">Pencil</option>
                        <option value="icon-map-marker">Map Marker</option>

                        <option value="icon-adjust">Adjust</option>
                        <option value="icon-tint">Tint</option>

                        <option value="icon-edit">Edit</option>
                        <option value="icon-share">Share</option>
                        <option value="icon-check">Check</option>
                        <option value="icon-move">Move</option>
                        <option value="icon-step-backward">Step Backward</option>
                        <option value="icon-fast-backward">Fast Backward</option>
                        <option value="icon-backward">Backward</option>
                        <option value="icon-play">Play</option>
                        <option value="icon-pause">Pause</option>
                        <option value="icon-stop">Stop</option>
                        <option value="icon-forward">Forward</option>
                        <option value="icon-fast-forward">Fast Forward</option>
                        <option value="icon-step-forward">Step Forward</option>
                        <option value="icon-eject">Eject</option>
                        <option value="icon-chevron-left">Chevron Left</option>
                        <option value="icon-chevron-right">Chevron Right</option>
                        <option value="icon-plus-sign">Plus Sign</option>
                        <option value="icon-minus-sign">Minus Sign</option>
                        <option value="icon-remove-sign">Remove Sign</option>
                        <option value="icon-ok-sign">OK Sign</option>
                        <option value="icon-question-sign">Question Sign</option>
                        <option value="icon-info-sign">Info Sign</option>
                        <option value="icon-screenshot">Screenshot</option>
                        <option value="icon-remove-circle">Remove Circle</option>
                        <option value="icon-ok-circle">OK Circle</option>
                        <option value="icon-ban-circle">Ban</option>

                        <option value="icon-arrow-left">Arrow Left</option>
                        <option value="icon-arrow-right">Arrow Right</option>
                        <option value="icon-arrow-up">Arrow Up</option>
                        <option value="icon-arrow-down">Arrow Down</option>
                        <option value="icon-share-alt">Share Alt</option>
                        <option value="icon-resize-full">Resize Full</option>
                        <option value="icon-resize-small">Resize Small</option>
                        <option value="icon-plus">Plus</option>
                        <option value="icon-minus">Minus</option>
                        <option value="icon-asterisk">Asterisk</option>
                        <option value="icon-exclamation-sign">Exclamation</option>
                        <option value="icon-gift">Gift</option>
                        <option value="icon-leaf">Leaf</option>
                        <option value="icon-fire">Fire</option>
                        <option value="icon-eye-open">Eye Open</option>
                        <option value="icon-eye-close">Eye Close</option>
                        <option value="icon-warning-sign">Warning Sign</option>
                        <option value="icon-plane">Plane</option>
                        <option value="icon-calendar">Calendar</option>
                        <option value="icon-random">Random</option>
                        <option value="icon-comment">Comment</option>
                        <option value="icon-magnet">Magnet</option>
                        <option value="icon-chevron-up">Chevron Up</option>
                        <option value="icon-chevron-down">Chevron Down</option>
                        <option value="icon-retweet">Retweet</option>
                        <option value="icon-shopping-cart">Shopping Cart</option>
                        <option value="icon-folder-close">Folder Close</option>
                        <option value="icon-folder-open">Folder Open</option>
                        <option value="icon-resize-vertical">Resize Vertical</option>
                        <option value="icon-resize-horizontal">Resize Horizontal</option>
                        <option value="icon-bar-chart">Bar Chart</option>

                        <option value="icon-twitter-sign">Twitter Sign</option>
                        <option value="icon-facebook-sign">Facebook Sign</option>
                        <option value="icon-camera-retro">Retro Camera</option>
                        <option value="icon-key">Key</option>
                        <option value="icon-cogs">Cogs</option>
                        <option value="icon-comments">Comments</option>
                        <option value="icon-thumbs-up-alt">Thumbs Up</option>
                        <option value="icon-thumbs-down-alt">Thumbs Down</option>
                        <option value="icon-star-half">Half Star</option>
                        <option value="icon-heart-empty">Empty Heart</option>
                        <option value="icon-signout">Signout</option>
                        <option value="icon-linkedin-sign">Linkedin Sign</option>
                        <option value="icon-pushpin">Pushpin</option>
                        <option value="icon-external-link">External Link</option>
                        <option value="icon-signin">Signin</option>
                        <option value="icon-trophy">Trophy</option>
                        <option value="icon-github-sign">Github Sign</option>
                        <option value="icon-upload-alt">Upload Alt</option>
                        <option value="icon-lemon">Lemon</option>
                        <option value="icon-phone">Phone</option>
                        <option value="icon-check-empty">Empty Check</option>
                        <option value="icon-bookmark-empty">Empty Bookmark</option>
                        <option value="icon-phone-sign">Phone</option>
                        <option value="icon-twitter">Twitter</option>
                        <option value="icon-facebook">Facebook</option>
                        <option value="icon-github">Github</option>
                        <option value="icon-unlock">Unlock</option>
                        <option value="icon-credit-card">Credit Card</option>
                        <option value="icon-rss">RSS</option>
                        <option value="icon-hdd">HDD</option>
                        <option value="icon-bullhorn">Bullhorn</option>
                        <option value="icon-bell">Bell</option>
                        <option value="icon-certificate">Certificate</option>
                        <option value="icon-hand-right">Right Hand</option>
                        <option value="icon-hand-left">Left Hand</option>
                        <option value="icon-hand-up">Hand Up</option>
                        <option value="icon-hand-down">Hand Down</option>
                        <option value="icon-circle-arrow-left">Circle Arrow Left</option>
                        <option value="icon-circle-arrow-right">Circle Arrow Right</option>
                        <option value="icon-circle-arrow-up">Circle Arrow Up</option>
                        <option value="icon-circle-arrow-down">Circle Arrow Down</option>
                        <option value="icon-globe">Globe</option>
                        <option value="icon-wrench">Wrench</option>
                        <option value="icon-tasks">Tasks</option>
                        <option value="icon-filter">Filter</option>
                        <option value="icon-briefcase">Briefcase</option>
                        <option value="icon-fullscreen">Fullscreen</option>
                        <option value="icon-group">Group</option>
                        <option value="icon-link">Link</option>
                        <option value="icon-cloud">Cloud</option>
                        <option value="icon-beaker">Beaker</option>
                        <option value="icon-cut">Cut</option>
                        <option value="icon-copy">Copy</option>
                        <option value="icon-paper-clip">Clip</option>
                        <option value="icon-save">Save</option>
                        <option value="icon-sign-blank">Sign Blank</option>
                        <option value="icon-reorder">Reorder</option>
                        <option value="icon-list-ul">List UL</option>
                        <option value="icon-list-ol">List OL</option>
                        <option value="icon-strikethrough">Strikethrough</option>
                        <option value="icon-underline">Underline</option>
                        <option value="icon-table">Table</option>
                        <option value="icon-magic">Magic</option>
                        <option value="icon-truck">Truck</option>
                        <option value="icon-pinterest">Pinterest</option>
                        <option value="icon-pinterest-sign">Pinterest Sign</option>
                        <option value="icon-google-plus-sign">Plus Sign</option>
                        <option value="icon-google-plus">Plus</option>
                        <option value="icon-money">Money</option>
                        <option value="icon-caret-down">Caret Down</option>
                        <option value="icon-caret-up">Caret Up</option>
                        <option value="icon-caret-left">Caret Left</option>
                        <option value="icon-caret-right">Caret Right</option>
                        <option value="icon-columns">Columns</option>
                        <option value="icon-sort">Sort</option>
                        <option value="icon-sort-down">Sort Down</option>
                        <option value="icon-sort-up">Sort Up</option>
                        <option value="icon-envelope">Envelope</option>
                        <option value="icon-linkedin">Linkedin</option>
                        <option value="icon-undo">Undo</option>
                        <option value="icon-legal">Legal</option>
                        <option value="icon-dashboard">Dashboard</option>
                        <option value="icon-comment-alt">Comment Alt</option>
                        <option value="icon-comments-alt">Comments Alt</option>
                        <option value="icon-bolt">Bolt</option>
                        <option value="icon-sitemap">Sitemap</option>
                        <option value="icon-umbrella">Umbrella</option>
                        <option value="icon-paste">Paste</option>
                        <option value="icon-lightbulb">Lightbulb</option>
                        <option value="icon-exchange">Exchange</option>
                        <option value="icon-cloud-download">Cloud Download</option>
                        <option value="icon-cloud-upload">Cloud Upload</option>
                        <option value="icon-user-md">User MD</option>
                        <option value="icon-stethoscope">Stethoscope</option>
                        <option value="icon-suitcase">Suitcase</option>
                        <option value="icon-bell-alt">Bell Alt</option>
                        <option value="icon-coffee">Coffee</option>
                        <option value="icon-food">Food</option>
                        <option value="icon-file-text-alt">File Text Alt</option>
                        <option value="icon-building">Building</option>
                        <option value="icon-hospital">Hospital</option>
                        <option value="icon-ambulance">Ambulance</option>
                        <option value="icon-medkit">Medkit</option>
                        <option value="icon-fighter-jet">Fighter Jet</option>
                        <option value="icon-beer">Beer</option>
                        <option value="icon-h-sign">H Sign</option>
                        <option value="icon-plus-sign-alt">Plus Sign Alt</option>
                        <option value="icon-double-angle-left">Double Angle Left</option>
                        <option value="icon-double-angle-right">Double Angle Right</option>
                        <option value="icon-double-angle-up">Double Angle Up</option>
                        <option value="icon-double-angle-down">Double Angle Down</option>
                        <option value="icon-angle-left">Angle Left</option>
                        <option value="icon-angle-right">Angle Right</option>
                        <option value="icon-angle-up">Angle Up</option>
                        <option value="icon-angle-down">Angle Down</option>

                        <option value="icon-desktop">Desktop</option>
                        <option value="icon-laptop">Laptop</option>
                        <option value="icon-tablet">Tablet</option>
                        <option value="icon-mobile-phone">Mobile Phone</option>
                        <option value="icon-circle-blank">Balnk Circle</option>
                        <option value="icon-quote-left">Quote Left</option>
                        <option value="icon-quote-right">Quote Right</option>
                        <option value="icon-spinner">Spinner</option>
                        <option value="icon-circle">Circle</option>
                        <option value="icon-reply">Reply</option>
                        <option value="icon-github-alt">Github Alt</option>
                        <option value="icon-folder-close-alt">Folder Close Alt</option>
                        <option value="icon-folder-open-alt">Folder Open Alt</option>
                        <option value="icon-expand-alt">Expand Alt</option>
                        <option value="icon-collapse-alt">Collapse Alt</option>
                        <option value="icon-smile">Smile</option>
                        <option value="icon-frown">Frown</option>
                        <option value="icon-meh">Meh</option>
                        <option value="icon-gamepad">Gamepad</option>
                        <option value="icon-keyboard">Keyboard</option>
                        <option value="icon-flag-alt">Flag Alt</option>
                        <option value="icon-flag-checkered">Checkered</option>
                        <option value="icon-terminal">Terminal</option>
                        <option value="icon-code">Code</option>
                        <option value="icon-reply-all">Reply All</option>
                        <option value="icon-mail-reply-all">Mail Reply All</option>
                        <option value="icon-star-half-empty">Star Half Empty</option>
                        <option value="icon-location-arrow">Location Arrow</option>
                        <option value="icon-crop">Crop</option>
                        <option value="icon-code-fork">Code Fork</option>
                        <option value="icon-unlink">Unlink</option>
                        <option value="icon-question">Question</option>
                        <option value="icon-info">Info</option>
                        <option value="icon-exclamation">Exclamation</option>
                        <option value="icon-superscript">Superscript</option>
                        <option value="icon-subscript">Subscript</option>
                        <option value="icon-eraser">Eraser</option>
                        <option value="icon-puzzle-piece">Puzzle Piece</option>
                        <option value="icon-microphone">Microphone</option>
                        <option value="icon-microphone-off">Microphone Off</option>
                        <option value="icon-shield">Shield</option>
                        <option value="icon-calendar-empty">Empty Calendar</option>
                        <option value="icon-fire-extinguisher">Fire Extinguisher</option>
                        <option value="icon-rocket">Rocket</option>
                        <option value="icon-maxcdn">Max CDN</option>
                        <option value="icon-chevron-sign-left">Chevron Sign Left</option>
                        <option value="icon-chevron-sign-right">Chevron Sign Right</option>
                        <option value="icon-chevron-sign-up">Chevron Sign Up</option>
                        <option value="icon-chevron-sign-down">Chevron Sign Down</option>
                        <option value="icon-html5">HTML5</option>
                        <option value="icon-css3">CSS3</option>
                        <option value="icon-anchor">Anchor</option>
                        <option value="icon-unlock-alt">Unlock Alt</option>
                        <option value="icon-bullseye">Bullseye</option>
                        <option value="icon-ellipsis-horizontal">Ellipsis Horizontal</option>
                        <option value="icon-ellipsis-vertical">Ellipsis Vertical</option>
                        <option value="icon-rss-sign">RSS Sign</option>
                        <option value="icon-play-sign">Play Sign</option>
                        <option value="icon-ticket">Ticket</option>
                        <option value="icon-minus-sign-alt">Minus Sign Alt</option>
                        <option value="icon-check-minus">Check Minus</option>
                        <option value="icon-level-up">Level Up</option>
                        <option value="icon-level-down">Level Down</option>
                        <option value="icon-check-sign">Check Sign</option>
                        <option value="icon-edit-sign">Edit Sign</option>
                        <option value="icon-external-link-sign">External Link Sign</option>
                        <option value="icon-share-sign">Share Sign</option>
                        <option value="icon-compass">Compass</option>
                        <option value="icon-collapse">Collapse</option>
                        <option value="icon-collapse-top">Collapse Top</option>
                        <option value="icon-expand">Expand</option>
                        <option value="icon-eur">EUR</option>
                        <option value="icon-gbp">GBP</option>
                        <option value="icon-usd">USD</option>
                        <option value="icon-inr">INR</option>
                        <option value="icon-jpy">JPY</option>
                        <option value="icon-cny">CNY</option>
                        <option value="icon-krw">KRW</option>
                        <option value="icon-btc">BTC</option>
                        <option value="icon-file">File</option>
                        <option value="icon-file-text">File Text</option>
                        <option value="icon-sort-by-alphabet">Sort by Alphabet</option>
                        <option value="icon-sort-by-alphabet-alt">Sort by Alphabet Alt</option>
                        <option value="icon-sort-by-attributes">Sort by Attributes</option>
                        <option value="icon-sort-by-attributes-alt">Sort by Attribute Alt</option>
                        <option value="icon-sort-by-order">Sort by Order</option>
                        <option value="icon-sort-by-order-alt">Sort by Order Alt</option>
                        <option value="icon-thumbs-up">Thumbs Up</option>
                        <option value="icon-thumbs-down">Thumbs Down</option>
                        <option value="icon-youtube-sign">YouTube Sign</option>
                        <option value="icon-youtube">YouTube</option>
                        <option value="icon-xing">Xing</option>
                        <option value="icon-xing-sign">Xing Sign</option>
                        <option value="icon-youtube-play">YouTube Play</option>
                        <option value="icon-dropbox">DropBox</option>
                        <option value="icon-stackexchange">Stack Exchange</option>
                        <option value="icon-instagram">Instagram</option>
                        <option value="icon-flickr">Flickr</option>
                        <option value="icon-adn">ADN</option>
                        <option value="icon-bitbucket">Bitbucket</option>
                        <option value="icon-bitbucket-sign">Bitbucket</option>
                        <option value="icon-tumblr">Tumblr</option>
                        <option value="icon-tumblr-sign">Tumblr Sign</option>
                        <option value="icon-long-arrow-down">Arrow Down</option>
                        <option value="icon-long-arrow-up">Arrow Up</option>
                        <option value="icon-long-arrow-left">Arrow Left</option>
                        <option value="icon-long-arrow-right">Arrow Right</option>
                        <option value="icon-apple">Apple</option>
                        <option value="icon-windows">Windows</option>
                        <option value="icon-android">Android</option>
                        <option value="icon-linux">Linux</option>
                        <option value="icon-dribble">Dribble</option>
                        <option value="icon-skype">Skype</option>
                        <option value="icon-foursquare">Foursquare</option>
                        <option value="icon-trello">Trello</option>
                        <option value="icon-female">Female</option>
                        <option value="icon-male">Male</option>
                        <option value="icon-gittip">Gittip</option>
                        <option value="icon-sun">Sun</option>
                        <option value="icon-moon">Moon</option>
                        <option value="icon-archive">Archive</option>
                        <option value="icon-bug">Bug</option>
                        <option value="icon-vk">VK</option>
                        <option value="icon-weibo">Weibo</option>
                        <option value="icon-renren">RenRen</option>
                    </select>
                    {{/view}}
                </div>
            </div>

            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="color" data-toggle="tooltip" data-placement="top" data-title="The color of your Investment Image and theme."><i class="icon-info-sign"></i> Theme Color</label>
                {{/view}}
                <div class="controls">
                {{#view App.ColorPickerView}}
                {{input id="color" type="text" name="border-color" class="pick-a-color" value=color}}
                {{/view}}
                </div>
            </div>

            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="textColor" data-toggle="tooltip" data-placement="top" data-title="The color of your investment text."><i class="icon-info-sign"></i> Text Color</label>
                {{/view}}
                <div class="controls">
                {{#view App.ColorPickerView}}
                {{input id="textColor" type="text" name="border-color" class="pick-a-color" value=textColor}}
                {{/view}}
                </div>
            </div>

            <div class="control-group">
                {{#view App.ToolTipView}}
                <label class="control-label tooled" for="buttonColor" data-toggle="tooltip" data-placement="top" data-title="The color of your investment button text."><i class="icon-info-sign"></i> Button Text Color</label>
                {{/view}}
                <div class="controls">
                {{#view App.ColorPickerView}}
                {{input id="buttonColor" type="text" name="border-color" class="pick-a-color" value=buttonColor}}
                {{/view}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label tooled">Preview</label>
                <div class="controls">
                    {{#view App.FlipperView}}
                    <div class="flip">
                        <div class="card">
                            <div class="face front">
                                <div class="thumbnail" {{bindAttr style="controller.thumbnailStyle"}}>
                                    <div {{bindAttr style=controller.textStyle}}>
                                        <i {{bindAttr class="controller.imageUrl"}} {{bindAttr style="controller.colorStyle"}}></i>
                                        {{#if controller.title}}
                                        <h3 style="margin-top: -10px;margin-bottom:0px;">{{controller.title}}</h3>
                                        {{/if}}
                                        {{#if controller.tagline}}
                                        <p>{{controller.tagline}}</p>
                                        {{/if}}
                                    </div>
                                    <div class="caption" style="padding-top:0px;margin-top:0px;padding-bottom:0px;">
                                        <hr style="margin: 10px 0;">
                                        <p {{bindAttr style="controller.purchaseButtonStyle"}}>Details</p>
                                    </div>
                                </div>
                            </div>
                            <div class="face back">
                                <div class="thumbnail" {{bindAttr style="controller.thumbnailStyle"}}>
                                    <div {{bindAttr style=controller.textStyle}}>
                                        <p style="height: 100px;overflow:hidden;margin-bottom:0px;padding:10px;">{{controller.description}}</p>

                                        {{#if controller.isPricePerDay}}
                                        <h5 style="margin-top:-40px;margin-bottom:0px;">{{{controller.finalPrice}}}</h5>
                                        {{else}}
                                        <h5>{{{controller.finalPrice}}}</h5>
                                        {{/if}}

                                        {{#if controller.isPricePerDay}}
                                        {{#view App.OfferDurationSlider}}
                                        <p class="durationHolder">Duration: 30 days</p>
                                        <div class="offerDuration"></div>
                                        {{/view}}
                                        {{/if}}
                                    </div>
                                    <div class="caption" style="padding-top:0px;margin-top:0px;padding-bottom:0px;">
                                        <hr style="margin: 10px 0;">
                                        <p {{bindAttr style="controller.purchaseButtonStyle"}}>Purchase</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/view}}
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <p>Users may drag and drop your deal to apply to a company.</p>
                    <h4>Investment Piggy Bank</h4>
                    <div id="piggyBankZone" style="width:380px; height:220px;border:1px solid #2c3e50;margin-bottom:20px;" ondrop="drop(event)" ondragover="allowDrop(event)">

                    <div id="drug" draggable="true" ondragstart="drag(event)">
                    {{#view App.OfferPopover}}
                    <i {{bindAttr data-title="controller.title"}} {{bindAttr class="controller.finalClass"}} {{bindAttr style="controller.colorStyleDrag"}}></i>
                    <div class="sampleDiv" style="display:none;"><p style="text-align:center;margin-bottom:0px;padding:5px;color:#ffffff;font-size:12px;line-height:normal;">{{controller.description}}</p></div>
                    <div class="sampleTitle" style="display:none;">{{controller.title}}</div>
                    {{/view}}
                    </div>

                    </div>
                    <h4>Apply to Company Zone</h4>
                    <div id="groupZone" style="width:380px; height:220px;border:1px solid #2c3e50;" ondrop="drop(event)" ondragover="allowDrop(event)">
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="control-group">
                    {{#view App.ToolTipView}}
                    <label class="control-label tooled" data-toggle="tooltip" data-placement="top" data-title="The type of investment indicates what the investment does.">Type</label>
                    {{/view}}
                    <div class="controls selectOvered">
                        {{view Ember.Select
                               contentBinding="controller.typeOptions"
                               valueBinding="controller.type"
                        }}
                    </div>
                </div>
                <hr/>
                {{#if controllers.marketplace.content.superadmin}}
                <button id="group-create-btn" class="btn btn-success btn-block" {{action 'createOffer'}}>Create</button>
                {{/if}}
            </div>
		</form>
		{{#unless controllers.marketplace.content.superadmin}}
        <div class="row">
            <div class="span12">
                <div class="alert" style="text-align:center;">
                    Peercover investments is in beta. For now only approved members may make investments. Email <a href="mailto:love@peercover.com">love@peercover.com</a> to request beta access.
                </div>
            </div>
        </div>
		{{/unless}}
	</div>
</div>