<div class="row">
{{#each offer in model}}
{{#if offer.thirtyStay}}
{{#if offer.active}}
{{#if offer.promoted}}
{{#unless offer.discontinued}}
{{#view App.FlipperView}}
<div class="flip span4" style="margin-bottom:30px;">
    <input class="offerId" type="hidden" {{bindAttr value=offer.id}}>
    <div class="card">
        <div class="face front">
            <div class="thumbnail" {{bindAttr style="offer.thumbnailStyle"}}>
                <div {{bindAttr style=offer.textStyle}}>
                    <i {{bindAttr class="offer.imageUrl"}} {{bindAttr style="offer.colorStyle"}}></i>
                    {{#if offer.title}}
                    <h3 style="margin-top: -10px;margin-bottom:0px;">{{offer.title}}</h3>
                    {{/if}}
                    {{#if offer.tagline}}
                    <p>{{offer.tagline}}</p>
                    {{/if}}
                </div>
                <div class="caption" style="padding-top:0px;margin-top:0px;padding-bottom:0px;">
                    <hr style="margin: 10px 0;">
                    <p {{bindAttr style="offer.purchaseButtonStyle"}}>Details</p>
                </div>
            </div>
        </div>
        <div class="face back">
            <div class="thumbnail" {{bindAttr style="offer.thumbnailStyle"}}>
                <div {{bindAttr style=offer.textStyle}}>
                    <p style="height: 100px;overflow:hidden;margin-bottom:0px;padding:10px;">{{offer.description}}</p>

                    {{#if offer.isPricePerDay}}
                    {{#view App.OfferDurationSlider pricePerBinding=offer.pricePerDay priceBinding=offer.price viewed=true sliderColorBinding=offer.color}}
                    <input class="durationHidden" type="hidden">
                    <h5 class="pricePer" style="margin-top:-40px;margin-bottom:0px;"></h5>
                    <p class="durationHolder">Duration: 30 days</p>
                    <div class="offerDuration"></div>
                    {{/view}}
                    {{else}}
                    <h5>{{{offer.finalPrice}}}</h5>
                    {{/if}}

                </div>
                <a href="#offerModal" style="text-decoration:none;" data-toggle="modal">
                <div class="caption" style="padding-top:0px;margin-top:0px;padding-bottom:0px;" {{action buy target="view"}}>
                    <hr style="margin: 10px 0;">
                    <p {{bindAttr style="offer.purchaseButtonStyle"}}>Purchase</p>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
{{/view}}
{{/unless}}
{{/if}}
{{/if}}
{{/if}}
{{/each}}
</div>
<div id="offerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header" style="background-color:#2c3e50;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 class="modalHeader">Purchase Investment</h5>
    </div>
    <div class="modal-body" style="text-align:center;">
        <div class="well currencyHolder" style="margin-bottom: 0px;padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">

            <i class="icon-spin loadered" style="display:none;background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
            <p style="margin-bottom:0px;display:none;" class="noPathsFound">No paths found.</p>
            <p style="margin-bottom:0px;display:none;" class="walletSignIn" data-dismiss="modal">{{#linkTo 'wallet.login'}}Sign in{{/linkTo}} with wallet first.</p>
            {{#each filter in filterPath}}
            {{#view App.PathPayView}}

            <button class="btn btn-primary" data-dismiss="modal" {{action pathPay target="view"}}>
            {{roundBalanceFour filter.amount}} {{filter.currency}}
            </button>
            {{input type="hidden" class="pathIndex" value=filter.index}}
            {{/view}}
            {{/each}}

        </div>
    </div>
</div>