<div class="row">
	<div class="span6">
		<div class="page-heading">
			<h3 class="page-title">Partners</h3>
		</div>
	</div>
	<div class="span6">
	</div>
</div>

{{#view App.MembersListView}}
<div class="row">
    <div class="span8">
    <h5>Find Partner</h5>
    <form class="form-horizontal form-professional">
        <div class="control-group">
            <label class="control-label" for="referUser">Name</label>
            <div class="controls">
            {{input type="text" class="input-block-level referInvite" id="referUser" name="referUser" value=controller.userToRefer placeholder="type name"}}
            </div>
        </div>
    </form>
    </div>
</div>
{{/view}}

<hr/>

<div class="row">
	<div class="span12">
		<table class="table members-table">
			<thead>
				<td>Name</td>
				<td>Joined</td>
				<td>Accounts</td>
				<td style="text-align:center">Verified</td>
			</thead>
			<tbody>
				{{#each user in controller.sOLRresults}}
				{{#if user}}
				<tr>
					<td>
					<div class="profile-image img-circle" {{bindAttr style="user.profileImageBackgroundStyle"}}></div>
						{{#linkTo 'member' user.id class="name"}} {{ user.fullName }} {{/linkTo}}
					</td>
					<td>
						{{ displayDate user.joinDate }}
					</td>
					<td class="table-meta">
						{{#if user.facebookData}}
                            {{#if user.facebookProfileLink}}
                            <a target="_blank" {{bindAttr href=user.facebookProfileLink}}>
                            <span style="color:#3498DB">Facebook</span>
                            </a>
                            <span class="item-divider"></span>
                            {{/if}}
                        {{/if}}
                        {{#if user.linkedinData}}
                            {{#if user.linkedinData.publicProfileUrl}}
                            <a target="_blank" {{bindAttr href=user.linkedinData.publicProfileUrl}}>
                            <span style="color:#34495E">LinkedIn</span>
                            </a>
                            <span class="item-divider"></span>
                            {{/if}}
                        {{/if}}
						{{#if user.dwollaData}}
							<span style="color:#D35400">Dwolla</span>
						{{/if}}
					</td>
					<td style="text-align:center">
						{{#if user.verified}}
							<i class="icon-ok" style="color:#1ABC9C"></i>
						{{/if}}
						{{#if user.verificationBadge}}
							<i class="icon-certificate" style="color:#9B59B6"></i>
						{{/if}}
					</td>
				</tr>
				{{/if}}
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
<div class="row" style="text-align:center;">
<div id="pagination"></div>
</div>
<div class="row loadered">
<div class="span12" style="text-align:center;">
<i class="icon-spin" style="background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
</div>
</div>