<div class="row">
	<div class="span6">
		<div class="page-heading profile-heading">
		    {{#unless isUser}}
			<div class="profile-image img-circle" {{bindAttr style="profileImageBackgroundStyle"}}>
			    {{#if isFollowed}}
                <button class="btn btn-small" {{action unfollow}} style="background-color: #33485d;margin-top: 100px;text-align: center;width: 96px;padding: 2px;">
                    <img src="https://s3-us-west-2.amazonaws.com/peercover/images/Simple_Exchange_Circle.svg" style="width: 15px;margin-bottom: 2px;margin-right: 2px;">
                    Unfollow
                </button>
                {{else}}
                <button class="btn btn-small" {{action follow}} style="background-color: #33485d;margin-top: 100px;text-align: center;width: 96px;padding: 2px;">
                    <img src="https://s3-us-west-2.amazonaws.com/peercover/images/Simple_Exchange_Circle.svg" style="width: 15px;margin-bottom: 2px;margin-right: 2px;">
                    Follow
                </button>
                {{/if}}
			</div>
			{{#view App.AvgrundMemberView}}
			<div class="chat">
			<h3 class="page-title full-name pointer-cursor" style="display:inline-block;">{{fullName}}</h3>&nbsp;&nbsp;&nbsp;<i class="icon-comment" style="display:inline-block;width: 20px;height: 20px;font-size: 35px;cursor:hand;cursor:pointer;"></i>
			</div>
			{{/view}}
			{{else}}
			<div class="profile-image img-circle" {{bindAttr style="profileImageBackgroundStyle"}}>
            {{#if accredit}}
            <img id="accredidationBadge" src="https://d1geqvinw0cz14.cloudfront.net/images/accredited.png">
            {{/if}}
            </div>
            <h3 class="page-title full-name">{{fullName}}</h3>
			{{/unless}}
			<span class="page-subtitle join-date muted">Partner since {{ displayDate joinDate }}</span>
			{{#if facebookData}}
			<br>
			{{else}}
			{{#if linkedinData}}
			<br>
			{{else}}
			{{#if dwollaData}}
			<br>
			{{/if}}
			{{/if}}
			{{/if}}
			{{#if facebookData}}
			    {{#if facebookProfileLink}}
			    <a target="_blank" {{bindAttr href=facebookProfileLink}}>
                <span style="color:#3498DB">Facebook</span>
                </a>
                <span class="item-divider"></span>
                {{/if}}
            {{/if}}
            {{#if linkedinData}}
                {{#if linkedinData.publicProfileUrl}}
                <a target="_blank" {{bindAttr href=linkedinData.publicProfileUrl}}>
                <span style="color:#34495E">LinkedIn</span>
                </a>
                <span class="item-divider"></span>
                {{/if}}
            {{/if}}
            {{#if dwollaData}}
                <span style="color:#D35400">Dwolla</span>
            {{/if}}
		</div>
	</div>
	<div class="span6">
	{{#if jumioData}}
    {{#view App.ToolTipView toolType="html" countryTitleBinding=countryTitle}}
    <span class="badge badge-success tooled" data-toggle="tooltip" style="margin-top: 13px;">
    <i {{bindAttr class=countryClass}} style="font-size:12px;"></i>
    Verified as {{toTitle jumioData.idFirstName}} {{toTitle jumioData.idLastName}}</span>
    {{/view}}
	{{/if}}
	</div>
</div>

<hr/>
{{#if username}}
<div class="row">
	<div class="span6">
		<h4 style="color: #18bc9c;" class="hander" {{action sendFunds}}>{{username}}@peercover.com</h4>
    </div>
    <div class="span6">
    </div>
</div>
<hr>
{{/if}}
{{#if followerCount}}
<div class="row">
    {{#if followerCount}}
	<div class="span6">
		<h3>Followers</h3>
		<h3>{{followerCount}}</h3>
    </div>
    {{/if}}
    {{#if followedCount}}
    <div class="span6">
        <h3>Following</h3>
        <h3>{{followedCount}}</h3>
    </div>
    {{/if}}
</div>
<hr/>
{{else}}
{{#if followedCount}}
<div class="row">
    {{#if followerCount}}
	<div class="span6">
		<h3>Followers</h3>
		<h3>{{followerCount}}</h3>
    </div>
    {{/if}}
    {{#if followedCount}}
    <div class="span6">
        <h3>Following</h3>
        <h3>{{followedCount}}</h3>
    </div>
    {{/if}}
</div>
<hr/>
{{/if}}
{{/if}}

{{#if model.groupHistory }}

<div class="row">
	<div class="span12">
		{{partial "groupList"}}
	</div>
</div>

{{/if}}

{{#if claims}}
<div class="row">
	<div class="span12">
		<h3>Claims</h3>
		<table class="table">
			<thead>
				<tr>
					<td>Title</td>
					<td>Date Filed</td>
					<td>Amount</td>
					<td>Date Voting Ended</td>
					<td style="text-align: center">Approved</td>
				</tr>
			</thead>
			<tbody>
		{{#each claims}}
			<tr>
				<td>{{this.title}}</td>
				<td>{{ displayDate this.creationDate }}</td>
				<td>{{this.amountClaimed}} {{this.currencyClaimedIn}}</td>
				<td>
				{{#if this.dateVoteEnd}}
				{{ displayDate this.dateVoteEnd }}
				{{/if}}
				</td>
				<td style="text-align: center">
				    {{#if this.pending}}
				        <i class="icon-spin" style="background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
				    {{else}}
					{{#if this.voteApprove}}
						<i class="icon-ok" style="color:#1ABC9C"></i>
					{{else}}
						<i class="icon-remove" style="color: #e74c3c"></i>
					{{/if}}
					{{/if}}
				</td>
			</tr>
		{{/each}}
			</tbody>
			</table>
	</div>
</div>

{{/if}}
