<span {{bindAttr class="this.classNames"}} style="display: inline-block; text-align: center; font-size: 20px !important; margin: 5px !important; cursor: pointer; cursor: hand;" {{bindAttr data-title="this.title"}}>{{roundBalance this.balance}} {{this.currency}}</span>
<input type="hidden" class="getContentSelector" {{bindAttr value="this.contentSelectorPound"}}>
<input type="hidden" class="getClassDotSelector" {{bindAttr value="this.classDot"}}>
<div {{bindAttr id="this.contentSelector"}} style="display:none;">
    {{{this.currencyHTML}}}
</div>
