<div id="xrpWarnContent" style="display:none" >
<a href="https://www.bitstamp.net/" target="_blank" style="background-color: #ffffff !important;" class="thumbnail">
    <img src="https://d1geqvinw0cz14.cloudfront.net/images/bitstamp.png">
</a>
</div>