<input type="hidden" class="getContentSelector" {{bindAttr value="this.contentSelectorPound"}}>
<input type="hidden" class="getClassDotSelector" {{bindAttr value="this.classDot"}}>
<div {{bindAttr id="this.user.id"}} style="display:none;">
    <div class="popover-content">
    <table class="table">
    <tbody>
    {{#each this.referredByUserArray}}
        <tr>
        <td>
        <div class="referredImage profile-image img-circle" {{bindAttr style="this.profileImageBackgroundStyle"}}></div>
            {{#linkTo 'member' this class="name"}} {{ this.fullName }} {{/linkTo}}
        </td>
        </tr>
    {{/each}}
    </tbody>
    </table>
    </div>
</div>