{{#view App.FadeInBigView}}
<div class="fadeInAll">
<div id="profile">
	<div class="row">
		<div class="span6">
			<div class="page-heading profile-heading">
				<div class="profile-image img-circle hander" {{bindAttr style="profileImageBackgroundStyle"}} {{action 'editImage'}}>
				{{#if accredit}}
				<img id="accredidationBadge" src="https://d1geqvinw0cz14.cloudfront.net/images/accredited.png">
				{{/if}}
				</div>
				<h3 class="page-title full-name">{{fullName}}</h3>
				{{#if superadmin}}
				<span class="page-subtitle join-date" style="color:#B8860B;">Superadmin since {{ displayDate superadminDate }}</span><br>
				{{/if}}
				{{#if founderDeal}}
                <span class="page-subtitle join-date" style="color:#B8860B;">Original Founder since {{ displayDate founderDealDate }}</span><br>
                {{/if}}
				<span class="page-subtitle join-date muted">Partner since {{ displayDate joinDate }}</span>
			</div>
		</div>
		<div class="span6">

		</div>
	</div>

	<hr/>

	{{#if verified}}
	{{#unless haveWallet}}
		<div class="row">
			<div class="span8">
				<div class="alert alert-info">
					It looks like you haven&apos;t created a wallet yet. You need to connect your profile to a Ripple wallet to take full advantage of Peercover.
				</div>
			</div>
			<div class="span3 offset1">
			<p>{{#linkTo 'wallet.create' class='btn btn-block btn-primary'}}Create Wallet{{/linkTo}}</p>
			</div>
		</div>
	<hr/>
	{{/unless}}
	{{/if}}

	{{#unless verified}}

	<div class="row">
		<form class="form-horizontal form-professional" {{action verify on="submit"}}>
			<div class="span8">
				<div class="alert">
                    Please check your email for a verification link and click on link.
                </div>
			</div>
			<div class="span3 offset1">
			    <button class="btn btn-block btn-primary" style="position: relative;display: inline;width: 49%;" {{action 'resendVerification'}}>Resend</button>
			</div>
		</form>
	</div>
	{{!--
	<div class="row">
        <div class="span3 offset9">
        <p>{{#linkTo 'wallet.create' class='btn btn-block btn-primary'}}Create Wallet{{/linkTo}}</p>
        </div>
    </div>
	--}}

	<hr/>

	{{/unless}}

	{{#if isViewing}}
	<div class="row">
		<div class="span8">
			<h3>Profile</h3>
		</div>
		<div class="span2 offset2">
			<div class="btn-group" style="float:right; margin-bottom:10px;">
				<button id="profile-edit-btn" class="btn btn-primary" {{action 'editProfile'}}>Edit</button>
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				<i class="icon-cog"></i>
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" style="left:auto; right:0;">
					<li>
						<a href="#" {{action 'editProfile'}}>Edit Profile</a>
					</li>
					<li>
                        <a href="#" {{action 'viewFollowed'}}>Manage Followed</a>
                    </li>
                    <li>
                        <a href="#" {{action 'viewFollowing'}}>View Followers</a>
                    </li>
					<li>
						<a href="#" {{action 'editEmail'}}>Update Email Address</a>
					</li>
					<li>
						<a href="#" {{action 'changePassword'}}>Change Password</a>
					</li>
					<li>
						<a href="#" {{action 'editImage'}}>Select Profile Image</a>
					</li>
                    <li>
                        <a href="#" {{action 'twoFactor'}}>Two-Factor Authentication</a>
                    </li>
				</ul>
			</div>
		</div>
	</div>

	{{#if doesNotHaveName}}
	<div class="row">
		<div class="span12">
			<div class="alert">
				Use the Edit button to fill in your full name and edit your profile, so other partners can find you easily and invite you to join their groups.
			</div>
		</div>
	</div>
	{{/if}}

	<div class="row">
		<div class="span4">
			{{#if username}}	
				<address>
					<strong>Username</strong><br>
					{{username}}
				</address>
			{{/if}}
			{{#if fullName}}	
				<address id="profile-full-name">
					<strong>Full Name</strong><br>
					{{fullName}}
				</address>
			{{/if}}
			{{#if email}}	
				<address id="profile-email">
					<strong>Email</strong><br>
					{{email}}
				</address>
			{{/if}}
		</div>
		<div class="span4">
			<address style="height:40px;">
				{{#if verified}}
					<span class="badge badge-success">Verified Account</span>
				{{else}}
					<span class="badge badge-important">Unverified Account</span>
				{{/if}}
			</address>
			<address>
				<strong>Updated</strong><br>
				{{ displayDate updateDate }}
			</address>
		</div>
	</div>
	{{/if}}

    {{#if isTwoFactor}}
    {{#if hasTwoFactor}}
    <div class="row">
        <div class="span8">
            <h3>Two-Factor Authentication</h3>
            <button id="profile-edit-back-btn" class="btn btn-danger" {{action 'disableTwoFactor'}}>Disable Two-Factor</button>
        </div>
        <div class="span2 offset2">
            <button id="profile-edit-back-btn" class="btn btn-block" {{action 'stopEditing'}}>Back</button>
        </div>
    </div>
    {{else}}
    {{#view App.AuthyFormatView}}
    <div class="row">
        <div class="span8">
        <h3>Two-Factor Authentication</h3>
        <form class="form-horizontal form-professional countryMod" {{action twoFactorRegister on="submit"}}>
            <div class="control-group">
                <label class="control-label" for="authy-countries">Your Country</label>
                <div class="controls">
                <select id="authy-countries" class="input-block-level"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="authy-cellphone">Your Cell Phone</label>
                <div class="controls">
                {{input id="authy-cellphone" type="text" class="input-block-level maxWidAuth" value=cellPhone placeholder=""}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{input id="save-profile-btn" type="submit" class="btn btn-success enableTwo" value="Enable Two-Factor"}}
                </div>
            </div>
        </form>
        </div>
        <div class="span2 offset2">
            <button id="profile-edit-back-btn" class="btn btn-block" {{action 'stopEditing'}}>Back</button>
        </div>
    </div>
    {{/view}}
    {{/if}}
    {{/if}}

    {{#if isViewingFollowed}}
        <div class="row">
            <div class="span8">
            <h3>Add Address to Follow</h3>
            <form class="form-horizontal form-professional">
                <div class="control-group">
                    <label class="control-label" for="inputUsername">Address {{#if validAddAddress}}<i class="icon-ok" style="color:#1ABC9C"></i>{{/if}}</label>
                    <div class="controls">
                    {{input id="followAddress" type="text" class="input-block-level" value=addressAddition placeholder="enter Ripple address"}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputUsername">Label</label>
                    <div class="controls">
                    {{input id="followLabel" type="text" class="input-block-level" value=label placeholder="enter label"}}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                    {{#view App.FollowView}}
                    {{#if validAddAddress}}
                    <button class="btn btn-small" {{action follow target="view"}} style="background-color: #33485d;margin-top: 10px;text-align: center;width: 96px;padding: 2px;">
                        <img src="https://s3-us-west-2.amazonaws.com/peercover/images/Simple_Exchange_Circle.svg" style="width: 15px;margin-bottom: 2px;margin-right: 2px;">
                        Follow
                    </button>
                    {{else}}
                    <button class="btn btn-small disabled" {{action follow target="view"}} style="background-color: #33485d;margin-top: 10px;text-align: center;width: 96px;padding: 2px;">
                        <img src="https://s3-us-west-2.amazonaws.com/peercover/images/Simple_Exchange_Circle.svg" style="width: 15px;margin-bottom: 2px;margin-right: 2px;">
                        Follow
                    </button>
                    {{/if}}
                    {{/view}}
                    </div>
                </div>
            </form>
            </div>
            <div class="span2 offset2">
                <button id="profile-edit-back-btn" class="btn btn-block" {{action 'stopEditing'}}>Back</button>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <table class="table members-table">
                    <thead>
                        <td>Label</td>
                        <td>Address</td>
                        <td style="text-align:center"></td>
                    </thead>
                    <tbody>
                        {{#each address in followedAddress}}
                        <tr>
                            <td>{{address.label}}</td>
                            <td>
                            {{address.address}}
                            </td>
                            <td style="text-align:center">
                                {{#view App.FollowedAddressView followBinding=address.address}}
                                <button class="btn btn-small" {{action unfollow target="view"}} style="background-color: #33485d;text-align: center;width: 96px;padding: 2px;">
                                    <img src="https://s3-us-west-2.amazonaws.com/peercover/images/Simple_Exchange_Circle.svg" style="width: 15px;margin-bottom: 2px;margin-right: 2px;">
                                    Unfollow
                                </button>
                                {{/view}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
        	<div class="span12">
        		<table class="table members-table">
        			<thead>
        				<td>Name</td>
        				<td>Joined</td>
        				<td>Accounts</td>
        				<td style="text-align:center"></td>
        			</thead>
        			<tbody>
        			    {{#if followedFilter}}
        				{{#each user in followedFilter}}
        				<tr>
        					<td>
        					<div class="profile-image img-circle" {{bindAttr style="user.profileImageBackgroundStyle"}}></div>
        						{{#linkTo 'member' user.id class="name"}} {{ user.fullName }} {{/linkTo}}
        					</td>
        					<td>
        						{{ displayDate user.joinDate }}
        					</td>
        					<td class="table-meta">
        						{{#if user.facebookData}}
                                    {{#if user.facebookProfileLink}}
                                    <a target="_blank" {{bindAttr href=user.facebookProfileLink}}>
                                    <span style="color:#3498DB">Facebook</span>
                                    </a>
                                    <span class="item-divider"></span>
                                    {{/if}}
                                {{/if}}
                                {{#if user.linkedinData}}
                                    {{#if user.linkedinData.publicProfileUrl}}
                                    <a target="_blank" {{bindAttr href=user.linkedinData.publicProfileUrl}}>
                                    <span style="color:#34495E">LinkedIn</span>
                                    </a>
                                    <span class="item-divider"></span>
                                    {{/if}}
                                {{/if}}
        						{{#if user.dwollaData}}
        							<span style="color:#D35400">Dwolla</span>
        						{{/if}}
        					</td>
        					<td style="text-align:center">
        						{{#view App.FollowedView followBinding=user.id}}
        						<button class="btn btn-small" {{action unfollow target="view"}} style="background-color: #33485d;text-align: center;width: 96px;padding: 2px;">
                                    <img src="https://s3-us-west-2.amazonaws.com/peercover/images/Simple_Exchange_Circle.svg" style="width: 15px;margin-bottom: 2px;margin-right: 2px;">
                                    Unfollow
                                </button>
        						{{/view}}
        					</td>
        				</tr>
        				{{/each}}
        				{{/if}}
        			</tbody>
        		</table>
        	</div>
        </div>
    {{/if}}

    {{#if isViewingFollowing}}
        <div class="row">
            <div class="span8">
                <table class="table members-table">
                    <thead>
                        <td>Name</td>
                        <td>Joined</td>
                        <td>Accounts</td>
                    </thead>
                    <tbody>
                        {{#if followers}}
                        {{#each user in followers}}
                        {{#if user}}
                        <tr>
                            <td>
                            <div class="profile-image img-circle" {{bindAttr style="user.profileImageBackgroundStyle"}}></div>
                                {{#linkTo 'member' user.id class="name"}} {{ user.fullName }} {{/linkTo}}
                            </td>
                            <td>
                                {{ displayDate user.joinDate }}
                            </td>
                            <td class="table-meta">
                                {{#if user.facebookData}}
                                    {{#if user.facebookProfileLink}}
                                    <a target="_blank" {{bindAttr href=user.facebookProfileLink}}>
                                    <span style="color:#3498DB">Facebook</span>
                                    </a>
                                    <span class="item-divider"></span>
                                    {{/if}}
                                {{/if}}
                                {{#if user.linkedinData}}
                                    {{#if user.linkedinData.publicProfileUrl}}
                                    <a target="_blank" {{bindAttr href=user.linkedinData.publicProfileUrl}}>
                                    <span style="color:#34495E">LinkedIn</span>
                                    </a>
                                    <span class="item-divider"></span>
                                    {{/if}}
                                {{/if}}
                                {{#if user.dwollaData}}
                                    <span style="color:#D35400">Dwolla</span>
                                {{/if}}
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
            <div class="span2 offset2">
                <button class="btn btn-block" {{action 'stopEditing'}}>Back</button>
            </div>
        </div>
    {{/if}}

	{{#if isEditing}}
	<div class="row">
		<div class="span8">
		<h3>Profile</h3>
        <form class="form-horizontal form-professional" {{action saveProfile on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="inputUsername">Username</label>
				<div class="controls">
				{{input id="inputUsername" type="text" class="input-block-level" value=username placeholder="pick a username"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputFirstName">First Name</label>
				<div class="controls">
				{{input id="inputFirstName" type="text" class="input-block-level" value=firstName placeholder=""}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLastName">Last Name</label>
				<div class="controls">
				{{input id="inputLastName" type="text" class="input-block-level" value=lastName placeholder=""}}
				</div>
			</div>
            <div class="control-group">
                <div class="controls">
                    {{input id="save-profile-btn" type="submit" class="btn btn-success" value="Save Profile"}}
                </div>
            </div>
		</form>
		</div>
		<div class="span2 offset2">
			<button id="profile-edit-back-btn" class="btn btn-block" {{action 'stopEditing'}}>Back</button>
		</div>
	</div>
	<div class="row">
        <div class="span12">
        <h3>Attach Wallets</h3>
        <ul class="thumbnails" style="margin-top:-10px;">
            {{#each fed in federation}}
                {{#view App.FederationView fedBinding=fed}}
                <li class="span3" {{action 'updateAlt' target="view"}} style="text-align:center;margin-top:20px;margin-bottom:40px;height:180px;min-width: 250px;">
                    <a href="#updateAlt" data-toggle="modal" class="thumbnail" style="text-decoration: none;color: #2c3e50;">
                    <h5>
                    {{fed.name}} ({{fed.code}})
                    </h5>

                    {{#if username}}
                    <h5>
                    {{username}}@{{fed.identifier}}.peercover.com
                    </h5>
                    {{else}}
                    <h6>
                    Pick username to get email-style address.
                    </h6>
                    {{/if}}

                    <h5 style="font-size:12px;">
                    {{fed.address}}
                    </h5>
                    {{#if fed.image}}
                    <hr style="margin-top:5px;margin-bottom:5px;">
                    <img {{bindAttr src=fed.image}} style="max-width:100px;text-align:center;max-height:100px;" />
                    {{/if}}
                    </a>
                </li>
                {{/view}}
            {{/each}}
            <li class="span2" style="text-align:center;margin-top:20px;margin-bottom:40px;min-width: 250px;">
                <a href="#connectAlt" data-toggle="modal" class="thumbnail" {{action clearAddress}}>
                    <img src="https://d1geqvinw0cz14.cloudfront.net/images/profileEdit.jpg" alt="Connect New Wallet">
                </a>
            </li>
        </ul>
        </div>
    </div>
	{{/if}}

	{{#if isEditingImage}}

	<div class="row">
		<div class="span8">
			<h3>Profile</h3>
			<ul class="thumbnails">
                {{#if gravatarUrl}}
                <li class="span2">
                    <a href="#" class="thumbnail" {{action 'selectGravatarImage'}}>
                        <img {{bindAttr src="gravatarUrl"}} alt="Select Gravatar Image">
                    </a>
                </li>
                {{/if}}
				{{#if facebookImage}}
				<li class="span2">
					<a href="#" class="thumbnail" {{action 'selectFacebookImage'}}>
						<img {{bindAttr src="facebookImage"}} alt="Select Facebook Image">
					</a>
				</li>
				{{/if}}
				{{#if linkedinImage}}
				<li class="span2">
					<a href="#" class="thumbnail" {{action 'selectLinkedinImage'}}>
						<img {{bindAttr src="linkedinImage"}} alt="Select LinkedIn Image">
					</a>
				</li>
				{{/if}}
				{{#if uploadImage}}
				<li class="span2">
					<a href="#" class="thumbnail" {{action 'selectUploadImage'}}>
						<img {{bindAttr src="uploadImage"}} alt="Select Uploaded Image">
					</a>
				</li>
				{{/if}}
				<li class="span2">
					<a href="#" class="thumbnail" {{action 'selectDefaultImage'}}>
						<img {{bindAttr src="defaultImage"}} alt="Select Default Image">
					</a>
				</li>
				{{#view App.ProfileImageView}}
				<li class="span2">
					<a href="#" class="thumbnail" {{action 'uploadProfileImage' target="view"}}>
						<img src="https://d1geqvinw0cz14.cloudfront.net/images/profileEdit.jpg" alt="Upload Profile Image">
					</a>
				</li>
				<form method="post" enctype="multipart/form-data" id="imageForm" style="display: none;">
				<input type='file' name='files' id='files'>
				<input type="submit" name="submit" id="imageSubmitButton">
				</form>
				{{/view}}
				<div id="previewImage"></div>
				<canvas id="canvas"></canvas>
			</ul>

		</div>
		<div class="span2 offset2">
			<button class="btn btn-block btn-success" {{action 'saveImage'}}>Save</button>
		</div>
	</div>	

	{{/if}}
	{{#if isChangingPassword}}
	<div class="row">
	<div class="span8">
		<h3>Profile</h3>
        <form class="form-horizontal form-professional" {{action passwordSubmit on="submit"}}>
            <div class="control-group">
                <label class="control-label" for="formerPassword">Former Password</label>
                <div class="controls">
                    {{input type="password" class="input-block-level" id="formerPassword" value=formerPassword name="formerPassword" placeholder="former password"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">New Password</label>
                <div class="controls">
                    {{input type="password" class="input-block-level" id="password" value=password name="password" placeholder="new password"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password2">Repeat New Password</label>
                <div class="controls">
                    {{input type="password" class="input-block-level" id="password2" value=password2 name="password2" placeholder="new password"}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{input type="submit" class="btn btn-success" value="Change Password"}}
                </div>
            </div>
        </form>
    </div>
	<div class="span2 offset2">
        <button class="btn btn-block" {{action 'savePassword'}}>Back</button>
    </div>
    </div>
	{{/if}}
	{{#if isEditingEmail}}
	<div class="row">
	<div class="span8">
		<h3>Profile</h3>
        <form class="form-horizontal form-professional" {{action emailSubmit on="submit"}}>
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    {{input type="text" class="input-block-level" id="email" value=email name="email" placeholder="email"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    {{input type="password" class="input-block-level" id="password" value=password name="password" placeholder="password"}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{input type="submit" class="btn btn-success" value="Change Email"}}
                </div>
            </div>
        </form>
    </div>
	<div class="span2 offset2">
        <button class="btn btn-block" {{action 'stopEditing'}}>Back</button>
    </div>
    </div>
    {{/if}}
</div>

<hr/>

<div class="row">
	<div class="span12">
		<h3>Accounts</h3>

		<div class="btn-group">
          <button class="btn btn-primary rewidth" {{bindAttr style="activeFacebook"}} {{action 'facebookConnect'}}>
          <a id="facebook-login" style="color:#ffffff !important;text-decoration:none !important;margin-left: -3px;" href="#" data-toggle="tooltip" data-placement="bottom" title="Connect Facebook Account">
            <i class="icon-facebook"></i>
          </a>
          </button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cog"></i>
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="left:auto; right:0;min-width:90px;">
                <li>
                    <a href="#" style="padding: 3px 8px;" {{action 'facebookConnect'}}>Connect</a>
                </li>
                {{#if facebookToken}}
                <li>
                    <a href="#" style="padding: 3px 8px;" {{action 'dqFacebook'}}>Disconnect</a>
                </li>
                {{/if}}
            </ul>
          </div>
        <div class="btn-group">
          <button class="btn btn-primary rewidth" {{bindAttr style="activeLinkedin"}} {{action 'linkedinConnect'}}>
          <a id="linkedin-login" style="color:#ffffff !important;text-decoration:none !important;margin-left:-5px;" href="#" data-toggle="tooltip" data-placement="bottom" title="Connect LinkedIn Account">
              <i class="icon-linkedin"></i>
          </a>
          </button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <i class="icon-cog"></i>
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="left:auto; right:0;min-width:90px;">
            <li>
                <a href="#" style="padding: 3px 8px;" {{action 'linkedinConnect'}}>Connect</a>
            </li>
            {{#if linkedinSecret}}
              <li>
                  <a href="#" style="padding: 3px 8px;" {{action 'dqLinkedin'}}>Disconnect</a>
              </li>
              {{/if}}
          </ul>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary rewidth" {{bindAttr style="activeDwolla"}} {{action 'dwollaConnect'}}>
          <a href="#" data-toggle="tooltip" style="margin-left: -4px;" data-placement="bottom" title="Connect Dwolla Account">
              <i class="ico-dwolla"></i>
          </a>
          </button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cog"></i>
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="left:auto; right:0;min-width:90px;">
                <li>
                    <a href="#" style="padding: 3px 8px;" {{action 'dwollaConnect'}}>Connect</a>
                </li>
                {{#if dwollaToken}}
                <li>
                    <a href="#" style="padding: 3px 8px;" {{action 'dqDwolla'}}>Disconnect</a>
                </li>
                {{/if}}
            </ul>
		</div>
		{{#if jumioVerified}}
          <div class="btn-group">
                <button class="btn btn-primary" style="background-color: #18bc9c !important;background-image: none;" {{action 'nullJumio'}}>
                Identity Verified
                </button>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-cog"></i>
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" style="left:auto; right:0;min-width:90px;">
                      <li>
                          <a href="#" style="padding: 3px 8px;" {{action 'disconnectJumio'}}>Disconnect</a>
                      </li>
                  </ul>
            </div>
        {{else}}
        {{#unless jumioActive}}
            <!-- <div class="btn-group">
                  <button class="btn btn-primary" {{action 'activeJumio'}}>
                  Verify Identity
                  </button>
                  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-cog"></i>
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="left:auto; right:0;min-width:90px;">
                        <li>
                            <a href="#" style="padding: 3px 8px;" {{action 'activeJumio'}}>Connect</a>
                        </li>
                    </ul>
              </div> -->
        {{/unless}}
		{{/if}}
	</div>
</div>

<hr/>

{{#if jumioActive}}
{{#unless jumioVerified}}
<div class="row">
	<div class="span12">
        <div class="alert alert-info" style="text-align:center;">
            Verification may take several minutes to register on Peercover.
        </div>
        {{#view App.NetverifyView}}
        <div id="JUMIOIFRAME" style="height: 450px; overflow: hidden;text-align:center;"></div>
        {{/view}}
	</div>
</div>
{{/unless}}
{{/if}}

<div class="row">
	<div class="span4">
		<h3>Followers</h3>
		<h3><a class="hander" {{action 'viewFollowing'}}>{{followerCount}}</a></h3>
    </div>
    <div class="span4">
        <h3>Following</h3>
        <h3><a class="hander" {{action 'viewFollowed'}}>{{followedCount}}</a></h3>
    </div>
</div>

{{#if model.groupHistory}}
<div class="row">
	<div class="span12">
		{{partial "groupList"}}
	</div>
</div>
{{/if}}

{{#view App.FounderDealView}}
{{#if founderDeal}}
{{else}}
{{#if model.groupHistory}}
<hr>
{{/if}}
<div style="text-align: center;"><button class="btn founderButton" {{action founderInvite target="view"}}>Founder Deal</button></div>
<div class="row fadeDived" style="display: none;margin-top:30px;">
    <form class="form-horizontal form-professional" {{action founderDealed on="submit"}}>
        <div class="span8">
            <div class="control-group">
                <label class="control-label" for="founderCode">Founder Deal Code:</label>
                <div class="controls">
                    {{input type="text" id="founderCode" class="input-block-level" value=founderCode name="founderCode" placeholder="enter code here"}}
                </div>
            </div>
        </div>
        <div class="span3 offset1">
            {{input type="submit" class="btn btn-block btn-success" value="Get Founder Deal"}}
        </div>
    </form>
</div>
{{/if}}
{{/view}}

</div>
{{/view}}

<div id="connectAlt" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="connectAltLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="pathfindPayLabel">Connect Address</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal form-professional" style="margin-bottom:0px !important;">
            <div class="control-group">
                <label class="control-label" for="fullName">
                Address
                </label>
                <div class="controls">
                {{input id="fullName" type="text" class="input-block-level addressInput cashoutInput" value=address placeholder="address"}}
                </div>
            </div>
            <div class="control-group" style="margin-bottom:0px !important;">
                <label class="control-label" for="currency">Currency</label>
                <div class="controls selectOver">
                    {{view Ember.Select
                           contentBinding="controller.controllers.application.cryptoCurrencyOptions"
                           valueBinding="controller.currency"
                    }}
                </div>
            </div>
    </div>
        <div class="modal-footer" style="text-align:center;">
        <div class="control-group" style="text-align:center;margin-bottom:0px;">
            <div class="controls" style="text-align:center;">
                {{#if controller.validAddress}}
                <a href="#" role="button" class="btn btn-primary btn-block" data-dismiss="modal" {{action attachAddress}}>Attach Address</a>
                {{else}}
                <a href="#" role="button" class="btn btn-primary btn-block disabled" {{action doNothing}}>Attach Address</a>
                {{/if}}
            </div>
        </div>
        </form>
    </div>
</div>

<div id="updateAlt" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="connectAltLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="pathfindPayLabel">Update Address</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal form-professional" style="margin-bottom:0px !important;">
            <div class="control-group" style="margin-bottom:0px !important;">
                <label class="control-label" for="fullNamed">
                Address
                </label>
                <div class="controls" style="margin-bottom:0px;">
                {{input id="fullNamed" type="text" class="input-block-level addressInput cashoutInput" value=address placeholder="address"}}
                </div>
            </div>
    </div>
        <div class="modal-footer" style="text-align:center;">
        <div class="control-group" style="text-align:center;margin-bottom:0px !important;">
            <div class="controls" style="text-align:center;">
                {{#if controller.validAddress}}
                <div class="btn-group" style="width:100%;">
                <button class="btn btn-primary" data-dismiss="modal" style="width:50%;" {{action updateAddress}}>Update Address</button>
                <button class="btn btn-primary btn-danger" data-dismiss="modal" style="width:50%;" {{action deleteAddress}}>Delete Address</button>
                </div>
                {{else}}
                <div class="btn-group" style="width:100%;">
                <button class="btn btn-primary disabled" style="width:50%;" {{action doNothing}}>Update Address</button>
                <button class="btn btn-primary btn-danger" data-dismiss="modal" style="width:50%;" {{action deleteAddress}}>Delete Address</button>
                </div>
                {{/if}}
            </div>
        </div>
        </form>
    </div>
</div>