<div class="row" style="margin-bottom:30px;">
<div class="span6">
<button class="btn btn-primary" {{action pullBackend}} style="height: 400px;width:100%;font-size:50px;">Pull Backend</button>
</div>
<div class="span6">
<button class="btn btn-primary" {{action pull}} style="height: 400px;width:100%;font-size:50px;">Pull All</button>
</div>
</div>

<div class="row">
<div class="span6">
<button class="btn btn-primary" {{action log}} style="height: 400px;width:100%;font-size:50px;">Get Log</button>
</div>
<div class="span6">
<div style="height:400px;overflow-y:auto;overflow-x:hidden;">
{{{logs}}}
</div>
</div>
</div>