<div class="row">
	<div class="span6">
		<div class="page-heading">
			<h3 class="page-title">Wallet &amp; Payments</h3>
			<span class="page-subtitle muted">Recover Wallet</span>
		</div>
	</div>
</div>

<hr/>

<div class="row">
	<div class="span6 offset3">

		<div class="alert info-alert">
			Check your email to find your wallet recovery code.
		</div>

		<div class="well">

		<form class="form-horizontal walletSelectorIndicator" {{action recoverPassword on="submit"}}>
            <div class="control-group">
                <label class="control-label" for="code">Recovery Code</label>
                <div class="controls">
                    {{input type="password" id="code" value=code name="code" placeholder="code"}}
                </div>
            </div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
				    {{input type="password" id="password" value=password name="password" placeholder="password"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password2">Password Again</label>
				<div class="controls">
				    {{input type="password" id="password2" value=password2 name="password2" placeholder="password"}}
				</div>
			</div>
			<div class="control-group">
                <div class="controls">
                    {{input type="submit" class="btn btn-primary btn-block max-block" value="Change Password"}}
                </div>
            </div>
		</form>

		</div>

	</div>
</div>
