<div class="row">
	<div class="span12" style="text-align:center;">
		<div class="page-heading" style="text-align:center;">
			<h3 class="page-title">Recover Password</h3>
			<span class="page-subtitle muted"></span>
		</div>
	</div>
</div>

<hr/>

<div class="row">
	<div class="span6 offset3">

		<div class="alert alert-info">
			Check your email for a recovery code, and enter it using this form.
		</div>

		<div class="well">

		<form class="form-horizontal" {{action changePassword on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="recoverCode">Recover Code</label>
				<div class="controls">
				    {{input type="text" id="recoverCode" value=recoverCode name="recoverCode" placeholder="recover code"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
				    {{input type="password" id="password" value=password name="password" placeholder="password"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password2">Re-enter Password</label>
				<div class="controls">
				    {{input type="password" id="password2" value=password2 name="password2" placeholder="password"}}
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary btn-block max-block" value="Change Password"}}
				</div>
			</div>
		</form>

		</div>
	</div>
</div>
