<div class="row">
<div class="span8">
<div class="page-heading">
    <h3 class="page-title">Rule Book</h3>
    <span class="page-subtitle join-date muted">2013</span>
</div>
</div>
</div>
<hr>
<div class="row">
<div class="span8">
<h4>
Signing Up and Completing Profile
</h4>
After signing up with an email and password, notices in the profile guide you to verify your account and create a wallet for payment. Filling out the profile is straightforward and necessary to allow other Peercover users to search for you and refer or invite you to groups. Connecting social media such as Facebook and LinkedIn will build your identity and credibility. Connecting Dwolla will provide you with a simple option to pay and receive claims, although you may still trust Dwolla to send you payment emails regardless.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Wallets & Payments
</h4>
After creating a wallet and stocking it with 50 XRP (~$0.50), you have access to a trust menu. You should click on gateways you trust to enable others to pay you with currencies from those gateways and allow you to stock your wallet with those currencies from trusted gateways in order to pay out claim portions. When trusted, the border around the gateway will turn green. You may manage your wallet and manually send funds. In order to pay claims, you must click on the payment buttons next to the listed invoices. You may also forgive dues in the dues section or simply view what you are owed. If a member does not pay within the seven day grace period, you will have the option next to the due to force the non-paying member out of the group.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Group Functions
</h4>
Groups can be public/private and admin/non-admin. You may only see private groups you are a member of or have been referred to. You may ask to join public groups, meaning you refer yourself and accept that referral. Any member may send a referral. If the target accepts a referral, the group may then vote on that member in the User Referred section of a group. In an admin group, an admin can send invitations. If you accept an invitation, you become a member of the group the admin sent the invite from immediately. If an admin and if a group is not vested, you may change group settings, delete the group, and promote users to admin or remove users in the administrate section of a group marked by a gear. You may create a group and customize vote thresholds (percentage of users and/or admins in group who have to vote yes for a change or approval) and the input to the portioning algorithm. Use case for the portioning algorithm input: say two group members had two different iPhones: one 16GB ($199) and one 64GB ($399). The terms allot for total loss protection and total damage protection. The most common breakage of an iPhone is a screen fracture which costs the same to repair no matter what iPhone a user covers. Therefore, we do not want the user covering the 64GB iPhone to always pay 100% higher portion on each claim than the user with the 16GB iPhone because most likely he will file claims for around the same amount unless a total loss event occurs. Thus, we would slide the portioning bar up so that the portions are more convergent for divergent covered amounts signed.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Terms & Vesting
</h4>
The group founder must create the initial terms. After terms creation you and other group members may comment on terms or propose term revisions. In a non-admin group anyone can vote on term change proposals while in an admin group only admins can vote on these proposals. Members may sign terms at any time. As more members sign the terms and declare the value of what they are covering, the portioning algorithm driven by the group setting input and the value signed adjusts portions of a claim a member will pay when the group approves a claim accordingly for each member of the group. The group may later use the signed value as a discriminatory way to approve or deny claims (maximum lifetime value). When a group approves a proposed term change, signatures reset and group members must sign again. After the creation of the terms and after you feel enough members have signed and your portion is small enough, you may vote to vest the group. If the group meets the vest threshold, users who have not signed the terms are forced out of the group. After the group vests, the terms become a legally binding contract until the end date of the group (the vest date plus the duration of group). After the end date, the group unvests and group members may decide to leave, approve new members, dissolve the group, or renew the group.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Claims
</h4>
After vesting, members may file claims. In an admin group, admins vote on claims unless the additional claim voting option is chosen prior to group vest. When a group approves a claim using the terms and signature values as guidelines, the claim is portioned and distributed as invoices to group members.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Group Founder Deal
</h4>
Email <a href="mailto:fraud@peercover.com">love@peercover.com</a> for a chance to receive a founder's invitation. A founder's invitation will allot you seven days to found groups from which you reap 3% of all claims for the lifetime of groups you found those seven days automatically. An invitation includes a founder deal code that you can enter into the bottom of your profile.
</div>
</div>
<br>