{{#if controllers.application.currentUserId}}
<div id="gatewayStockChat" style="color: #ffffff;font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;cursor: hand;cursor: pointer;" {{action openChat}}><span style="margin-left: 20px;">Trading Chat</span>
    <i class="icon-comment" style="width: 20px;height: 20px;color: #ffffff;font-size: 25px;margin-top: 2px !important;"></i>
</div>

{{#if chatOpen}}
<div class="row gatewayStockShout" style="height:0px;">
    <div class="shoutBoxContainer">
    {{#view App.MessageInfiniteScrollView}}
    <ol id="discussionScroll2" class="discussion discussionScrollGatewayStock" style="opacity:.9;padding-bottom:80px;">
        {{#view App.DragView}}
        <li class="dragger" style="height: 30px;width: 100%;background-color: #2c3e50;position: fixed;z-index: 9;margin-top: 0px;">
        <marquee scroll="right" style="color: #ffffff;width: 100%;line-height: 30px;">
        {{{tickerText}}}
        {{#if controllers.application.latestNewsSorted}}
        {{#each newsItem in controllers.application.latestNewsSorted}}
         &nbsp; &#149; &nbsp; {{{parseLink newsItem}}} &nbsp; &#149; &nbsp; {{{tickerText}}}
        {{/each}}
        {{else}}
        {{{tickerText}}}
        {{/if}}
        </marquee>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        </li>
        {{/view}}
        {{#each message in sortedMessages}}
        {{#view App.MessageView messageBinding=message}}
        {{#if view.other}}
            <li class="other" style="opacity:1;margin-left:15px;">
                {{#linkTo 'member' view.otherUser.id class="name avatar"}}<div class="profile-image img-circle smallerCirc chat tooled" data-toggle="tooltip" data-placement="right" {{bindAttr data-title=view.otherUser.username}} {{bindAttr style="view.otherUser.profileImageBackgroundStyle"}}></div>{{/linkTo}}
                <div class="messages" style="max-width:90%;">
                    <p>{{{emoji message.message}}}</p>
                    {{#each transaction in message.transactions}}
                    <p style="color:#18bc9c;">Received {{transaction.amount}} {{transaction.currency}}</p>
                    {{/each}}
                    {{#each invoice in message.invoices}}
                    {{#if invoice.paid}}
                    <p style="color:#18bc9c;">{{#linkTo 'wallet.index'}}Invoice for {{invoice.amount}} {{invoice.currencyClaimedIn}}{{/linkTo}}</p>
                    {{else}}
                    <p style="color:#B8860B !important;">{{#linkTo 'wallet.index'}}Invoice for {{invoice.amount}} {{invoice.currencyClaimedIn}}{{/linkTo}}</p>
                    {{/if}}
                    {{/each}}
                    <time {{bindAttr datetime=message.dateSent}}>{{dateLast message.dateSent}}</time>
                </div>
            </li>
        {{else}}
            <li class="self" style="opacity:1;margin-right:15px;">
                {{#linkTo 'member' view.selfUser.id class="name avatar"}}<div class="profile-image img-circle smallerCirc chat tooled" data-toggle="tooltip" data-placement="left" {{bindAttr data-title=view.selfUser.username}} {{bindAttr style="view.selfUser.profileImageBackgroundStyle"}}></div>{{/linkTo}}
                <div class="messages" style="max-width:90%;">
                    <p>{{{emoji message.message}}}</p>
                    {{#each transaction in message.transactions}}
                    <p style="color:#18bc9c;">Sent {{transaction.amount}} {{transaction.currency}}</p>
                    {{/each}}
                    {{#each invoice in message.invoices}}
                    {{#if invoice.paid}}
                    <p style="color:#18bc9c;">{{#linkTo 'wallet.index'}}Due for {{invoice.amount}} {{invoice.currencyClaimedIn}}{{/linkTo}}</p>
                    {{else}}
                    <p style="color:#B8860B !important;">{{#linkTo 'wallet.index'}}Due for {{invoice.amount}} {{invoice.currencyClaimedIn}}{{/linkTo}}</p>
                    {{/if}}
                    {{/each}}
                    <time {{bindAttr datetime=message.dateSent}}>{{dateLast message.dateSent}}</time>
                </div>
            </li>
        {{/if}}
        {{/view}}
        {{/each}}
    </ol>
    {{/view}}
    <form {{action messageSubmit on="submit"}}>
    {{input type="text" value=message class="messageStyle"}}
    {{input type="submit" class="btn btn-gateway max-depos sendStyle" value="Send"}}
    </form>
    </div>
</div>
{{/if}}
{{/if}}
<div id="simple-gateway" class="dynamicGraph" style="z-index:1;position:relative;min-height:202px !important;">
<div class="row" style="min-height:202px !important;">
	<div class="span12 gatewayHeaderFadeOut" style="height:202px;">
		<div class="page-heading" style="text-align:center;">
			<h3 class="page-title"><img style="height: 150px;margin-top:-10px;" src="https://d1geqvinw0cz14.cloudfront.net/images/Simple_Exchange_Full.svg" alt="Simple Exchange"></h3>
			<div class="page-subtitle muted">Shockingly Fast</div>
		</div>
	</div>
	<div class="span5 gatewayFadeOut1" style="text-align:center;display:none;height:100%;height:202px;">
    <table style="width: 100%;height:100%;">
      <tr style="height:100%;">
         {{#unless flipPlot}}
         <td style="text-align: center; vertical-align: middle;height:100%;">
            {{#if dollar}}
              <h4>{{currencySelectedPacket.name}} ({{currencySelectedPacket.code}})</h4><small class="changeCurrency"><a href="#" {{action currencyEnabledTurned}}>change currency</a></small>
            {{else}}
            <h4>{{currencySelectedPacket.name}} ({{currencySelectedPacket.code}})</h4><small class="changeCurrency"><a href="#" {{action currencyEnabledTurned}}>change currency, deposit, and withdraw</a></small>
            <hr style="margin-top:10px;margin-bottom:10px;">
            {{#if currencySelectedPacket.url}}
            <a {{bindAttr href=currencySelectedPacket.url}} target="_blank">
            <img {{bindAttr src=currencySelectedPacket.image}} style="max-width:125px;text-align:center;max-height:125px;" />
            </a>
            {{/if}}
            {{/if}}
         </td>
         {{else}}
         <td style="text-align: center; vertical-align: middle;height:100%;">
             {{#if otherCurrencySelectedPacket.code}}
                 <h4>{{otherCurrencySelectedPacket.name}} ({{otherCurrencySelectedPacket.code}})</h4><small class="changeCurrency"><a href="#" {{action counterCurrencyEnabledTurned}}>change currency</a></small>
                 <hr style="margin-top:10px;margin-bottom:10px;">
                 {{#if otherCurrencySelectedPacket.url}}
                 <a {{bindAttr href=otherCurrencySelectedPacket.url}} target="_blank">
                 <img {{bindAttr src=otherCurrencySelectedPacket.image}} style="max-width:125px;text-align:center;max-height:125px;" />
                 </a>
                 {{/if}}
             {{else}}
               <h4>{{otherCurrencySelectedPacket.name}}</h4><small class="changeCurrency"><a href="#" {{action counterCurrencyEnabledTurned}}>change currency</a></small>
             {{/if}}
         </td>
         {{/unless}}
      </tr>
    </table>
    </div>
    <div class="span2 gatewayFadeOut2" style="text-align:center;display:none;height:100%;height:202px;">
    <table style="width: 100%; height:100%;">
      <tr style="height:100%;">
         <td style="text-align: center; vertical-align: middle;style="height:100%;"">
              {{#if thisPrice}}
              {{#if tickerText}}
              <h6 style="margin-bottom:0px;">Price:</h6>
              <h6 style="margin-top:0px;">{{{tickerText}}}</h6>
              {{/if}}
              {{/if}}
              {{#if thisVolume}}
              <h6 style="margin-bottom:0px;">Volume:</h6>
              <h6 style="margin-top:0px;">{{{thisVolume}}}</h6>
              {{/if}}
              <button class="btn btn-small" {{action onFlipPlot}}>Flip</button>
         </td>
      </tr>
    </table>
    </div>
    <div class="span5 gatewayFadeOut3" style="text-align:center;display:none;height:100%;height:202px;">
        <table style="width: 100%;height:100%;">
            <tr style="height:100%;">
                {{#unless flipPlot}}
                <td style="text-align: center; vertical-align: middle;height:100%;">
                    {{#if otherCurrencySelectedPacket.code}}
                        <h4>{{otherCurrencySelectedPacket.name}} ({{otherCurrencySelectedPacket.code}})</h4><small class="changeCurrency"><a href="#" {{action counterCurrencyEnabledTurned}}>change currency</a></small>
                        <hr style="margin-top:10px;margin-bottom:10px;">
                        {{#if otherCurrencySelectedPacket.url}}
                        <a {{bindAttr href=otherCurrencySelectedPacket.url}} target="_blank">
                        <img {{bindAttr src=otherCurrencySelectedPacket.image}} style="max-width:125px;text-align:center;max-height:125px;" />
                        </a>
                        {{/if}}
                    {{else}}
                      <h4>{{otherCurrencySelectedPacket.name}}</h4><small class="changeCurrency"><a href="#" {{action counterCurrencyEnabledTurned}}>change currency</a></small>
                    {{/if}}
                </td>
                {{else}}
                <td style="text-align: center; vertical-align: middle;height:100%;">
                    {{#if dollar}}
                      <h4>{{currencySelectedPacket.name}} ({{currencySelectedPacket.code}})</h4><small class="changeCurrency"><a href="#" {{action currencyEnabledTurned}}>change currency</a></small>
                    {{else}}
                    <h4>{{currencySelectedPacket.name}} ({{currencySelectedPacket.code}})</h4><small class="changeCurrency"><a href="#" {{action currencyEnabledTurned}}>change currency, deposit, and withdraw</a></small>
                    <hr style="margin-top:10px;margin-bottom:10px;">
                    {{#if currencySelectedPacket.url}}
                    <a {{bindAttr href=currencySelectedPacket.url}} target="_blank">
                    <img {{bindAttr src=currencySelectedPacket.image}} style="max-width:125px;text-align:center;max-height:125px;" />
                    </a>
                    {{/if}}
                    {{/if}}
                 </td>
                {{/unless}}
            </tr>
        </table>
    </div>
</div>

<hr />

{{#if auroracoin}}
{{#view App.AuroraView}}
{{/view}}
{{/if}}

<div class="row">
	<div class="span12">
	    {{#if dollar}}
	    <button class="btn btn-gateway" {{action tradeTurned}} {{bindAttr style=tradeStyle}}>
        Trade
        </button>
	    {{else}}
        <div class="btn-group" style="margin-bottom: 20px;width:100%;">
        <button class="btn btn-gateway" {{action tradeTurned}} {{bindAttr style=tradeStyle}}>
        Trade
        </button>
        <button class="btn btn-gateway" {{action depositTurned}} {{bindAttr style=depositStyle}}>
        {{#if ether}}
        Get Forwards
        {{else}}
        Deposit
        {{/if}}
        </button>
        <button class="btn btn-gateway" {{action withdrawTurned}} {{bindAttr style=withdrawStyle}}>
        Withdraw
        </button>
        <button class="btn btn-gateway" {{action buyXRPTurned}} {{bindAttr style=buyXRPStyle}}>
        Buy XRP
        </button>
        </div>
        {{/if}}
	</div>
</div>

{{#if counterCurrencyEnabled}}
<div id="wallet-trust">
	<div class="row">
	    {{#unless currentCurrency}}
		<div class="span12" style="text-align:center;">
            <ul class="gateway-thumbnails thumbnails" style="margin-top:-40px;">
                {{#each currency in trustCurrencyOptions}}
                {{#view App.SelectCurrencyView currencyBinding=currency}}
                <li class="span3" style="text-align:center;margin-top:60px;height:180px;" {{action 'pickCurrency' target="view"}}>
                    <a href="#" class="thumbnail" style="text-decoration: none;color: #2c3e50;height:100%;">
                        <table style="width: 100%;height:100%;">
                            <tr style="height:100%;">
                                <td style="text-align: center; vertical-align: middle;height:100%;">
                                    {{#if view.currencySelectedPacket.code}}
                                        <h5>
                                        {{view.currencySelectedPacket.name}} ({{view.currencySelectedPacket.code}})
                                        </h5>
                                        {{#if view.currencySelectedPacket.image}}
                                        <hr style="margin-top:5px;margin-bottom:5px;">
                                        <img {{bindAttr src=view.currencySelectedPacket.image}} style="max-width:100px;text-align:center;max-height:100px;" />
                                        {{/if}}
                                    {{else}}
                                        <h4>{{view.currencySelectedPacket.name}}</h4>
                                    {{/if}}
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                {{/view}}
                {{/each}}
            </ul>
        </div>
        {{/unless}}
        {{#if currentCurrencyFormatted}}
        <div class="span9" style="text-align:center;">
            <legend style="text-align:center;">Select Trusted Gateway ({{currentCurrencyFormatted}})</legend>
            <hr>
            <ul class="gateway-thumbnails thumbnails">
                {{#each gateway in currentGateways}}
                {{#view App.GatewayActiveView gatewayBinding=gateway gato=true}}
                <li class="span3" style="text-align:center;margin-top:20px;" {{action setCurrency target="view"}}>
                    <a href="#" class="thumbnail" {{bindAttr style="view.trustStyle"}}>
                    </a>
                </li>
                {{/view}}
                {{/each}}
            </ul>
        </div>
        <div class="span3">
        <button id="profile-edit-back-btn" class="btn btn-block" {{action 'back'}}>Back</button>
        </span>
        {{/if}}
    </div>
</div>
{{else}}
{{#if currencyEnabled}}
<div class="row">
<div class="span12">
<ul class="gateway-thumbnails thumbnails">
    {{#each currency in controllers.application.currencyPackets}}
    {{#view App.CurrencySelectView currencyBinding=currency.code}}
    <li class="span3" {{action 'selectCurrency' target="view"}} style="text-align:center;margin-top:20px;height:180px;">
        <a href="#" class="thumbnail" {{bindAttr style="view.currencyStyle"}}>
        <h5>
        {{currency.name}} ({{currency.code}})
        </h5>
        {{#if currency.image}}
        <hr style="margin-top:5px;margin-bottom:5px;">
        <img {{bindAttr src=currency.image}} style="max-width:100px;text-align:center;max-height:100px;" />
        {{/if}}
        </a>
    </li>
    {{/view}}
    {{/each}}
</ul>
</div>
</div>
{{else}}

{{#if dogecoin}}
  <font face="Comic sans MS" id="dogeSec1" size="6" style="position: fixed;top: 50%;display:none;">much peercover</font>
  <font face="Comic sans MS" id="dogeSec2" size="8" style="position: fixed;top: 80%;right: 100px;color: #3375B4;display:none;">so smooth</font>
  <font face="Comic sans MS" id="dogeSec3" size="5" style="position: fixed;top: 40%;right: 60px;color: #16a085;display:none;">many contracts</font>
  <font face="Comic sans MS" id="dogeSec4" size="4" style="position: fixed;top: 80%;left: 100px;color: #18bc9c;display:none;">such love</font>
{{/if}}

{{#unless trade}}
{{#unless buyXRP}}
<div class="row" style="text-align:center;">
    <div class="span6 offset3">
        {{#if depositedIndicator}}
            <form class="depoWithForm successDepo">
                <h5 style="margin-bottom: 0px;margin-top: 0px;">{{depositedIndicator}} {{currencySelected}} Deposited Successfully. We must wait 3 confirmations to issue {{currencySelected}} on Ripple which could take 10 minutes to 30 minutes depending on the miner fee.</h5>
            </form>
        {{/if}}
        {{#if withdrawIndicator}}
            <form class="depoWithForm successDepo">
                <h5 style="margin-bottom: 0px;margin-top: 0px;">{{withdrawIndicator}} {{currencySelected}} Withdrawn Successfully</h5>
            </form>
        {{/if}}

        {{#if deposit}}

        {{#if validRipple}}
        {{#if trustBalance}}
        <legend style="margin-top: 10px;">Peercover {{currencySelected}} Trust</legend>
        <form class="depoWithForm rippleDepoBalance">
        <p>
        {{#if trustBalance.over}}
        Trusted
        {{else}}
        Trust given: {{trustBalance.limit}} {{currencySelected}}
        {{/if}}
        </p>
        <p>Peercover {{currencySelected}} balance: {{trustBalance.balance}} {{currencySelected}}</p>
        {{#if trustBalance.indicator}}
        <p class="depoGreen" style="margin-bottom:0px;">
        {{#if trustBalance.over}}
        Can deposit {{currencySelected}}.
        {{else}}
        Can deposit up to {{trustBalance.difference}} {{currencySelected}}.
        {{/if}}
        </p>
        {{else}}
        <p style="margin-bottom:0px;">Must trust Peercover for <span style="cursor: pointer; cursor: hand; padding: 3px 3px;" class="label label-warning" {{action trustDeposit}}>{{#if depositAmount}}{{trustBalance.trustAmount}}{{/if}} {{currencySelected}}</span>.</p>
        {{/if}}
        </form>
        {{else}}
            {{#if unfundedAccount}}
            <form class="depoWithForm rippleDepoBalance noTrustLeft">
            <p>Must fund Ripple account with minimum XRP reserve.</p>
            <p style="margin-bottom:0px;">Then, must trust Peercover for <span style="cursor: pointer; cursor: hand; padding: 3px 3px;" class="label label-warning" {{action trustDeposit}}>{{#if depositAmount}}{{depositAmount}}{{/if}} {{currencySelected}}</span>.</p>
            </form>
            {{else}}
            {{#if accountLines}}
            <form class="depoWithForm rippleDepoBalance noTrustLeft">
            <p style="margin-bottom:0px;">Must trust Peercover for <span style="cursor: pointer; cursor: hand; padding: 3px 3px;" class="label label-warning" {{action trustDeposit}}>{{#if depositAmount}}{{depositAmount}}{{/if}} {{currencySelected}}</span>.</p>
            </form>
            {{/if}}
            {{/if}}
        {{/if}}
        {{/if}}


        {{/if}}

        {{#if evergreen}}
        {{#if sendTo}}
            <form class="depoWithForm">
              <p>Send {{currencySelectedPacket.name}} to:</p>
              <a href="http://www.greenz.io/mobile.html" target="_blank"><h5 style="margin-bottom: 0px;">{{sendTo}}</h5></a>
            </form>
        {{/if}}
        {{else}}
        {{#if sendTo}}
            <form class="depoWithForm">
              <p>Send {{currencySelectedPacket.name}} to:</p>
              <h5 style="margin-bottom: 0px;">{{sendTo}}</h5>
              <img class="qrCode" {{bindAttr src=sendToQR}}>
            </form>
        {{/if}}
        {{/if}}

        {{#if destinationTag}}
            <form class="depoWithForm">
              <p>Send {{currencySelectedPacket.name}} IOUs to:</p>
              <h5 style="margin-bottom: 0px;">{{destinationTag}}</h5>
              <img class="qrCode" {{bindAttr src=destinationTagQR}}>
            </form>
        {{/if}}


        {{#unless destinationTag}}

        {{#unless sendTo}}

        {{#if deposit}}
        <legend style="margin-top: 10px;">Deposit {{currencySelectedPacket.name}}</legend>
        {{#view App.AutoGrowView}}
        <form class="depoWithForm">
            {{#if evergreen}}
                <div class="control-group" style="display:inline;margin-bottom:20px;">
                <label class="checkers" style="display:inline;margin-right:30px;">
                {{view App.RadioButtonView selectionBinding="selectedEb" value="1"}}
                Email
                </label>
                </div>
                <div class="control-group" style="margin-bottom:20px;display:inline;">
                <label class="checkers" style="display:inline;">
                {{view App.RadioButtonView selectionBinding="selectedEb" value="0"}}
                Facebook
                </label>
                </div>
                {{#if selectedEbBoo}}
                <div class="control-group" style="margin-top:20px;">
                    <label class="control-label" for="email">Your Evergreen Email</label>
                    <div class="controls">
                        {{input type="text" id="email" class="addressInput max-depo autoGrow" value=email name="your evergreen email"}}
                    </div>
                </div>
                {{else}}
                <div class="control-group" style="margin-top:20px;">
                    <div class="controls">
                        {{#if fbLogin}}
                        Send From <span style="color:#16a085;">{{fbLogined.name}}</span> Facebook Account
                        {{else}}
                        <button {{action loginToFb}} class="btn btn-gateway max-depos" style="font-size:12px;">Login to Evergreen Facebook</button>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            {{/if}}
            {{#unless controllers.application.currentUserId}}
            {{#unless evergreen}}
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    {{input type="text" id="email" value=email class="addressInput max-depo autoGrow" name="email"}}
                </div>
            </div>
            {{/unless}}
            {{/unless}}
            <div class="control-group">
                <label class="control-label" for="rippleAddress">Ripple Address</label>
                <div class="controls">
                    {{input type="text" id="rippleAddress" value=rippleAddress class="addressInput max-depo autoGrow" name="rippleAddress"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="amount">Amount (Optional)</label>
                <div class="controls">
                    {{input type="text" id="amount" class="addressInput max-depo autoGrow" value=depositAmount name="amount"}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{#if validRipple}}
                    {{#if validEmail}}
                    {{#if trustBalance}}
                    {{#if trustBalance.indicator}}
                    <button {{action depositCoin}} class="btn btn-gateway max-depos">Deposit {{currencySelectedPacket.name}}</button>
                    {{else}}
                    {{#if depositAmount}}
                    {{#if walletConnected}}
                    <button {{action trustAndDeposit}} class="btn btn-gateway max-depos">Trust & Deposit {{currencySelectedPacket.name}}</button>
                    {{else}}
                    <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Deposit {{currencySelectedPacket.name}}</button>
                    {{/if}}
                    {{else}}
                    <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Deposit {{currencySelectedPacket.name}}</button>
                    {{/if}}
                    {{/if}}
                    {{else}}
                    {{#if depositAmount}}
                    {{#if walletConnected}}
                    <button {{action trustAndDeposit}} class="btn btn-gateway max-depos">Trust & Deposit {{currencySelectedPacket.name}}</button>
                    {{else}}
                    <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Deposit {{currencySelectedPacket.name}}</button>
                    {{/if}}
                    {{else}}
                    <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Deposit {{currencySelectedPacket.name}}</button>
                    {{/if}}
                    {{/if}}
                    {{else}}
                    <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Deposit {{currencySelectedPacket.name}}</button>
                    {{/if}}
                    {{else}}
                    <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Deposit {{currencySelectedPacket.name}}</button>
                    {{/if}}
                </div>
            </div>
        </form>
        {{/view}}
        {{/if}}

        {{/unless}}
        {{/unless}}
    </div>
</div>

{{#unless destinationTag}}
{{#unless sendTo}}
{{#unless deposit}}
{{#if withdraw}}
{{#if validRipple}}
<div class="row" style="text-align:center;">
    <div class="span6">
        {{#if withdrawIndicator}}
            <form class="depoWithForm successDepo">
                <h5 style="margin-bottom: 0px;">{{withdrawIndicator}} {{currencySelected}} Withdrawn Successfully</h5>
            </form>
        {{/if}}
        <div class="btn-group" style="width:100%;">
            <button class="btn btn-gateway" {{action withdrawDirectTurned}} {{bindAttr style=withdrawDirectStyle}}>
            Direct Withdrawal
            </button>
            <button class="btn btn-gateway" {{action withdrawDirectTurned}} {{bindAttr style=withdrawIndirectStyle}}>
            Get Withdrawal Address
            </button>
        </div>
        <legend style="margin-top: 10px;">Withdraw {{currencySelectedPacket.name}}</legend>
        {{#view App.AutoGrowView}}
        <form class="depoWithForm">
            {{#unless evergreen}}
            <div class="control-group">
                <label class="control-label" for="bitcoinAddress">{{currencySelectedPacket.name}} Address</label>
                <div class="controls">
                    {{input type="text" id="bitcoinAddress" class="addressInput max-depo autoGrow" value=address name="bitcoinAddress"}}
                </div>
            </div>
            {{else}}
            <div class="control-group" style="display:inline;margin-bottom:20px;">
            <label class="checkers" style="display:inline;margin-right:30px;">
            {{view App.RadioButtonView selectionBinding="selectedEb" value="1"}}
            Email
            </label>
            </div>
            <div class="control-group" style="margin-bottom:20px;display:inline;">
            <label class="checkers" style="display:inline;">
            {{view App.RadioButtonView selectionBinding="selectedEb" value="0"}}
            Facebook
            </label>
            </div>
            {{/unless}}
            {{#if evergreen}}
                {{#if selectedEbBoo}}
                <div class="control-group" style="margin-top:20px;">
                    <label class="control-label" for="email">Your Evergreen Email</label>
                    <div class="controls">
                        {{input type="text" id="email" class="addressInput max-depo autoGrow" value=email name="your evergreen email"}}
                    </div>
                </div>
                {{else}}
                <div class="control-group" style="margin-top:20px;">
                    <div class="controls">
                        {{#if fbLogin}}
                        Withdraw to <span style="color:#16a085;">{{fbLogined.name}}</span> Facebook Account
                        {{else}}
                        <button {{action loginToFb}} class="btn btn-gateway max-depos" style="font-size:12px;">Login to Evergreen Facebook</button>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            {{/if}}
            {{#unless controllers.application.currentUserId}}
            {{#if evergreen}}
            {{#unless selectedEbBoo}}
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    {{input type="text" id="email" class="addressInput max-depo autoGrow" value=email name="email"}}
                </div>
            </div>
            {{/unless}}
            {{else}}
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    {{input type="text" id="email" class="addressInput max-depo autoGrow" value=email name="email"}}
                </div>
            </div>
            {{/if}}
            {{/unless}}

            <div class="control-group">
                {{#if withdrawDirect}}
                <label class="control-label" for="amount">Amount</label>
                {{else}}
                <label class="control-label" for="amount">Amount (Optional)</label>
                {{/if}}
                <div class="controls">
                    {{input type="text" id="amount" class="addressInput max-depo autoGrow" value=withdrawAmount name="amount"}}
                </div>
            </div>
            {{#unless withdrawDirect}}
            <div class="control-group">
                <div class="controls">
                    {{#if validCurrentAddress}}
                    {{#if validEmail}}
                    <button {{action withdrawCoin}} class="btn btn-gateway max-depos">Withdraw {{currencySelectedPacket.name}}</button>
                    {{else}}
                    <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Withdraw {{currencySelectedPacket.name}}</button>
                    {{/if}}
                    {{else}}
                    <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Withdraw {{currencySelectedPacket.name}}</button>
                    {{/if}}
                </div>
            </div>
            {{/unless}}
        </form>
        {{#if withdrawDirect}}
        <div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">
            {{#unless paths}}
            <i class="icon-spin loadered" style="display:none;background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
            <p style="margin-bottom:0px;display:none;" class="noPathsFound">No paths found.</p>
            {{/unless}}
            {{#each filter in controller.filterPath}}
            {{#view App.PathSubmitView}}

            <button class="btn btn-primary currencyButton" {{action pathPay target="view"}}>
            {{roundBalanceFour filter.amount}} {{filter.currency}}
            </button>
            {{input type="hidden" class="pathIndex" value=filter.index}}
            {{/view}}
            {{/each}}
        </div>
        {{/if}}
        {{/view}}
    </div>
    <div class="span6">
        <legend style="margin-top: 10px;">Balances</legend>
        <hr>
        {{#if xrp}}
        <h5 class="page-title">{{xrp}} XRP<br /><small>Reserve: {{xrpReserve}} XRP ({{reserveMet}})</small></h5>
        {{else}}
        <h5 class="page-title">Unfunded Account<br /><small>Add some XRP to your wallet to start trading!</h5>
        {{/if}}
        <hr>
        {{#if currencyBalance}}
        <div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important;">
            {{#each currencyBalance}}
                {{view App.Popover templateName="popover-currency"}}
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>
{{else}}
<div class="row" style="text-align:center;">
    <div class="span6 offset3">
        {{#if withdrawIndicator}}
            <form class="depoWithForm successDepo">
                <h5 style="margin-bottom: 0px;">{{withdrawIndicator}} {{currencySelected}} Withdrawn Successfully</h5>
            </form>
        {{/if}}
        {{#unless withdrawIndicator}}
        <legend style="margin-top: 10px;">Withdraw {{currencySelectedPacket.name}}</legend>
        {{#view App.AutoGrowView}}
        <form class="depoWithForm">
            {{#unless evergreen}}
                <div class="control-group">
                    <label class="control-label" for="bitcoinAddress">{{currencySelectedPacket.name}} Address</label>
                    <div class="controls">
                        {{input type="text" id="bitcoinAddress" class="addressInput max-depo autoGrow" value=address name="bitcoinAddress"}}
                    </div>
                </div>
                {{else}}
                <div class="control-group" style="display:inline;margin-bottom:20px;">
                <label class="checkers" style="display:inline;margin-right:30px;">
                {{view App.RadioButtonView selectionBinding="selectedEb" value="1"}}
                Email
                </label>
                </div>
                <div class="control-group" style="margin-bottom:20px;display:inline;">
                <label class="checkers" style="display:inline;">
                {{view App.RadioButtonView selectionBinding="selectedEb" value="0"}}
                Facebook
                </label>
                </div>
            {{/unless}}
                {{#if evergreen}}
                    {{#if selectedEbBoo}}
                    <div class="control-group" style="margin-top:20px;">
                        <label class="control-label" for="email">Your Evergreen Email</label>
                        <div class="controls">
                            {{input type="text" id="email" class="addressInput max-depo autoGrow" value=email name="your evergreen email"}}
                        </div>
                    </div>
                    {{else}}
                    <div class="control-group" style="margin-top:20px;">
                        <div class="controls">
                            {{#if fbLogin}}
                            Withdraw to <span style="color:#16a085;">{{fbLogined.name}}</span> Facebook Account
                            {{else}}
                            <button {{action loginToFb}} class="btn btn-gateway max-depos" style="font-size:12px;">Login to Evergreen Facebook</button>
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}
                {{/if}}
                {{#unless controllers.application.currentUserId}}
                {{#if evergreen}}
                {{#unless selectedEbBoo}}
                <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        {{input type="text" id="email" class="addressInput max-depo autoGrow" value=email name="email"}}
                    </div>
                </div>
                {{/unless}}
                {{else}}
                <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        {{input type="text" id="email" class="addressInput max-depo autoGrow" value=email name="email"}}
                    </div>
                </div>
                {{/if}}
            {{/unless}}
            <div class="control-group">
                <label class="control-label" for="amount">Amount (Optional)</label>
                <div class="controls">
                    {{input type="text" id="amount" class="addressInput max-depo autoGrow" value=withdrawAmount name="amount"}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{#if validCurrentAddress}}
                    {{#if validEmail}}
                    <button {{action withdrawCoin}} class="btn btn-gateway max-depos">Withdraw {{currencySelectedPacket.name}}</button>
                    {{else}}
                    <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Withdraw {{currencySelectedPacket.name}}</button>
                    {{/if}}
                    {{else}}
                    <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Withdraw {{currencySelectedPacket.name}}</button>
                    {{/if}}
                </div>
            </div>
        </form>
        {{/view}}
        {{/unless}}
    </div>
</div>
{{/if}}
{{/if}}
{{/unless}}
{{/unless}}
{{/unless}}
{{/unless}}
{{/unless}}
{{#if trade}}
<div class="row" style="text-align:center;">
    <div class="span6">
        {{#if validRipple}}
        <legend style="margin-top: 10px;">Balances</legend>
        <hr>
        {{#if xrp}}
        <h5 class="page-title">{{xrp}} XRP<br /><small>Reserve: {{xrpReserve}} XRP ({{reserveMet}})</small></h5>
        {{else}}
        <h5 class="page-title">Unfunded Account<br /><small>Add some XRP to your wallet to start trading!</h5>
        {{/if}}
        <hr>
        {{#if currencyBalance}}
        <div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important;">
            {{#each currencyBalance}}
                {{view App.Popover templateName="popover-currency"}}
            {{/each}}
        </div>
        {{/if}}
        {{else}}
        <button class="btn btn-gateway" style="height: 354px;width:100%;font-size:30px;margin-bottom:20px;" {{action loginModal}}>Connect Wallet</button>
        {{/if}}
    </div>

    <div class="span6">
        <div class="btn-group" style="width:100%;">
            <button class="btn btn-gateway" {{action buyEnabledTurned}} {{bindAttr style=buyStyle}}>
            Buy {{currencySelected}}
            </button>
            <button class="btn btn-gateway" {{action buyEnabledTurned}} {{bindAttr style=sellStyle}}>
            Sell {{currencySelected}}
            </button>
        </div>
        {{#if buyEnabled}}
        {{#view App.AutoGrowView}}
        <form class="depoWithForm">
            <div class="control-group">
                <label class="control-label" for="amountToBuy">Amount to Buy ({{currencySelected}})</label>
                <div class="controls">
                    {{input type="text" id="amountToBuy" class="addressInput max-depo autoGrow" value=amountToBuy name="amountToBuy"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="priceOfEachBuy">Price of Each {{#if otherCurrency}}({{otherCurrencyFormatted}}){{/if}}</label>
                <div class="controls">
                    {{input type="text" id="priceOfEachBuy" class="addressInput max-depo autoGrow" value=priceOfEachBuy name="priceOfEachBuy"}}
                </div>
            </div>
            {{#if orderBuyValid}}
            <div class="control-group">
                <label class="control-label" for="orderValueBuy">Order Value {{#if otherCurrency}}({{otherCurrencyFormatted}}){{/if}}</label>
                <div class="controls">
                    {{orderValueBuy}}
                </div>
            </div>
            {{#if reserveYes}}
            {{#if trustBuyValid}}
            <button {{action buyOffer}} class="btn btn-gateway max-depos">Buy</button>
            {{else}}
            <button {{action buyOffer}} class="btn btn-gateway max-depos">Buy</button>
            {{/if}}
            {{else}}
            <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Buy</button>
            {{/if}}
            {{else}}
            <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Buy</button>
            {{/if}}
        </form>
        {{/view}}
        {{else}}
        {{#view App.AutoGrowView}}
        <form class="depoWithForm">
            <div class="control-group">
                <label class="control-label" for="amountToSell">Amount to Sell ({{currencySelected}})</label>
                <div class="controls">
                    {{input type="text" id="amountToSell" class="addressInput max-depo autoGrow" value=amountToSell name="amountToSell"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="priceOfEachSell">Price of Each {{#if otherCurrency}}({{otherCurrencyFormatted}}){{/if}}</label>
                <div class="controls">
                    {{input type="text" id="priceOfEachSell" class="addressInput max-depo autoGrow" value=priceOfEachSell name="priceOfEachSell"}}
                </div>
            </div>
            {{#if orderSellValid}}
            <div class="control-group">
                <label class="control-label" for="orderValueSell">Order Value {{#if otherCurrency}}({{otherCurrencyFormatted}}){{/if}}</label>
                <div class="controls">
                    {{orderValueSell}}
                </div>
            </div>
            {{#if reserveYes}}
            {{#if trustSellValid}}
            <button {{action sellOffer}} class="btn btn-gateway max-depos">Sell</button>
            {{else}}
            <button {{action sellOffer}} class="btn btn-gateway max-depos">Sell</button>
            {{/if}}
            {{else}}
            <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Sell</button>
            {{/if}}
            {{else}}
            <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Sell</button>
            {{/if}}
        </form>
        {{/view}}
        {{/if}}
    </div>
</div>
{{/if}}
{{#unless buyXRP}}
{{#if trade}}

    {{#if controllers.application.peercoverCurrentAsksBids}}
    <div class="thin-row">
        <ul class="plot-controls float-left">
            <li class="horiz-list flip-button"><a href="javascript:void(0)" {{action onFlipPlot}}>flip</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowCandlestick}}>candlestick</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowLine}}>line</a></li>
        </ul>
        <ul class="plot-controls float-right">
            <li class="horiz-list-label">Interval</li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowYear}}>year</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowMonth}}>month</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowWeek}}>week</a></li>
        </ul>
        <ul class="plot-controls">
            <li class="horiz-list-label">Partition</li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowD}}>24 hr</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowEightH}}>8 hr</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowFourH}}>4 hr</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowTwoH}}>2 hr</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowH}}>1 hr</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowThirtyM}}>30 min</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowFifteenM}}>15 min</a></li>
        </ul>
    </div>
    <div class="row" style="margin-top:20px;">
        {{#if candlestick}}
        <div class="span12 gatewayFlot" id="candlePlot">
            <div class="btn-group" style="width:100%;">
                <button class="btn btn-gateway" {{action candlestickTurned}} {{bindAttr style=depthStyle}}>
                Market Depth
                </button>
                <button class="btn btn-gateway" {{action candlestickTurned}} {{bindAttr style=candlestickStyle}}>
                Price Plot
                </button>
            </div>

            {{#view App.DrawCandleView}}
            <div id="flotCandlestick"></div>
            {{/view}}

        </div>
        {{else}}
        <div class="span12 gatewayFlot" id="regPlot">
            <div class="btn-group" style="width:100%;">
                <button class="btn btn-gateway" {{action candlestickTurned}} {{bindAttr style=depthStyle}}>
                Market Depth
                </button>
                <button class="btn btn-gateway" {{action candlestickTurned}} {{bindAttr style=candlestickStyle}}>
                Price Plot
                </button>
            </div>
            {{#if flotHere}}
            {{#view App.DrawPlotView}}
            <div id="yaxisLabel"></div>
            <div id="flotPlaceholder"></div>
            {{/view}}
            {{/if}}

        </div>
        {{/if}}
    </div>
    <div class="row">
        <div class="span4">
            <h2 style="text-align:right">Bid</h2>
            <div style="font-size:10px !important;max-height:400px;overflow:auto;">
            <table class="table default" style="font-size:10px !important;max-height:400px;overflow:auto;">
                <tbody><tr>
                    <th>{{otherCurrencyFormatted}}</th>
                    <th style="text-align: left;">Amount ({{currencySelected}})</th>
                    <th style="text-align: right;">Price ({{otherCurrencyFormatted}}/{{currencySelected}})</th>
                </tr>

                {{#each bid in peercoverCurrentAsks}}
                <tr>
                    <td>{{bid.xrp}}</td>
                    <td style="text-align: left;">{{bid.amount}}</td>
                    <td style="text-align: right;">{{bid.price}}</td>
                </tr>
                {{/each}}

            </tbody></table>
            </div>
        </div>
        <div class="span4">
            <h2>Ask</h2>
            <div style="font-size:10px !important;max-height:400px;overflow:auto;">
            <table class="table default" style="font-size:10px !important;max-height:400px;overflow:auto;">
                <tbody><tr>
                    <th>Price ({{otherCurrencyFormatted}}/{{currencySelected}})</th>
                    <th style="text-align: right;">Amount ({{currencySelected}})</th>
                    <th style="text-align: right;">{{otherCurrencyFormatted}}</th>
                </tr>

                {{#each ask in peercoverCurrentBids}}
                <tr>
                    <td>{{ask.price}}</td>
                    <td style="text-align: right;">{{ask.amount}}</td>
                    <td style="text-align: right;">{{ask.xrp}}</td>
                </tr>
                {{/each}}

                </tbody>
            </table>
            </div>
        </div>
        <div class="span4">
            <h2 style="text-align:center;">My Offers</h2>
            <div style="font-size:10px !important;max-height:400px;overflow:auto;">
            <table class="table default" style="font-size:10px !important;max-height:400px;overflow:auto;">
                <tbody><tr>
                    <th>Type</th>
                    <th>Pair</th>
                    <th>Price of Each</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>

                {{#each offer in peercoverCurrentMine}}
                <tr>
                    <td>{{{offer.type}}}</td>
                    <td>{{{offer.pair}}}</td>
                    <td>{{{offer.price}}}</td>
                    <td>{{{offer.amount}}}</td>
                    <td>
                    {{#view App.MyOffersView}}
                    <button class="btn btn-danger btn-mini" {{action cancelOffer target="view"}}>Cancel</button>
                    <input type="hidden" class="offerSeq" {{bindAttr value=offer.sequence}}>
                    {{/view}}
                    </td>
                </tr>
                {{/each}}

            </tbody></table>
            </div>
        </div>
    </div>
    {{else}}

    {{/if}}

{{/if}}
{{/unless}}

{{#if buyXRP}}

<div class="row" style="text-align:center;">
    <div class="span6">
        <legend style="margin-top: 10px;">Buy XRP with Bitcoin</legend>
        {{#view App.AutoGrowView}}
        <form class="depoWithForm form-horizontal">
            {{#if reservesFormatted}}
            {{#if lowReserves}}
            <div class="control-group">
            <i class="icon-exclamation-sign"></i> Low supply of XRP reserves. Come back later to purchase XRP.
            </div>
            {{/if}}
            {{/if}}
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Reserves Left</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{#if reservesFormatted}}
                {{reservesFormatted}} XRP
                {{else}}
                <i class="icon-spin loadered" style="background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
                {{/if}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="amountXRP">Amount of XRP</label>
                <div class="controls">
                {{input id="amountXRP" type="text" class="addressInput max-depo autoGrow" value=controller.amountXRP placeholder="Amount of XRP to buy"}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="rippleAddress">Ripple Address</label>
                <div class="controls">
                    {{input type="text" id="rippleAddress" class="addressInput max-depo autoGrow" value=rippleAddress name="controller.rippleAddress"}}
                </div>
            </div>
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Conversion rate<br>XRP/USD</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{#if conversionFormatted}}
                {{{conversionFormatted}}}
                {{else}}
                <i class="icon-spin loadered" style="background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
                {{/if}}
                </div>
            </div>
            {{#if priceFeeFormatted}}
            {{#if amountXRP}}
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Fee</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{{priceFeeFormatted}}}
                </div>
            </div>
            {{/if}}
            {{/if}}
            {{#if priceXRPFormatted}}
            {{#if amountXRP}}
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Price</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{{priceXRPFormatted}}}
                </div>
            </div>
            {{/if}}
            {{/if}}
            {{#if controller.amountXRP}}
            {{#if validBuyButton}}
            {{#if cbActive}}
            <div class="control-group" style="margin-bottom:0px;">
                <div class="controls" style="margin-bottom:0px;">
                    {{#view App.CoinbaseView}}
                    {{{controller.dataCode}}}
                    {{/view}}
                </div>
            </div>
            {{else}}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-gateway max-depos" style="max-width: 95%;" {{action initCb}}>Get Quote</button>
                </div>
            </div>
            {{/if}}
            {{else}}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-gateway max-depos disabled" style="max-width: 95%;" {{action doNothing}}>Get Quote</button>
                </div>
            </div>
            {{/if}}
            {{/if}}
        </form>
        {{/view}}
    </div>
    <div class="span6">
        {{#if validRipple}}
        <legend style="margin-top: 10px;">Balances</legend>
        <hr>
        {{#if xrp}}
        <h5 class="page-title">{{xrp}} XRP<br /><small>Reserve: {{xrpReserve}} XRP ({{reserveMet}})</small></h5>
        {{else}}
        <h5 class="page-title">Unfunded Account<br /><small>Add some XRP to your wallet to start trading!</h5>
        {{/if}}
        <hr>
        {{#if currencyBalance}}
        <div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important;">
            {{#each currencyBalance}}
                {{view App.Popover templateName="popover-currency"}}
            {{/each}}
        </div>
        {{/if}}
        {{else}}
        <h5 style="margin-top: 180px;">
            Connect your wallet to see balances and trade currencies.
        </h5>
        {{/if}}
    </div>
</div>

{{/if}}
{{#if chatOpen}}
<div style="margin-bottom:280px;">
</div>
{{/if}}
</div>

<div id="signInModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header" style="background-color:#2c3e50;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 class="modalHeader" style="text-align:center;">Connect Wallet</h5>
    </div>
    <div class="modal-body" style="text-align:center;">
        {{#if controllers.application.currentUserId}}
        <div class="btn-group" style="width:100%;">
            <button class="btn btn-gateway" {{action signInTurned}} {{bindAttr style=signInStyle}}>
            Sign In Wallet
            </button>
            <button class="btn btn-gateway" {{action signInTurned}} {{bindAttr style=connectStyle}}>
            Connect Wallet
            </button>
        </div>
        {{/if}}
        {{#if signInIndicator}}
            {{#if controllers.application.currentUserId}}
            <div class="well currencyHolder" style="margin-bottom: 0px;padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">
                <form class="form-horizontal walletSignIn" style="margin-bottom:0px;" {{action login on="submit"}}>
                    <div class="control-group">
                        <label class="control-label" for="walletName" style="text-align:center;">Wallet Name</label>
                        <div class="controls">
                            {{input type="text" id="walletName" value=walletName name="walletName" placeholder="wallet name"}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password" style="text-align:center;">Password</label>
                        <div class="controls">
                            {{input type="password" id="password" value=password name="password" placeholder="password"}}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            {{input type="submit" class="btn btn-gateway loginOverride" value="Login"}}
                        </div>
                    </div>
                </form>
            </div>
            {{else}}
            <div class="alert alert-info" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
                Your secret key will never leave your browser. The secret key is used in the browser to sign transactions and that is all.
            </div>
            <form class="depoWithForm" style="margin-bottom:0px;">
                <div class="control-group">
                    <label class="control-label" for="rippleAddress">Ripple Address</label>
                    <div class="controls">
                        {{input type="text" id="rippleAddress" class="addressInput max-depo autoGrow" value=rippleAddress name="rippleAddress"}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="secretKey">Secret Key</label>
                    <div class="controls">
                        {{input type="password" id="secretKey" class="addressInput max-depo autoGrow" value=secretKey name="secretKey"}}
                    </div>
                </div>
            </form>
            {{/if}}
        {{else}}
        {{#view App.AutoGrowView}}
            <div class="alert alert-info" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
                Your secret key will never leave your browser. The secret key is used in the browser to sign transactions and that is all.
            </div>
            <form class="depoWithForm" style="margin-bottom:0px;">
                <div class="control-group">
                    <label class="control-label" for="rippleAddress">Ripple Address</label>
                    <div class="controls">
                        {{input type="text" id="rippleAddress" class="addressInput max-depo autoGrow" value=rippleAddress name="rippleAddress"}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="secretKey">Secret Key</label>
                    <div class="controls">
                        {{input type="password" id="secretKey" class="addressInput max-depo autoGrow" value=secretKey name="secretKey"}}
                    </div>
                </div>
            </form>
        {{/view}}
        {{/if}}
        {{#unless controllers.application.currentUserId}}
        <p style="margin-bottom: 0px !important;margin-top:10px;" data-dismiss="modal">{{#linkTo login}}Sign In{{/linkTo}} or {{#linkTo register}}Register{{/linkTo}} with Peercover to use Peercover wallet.</p>
        {{/unless}}
    </div>
</div>
{{/if}}
{{/if}}