{{#if controllers.application.currentUserId}}
<div id="gatewayStockChat" style="color: #ffffff;font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;cursor: hand;cursor: pointer;"  {{action openChat}}><span style="margin-left: 20px;">Trading Chat</span>
    <i class="icon-comment" style="width: 20px;height: 20px;color: #ffffff;font-size: 25px;margin-top: 2px !important;"></i>
</div>

{{#if chatOpen}}
<div class="row gatewayStockShout" style="height:0px;">
    <div class="shoutBoxContainer">
    {{#view App.MessageInfiniteScrollView}}
    <ol id="discussionScroll2" class="discussion discussionScrollGatewayStock" style="opacity:.9;padding-bottom:80px;">
        {{#view App.DragView}}
        <li class="dragger" style="height: 30px;width: 100%;background-color: #2c3e50;position: fixed;z-index: 9;margin-top: 0px;">
        <marquee scroll="right" style="color: #ffffff;width: 100%;line-height: 30px;">
        {{{tickerText}}}
        {{#if controllers.application.latestNewsSorted}}
        {{#each newsItem in controllers.application.latestNewsSorted}}
         &nbsp; &#149; &nbsp; {{{parseLink newsItem}}} &nbsp; &#149; &nbsp; {{{tickerText}}}
        {{/each}}
        {{else}}
        {{{tickerText}}}
        {{/if}}
        </marquee>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
        </li>
        {{/view}}
        {{#each message in sortedMessages}}
        {{#view App.MessageView messageBinding=message}}
        {{#if view.other}}
            <li class="other" style="opacity:1;margin-left:15px;">
                {{#linkTo 'member' view.otherUser.id class="name avatar"}}<div class="profile-image img-circle smallerCirc" {{bindAttr style="view.otherUser.profileImageBackgroundStyle"}}></div>{{/linkTo}}
                <div class="messages" style="max-width:90%;">
                    <p>{{{emoji message.message}}}</p>
                    {{#each transaction in message.transactions}}
                    <p style="color:#18bc9c;">Received {{transaction.amount}} {{transaction.currency}}</p>
                    {{/each}}
                    {{#each invoice in message.invoices}}
                    {{#if invoice.paid}}
                    <p style="color:#18bc9c;">{{#linkTo 'wallet.index'}}Invoice for {{invoice.amount}} {{invoice.currencyClaimedIn}}{{/linkTo}}</p>
                    {{else}}
                    <p style="color:#B8860B !important;">{{#linkTo 'wallet.index'}}Invoice for {{invoice.amount}} {{invoice.currencyClaimedIn}}{{/linkTo}}</p>
                    {{/if}}
                    {{/each}}
                    <time {{bindAttr datetime=message.dateSent}}>{{dateLast message.dateSent}}</time>
                </div>
            </li>
        {{else}}
            <li class="self" style="opacity:1;margin-right:15px;">
                {{#linkTo 'member' view.selfUser.id class="name avatar"}}<div class="profile-image img-circle smallerCirc" {{bindAttr style="view.selfUser.profileImageBackgroundStyle"}}></div>{{/linkTo}}
                <div class="messages" style="max-width:90%;">
                    <p>{{{emoji message.message}}}</p>
                    {{#each transaction in message.transactions}}
                    <p style="color:#18bc9c;">Sent {{transaction.amount}} {{transaction.currency}}</p>
                    {{/each}}
                    {{#each invoice in message.invoices}}
                    {{#if invoice.paid}}
                    <p style="color:#18bc9c;">{{#linkTo 'wallet.index'}}Due for {{invoice.amount}} {{invoice.currencyClaimedIn}}{{/linkTo}}</p>
                    {{else}}
                    <p style="color:#B8860B !important;">{{#linkTo 'wallet.index'}}Due for {{invoice.amount}} {{invoice.currencyClaimedIn}}{{/linkTo}}</p>
                    {{/if}}
                    {{/each}}
                    <time {{bindAttr datetime=message.dateSent}}>{{dateLast message.dateSent}}</time>
                </div>
            </li>
        {{/if}}
        {{/view}}
        {{/each}}
    </ol>
    {{/view}}
    <form {{action messageSubmit on="submit"}}>
    {{input type="text" value=message class="messageStyle"}}
    {{input type="submit" class="btn btn-gateway max-depos sendStyle" value="Send"}}
    </form>
    </div>
</div>
{{/if}}
{{/if}}
<div id="simple-gateway">
<div class="row">
	<div class="span12">
		<div class="page-heading" style="text-align:center;">
			<h3 class="page-title"><img style="height: 150px;margin-top:-10px;" src="https://d1geqvinw0cz14.cloudfront.net/images/Simple_Stocks_Full.svg" alt="Simple Stocks"></h3>
			<div class="page-subtitle muted">Invest in your favorite funds.</div>
		</div>
	</div>
</div>

<hr />

{{#unless currentTicker}}
<div class="row">
	<div class="span6">
		<div class="page-heading">
			<h3 class="page-title" style="height: 40px;">Companies</h3>
		</div>
	</div>
	<div class="span6">
	</div>
</div>

{{#view App.CompaniesListView}}
<div class="row">
    <div class="span8">
    <h5>Find Company</h5>
    <form class="form-horizontal form-professional">
        <div class="control-group">
            <label class="control-label" for="referUser">Company</label>
            <div class="controls">
            {{input type="text" class="input-block-level referInvite" id="referUser" name="referUser" value=controller.companyToRefer placeholder="company name or ticker"}}
            </div>
        </div>
    </form>
    </div>
</div>
{{/view}}

<hr/>

<div class="row">
	<div class="span12">
	    <ul class="gateway-thumbnails thumbnails">
        {{#each company in controller.sOLRresults}}
            {{#view App.ChooseTickerView companyBinding=company}}
            <li class="span12">
                <a href="#" class="thumbnail" style="text-decoration: none;color: #2c3e50;margin-bottom:20px;" {{action chooseTicker target="view"}}>
                    <div class="profile-image img-circle companyHeadStyle" {{bindAttr style="company.companyBackgroundStyle"}}>
                    </div>
                    <h3 class="page-title">{{ company.name }} {{#if company.ticker}}({{company.ticker}}){{/if}}</h3>
                </a>
            </li>
            {{/view}}
        {{/each}}
        </ul>
	</div>
</div>
<div class="row" style="text-align:center;">
<div id="pagination"></div>
</div>
<div class="row loadered">
<div class="span12" style="text-align:center;">
<i class="icon-spin" style="background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
</div>
</div>
{{/unless}}

{{#if currentTicker}}
<div class="row" style="text-align:center;">
    <div class="span6">
        <div class="page-heading noDecoA" style="min-width: inherit !important;">
        {{#linkTo 'group' currentCompany.id}}
        <div class="profile-image img-circle companyHeadStyle" {{bindAttr style="currentCompany.companyBackgroundStyle"}}></div>
        <h3 class="page-title" style="padding-top: 15px;line-height: 40px;">{{ currentCompany.name }} {{#if currentCompany.ticker}}({{currentCompany.ticker}}){{/if}}</h3>
        {{/linkTo}}
        </div>
    </div>
    <div class="span6">
    <button class="btn btn-gateway" style="height: 200px;width:100%;font-size:30px;" {{action selectDifferent}}>Select Different Company</button>
    </div>
</div>
<hr />
<div class="row" style="text-align:center;">
    <div class="span6">
        {{#if validRipple}}
        <legend style="margin-top: 10px;">Balances</legend>
        <hr>
        {{#if xrp}}
        <h5 class="page-title">{{xrp}} XRP<br /><small>Reserve: {{xrpReserve}} XRP ({{reserveMet}})</small></h5>
        {{else}}
        <h5 class="page-title">Unfunded Account<br /><small>Add some XRP to your wallet to start trading!</h5>
        {{/if}}
        <hr>
        {{#if currencyBalance}}
        <div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important;">
            {{#each currencyBalance}}
                {{view App.Popover templateName="popover-currency"}}
            {{/each}}
        </div>
        {{/if}}
        {{else}}
        <button class="btn btn-gateway" style="height: 215px;width:100%;font-size:30px;" {{action loginModal}}>Connect Wallet</button>
        {{/if}}
    </div>

    <div class="span6">
        <legend style="margin-top: 10px;">Select Other Currency to Trade</legend>
        <form class="depoWithForm">
        {{#unless isXRP}}
        <div class="controls selectOverTwo">
            <label class="control-label">Issuer</label>
            {{view Ember.Select
                   contentBinding="controller.controllers.application.issuerOptions"
                   valueBinding="controller.otherCurrencyIssuer"
            }}
        </div>
        {{/unless}}
        <div class="controls selectOverTwo">
            <label class="control-label">Currency</label>
            {{view Ember.Select
                   contentBinding="controller.controllers.application.currencyOptions"
                   valueBinding="controller.otherCurrency"
            }}
        </div>
        </form>
    </div>
</div>

{{#if validRipple}}
<div class="row" style="text-align:center;">
    <div class="span6">
    <legend style="margin-top: 10px;">Buy {{currentTicker}}</legend>
    {{#view App.AutoGrowView}}
    <form class="depoWithForm">
        <div class="control-group">
            <label class="control-label" for="amountToBuy">Amount to Buy ({{currentTicker}})</label>
            <div class="controls">
                {{input type="text" id="amountToBuy" class="addressInput max-depo autoGrow" value=amountToBuy name="amountToBuy"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="priceOfEachBuy">Price of Each {{#if otherCurrency}}({{otherCurrencyFormatted}}){{/if}}</label>
            <div class="controls">
                {{input type="text" id="priceOfEachBuy" class="addressInput max-depo autoGrow" value=priceOfEachBuy name="priceOfEachBuy"}}
            </div>
        </div>
        {{#if orderBuyValid}}
        <div class="control-group">
            <label class="control-label" for="orderValueBuy">Order Value {{#if otherCurrency}}({{otherCurrencyFormatted}}){{/if}}</label>
            <div class="controls">
                {{orderValueBuy}}
            </div>
        </div>
        {{#if reserveYes}}
        <button {{action buyOffer}} class="btn btn-gateway max-depos">Buy</button>
        {{else}}
        <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Buy</button>
        {{/if}}
        {{else}}
        <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Buy</button>
        {{/if}}
    </form>
    {{/view}}
    </div>
    <div class="span6">
    <legend style="margin-top: 10px;">Sell {{currentTicker}}</legend>
    {{#view App.AutoGrowView}}
    <form class="depoWithForm">
        <div class="control-group">
            <label class="control-label" for="amountToSell">Amount to Sell ({{currentTicker}})</label>
            <div class="controls">
                {{input type="text" id="amountToSell" class="addressInput max-depo autoGrow" value=amountToSell name="amountToSell"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="priceOfEachSell">Price of Each {{#if otherCurrency}}({{otherCurrencyFormatted}}){{/if}}</label>
            <div class="controls">
                {{input type="text" id="priceOfEachSell" class="addressInput max-depo autoGrow" value=priceOfEachSell name="priceOfEachSell"}}
            </div>
        </div>
        {{#if orderSellValid}}
        <div class="control-group">
            <label class="control-label" for="orderValueSell">Order Value {{#if otherCurrency}}({{otherCurrencyFormatted}}){{/if}}</label>
            <div class="controls">
                {{orderValueSell}}
            </div>
        </div>
        {{#if reserveYes}}
        <button {{action sellOffer}} class="btn btn-gateway max-depos">Sell</button>
        {{else}}
        <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Sell</button>
        {{/if}}
        {{else}}
        <button {{action doNothing}} class="btn btn-gateway max-depos disabled">Sell</button>
        {{/if}}
    </form>
    {{/view}}
    </div>
</div>
{{/if}}

    <div class="row">
    <div class="span12">
        <hr>
        <h2 style="text-align: center;margin-left: 20px;">{{currentTicker}}</h2>
        <hr>
        <div class="btn-group" style="margin-bottom: 20px;width:100%;">
            <button class="btn btn-gateway" {{action onCurrentAsksBids}} {{bindAttr style=currentAsksBidsStyle}}>
            {{otherCurrencyFormatted}}/{{currentTicker}} Offer Book
            </button>
            <button class="btn btn-gateway" {{action onMyAsksBids}} {{bindAttr style=onMyAsksBidsStyle}}>
            My Offers
            </button>
        </div>
    </div>
    </div>
    {{#if controllers.application.peercoverCurrentAsksBids}}
    <div class="thin-row">
        <ul class="plot-controls float-left">
            <li class="horiz-list flip-button"><a href="javascript:void(0)" {{action onFlipPlot}}>flip</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowCandlestick}}>candlestick</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowLine}}>line</a></li>
        </ul>
        <ul class="plot-controls float-right">
            <li class="horiz-list-label">Interval</li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowYear}}>year</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowMonth}}>month</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowWeek}}>week</a></li>
        </ul>
        <ul class="plot-controls">
            <li class="horiz-list-label">Partition</li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowD}}>24 hr</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowEightH}}>8 hr</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowFourH}}>4 hr</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowTwoH}}>2 hr</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowH}}>1 hr</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowThirtyM}}>30 min</a></li>
            <li class="horiz-list"><a href="javascript:void(0)" {{action onShowFifteenM}}>15 min</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="span12" id="candlePlot">
            {{#view App.DrawCandleView}}
            <div id="flotCandlestick"></div>
            {{/view}}
        </div>
    </div>
    <div class="row" id="regPlot">
        <div class="span12">
            {{#if flotHere}}
            {{#view App.DrawPlotView}}
            <div id="flotPlaceholder"></div>
            {{/view}}
            {{/if}}
        </div>
    </div>
    {{/if}}
    {{#if currentAsksBids}}
    <div class="row">
        <div class="span6">
            <h2 style="text-align:right">Bid</h2>
            <table class="table default">
                <tbody><tr>
                    <th>{{otherCurrencyFormatted}}</th>
                    <th style="text-align: left;">Amount ({{currentTicker}})</th>
                    <th style="text-align: right;">Price ({{otherCurrencyFormatted}}/{{currentTicker}})</th>
                </tr>
                {{#each bid in peercoverCurrentAsks}}
                <tr>
                    <td>{{bid.xrp}}</td>
                    <td style="text-align: left;">{{bid.amount}}</td>
                    <td style="text-align: right;">{{bid.price}}</td>
                </tr>
                {{/each}}
            </tbody></table>
        </div>
        <div class="span6">
            <h2>Ask</h2>
            <table class="table default">
                <tbody><tr>
                    <th>Price ({{otherCurrencyFormatted}}/{{currentTicker}})</th>
                    <th style="text-align: right;">Amount ({{currentTicker}})</th>
                    <th style="text-align: right;">{{otherCurrencyFormatted}}</th>
                </tr>
                {{#each ask in peercoverCurrentBids}}
                <tr>
                    <td>{{ask.price}}</td>
                    <td style="text-align: right;">{{ask.amount}}</td>
                    <td style="text-align: right;">{{ask.xrp}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{else}}
    <div class="row">
        <div class="span12">
            <table class="table default">
                <tbody><tr>
                    <th>Type</th>
                    <th>Pair</th>
                    <th>Price of Each</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
                {{#each offer in peercoverCurrentMine}}
                <tr>
                    <td>{{{offer.type}}}</td>
                    <td>{{{offer.pair}}}</td>
                    <td>{{{offer.price}}}</td>
                    <td>{{{offer.amount}}}</td>
                    <td>
                    {{#view App.MyOffersView}}
                    <button class="btn btn-danger btn-mini" {{action cancelOffer target="view"}}>Cancel</button>
                    <input type="hidden" class="offerSeq" {{bindAttr value=offer.sequence}}>
                    {{/view}}
                    </td>
                </tr>
                {{/each}}
            </tbody></table>
        </div>
    </div>
    {{/if}}

{{/if}}
{{#if chatOpen}}
<div style="margin-bottom:280px;">
</div>
{{/if}}
</div>

<div id="signInModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header" style="background-color:#2c3e50;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 class="modalHeader" style="text-align:center;">Connect Wallet</h5>
    </div>
    <div class="modal-body" style="text-align:center;">
        {{#if controllers.application.currentUserId}}
        <div class="btn-group" style="width:100%;">
            <button class="btn btn-gateway" {{action signInTurned}} {{bindAttr style=signInStyle}}>
            Sign In Wallet
            </button>
            <button class="btn btn-gateway" {{action signInTurned}} {{bindAttr style=connectStyle}}>
            Connect Wallet
            </button>
        </div>
        {{/if}}
        {{#if signInIndicator}}
            {{#if controllers.application.currentUserId}}
            <div class="well currencyHolder" style="margin-bottom: 0px;padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">
                <form class="form-horizontal walletSignIn" style="margin-bottom:0px;" {{action login on="submit"}}>
                    <div class="control-group">
                        <label class="control-label" for="walletName" style="text-align:center;">Wallet Name</label>
                        <div class="controls">
                            {{input type="text" id="walletName" value=walletName name="walletName" placeholder="wallet name"}}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password" style="text-align:center;">Password</label>
                        <div class="controls">
                            {{input type="password" id="password" value=password name="password" placeholder="password"}}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            {{input type="submit" class="btn btn-gateway loginOverride" value="Login"}}
                        </div>
                    </div>
                </form>
            </div>
            {{else}}
            <div class="alert alert-info" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
                Your secret key will never leave your browser. The secret key is used in the browser to sign transactions and that is all.
            </div>
            <form class="depoWithForm" style="margin-bottom:0px;">
                <div class="control-group">
                    <label class="control-label" for="rippleAddress">Ripple Address</label>
                    <div class="controls">
                        {{input type="text" id="rippleAddress" class="addressInput max-depo autoGrow" value=rippleAddress name="rippleAddress"}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="secretKey">Secret Key</label>
                    <div class="controls">
                        {{input type="password" id="secretKey" class="addressInput max-depo autoGrow" value=secretKey name="secretKey"}}
                    </div>
                </div>
            </form>
            {{/if}}
        {{else}}
        {{#view App.AutoGrowView}}
            <div class="alert alert-info" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
                Your secret key will never leave your browser. The secret key is used in the browser to sign transactions and that is all.
            </div>
            <form class="depoWithForm" style="margin-bottom:0px;">
                <div class="control-group">
                    <label class="control-label" for="rippleAddress">Ripple Address</label>
                    <div class="controls">
                        {{input type="text" id="rippleAddress" class="addressInput max-depo autoGrow" value=rippleAddress name="rippleAddress"}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="secretKey">Secret Key</label>
                    <div class="controls">
                        {{input type="password" id="secretKey" class="addressInput max-depo autoGrow" value=secretKey name="secretKey"}}
                    </div>
                </div>
            </form>
        {{/view}}
        {{/if}}
        {{#unless controllers.application.currentUserId}}
        <p style="margin-bottom: 0px !important;margin-top:10px;" data-dismiss="modal">{{#linkTo login}}Sign In{{/linkTo}} or {{#linkTo register}}Register{{/linkTo}} with Peercover to use Peercover wallet.</p>
        {{/unless}}
    </div>
</div>
