<div id="slidePortionEdit" class="span2" style="margin-left:0px;">
</div>
<br>
<h4 style="margin-top:40px;">Ex. 600 Member Group</h4>
<table class="table table-striped">
<thead>
    <tr>
        <th>Number Covered</th>
        <th>Value Covered</th>
        <th>Claim Portion Obligations Per Member</th>
    </tr>
    <tbody>
    <tr>
        <td>{{numberEach}}</td>
        <td>$50</td>
        <td>{{firstValue}}</td>
    </tr>
    <tr>
        <td>{{numberEach}}</td>
        <td>$100</td>
        <td>{{secondValue}}</td>
    </tr>
    <tr>
        <td>{{numberEach}}</td>
        <td>$200</td>
        <td>{{thirdValue}}</td>
    </tr>
  </tbody>
</thead>
</table>