{{#if controllers.group.terms.contract}}
{{#view App.EpicEditorView epicType="propose"}}
<div class="row">
	<div class="span8">
		<form class="form-horizontal form-professional">
            <div class="page-heading">
                {{#if controllers.group.signed}}
                {{else}}
                <a href="#signModal" role="button" style="float: right;" data-toggle="modal" class="btn btn-success">Sign</a>
                {{/if}}
                <h3 class="page-title">
                {{title}}
                </h3>
                <span class="page-subtitle join-date muted">Contract</span>
                <hr>
            </div>
            <div class="navbar">
                <div class="navbar-inner templateSelector">
                    <div class="container">

                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapsable">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                        {{#view App.Popover parentSelector=".version" contentSelector=".versionContent"}}
                        <div class="versionContent" style="display:none;">
                        <table class="table table-condensed table-hover handerTable">
                        <thead>
                        <tr>
                        <td>
                        Name
                        </td>
                        <td>
                        Date Created
                        </td>
                        <td>
                        Date Modified
                        </td>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each version}}
                        {{#view App.TermsTemplatesView}}
                        {{input type="hidden" class="templateVersion" value=this.id}}
                        <tr {{action switchVersion target="view"}}>
                        <td>
                        {{#if this.templateName}}
                        {{this.templateName}}
                        {{else}}
                        {{this.name}}
                        {{/if}}
                        </td>
                        <td>
                        {{displayDate this.created}}
                        </td>
                        <td>
                        {{displayDate this.modified}}
                        </td>
                        </tr>
                        {{/view}}
                        {{/each}}
                        </tbody>
                        </table>
                        </div>
                        <a class="brand version" href="#" onclick="return false;" data-original-title="Term Versions">terms</a>
                        {{/view}}

                        <div class="nav-collapse collapse collapsable">
                        <ul class="nav">
                            <li>{{#view App.TermsTemplatesView}}<a class="templateLabel" href="#" {{action switchTemplate target="view"}}>Current</a><input type="hidden" class="templateInput" value="Terms">{{/view}}</li>
                            {{#each template in controller.model}}
                            <li>{{#view App.TermsTemplatesView}}<a class="templateLabel" href="#" {{action switchTemplate target="view"}}>{{template.name}}</a>{{input type="hidden" class="templateInput" value=template.id}}{{/view}}</li>
                            {{/each}}
                            <li>{{#view App.TermsTemplatesView}}<a class="templateLabel" href="#" {{action switchTemplate target="view"}}>Custom</a><input type="hidden" class="templateInput" value="Custom">{{/view}}</li>
                        </ul>
                        </div>

                    </div>
                </div>
            </div>
			<div class="control-group">
				<div id="epiceditor" style="height: 500px;"></div>
				<button class="btn btn-success btn-block" style="margin-top: 20px;" {{action 'proposeTerms'}}>Propose Changes</button>
			</div>
		</form>
	</div>
	<div class="span4 comments">
    <div class="control-group">
        <label class="control-label" for="commented">Comment</label>
        <div class="controls">
        {{textarea id="commented" type="text" style="max-width: 100%;" class="input-block-level" value=commented placeholder="Enter comment here."}}
        <hr>
        <button class="btn btn-success btn-block" style="margin-top: 20px;" {{action 'comment'}}>Comment</button>
        </div>
    </div>
    {{#if comments}}
    <div class="control-group" style="max-height: 562px;overflow: hidden;overflow-y: scroll;">
        <table class="table members-table table-condensed table-hover">
            <thead>
                <td>Name</td>
                <td>Date</td>
                <td>Comment</td>
            </thead>
            <tbody>
                {{#each comments}}
                <tr>
                    <td style="text-align:center !important;">
                    <div class="profile-image img-circle commentImage" {{bindAttr style="this.user.profileImageBackgroundStyle"}}></div>
                        {{#linkTo 'member' this.user class="name commentLink"}} {{ this.user.fullName }} {{/linkTo}}
                    </td>
                    <td>
                        {{ displayDate this.creationDate }}
                    </td>
                    <td>
                        {{this.comment}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
	</div>
    {{#if termProposal}}
	<div class="row span8 changeProposals">
        <div class="page-heading">
            <h3>Term Change Proposals</h3>
            <hr>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <td>Proposed By</td>
                    <td>Proposed Date</td>
                    <td>Percentage Vote</td>
                    {{#if controllers.group.userIsAdmin}}
                    <td>Vote</td>
                    {{else}}
                    {{#if controllers.group.isAdmin}}
                    {{else}}
                    <td>Vote</td>
                    {{/if}}
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{#if controllers.group.isAdmin}}
                {{#if controllers.group.userIsAdmin}}
                {{#each termProposal}}
                    {{#if this.voteEnd}}
                    {{else}}
                    <tr>
                        <td>
                        {{#view App.TermsProposeView}}
                        <button class="btn btn-success" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;" {{action preview target="view"}}>Show</button>
                        {{input type="hidden" class="termId" value=this._id}}
                        {{/view}}
                        </td>
                        <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                        <td>{{ displayDate this.creationDate }}</td>
                        {{#if controllers.group.isAdmin}}
                        {{#if controllers.group.userIsAdmin}}
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        {{/if}}
                        {{else}}
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        {{/if}}
                        <td>
                        {{#view App.TermsProposeView}}
                        <button class="btn btn-success" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action yay target="view"}}>Yay</button>
                        <button class="btn btn-danger" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action nay target="view"}}>Nay</button>
                        {{input type="hidden" class="termId" value=this._id}}
                        {{/view}}
                        </td>
                    </tr>
                    {{/if}}
                {{/each}}
                {{else}}
                {{#each termProposal}}
                    {{#if this.voteEnd}}
                    {{else}}
                    <tr>
                        <td>
                        {{#view App.TermsProposeView}}
                        <button class="btn btn-success" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;" {{action preview target="view"}}>Show</button>
                        {{input type="hidden" class="termId" value=this._id}}
                        {{/view}}
                        </td>
                        <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                        <td>{{ displayDate this.creationDate }}</td>
                        {{#if controllers.group.isAdmin}}
                        {{#if controllers.group.userIsAdmin}}
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        {{/if}}
                        {{else}}
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        {{/if}}
                    </tr>
                    {{/if}}
                {{/each}}
                {{/if}}
                {{else}}
                {{#each termProposal}}
                    {{#if this.voteEnd}}
                    {{else}}
                    <tr>
                        <td>
                        {{#view App.TermsProposeView}}
                        <button class="btn btn-success" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;" {{action preview target="view"}}>Show</button>
                        {{input type="hidden" class="termId" value=this._id}}
                        {{/view}}
                        </td>
                        <td>{{#linkTo 'member' this.user}} {{ this.user.fullName }} {{/linkTo}}</td>
                        <td>{{ displayDate this.creationDate }}</td>
                        {{#if controllers.group.isAdmin}}
                        {{#if controllers.group.userIsAdmin}}
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        {{/if}}
                        {{else}}
                        <td>
                        <div class="progress progress-striped active voteTip" style="margin-top: 5px;">
                            <div class="bar" {{bindAttr style="this.percentageYesVoted"}}></div>
                            <div class="bar bar-warning" {{bindAttr style="this.onTopToThreshold"}}></div>
                            <div class="bar bar-danger" {{bindAttr style="this.percentageNoVotesMinusThreshold"}}></div>
                        </div>
                        </td>
                        {{/if}}
                        <td>
                        {{#view App.TermsProposeView}}
                        <button class="btn btn-success" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action yay target="view"}}>Yay</button>
                        <button class="btn btn-danger" style="margin-bottom: 4px;margin-top: -2px;padding:3px !important;width: 35px;" {{action nay target="view"}}>Nay</button>
                        {{input type="hidden" class="termId" value=this._id}}
                        {{/view}}
                        </td>
                    </tr>
                    {{/if}}
                {{/each}}
            {{/if}}
            </tbody>
        </table>
	</div>
	{{/if}}
</div>
<div id="signModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="signModalLabel">Sign</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" style="margin: 0px;">
            {{#view App.PopoverTwo parentSelector="#amounted" contentSelector="#contented" title="Value Signing Explained" }}
            {{input type="text" id="amounted" value=amount name="amount" placeholder="amount"}}
            <div id="contented" style="display:none;" style="margin-bottom:0px;">
            <p style="margin-bottom:0px;font-size:12px;">Value signed is a declaration of value groups may use to discriminate in the approval of claims. The value signed along with the portioning input determines the portion of each claim a member will pay.</p>
            </div>
            {{view Ember.Select
               contentBinding=contented
               selectionBinding=selectedCurrency class="currencySelect"}}
            {{/view}}
            {{#view App.SignatureView}}
            <div id="metadataSignature" style="width: 300px;position: relative;height: 150px;left: 50%;margin-left: -150px;"></div>
            {{input type="hidden" id="signatureJSON" value=signature}}
            {{/view}}

    </div>
    <div class="modal-footer">
    <div class="control-group" style="margin-bottom:0px;">
        <div class="controls">
            {{#view App.SignatureView}}
            <button class="btn btn-primary" style="float:left;" {{action clear target="view"}}>Clear</button>
            {{/view}}
            <input type="submit" data-dismiss="modal" style="float:right;" class="btn btn-primary" value="Sign" {{action sign}}>
        </div>
    </div>
    </form>
    </div>
</div>
{{/view}}
{{else}}
{{#view App.EpicEditorView epicType="propose"}}
<div id="epiceditor" style="height: 500px;"></div>
{{/view}}
{{/if}}