{{#view App.EpicEditorView}}
<div class="row">
	<div class="span8">
		<form class="form-horizontal form-professional">
            <div class="page-heading">
                <h3 class="page-title">Create New Terms</h3>
                <span class="page-subtitle join-date muted">Contract</span>
                <hr>
            </div>
			<div class="control-group">
				<label class="control-label" for="inputTypeOfInsurance">Title of Terms</label>
				<div class="controls">
				{{input id="inputTypeOfInsurance" type="text" class="input-block-level" value=typeOfInsurance placeholder=""}}
				</div>
			</div>
            <div class="navbar">
                <div class="navbar-inner templateSelector">
                    <div class="container">

                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapsable">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                        {{#view App.Popover parentSelector=".version" contentSelector=".versionContent"}}
                        <div class="versionContent" style="display:none;">
                        <table class="table table-condensed table-hover handerTable">
                        <thead>
                        <tr>
                        <td>
                        Name
                        </td>
                        <td>
                        Date Created
                        </td>
                        <td>
                        Date Modified
                        </td>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each version}}
                        {{#view App.TermsTemplatesView}}
                        {{input type="hidden" class="templateVersion" value=this.id}}
                        <tr {{action switchVersion target="view"}}>
                        <td>
                        {{#if this.templateName}}
                        {{this.templateName}}
                        {{else}}
                        {{this.name}}
                        {{/if}}
                        </td>
                        <td>
                        {{displayDate this.created}}
                        </td>
                        <td>
                        {{displayDate this.modified}}
                        </td>
                        </tr>
                        {{/view}}
                        {{/each}}
                        </tbody>
                        </table>
                        </div>
                        <a class="brand version" href="#" onclick="return false;" data-original-title="Term Versions">terms</a>
                        {{/view}}

                        <div class="nav-collapse collapse collapsable">
                        <ul class="nav">
                            {{#each template in controller.model}}
                            <li>{{#view App.TermsTemplatesView}}<a class="templateLabel" href="#" {{action switchTemplate target="view"}}>{{template.name}}</a>{{input type="hidden" class="templateInput" value=template.id}}{{/view}}</li>
                            {{/each}}
                            <li>{{#view App.TermsTemplatesView}}<a class="templateLabel" href="#" {{action switchTemplate target="view"}}>Custom</a><input type="hidden" class="templateInput" value="Custom">{{/view}}</li>
                        </ul>
                        </div>

                    </div>
                </div>
            </div>
			<div class="control-group">
				<div id="epiceditor" style="height: 500px;"></div>
				<button class="btn btn-success btn-block" style="margin-top: 20px;" {{action 'createTerms'}}>Submit</button>
			</div>
		</form>
	</div>
</div>
{{/view}}
