<div class="row">
<div class="span8">
<div class="page-heading">
    <h3 class="page-title">Peercover Terms & Conditions</h3>
    <span class="page-subtitle join-date muted">2013</span>
</div>
</div>
</div>
<hr>
<div class="row">
<div class="span8">
<h4>
Coverage with Peercover
</h4>
Coverage with Peercover means reasonable expectation of the approval and payment of claims if said claims meet the conditions set in the terms agreed upon by group partners in a vested group. Partnership in the group by no means guarantees the approval of claims filed by a user. Coverage also means an obligation to pay portions of claims in a vested group a user belongs to provided the group agrees to approve a claim based upon user and/or admin rules agreed upon by a group prior to a group vesting.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Obligation to Pay Claims
</h4>
Users must pay out portions of approved claims in vested groups they belong to in order to maintain Peercover standing, build credit, and maintain coverage. Failure to pay a claim will result in loss of Peercover standing, lowered credit scores, and loss of coverage.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Terms
</h4>
Terms agreed upon and signed by all group partners represent binding legal agreements between patrons of Peercover subject to legal interpretation by partners and/or admins of a group.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Privacy
</h4>
By joining Peercover, the user agrees to subjugation to labeling under a soft predictive risk indicator based on data volunteered by the user and patterns of similar users. For anti-fraud reasons, the user agrees to the publication of claim data outside and inside groups including the titles, amounts, and timeline of claims.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Security
</h4>
Peercover maintains user data in an encrypted form using the latest encryption. At present Peercover uses the Advanced Encryption Standard (AES) and will continue to improve and update security as technology improves. The user holds sole responsibility to protect passwords and the secret keys of wallets produced by, and/or attached to Peercover. Peercover bears no responsibility for the loss of data or funds of accounts compromised by a client side password or secret key infiltration. Peercover bears no responsibility for illegal transactions made by users inside the application. Peercover bears no responsibility for the loss of data or funds of accounts compromised.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Partner Disputes
</h4>
Partners of groups should settle disputes including but not limited to the subjects of fraud, failure to pay, and claim approval failure. Users may report fraud to Peercover by emailing <a href="mailto:fraud@peercover.com">fraud@peercover.com</a> and should also file police reports in the country of the Peercover partner suspected of fraud. Peercover bears no responsibility for breach of contract between users or for the possible illegal activity of users.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Abuse of Peercover
</h4>
Abuses including but not limited to fraud, failure to pay, or illegal discriminatory behavior in public groups will result in account suspension, expulsion from Peercover, loss of coverage, lowered credit scores, and possibly reports to government authorities.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Peercover Liability
</h4>
Peercover is not liable for the actions of users but will take courses of action outlined above in response to illegal behavior in order to protect patrons and prevent losses.
</div>
</div>
<br>
<div class="row">
<div class="span8">
<h4>
Partner Liability
</h4>
Partners are liable for the payment of claim portions (invoices) originating from the approval of claims in groups they belong to after the vesting of said groups for the time period and under the conditions outlined in the corresponding terms of said groups.
</div>
</div>