{{#if controllers.group.reward}}
{{#if termsOn}}
{{else}}
<div class="row">
	<div class="span12">
			<ul class="nav nav-tabs">
				<li>
				    {{#if controllers.group.vested}}
				    {{#linkTo 'terms.view'}}View{{/linkTo}}
				    {{else}}
					{{#if controllers.group.userIsMember}}
                        {{#if termsOn}}
                            {{#unless controllers.group.reward}}
                            {{#linkTo 'terms.propose'}}Propose & Comment On{{/linkTo}}
                            {{/unless}}
                        {{else}}
                            {{#if isAdmin}}
                                {{#if controllers.group.userIsAdmin}}
                                    {{#linkTo 'terms.create'}}Create New{{/linkTo}}
                                {{else}}
                                    {{#if controllers.group.reward}}
                                    {{#linkTo 'terms.view'}}View{{/linkTo}}
                                    {{else}}
                                    {{#linkTo 'terms.propose'}}Propose & Comment On{{/linkTo}}
                                    {{/if}}
                                {{/if}}
                            {{else}}
                                {{#if controllers.group.userIsFounder}}
                                    {{#linkTo 'terms.create'}}Create New{{/linkTo}}
                                {{else}}
                                    {{#if controllers.group.reward}}
                                    {{#linkTo 'terms.view'}}View{{/linkTo}}
                                    {{else}}
                                    {{#linkTo 'terms.propose'}}Propose & Comment On{{/linkTo}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{else}}
                        {{#if isPublic}}
                            {{#linkTo 'terms.view'}}View{{/linkTo}}
                        {{/if}}
                    {{/if}}
                    {{/if}}
				</li>
				<li>
				    {{#if controllers.group.vested}}
				    {{else}}
					{{#linkTo 'terms.markdown'}}Markdown Tutorial{{/linkTo}}
					{{/if}}
				</li>
			</ul>
	</div>
</div>
{{/if}}
{{else}}
<div class="row">
	<div class="span12">
			<ul class="nav nav-tabs">
				<li>
				    {{#if controllers.group.vested}}
				    {{#linkTo 'terms.view'}}View{{/linkTo}}
				    {{else}}
					{{#if controllers.group.userIsMember}}
                        {{#if termsOn}}
                            {{#unless controllers.group.reward}}
                            {{#linkTo 'terms.propose'}}Propose & Comment On{{/linkTo}}
                            {{/unless}}
                        {{else}}
                            {{#if isAdmin}}
                                {{#if controllers.group.userIsAdmin}}
                                    {{#linkTo 'terms.create'}}Create New{{/linkTo}}
                                {{else}}
                                    {{#if controllers.group.reward}}
                                    {{#linkTo 'terms.view'}}View{{/linkTo}}
                                    {{else}}
                                    {{#linkTo 'terms.propose'}}Propose & Comment On{{/linkTo}}
                                    {{/if}}
                                {{/if}}
                            {{else}}
                                {{#if controllers.group.userIsFounder}}
                                    {{#linkTo 'terms.create'}}Create New{{/linkTo}}
                                {{else}}
                                    {{#if controllers.group.reward}}
                                    {{#linkTo 'terms.view'}}View{{/linkTo}}
                                    {{else}}
                                    {{#linkTo 'terms.propose'}}Propose & Comment On{{/linkTo}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{else}}
                        {{#if isPublic}}
                            {{#linkTo 'terms.view'}}View{{/linkTo}}
                        {{/if}}
                    {{/if}}
                    {{/if}}
				</li>
				<li>
				    {{#if controllers.group.vested}}
				    {{else}}
					{{#linkTo 'terms.markdown'}}Markdown Tutorial{{/linkTo}}
					{{/if}}
				</li>
			</ul>
	</div>
</div>
{{/if}}

{{outlet}}
