{{#view App.MarkdownTutorialView}}
<div class="span12" id="markdownTutorial">
<div class="markdown-body">
<div class="page-heading">
    <h3 class="page-title">Tutorial</h3>
    <span class="page-subtitle join-date muted">Learn how to write your terms in markdown.</span>
</div>
<h5>
<a name="table-of-contents" class="anchor" href="#table-of-contents"><span class="octicon octicon-link"></span></a>Table of Contents</h5>

<p><a href="#wiki-headers">Headers</a><br><a href="#wiki-emphasis">Emphasis</a><br><a href="#wiki-lists">Lists</a><br><a href="#wiki-links">Links</a><br><a href="#wiki-images">Images</a><br><a href="#wiki-code">Code and Syntax Highlighting</a><br><a href="#wiki-tables">Tables</a><br><a href="#wiki-blockquotes">Blockquotes</a><br><a href="#wiki-html">Inline HTML</a><br><a href="#wiki-hr">Horizontal Rule</a><br><a href="#wiki-lines">Line Breaks</a><br><a href="#wiki-videos">Youtube videos</a>  </p>

<p><a name="wiki-headers"></a></p>

<h2>
<a name="headers" class="anchor" href="#headers"><span class="octicon octicon-link"></span></a>Headers</h2>

<pre><code># H1
## H2
### H3
#### H4
##### H5
###### H6

Alternatively, for H1 and H2, an underline-ish style:

Alt-H1
======

Alt-H2
------</code></pre>

<h1>
<a name="h1" class="anchor" href="#h1"><span class="octicon octicon-link"></span></a>H1</h1>

<h2>
<a name="h2" class="anchor" href="#h2"><span class="octicon octicon-link"></span></a>H2</h2>

<h3>
<a name="h3" class="anchor" href="#h3"><span class="octicon octicon-link"></span></a>H3</h3>

<h4>
<a name="h4" class="anchor" href="#h4"><span class="octicon octicon-link"></span></a>H4</h4>

<h5>
<a name="h5" class="anchor" href="#h5"><span class="octicon octicon-link"></span></a>H5</h5>

<h6>
<a name="h6" class="anchor" href="#h6"><span class="octicon octicon-link"></span></a>H6</h6>

<p>Alternatively, for H1 and H2, an underline-ish style:</p>

<h1>
<a name="alt-h1" class="anchor" href="#alt-h1"><span class="octicon octicon-link"></span></a>Alt-H1</h1>

<h2>
<a name="alt-h2" class="anchor" href="#alt-h2"><span class="octicon octicon-link"></span></a>Alt-H2</h2>

<p><a name="wiki-emphasis"></a></p>

<h2>
<a name="emphasis" class="anchor" href="#emphasis"><span class="octicon octicon-link"></span></a>Emphasis</h2>

<pre><code>Emphasis, aka italics, with *asterisks* or _underscores_.

Strong emphasis, aka bold, with **asterisks** or __underscores__.

Combined emphasis with **asterisks and _underscores_**.

Strikethrough uses two tildes. ~~Scratch this.~~</code></pre>

<p>Emphasis, aka italics, with <em>asterisks</em> or <em>underscores</em>.</p>

<p>Strong emphasis, aka bold, with <strong>asterisks</strong> or <strong>underscores</strong>.</p>

<p>Combined emphasis with <strong>asterisks and <em>underscores</em></strong>.</p>

<p>Strikethrough uses two tildes. <del>Scratch this.</del></p>

<p><a name="wiki-lists"></a></p>

<h2>
<a name="lists" class="anchor" href="#lists"><span class="octicon octicon-link"></span></a>Lists</h2>

<pre><code>1. First ordered list item
2. Another item
  * Unordered sub-list.
1. Actual numbers don't matter, just that it's a number
  1. Ordered sub-list
4. And another item.

   Some text that should be aligned with the above item.

* Unordered list can use asterisks
- Or minuses
+ Or pluses</code></pre>

<ol>
<li>First ordered list item</li>
<li>Another item

<ul>
<li>Unordered sub-list. </li>
</ul>
</li>
<li>Actual numbers don't matter, just that it's a number

<ol>
<li>Ordered sub-list</li>
</ol>
</li>
<li>
<p>And another item.  </p>

<p>Some text that should be aligned with the above item.</p>
</li>
</ol><ul>
<li>Unordered list can use asterisks</li>
<li>Or minuses</li>
<li>Or pluses</li>
</ul><p><a name="wiki-links"></a></p>

<h2>
<a name="links" class="anchor" href="#links"><span class="octicon octicon-link"></span></a>Links</h2>

<p>There are two ways to create links.</p>

<pre><code>[I'm an inline-style link](https://www.google.com)

[I'm a reference-style link][Arbitrary case-insensitive reference text]

[I'm a relative reference to a repository file](../blob/master/LICENSE)

[You can use numbers for reference-style link definitions][1]

Or leave it empty and use the [link text itself][]

Some text to show that the reference links can follow later.

[arbitrary case-insensitive reference text]: https://www.mozilla.org
[1]: http://slashdot.org
[link text itself]: http://www.reddit.com</code></pre>

<p><a href="https://www.google.com">I'm an inline-style link</a></p>

<p><a href="https://www.mozilla.org">I'm a reference-style link</a></p>

<p><a href="../blob/master/LICENSE">I'm a relative reference to a repository file</a></p>

<p><a href="http://slashdot.org">You can use numbers for reference-style link definitions</a></p>

<p>Or leave it empty and use the <a href="http://www.reddit.com">link text itself</a></p>

<p>Some text to show that the reference links can follow later.</p>

<p><a name="wiki-images"></a></p>

<h2>
<a name="images" class="anchor" href="#images"><span class="octicon octicon-link"></span></a>Images</h2>

<pre><code>Here's our logo (hover to see the title text):

Inline-style:
![alt text](https://s3-us-west-2.amazonaws.com/peercover/images/peercoverForum.png "Peercover Logo 1")

Reference-style:
![alt text][logo]

[logo]: https://s3-us-west-2.amazonaws.com/peercover/images/peercoverForum.png "Peercover Logo 2"</code></pre>

<p>Here's our logo (hover to see the title text):</p>

<p>Inline-style:
<img src="https://s3-us-west-2.amazonaws.com/peercover/images/peercoverForum.png" alt="alt text" title="Peercover Logo 1"></p>

<p>Reference-style:
<img src="https://s3-us-west-2.amazonaws.com/peercover/images/peercoverForum.png" alt="alt text" title="Peercover Logo 2"></p>

<p><a name="wiki-code"></a></p>

<h2>
<a name="code-and-syntax-highlighting" class="anchor" href="#code-and-syntax-highlighting"><span class="octicon octicon-link"></span></a>Code and Syntax Highlighting</h2>

<p>Code blocks are part of the Markdown spec, but syntax highlighting isn't. However, many renderers -- like Github's and <em>Markdown Here</em> -- support syntax highlighting. <em>Markdown Here</em> supports highlighting for dozens of languages (and not-really-languages, like diffs and HTTP headers); to see the complete list, and how to write the language names, see the <a href="http://softwaremaniacs.org/media/soft/highlight/test.html">highlight.js demo page</a>.</p>

<pre><code>Inline `code` has `back-ticks around` it.</code></pre>

<p>Inline <code>code</code> has <code>back-ticks around</code> it.</p>

<p>Blocks of code are either fenced by lines with three back-ticks <code>```</code>, or are indented with four spaces. I recommend only using the fenced code blocks -- they're easier and only they support syntax highlighting.</p>

<pre><code> ```javascript
 var s = "JavaScript syntax highlighting";
 alert(s);
 ```

 ```python
 s = "Python syntax highlighting"
 print s
 ```

 ```
 No language indicated, so no syntax highlighting.
 But let's throw in a &lt;b&gt;tag&lt;/b&gt;.
 ```</code></pre>

<pre><code>var s = "JavaScript syntax highlighting";
alert(s);</code></pre>

<pre><code>s = "Python syntax highlighting"
print s</code></pre>

<pre><code>No language indicated, so no syntax highlighting in Markdown Here (varies on Github).
But let's throw in a &lt;b&gt;tag&lt;/b&gt;.</code></pre>

<p>(Github Wiki pages don't seem to support syntax highlighting, so the above won't be colourful (the strings are not red, for example). Try it out in a <em>Markdown Here</em> email or a Github Markdown README or Github Issue -- you can preview a new Issue without submitting it.)</p>

<p>Again, to see what languages are available for highlighting, and how to write those language names, see the <a href="http://softwaremaniacs.org/media/soft/highlight/test.html">highlight.js demo page</a>.</p>

<p><a name="wiki-tables"></a></p>

<h2>
<a name="tables" class="anchor" href="#tables"><span class="octicon octicon-link"></span></a>Tables</h2>

<p>Tables aren't part of the core Markdown spec, but they are part of GFM and <em>Markdown Here</em> supports them. They are an easy way of adding tables to your email -- a task that would otherwise require copy-pasting from another application.</p>

<pre><code>Colons can be used to align columns.

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

The outer pipes (|) are optional, and you don't need to make the raw Markdown line up prettily. You can also use inline Markdown.

Markdown | Less | Pretty
--- | --- | ---
*Still* | `renders` | **nicely**
1 | 2 | 3</code></pre>

<p>Colons can be used to align columns.</p>

<table>
<thead><tr>
<th>Tables</th>
<th align="center">Are</th>
<th align="right">Cool</th>
</tr></thead>
<tbody>
<tr>
<td>col 3 is</td>
<td align="center">right-aligned</td>
<td align="right">$1600</td>
</tr>
<tr>
<td>col 2 is</td>
<td align="center">centered</td>
<td align="right">$12</td>
</tr>
<tr>
<td>zebra stripes</td>
<td align="center">are neat</td>
<td align="right">$1</td>
</tr>
</tbody>
</table><p>The outer pipes (|) are optional, and you don't need to make the raw Markdown line up prettily. You can also use inline Markdown.</p>

<table>
<thead><tr>
<th>Markdown</th>
<th>Less</th>
<th>Pretty</th>
</tr></thead>
<tbody>
<tr>
<td><em>Still</em></td>
<td><code>renders</code></td>
<td><strong>nicely</strong></td>
</tr>
<tr>
<td>1</td>
<td>2</td>
<td>3</td>
</tr>
</tbody>
</table><p><a name="wiki-blockquotes"></a></p>

<h2>
<a name="blockquotes" class="anchor" href="#blockquotes"><span class="octicon octicon-link"></span></a>Blockquotes</h2>

<pre><code>&gt; Blockquotes are very handy in email to emulate reply text.
&gt; This line is part of the same quote.

Quote break.

&gt; This is a very long line that will still be quoted properly when it wraps. Oh boy let's keep writing to make sure this is long enough to actually wrap for everyone. Oh, you can *put* **Markdown** into a blockquote. </code></pre>

<blockquote>
<p>Blockquotes are very handy in email to emulate reply text.
This line is part of the same quote.</p>
</blockquote>

<p>Quote break.</p>

<blockquote>
<p>This is a very long line that will still be quoted properly when it wraps. Oh boy let's keep writing to make sure this is long enough to actually wrap for everyone. Oh, you can <em>put</em> <strong>Markdown</strong> into a blockquote. </p>
</blockquote>

<p><a name="wiki-html"></a></p>

<h2>
<a name="inline-html" class="anchor" href="#inline-html"><span class="octicon octicon-link"></span></a>Inline HTML</h2>

<p>You can also use raw HTML in your Markdown, and it'll mostly work pretty well. </p>

<pre><code>&lt;dl&gt;
  &lt;dt&gt;Definition list&lt;/dt&gt;
  &lt;dd&gt;Is something people use sometimes.&lt;/dd&gt;

  &lt;dt&gt;Markdown in HTML&lt;/dt&gt;
  &lt;dd&gt;Does *not* work **very** well. Use HTML &lt;em&gt;tags&lt;/em&gt;.&lt;/dd&gt;
&lt;/dl&gt;</code></pre>

<dl>
<dt>Definition list</dt>
  <dd>Is something people use sometimes.</dd>

  <dt>Markdown in HTML</dt>
  <dd>Does *not* work **very** well. Use HTML <em>tags</em>.</dd>
</dl><p><a name="wiki-hr"></a></p>

<h2>
<a name="horizontal-rule" class="anchor" href="#horizontal-rule"><span class="octicon octicon-link"></span></a>Horizontal Rule</h2>

<pre><code>Three or more...

---

Hyphens

***

Asterisks

___

Underscores</code></pre>

<p>Three or more...</p>

<hr><p>Hyphens</p>

<hr><p>Asterisks</p>

<hr><p>Underscores</p>

<p><a name="wiki-lines"></a></p>

<h2>
<a name="line-breaks" class="anchor" href="#line-breaks"><span class="octicon octicon-link"></span></a>Line Breaks</h2>

<p>My basic recommendation for learning how line breaks work is to experiment and discover -- hit &lt;Enter&gt; once (i.e., insert one newline), then hit it twice (i.e., insert two newlines), see what happens. You'll soon learn to get what you want. "Markdown Toggle" is your friend. </p>

<p>Here are some things to try out:</p>

<pre><code>Here's a line for us to start with.

This line is separated from the one above by two newlines, so it will be a *separate paragraph*.

This line is also a separate paragraph, but...
This line is only separated by a single newline, so it's a separate line in the *same paragraph*.</code></pre>

<p>Here's a line for us to start with.</p>

<p>This line is separated from the one above by two newlines, so it will be a <em>separate paragraph</em>.</p>

<p>This line is also begins a separate paragraph, but...<br>
This line is only separated by a single newline, so it's a separate line in the <em>same paragraph</em>.</p>

<p>(Technical note: <em>Markdown Here</em> uses GFM line breaks, so there's no need to use MD's two-space line breaks.)</p>

<p><a name="wiki-videos"></a></p>

<h2>
<a name="youtube-videos" class="anchor" href="#youtube-videos"><span class="octicon octicon-link"></span></a>YouTube Videos</h2>

<p>They can't be added directly but you can add an image with a link to the video like this:</p>

<pre><code>&lt;a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=YOUTUBE_VIDEO_ID_HERE
" target="_blank"&gt;&lt;img src="http://img.youtube.com/vi/YOUTUBE_VIDEO_ID_HERE/0.jpg"
alt="IMAGE ALT TEXT HERE" width="240" height="180" border="10" /&gt;&lt;/a&gt;</code></pre>

<p>Or, in pure Markdown, but losing the image sizing and border:</p>

<pre><code>[![IMAGE ALT TEXT HERE](http://img.youtube.com/vi/YOUTUBE_VIDEO_ID_HERE/0.jpg)](http://www.youtube.com/watch?v=YOUTUBE_VIDEO_ID_HERE)</code></pre>
    </div>
</div>
{{/view}}