{{#view App.EpicEditorView epicType="view"}}
<div class="row">
	<div class="span8">
		<form class="form-horizontal form-professional">
			<div class="page-heading">
                <h3 class="page-title">{{ title }}</h3>
                <span class="page-subtitle join-date muted">Contract</span>
                <hr>
            </div>
			<div class="control-group">
				<div id="epiceditor" style="height: 500px;"></div>
			</div>
		</form>
	</div>
</div>
{{/view}}