<div class="row">
    <div class="span6" style="min-width: 500px;">
        <iframe style="width: 500px;z-index:0;height: 600px;margin-top: -74px;background: transparent;" {{bindAttr src=rippleWiseURL}}></iframe>
    </div>
    <div class="span6">
        <h5 style="text-align:center;">-- OR --</h5>
        <div class="alert alert-notice" style="text-align : center !important;padding: 8px 0px 8px 0px !important;margin-bottom:20px !important;">
            Fund your wallet at one of the following locations after {{#linkTo 'wallet.trust'}}<span style="cursor: pointer; cursor: hand; padding: 3px 3px;" class="label label-info">{{xrpBalance}}trusting</span>{{/linkTo}} currency/gateway pairs in the tab to the right. <br><small>Note: You do not need trust to fund with XRP.</small>
        </div>
        <div id='wallet-trust'>
        <ul class="gateway-thumbnails thumbnails">
        <li class="span2">
            <a href="https://www.snapswap.us/" target="_blank" class="thumbnail rcSP">
            </a>
        </li>
        <li class="span2">
            <a href="https://www.bitstamp.net/" target="_blank" class="thumbnail rcBS">
            </a>
        </li>
        <li class="span2">
            <a href="https://justcoin.com/" target="_blank" class="thumbnail rcJC">
            </a>
        </li>
        <li class="span2">
            <a href="https://trade.ripplechina.net/" target="_blank" class="thumbnail rcC">
            </a>
        </li>
        <li class="span2">
            <a href="http://ripplecn.com/" target="_blank" class="thumbnail rcCN">
            </a>
        </li>
        </ul>
        </div>
    </div>
</div>

<div class="row" style="margin-left:0px;">
<div class="alert alert-info">
    <span id="receive-address" style="text-align : center !important;"><h3 style="font-size:12px !important;">{{controllers.walletIndex.publicKey}}</h3></span>
</div>
</div>