{{#unless user.jumioVerified}}
<div class='row'>
    <div class="alert alert-info span12" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
        Please {{#linkTo 'profile'}}verify your identity{{/linkTo}}. This may take a few minutes to register after receiving a success.
    </div>
</div>
{{/unless}}
<div class='row'>
    <div class="alert alert-info span12" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
        After depositing USD, go to {{#linkTo 'wallet.index'}}Overview{{/linkTo}} and click "Convert" to convert to another currency such as XRP or BTC.
    </div>
</div>
<div class="row">
    <div class="span6">
        <form class="form-horizontal form-professional" id="sendForm" {{action deposit on="submit"}}>
            <legend>Deposit USD</legend>
            {{#unless isSelectedCC}}
            {{#if user.bankAccounts}}
            {{#unless hasVerified}}
            <div class="control-group" style="margin-top:0px;">
            <i class="icon-exclamation-sign"></i> {{#linkTo 'administrate.bankAccounts'}}Verify bank account{{/linkTo}} to deposit USD.
            </div>
            {{/unless}}
            {{else}}
            <div class="control-group" style="margin-top:0px;">
            <i class="icon-exclamation-sign"></i> {{#linkTo 'administrate.bankAccounts'}}Add bank account{{/linkTo}} to deposit USD.
            </div>
            {{/if}}
            {{/unless}}
            <div class="control-group">
            <label>
                {{view App.RadioButton name="selectionTest" selectionBinding="isSelected" value="1"}}
                <span style="top:4px;left:5px;position:relative;">Deposit with credit card</span>
            </label>
            <label>
                {{view App.RadioButton name="selectionTest" selectionBinding="isSelected" value="0"}}
                <span style="top:4px;left:5px;position:relative;">Deposit with bank account</span>
            </label>
            </div>
            <div class="control-group">
                <label class="control-label" for="amounteded">Amount (USD)
                {{#if amountValid}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                </label>
                <div class="controls">
                {{input id="amounteded" type="text" class="input-block-level amountInput cashoutInput" value=amounted placeholder="Amount to Deposit"}}
                </div>
            </div>
            {{#if priceDepositFormatted}}
            {{#if amounted}}
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Price</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{{priceDepositFormatted}}}
                </div>
            </div>
            {{/if}}
            {{/if}}
            <div class="control-group">
                <div class="controls">
                {{#if amountValid}}
                {{#if user.jumioVerified}}
                {{#if isSelectedCC}}
                {{#if isSelectedDone}}
                <a href="#netverifyModal" role="button" data-toggle="modal" class="btn btn-primary btn-block buyXRPSend currencySend">Deposit</a>
                {{else}}
                <a role="button" class="btn btn-primary btn-block buyXRPSend currencySend disabled">Deposit</a>
                {{/if}}
                {{else}}

                {{#if isSelectedDone}}
                {{#if user.bankAccounts}}
                {{#if hasVerified}}
                {{input type="submit" class="btn btn-primary btn-block buyXRPSend currencySend" value="Deposit"}}
                {{else}}
                <a role="button" class="btn btn-primary btn-block buyXRPSend currencySend disabled">Deposit</a>
                {{/if}}
                {{else}}
                <a role="button" class="btn btn-primary btn-block buyXRPSend currencySend disabled">Deposit</a>
                {{/if}}
                {{else}}
                <a role="button" class="btn btn-primary btn-block buyXRPSend currencySend disabled">Deposit</a>
                {{/if}}
                {{/if}}
                {{else}}
                <a role="button" class="btn btn-primary btn-block buyXRPSend currencySend disabled">Deposit</a>
                {{/if}}
                {{else}}
                <a role="button" class="btn btn-primary btn-block buyXRPSend currencySend disabled">Deposit</a>
                {{/if}}

                </div>
            </div>
        </form>
    </div>
    <div class="span6" style="text-align:center;">
        {{#if isSelectedCC}}
            <h5 class="page-title">Balances</h5>
            <hr>
            <div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important;">
                {{#if controllers.walletIndex.funded}}
                {{#each controllers.walletIndex.currencyBalance}}
                    {{view App.Popover templateName="popover-currency"}}
                {{/each}}
                {{/if}}
            </div>
        {{else}}
            {{#if user.bankAccounts}}
            <ul class="thumbnails">
            {{#each account in user.bankAccounts}}
            {{#if account.accountURI}}
            <li class="span2" style="text-align: center;text-decoration: none;">
                {{#view App.BankAccountView accountBinding=account}}
                {{#if account.verified}}
                <a href="#" class="thumbnail" style="text-align: center;text-decoration: none;" {{action selectAccount target="view"}}>
                {{else}}
                <a href="#verifyModal" style="text-align: center;text-decoration: none;" role="button" data-toggle="modal" class="thumbnail" {{action verifySetup target="view"}}>
                {{/if}}
                <p>{{account.name}}</p>
                <p>{{account.bankName}}</p>
                <p>{{account.accountNumber}}</p>
                <p>{{account.accountType}}</p>
                {{input type="hidden" class="bankAccountId" value=account._id}}
                {{#if account.verified}}
                <p style="margin-bottom:0px;"><i class="icon-ok" style="color:#1ABC9C"></i> VERIFIED</p>
                {{#if view.selected}}
                <p style="margin-bottom:0px;background-color:#1ABC9C;color:#ffffff;"><i class="icon-ok" style="color:#ffffff;"></i> SELECTED</p>
                {{else}}
                <p style="margin-bottom:0px;">
                <button class="btn btn-primary btn-block">Select</button>
                </p>
                {{/if}}
                {{else}}
                <p style="margin-bottom:0px;">
                <button class="btn btn-primary btn-block">Verify</button>
                </p>
                {{/if}}
                </a>
                {{/view}}
            </li>
            {{/if}}
            {{/each}}
            <li class="span2" style="text-align:center;">
                {{#linkTo 'administrate.bankAccounts' class="thumbnail"}}
                    <img src="https://d1geqvinw0cz14.cloudfront.net/images/profileEdit.jpg" alt="Add Bank Account">
                {{/linkTo}}
            </li>
            </ul>
            {{/if}}
        {{/if}}
    </div>
</div>

{{#if isSelectedCC}}
<hr>
<div class="row">
  <div class="span12" style="text-align:center;">
    <img src="https://d1geqvinw0cz14.cloudfront.net/images/creditCards.png">
  </div>
</div>
{{/if}}

<div id="verifyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="verifyLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="verifyLabel">Verify</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="alert alert-info" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
                Check your bank account statement and enter in the two deposit values from Peercover formatted without the decimal. (i.e. enter $0.05 as 05, $1.01 as 101)
            </div>
            <div class="control-group">
                <label class="control-label" style="margin-right:20px;" for="verify1">Verify Value One</label>
                <div class="controls">
                    {{input type="text" id="verify1" value=verifyOne name="verify1" placeholder="verify value one"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" style="margin-right:20px;" for="verify2">Verify Value Two</label>
                <div class="controls">
                    {{input type="text" id="verify2" value=verifyTwo name="verify2" placeholder="verify value two"}}
                </div>
            </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
    <div class="control-group" style="text-align:center;margin-bottom:0px;">
        <div class="controls" style="text-align:center;">
            <a href="#" role="button" class="btn btn-primary btn-block" data-dismiss="modal" {{action verify}}>Verify</a>
        </div>
    </div>
    </form>
    </div>
</div>

<div id="netverifyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header" style="background-color:#2c3e50;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 class="modalHeader">Deposit USD with Credit Card</h5>
    </div>
    <div class="modal-body" style="text-align:center;">
    <form class="form-horizontal form-professional" id="sendForm">
        {{#if user.creditCard}}
        <div class="control-group">
            <div class="controls">
            <label class="checkbox">
                {{view Ember.Checkbox checkedBinding="again"}}
                Buy with the last credit card
                </label>
            </div>
        </div>
        {{/if}}
        {{#unless again}}
        <div class="control-group">
            <label class="control-label" for="creditCard">Credit Card Number
            {{#if validNumber}}
            <i class="icon-ok" style="color:#1ABC9C"></i>
            {{/if}}
            </label>
            <div class="controls">
            {{input id="creditCard" type="text" class="input-block-level" value=card placeholder="Credit Card Number"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="code">3-digit Security Code
            {{#if validCode}}
            <i class="icon-ok" style="color:#1ABC9C"></i>
            {{/if}}
            </label>
            <div class="controls">
            {{input id="code" type="text" class="input-block-level" value=code placeholder="3-digit Security Code"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="expires">Credit Card Expires
            {{#if validExpiry}}
            <i class="icon-ok" style="color:#1ABC9C"></i>
            {{/if}}
            </label>
            <div class="controls">
            {{input id="expires" type="text" class="input-block-level" value=month placeholder="Month"}}
            {{input id="expires2" type="text" class="input-block-level" value=year placeholder="Full Year (20XX)"}}
            </div>
        </div>
        {{/unless}}
    </form>
    </div>
    <div class="modal-footer" style="text-align:center;">
        {{#if validCreditCard}}
        <a href="#" role="button" data-dismiss="modal" class="btn btn-primary btn-block buyXRPSend currencySend" {{action deposit}}>Deposit USD</a>
        {{else}}
        <a role="button" class="btn btn-primary btn-block buyXRPSend currencySend disabled">Deposit USD</a>
        {{/if}}
    </div>
</div>
<div class="row">
<div class="span12">
    <hr>
    <h2 style="text-align: center;margin-left: 20px;">Peercover USD</h2>
    <hr>
</div>
</div>
<div class="row">
    <div class="span6">
        <h2 style="text-align:right">Bid</h2>
        <table class="table default">
            <tbody><tr>
                <th>XRP</th>
                <th style="text-align: left;">Amount (USD)</th>
                <th style="text-align: right;">Price (XRP/USD)</th>
            </tr>
            {{#each bid in asks}}
            <tr>
                <td>{{bid.xrp}}</td>
                <td style="text-align: left;">{{bid.amount}}</td>
                <td style="text-align: right;">{{bid.price}}</td>
            </tr>
            {{/each}}
        </tbody></table>
    </div>
    <div class="span6">
        <h2>Ask</h2>
        <table class="table default">
            <tbody><tr>
                <th>Price (XRP/USD)</th>
                <th style="text-align: right;">Amount (USD)</th>
                <th style="text-align: right;">XRP</th>
            </tr>
            {{#each ask in bids}}
            <tr>
                <td>{{ask.price}}</td>
                <td style="text-align: right;">{{ask.amount}}</td>
                <td style="text-align: right;">{{ask.xrp}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>