<div class="row">
	<div class="span6 offset3">

		<div class="alert info-alert">
			Sign in with your wallet name and password before continuing.
		</div>

		<div class="well">

		<form class="form-horizontal walletSelectorIndicator" {{action login on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="walletName">Wallet Name</label>
				<div class="controls">
				    {{input type="text" id="walletName" value=walletName name="walletName" placeholder="wallet name"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
				    {{input type="password" id="password" value=password name="password" placeholder="password"}}
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary btn-block max-block" value="Login"}}
				</div>
			</div>
		</form>

		</div>
		
		{{#unless hasLostWallet}}
		<div style="text-align:right">
			<p><small><a href="#" {{action 'lostWallet'}}>Lost your wallet?</a></small></p>
		</div>
		{{else}}
			<div class="well">
				<p>Did you forget your wallet name? Click the <code>Send</code> button to receive an email with your wallet name.</p>

				<div class="form-horizontal" {{action recoverWallet on "submit"}}>
					<div class="control-group">
						<div class="controls">
							{{input type="submit" class="btn btn-primary" value="Send Wallet Info"}}
						</div>
					</div>
				</div>

			</div>
		{{/unless}}

	</div>
</div>
