<div class="row">
	<div class="span3 offset3">
		{{#if model }}
		<table class="table table-condensed" style="margin-bottom: 0">
			<thead>
				<tr>
					<th>
						{{walletName}}
					</th>
				<tr>
			</thead>
			<tbody>
				<tr>
					<td>
					    {{#if controllers.application.rippledDown}}
					    <i class="icon-warning-sign" style="color:#E74C3C"></i> Ripple network is down.
					    {{else}}
					    {{#if funded}}
					    {{#view App.ToolTipView}}
					        <span class="tooled" data-toggle="tooltip" data-placement="bottom" data-title="Reserve: 100 XRP">{{controller.xrpBalance}} <small>XRP</small></span>
                        {{/view}}
                        {{else}}
                            <span class="muted">-</span>

							<span class="item-divider"></span>
							<i class="icon-warning-sign" style="color:#E74C3C"></i> <a style="cursor: pointer; cursor: hand;" class="xrpWarn" {{action controller.fundWallet}}>Please fund your wallet</a>
                        {{/if}}
                        {{/if}}
					</td>
				<tr>
			</tbody>
		</table>
		{{/if}}
	</div>
</div>
