<div class="wallet-receive">
	<p>This is your public wallet address. You can use this address to receive money into your Peercover Ripple wallet.</p>

	<hr/>

	<div class="alert alert-info">
		<span class="receive-address" style="text-align : center !important;"><h3 style="font-size:12px !important;">{{publicKey}}</h3></span>
	</div>

    <hr/>

	<div class="row">
	<div class="span12" style="text-align : center !important;">
	<img {{bindAttr src="controllers.walletIndex.qrcode"}} style="width:200px;height:200px;"></img>
	</div>
	</div>

	<hr/>

	<p>This is your secret key. You can use this address to send money from your Peercover Ripple wallet to other wallets. Save your secret key in a safe place - the key is essentially your wallet.</p>

	<hr/>

	<div class="alert alert-info" style="cursor: pointer; cursor: hand;" {{action secret}}>
        <span class="receive-address" style="text-align : center !important;">
        {{#if showSecret}}
        <h3 style="font-size:12px !important;margin-left:20px;">{{controllers.walletIndex.privateKey}}</h3>
        {{else}}
        <h3 style="font-size: 14px !important;position: relative;top: 4px;margin-left:20px;">**********************************</h3>
        {{/if}}
        </span>
    </div>
</div>
