<div class="row">
    <div class="span6">
        <form class="form-horizontal form-professional" id="sendForm">
            <legend>Buy XRP with Bitcoin</legend>
            {{#if reservesFormatted}}
            {{#if lowReserves}}
            <div class="control-group">
            <i class="icon-exclamation-sign"></i> Low supply of XRP reserves. Come back later to purchase XRP.
            </div>
            {{/if}}
            {{/if}}
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Reserves Left</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{#if reservesFormatted}}
                {{reservesFormatted}} XRP
                {{else}}
                <i class="icon-spin loadered" style="background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
                {{/if}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="amountXRP">Amount of XRP</label>
                <div class="controls">
                {{input id="amountXRP" type="text" class="input-block-level" value=controller.amountXRP placeholder="Amount of XRP to buy"}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                <label class="checkbox">
                    {{view Ember.Checkbox checkedBinding="isOtherAddress"}}
                    Send to address other than your Peercover wallet
                    </label>
                </div>
            </div>
            {{#if isOtherAddress}}
                <div class="control-group">
                    <label class="control-label">Address to send XRP
                    {{#if controller.enteredKey}}
                    <i class="icon-ok" style="color:#1ABC9C"></i>
                    {{else}}
                    {{#if validAddress}}
                    <i class="icon-ok" style="color:#1ABC9C"></i>
                    {{/if}}
                    {{/if}}
                    </label>
                    <div class="controls">
                    {{#view App.AutoMemberView}}
                    {{input id="recipient" type="text" class="input-block-level addressInput" value=controller.recipient placeholder="Member Name or Ripple Address"}}
                    {{/view}}
                    </div>
                </div>
            {{/if}}
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Conversion rate<br>XRP/USD</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{#if conversionFormatted}}
                {{{conversionFormatted}}}
                {{else}}
                <i class="icon-spin loadered" style="background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
                {{/if}}
                </div>
            </div>
            {{#if priceFeeFormatted}}
            {{#if amountXRP}}
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Fee</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{{priceFeeFormatted}}}
                </div>
            </div>
            {{/if}}
            {{/if}}
            {{#if priceXRPFormatted}}
            {{#if amountXRP}}
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Price</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{{priceXRPFormatted}}}
                </div>
            </div>
            {{/if}}
            {{/if}}
            {{#if controller.amountXRP}}
            {{#if validBuyButton}}
            {{#if cbActive}}
            <div class="control-group">
                <div class="controls">
                    {{#view App.CoinbaseView}}
                    {{{controller.dataCode}}}
                    {{/view}}
                </div>
            </div>
            {{else}}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary btn-block" {{action initCb}}>Get Quote</button>
                </div>
            </div>
            {{/if}}
            {{/if}}
            {{/if}}
        </form>
    </div>
    <div class="span6">
    </div>
</div>

<div class="row" style="margin-left:0px;">
<div class="alert alert-info">
    <span id="receive-address" style="text-align : center !important;"><h3 style="font-size:12px !important;">{{controllers.walletIndex.publicKey}}</h3></span>
</div>
</div>