<div class="row">
    <div class="span6">

        <div class="userIcon"></div>

        <form class="form-horizontal form-professional" {{action send on="submit"}} id="sendForm">

            {{#if rippleInd}}
            {{#view App.PathfindSendView}}
            <div class="btn-group" style="margin-bottom: 20px;width:100%;">
            <button class="btn btn-primary" {{action sendTurned target="view"}} {{bindAttr style=controller.sendStyle}}>
            Send
            </button>
            <button class="btn btn-primary" {{action convertTurned target="view"}} {{bindAttr style=controller.convertStyle}}>
            Convert
            </button>
            </div>
            {{/view}}
            {{/if}}
            {{#view App.PathfindSendView}}
            {{#if controller.multipleWallets}}
            <div class="btn-group" style="margin-bottom: 20px;width:100%;">
            <button class="btn btn-primary" {{action rippleTurned target="view"}} {{bindAttr style=controller.rippleStyle}}>
            Ripple
            </button>
            {{#if controller.bitcoinPublicKey}}
            <button class="btn btn-primary" {{action bitcoinTurned target="view"}} {{bindAttr style=controller.bitcoinStyle}}>
            Bitcoin
            </button>
            {{/if}}
            {{#if controller.bitcoinPublicKey}}
            <button class="btn btn-primary" {{action litecoinTurned target="view"}} {{bindAttr style=controller.litecoinStyle}}>
            Litecoin
            </button>
            {{/if}}
            </div>
            {{/if}}
            {{/view}}
            {{#if rippleInd}}
            {{#unless convertInd}}
            {{#view App.PathfindSendView}}
            <div class="control-group">
                <label class="control-label" for="recipient">Address
                {{#if controller.enteredKey}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validAddress}}
                {{#if rippleInd}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                {{else}}
                {{#if validBitcoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validNextcoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validLitecoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validNamecoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validPeercoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validDogecoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validAuroracoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                </label>
                <div class="controls">
                {{input id="recipient" type="text" class="input-block-level addressInput" value=controller.recipient placeholder=controller.placeholder}}
                {{#if enteredKey}}
                    <p style="margin-bottom:0px;">{{enteredKey}}</p>
                {{/if}}
                </div>
            </div>
            {{/view}}
            {{/unless}}
            {{else}}
            {{#view App.PathfindSendView}}
            <div class="control-group">
                <label class="control-label" for="recipient">Address
                {{#if controller.enteredKey}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validAddress}}
                {{#if rippleInd}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                {{else}}
                {{#if validBitcoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validNextcoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validLitecoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validNamecoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validPeercoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validDogecoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if validAuroracoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                </label>
                <div class="controls">
                {{input id="recipient" type="text" class="input-block-level addressInput" value=controller.recipient placeholder=controller.placeholder}}
                </div>
            </div>
            {{/view}}
            {{/if}}
            {{#view App.PathfindSendView}}
            <div class="control-group">
                {{#if validBitcoinAddress}}
                <label class="control-label" for="amounteded">BTC Amount</label>
                {{else}}
                {{#if validNextcoinAddress}}
                <label class="control-label" for="amounteded">NXT Amount</label>
                {{else}}
                {{#if validLitecoinAddress}}
                <label class="control-label" for="amounteded">LTC Amount</label>
                {{else}}
                {{#if validNamecoinAddress}}
                <label class="control-label" for="amounteded">NMC Amount</label>
                {{else}}
                {{#if validPeercoinAddress}}
                <label class="control-label" for="amounteded">PPC Amount</label>
                {{else}}
                {{#if validDogecoinAddress}}
                <label class="control-label" for="amounteded">DOG Amount</label>
                {{else}}
                {{#if validAuroracoinAddress}}
                <label class="control-label" for="amounteded">AUR Amount</label>
                {{else}}
                {{#if controller.bitcoinInd}}
                <label class="control-label" for="amounteded">BTC Amount</label>
                {{else}}
                {{#if controller.litecoinInd}}
                <label class="control-label" for="amounteded">LTC Amount</label>
                {{else}}
                <label class="control-label" for="amounteded">Amount</label>
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}

                <div class="controls">
                {{input id="amounteded" type="text" class="input-block-level amountInput" value=controller.amounted placeholder=""}}
                </div>
            </div>
            {{/view}}

            {{#if controller.rippleInd}}
            {{#unless validBitcoinAddress}}
            {{#unless validNextcoinAddress}}
            {{#unless validNamecoinAddress}}
            {{#unless validPeercoinAddress}}
            {{#unless validDogecoinAddress}}
            {{#unless validAuroracoinAddress}}
            {{#unless validLitecoinAddress}}
            {{#view App.PathfindSendView creditPacketBinding=creditPacket}}
            {{#if sendInd}}
            {{#if isXRP}}
            <div class="btn-group" style="margin-bottom: 20px;width:100%;">
            <button class="btn btn-primary" {{action debitTurned target="view"}} {{bindAttr style=controller.debitStyle}}>
            Debit
            </button>
            <button class="btn btn-primary" {{action creditTurned target="view"}} {{bindAttr style=controller.creditStyle}}>
            Credit
            </button>
            </div>
            {{#if credit}}
                <div class="control-group">
                    <label class="control-label" for="credit">Credit Provider</label>
                    <div class="controls selectOver">
                        {{view Ember.Select
                               contentBinding="controller.creditOptions"
                               valueBinding="controller.creditProvider"
                        }}
                    </div>
                </div>
                {{#if creditPacket}}
                <p style="margin-bottom: 10px;text-align: center;">Credit Limit: {{creditPacket.totalCredit}} XRP &#8729; Credit Left: {{creditPacket.totalCreditLeft}} XRP &#8729; Total Fees: {{creditPacket.totalFees}} XRP &#8729; Credit Score: {{creditPacket.creditScore}}</p>
                <p style="margin-bottom: 20px;text-align: center;">Payback Address: {{creditPacket.address}}?dt={{creditPacket.destination_tag}}</p>
                {{#if billsToPay}}
                <div class="btn-group" style="margin-bottom: 20px;width:100%;">
                    <button class="btn btn-primary btn-block" {{action payCredit target="view"}}>Pay Credit Bill</button>
                </div>
                {{/if}}
                {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
            <div class="btn-group" style="margin-bottom: 20px;width:100%;">
            <button class="btn btn-primary" {{action currencyTurned target="view"}} {{bindAttr style=controller.currencyStyle}}>
            Currency
            </button>
            <button class="btn btn-primary" {{action stockTurned target="view"}} {{bindAttr style=controller.stockStyle}}>
            Stock
            </button>
            </div>
            {{#if currencied}}
            <div class="control-group">
                {{#if rippleInd}}
                {{#if convertInd}}
                <label class="control-label" for="currency">Currency To</label>
                {{else}}
                <label class="control-label" for="currency">Currency</label>
                {{/if}}
                {{else}}
                <label class="control-label" for="currency">Currency</label>
                {{/if}}
                <div class="controls selectOver">
                    {{view Ember.Select
                           contentBinding="controller.currencyOptions"
                           valueBinding="controller.currency"
                    }}
                </div>
            </div>
            {{else}}
            {{#if stocksied}}
            <div class="control-group">
                {{#if rippleInd}}
                {{#if convertInd}}
                <label class="control-label" for="stock">Stock To</label>
                {{else}}
                <label class="control-label" for="stock">Stock</label>
                {{/if}}
                {{else}}
                <label class="control-label" for="stock">Stock</label>
                {{/if}}
                <div class="controls">
                {{input id="stock" type="text" class="input-block-level amountInput fullTake" value=controller.currency placeholder=""}}
                </div>
            </div>
            {{/if}}
            {{/if}}
            {{/view}}
            {{#if rippleInd}}
            {{#if isXRP}}
            {{#unless convertInd}}
            <div class="control-group">
                <div class="controls">
                {{#if inProgress}}
                {{else}}
                    {{#if isValidButton}}
                    {{input type="submit" class="btn btn-primary btn-block currencySend regSend" value="Send"}}
                    {{else}}
                    {{input type="submit" class="btn btn-primary btn-block currencySend regSend disabled" value="Send"}}
                    {{/if}}
                {{/if}}
                </div>
            </div>
            {{/unless}}
            {{/if}}
            {{/if}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{else}}
            {{#if rippleInd}}
            {{#unless convertInd}}
            {{#if isXRP}}
            <div class="control-group">
                <div class="controls">
                {{#if inProgress}}
                {{else}}
                    {{#if isValidButton}}
                    {{input type="submit" class="btn btn-primary btn-block currencySend regSend" value="Send"}}
                    {{else}}
                    {{input type="submit" class="btn btn-primary btn-block currencySend regSend disabled" value="Send"}}
                    {{/if}}
                {{/if}}
                </div>
            </div>
            {{/if}}
            {{/unless}}
            {{/if}}
            {{/if}}
        </form>
        {{#if credit}}
        {{#if controller.rippleInd}}
        {{#if controller.stocksied}}
        <div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">
            {{#unless controller.paths}}
            <i class="icon-spin loadered" style="display:none;background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
            <p style="margin-bottom:0px;display:none;" class="noPathsFound">No paths found.</p>
            {{/unless}}
            {{#each filter in filterPath}}
            {{#view App.PathSubmitView}}

            <button class="btn btn-primary currencyButton" {{action pathPay target="view"}}>
            {{roundBalanceFour filter.amount}} {{filter.currency}}
            </button>
            {{input type="hidden" class="pathIndex" value=filter.index}}
            {{/view}}
            {{/each}}

        </div>
        {{/if}}
        {{/if}}
        {{else}}
        {{#if controller.rippleInd}}
        <div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">
            {{#unless controller.paths}}
            <i class="icon-spin loadered" style="display:none;background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
            <p style="margin-bottom:0px;display:none;" class="noPathsFound">No paths found.</p>
            {{/unless}}
            {{#each filter in filterPath}}
            {{#view App.PathSubmitView}}

            <button class="btn btn-primary currencyButton" {{action pathPay target="view"}}>
            {{roundBalanceFour filter.amount}} {{filter.currency}}
            </button>
            {{input type="hidden" class="pathIndex" value=filter.index}}
            {{/view}}
            {{/each}}

        </div>
        {{/if}}
        {{/if}}
        <p style="margin-bottom: 0px;text-align: center;">*Supports Ripple, Bitcoin, Litecoin, NXT, Dogecoin, Auroracoin, Peercoin, Namecoin</p>
    </div>
    {{#if controller.rippleInd}}
    <div class="span6" style="text-align: center !important;">
        <h5 class="page-title">Balances</h5>
        <hr>
    <div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important;">
        {{#if funded}}
        {{#each currencyBalance}}
            {{view App.Popover templateName="popover-currency"}}
        {{/each}}
        {{/if}}
    </div>
    </div>
    {{else}}
    {{/if}}
</div>
<hr>
<div class="row">
<div class="span6" style="text-align: center !important;">
<h5 class="page-title">Invoices</h5>
<hr>
<div class="span6 well" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">
<table class="table table-condensed" style="margin-bottom:0px;">
<thead>
</thead>
<tbody>
{{#each unpaidInvoices}}
    {{#if this.insurance}}
    <tr style="border: 1px solid #ddd;text-align:center;font-size:12px;">
        <td style="vertical-align:middle;">{{#linkTo 'member' this.memberId}}<div class="profile-image img-circle" {{bindAttr style="this.profileStyle"}}></div>{{/linkTo}}</td>
        <td style="vertical-align:middle;text-align:center;">{{#linkTo 'group' this.group}}Group{{/linkTo}}</td>
        <td style="vertical-align:middle;text-align:center;">{{#linkTo 'claim' this.claim}}Claim{{/linkTo}}</td>
        {{#if this.failToPay}}
        <td style="vertical-align:middle;border: 1px solid #e74c3c;text-align:center;">{{#view App.ToolTipView}}<span class="tooled" data-toggle="tooltip" {{bindAttr title="this.portion"}}>{{this.amount}}
        <br>Due
        {{#if this.timeUp}}
        <span style="color: #e74c3c !important;">
        {{else}}
        <span>
        {{/if}}
        {{displayDate this.pastDate}}</span></span>{{/view}}</td>
        {{else}}
        <td style="vertical-align:middle;text-align:center;">{{#view App.ToolTipView}}<span class="tooled" data-toggle="tooltip" {{bindAttr title="this.portion"}}>{{this.amount}}
        <br>Due
        {{#if this.timeUp}}
        <span style="color: #e74c3c !important;">
        {{else}}
        <span>
        {{/if}}
        {{displayDate this.pastDate}}</span></span>{{/view}}</td>
        {{/if}}
        <td style="vertical-align:middle">
        <div class="btn-group">
            {{#view App.PayView}}
            {{#if this.several}}
                <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                Pay
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="right: 0px;left: auto;">
                {{#if this.currencyPay}}
                <li>
                    <a href="#" role="button" {{action pay target="view"}} style="font-size: 14px;">Pay with {{this.currency}}</a>
                </li>
                {{/if}}
                {{#if this.convert}}
                <li>
                    <a href="#convertPayModal" role="button" data-toggle="modal" {{action setConvert target="view"}} style="font-size: 14px;">Convert & Pay</a>
                </li>
                {{/if}}
                {{#if this.dwolla}}
                <li>
                    <a href="#dwollaModal" role="button" data-toggle="modal" style="font-size: 14px;" {{action setConvert target="view"}}>Pay with Dwolla</a>
                </li>
                {{/if}}
                </ul>
            {{else}}
            {{#if this.currencyPay}}
                <a href="#" role="button" class="btn btn-small btn-primary" {{action pay target="view"}} style="font-size: 14px;">Pay with {{this.currency}}</a>
            {{/if}}
            {{#if this.convert}}
                <a href="#convertPayModal" role="button" data-toggle="modal" class="btn btn-small btn-primary" {{action setConvert target="view"}} style="font-size: 14px;">Convert</a>
            {{/if}}
            {{#if this.dwolla}}
                <a href="#dwollaModal" role="button" data-toggle="modal" class="btn btn-small btn-primary" style="font-size: 14px;" {{action setConvert target="view"}}>Dwolla</a>
            {{/if}}
            {{/if}}
            <input type="hidden" class="invoiceId" name="invoiceId" {{bindAttr value="this.invoiceId"}}></input>
            {{/view}}
        </div>
        </td>
    </tr>
    {{else}}
    <tr style="border: 1px solid #ddd;text-align:center;font-size:12px;">
        <td style="vertical-align:middle;">{{#linkTo 'member' this.memberId}}<div class="profile-image img-circle" {{bindAttr style="this.profileStyle"}}></div>{{/linkTo}}</td>
        <td></td>
        <td style="vertical-align:middle;text-align:center;">{{dateLast this.receivedDate}}</td>
        {{#if this.failToPay}}
        <td style="vertical-align:middle;border: 1px solid #e74c3c;text-align:center;">{{this.amount}}
        <br>Due
        {{#if this.timeUp}}
        <span style="color: #e74c3c !important;">
        {{else}}
        <span>
        {{/if}}
        {{displayDate this.pastDate}}</span></td>
        {{else}}
        <td style="vertical-align:middle;text-align:center;"><span>{{this.amount}}
        <br>Due
        {{#if this.timeUp}}
        <span style="color: #e74c3c !important;">
        {{else}}
        <span>
        {{/if}}
        {{displayDate this.pastDate}}</span></td>
        {{/if}}
        <td style="vertical-align:middle">
        <div class="btn-group">
            {{#view App.PayView}}
                <a href="#pathfindPay" role="button" data-toggle="modal" class="btn btn-small btn-primary" {{action pathfindPay target="view"}} style="font-size: 14px;">Pay</a>
                <input type="hidden" class="invoiceId" name="invoiceId" {{bindAttr value="this.invoiceId"}}></input>
            {{/view}}
        </div>
        </td>
    </tr>
    {{/if}}
{{/each}}
</tbody>
</table>
</div>
</div>
<div class="span6" style="text-align: center !important;">
<h5 class="page-title">Dues</h5>
<hr>
<div class="span6 well" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">
<table class="table table-condensed" style="margin-bottom:0px;">
<thead>
</thead>
<tbody>
{{#each unpaidDues}}
    {{#if this.insurance}}
    <tr style="border: 1px solid #ddd;text-align:center;font-size:12px;">
        <td style="vertical-align:middle;">{{#linkTo 'member' this.memberId}}<div class="profile-image img-circle" {{bindAttr style="this.profileStyle"}}></div>{{/linkTo}}</td>
        <td style="vertical-align:middle;text-align:center;">{{#linkTo 'group' this.group}}Group{{/linkTo}}</td>
        <td style="vertical-align:middle;text-align:center;">{{#linkTo 'claim' this.claim}}Claim{{/linkTo}}</td>
        {{#if this.failToPay}}
        <td style="vertical-align:middle;border: 1px solid #e74c3c;text-align:center;">{{#view App.ToolTipView}}<span class="tooled" data-toggle="tooltip" {{bindAttr title="this.portion"}}>{{this.amount}}
        <br>Due
        {{#if this.timeUp}}
        <span style="color: #e74c3c !important;">
        {{else}}
        <span>
        {{/if}}
        {{displayDate this.pastDate}}</span></span>{{/view}}</td>
        {{else}}
        <td style="vertical-align:middle;text-align:center;">{{#view App.ToolTipView}}<span class="tooled" data-toggle="tooltip" {{bindAttr title="this.portion"}}>{{this.amount}}
        <br>Due
        {{#if this.timeUp}}
        <span style="color: #e74c3c !important;">
        {{else}}
        <span>
        {{/if}}
        {{displayDate this.pastDate}}</span></span>{{/view}}</td>
        {{/if}}
        <td style="vertical-align:middle">
            {{#if this.timeUp}}
            {{#if this.failToPay}}
            {{#view App.PayView}}
            <a href="#" role="button" class="btn btn-mini btn-primary" {{action forgive target="view"}}>Forgive Due</a>
            <input type="hidden" class="dueId" name="dueId" {{bindAttr value="this.dueId"}}></input>
            {{/view}}
            {{else}}
            {{#view App.PayView}}
            <a href="#" role="button" class="btn btn-mini btn-primary" {{action forgive target="view"}}>Forgive Due</a>
            <a href="#" role="button" class="btn btn-mini btn-primary" {{action failToPay target="view"}}>Fail to Pay</a>
            <input type="hidden" class="dueId" name="dueId" {{bindAttr value="this.dueId"}}></input>
            {{/view}}
            {{/if}}
            {{else}}
            {{#view App.PayView}}
            <a href="#" role="button" class="btn btn-small btn-primary" {{action forgive target="view"}}>Forgive Due</a>
            <input type="hidden" class="dueId" name="dueId" {{bindAttr value="this.dueId"}}></input>
            {{/view}}
            {{/if}}
        </td>
    </tr>
    {{else}}
        <tr style="border: 1px solid #ddd;text-align:center;font-size:12px;">
            <td style="vertical-align:middle;">{{#linkTo 'member' this.memberId}}<div class="profile-image img-circle" {{bindAttr style="this.profileStyle"}}></div>{{/linkTo}}</td>
            <td></td>
            <td style="vertical-align:middle;">{{dateLast this.receivedDate}}</td>
            {{#if this.failToPay}}
            <td style="vertical-align:middle;border: 1px solid #e74c3c;text-align:center;">{{this.amount}}
            <br>Due
            {{#if this.timeUp}}
            <span style="color: #e74c3c !important;">
            {{else}}
            <span>
            {{/if}}
            {{displayDate this.pastDate}}</span></td>
            {{else}}
            <td style="vertical-align:middle;text-align:center;">{{this.amount}}
            <br>Due
            {{#if this.timeUp}}
            <span style="color: #e74c3c !important;">
            {{else}}
            <span>
            {{/if}}
            {{displayDate this.pastDate}}</span></td>
            {{/if}}
            <td style="vertical-align:middle">
                {{#if this.timeUp}}
                {{#if this.failToPay}}
                {{#view App.PayView}}
                <a href="#" role="button" class="btn btn-mini btn-primary" {{action forgiveMessage target="view"}}>Forgive Due</a>
                <input type="hidden" class="dueId" name="dueId" {{bindAttr value="this.dueId"}}></input>
                {{/view}}
                {{else}}
                {{#view App.PayView}}
                <a href="#" role="button" class="btn btn-mini btn-primary" {{action forgiveMessage target="view"}}>Forgive Due</a>
                <input type="hidden" class="dueId" name="dueId" {{bindAttr value="this.dueId"}}></input>
                {{/view}}
                {{/if}}
                {{else}}
                {{#view App.PayView}}
                <a href="#" role="button" class="btn btn-small btn-primary" {{action forgiveMessage target="view"}}>Forgive Due</a>
                <input type="hidden" class="dueId" name="dueId" {{bindAttr value="this.dueId"}}></input>
                {{/view}}
                {{/if}}
            </td>
        </tr>
    {{/if}}
{{/each}}
</tbody>
</table>
</div>
</div>
</div>

{{#if rippledHistoryFilter}}
<hr>
<legend>Transaction History</legend>
<h4>Payments</h4>
<div class="row">
<div class="span12">
<table class="table members-table table-striped">
    <thead>
        <td>From</td>
        <td>To</td>
        <td>Amount</td>
        <td>Date</td>
        <td></td>
    </thead>
    <tbody>
    {{#each ripped in rippledHistoryFilter.payment}}
    {{#if ripped.errorFlag}}
    <tr style="border-color: #c0392b !important;border-width: 2px !important;border-style: solid;">
    <td style="min-width: 210px;">
    {{#if ripped.account.profileImageBackgroundStyle}}
    <div class="profile-image img-circle" {{bindAttr style="ripped.account.profileImageBackgroundStyle"}}></div>
    {{#linkTo 'member' ripped.account.id class="name"}} {{ ripped.account.fullName }} {{/linkTo}}
    {{else}}
    <span style="font-size:10px;">
    {{ripped.account}}
    </span>
    {{/if}}
    </td>
    <td style="min-width: 210px;">
    {{#if ripped.destination.profileImageBackgroundStyle}}
    <div class="profile-image img-circle" {{bindAttr style="ripped.destination.profileImageBackgroundStyle"}}></div>
    {{#linkTo 'member' ripped.destination.id class="name"}} {{ ripped.destination.fullName }} {{/linkTo}}
    {{else}}
    <span style="font-size:10px;">
    {{ripped.destination}}
    </span>
    {{/if}}
    </td>
    <td class="biggerTip">
    {{#view App.ToolTipView}}
    <span class="tooled" data-toggle="tooltip" data-placement="top" {{bindAttr title=ripped.issuedBy}}>{{ripped.amount}}</span>
    {{/view}}
    </td>
    <td>
    {{displayDateTime ripped.date}}
    </td>
    <td>
    {{#view App.DetailView txBinding=ripped}}
    <button class="btn btn-small btn-primary" {{action setCurrentTx target="view"}}>Details</button>
    {{/view}}
    </td>
    </tr>
    {{else}}
    <tr>
    <td style="min-width: 210px;">
    {{#if ripped.account.profileImageBackgroundStyle}}
    <div class="profile-image img-circle" {{bindAttr style="ripped.account.profileImageBackgroundStyle"}}></div>
    {{#linkTo 'member' ripped.account.id class="name"}} {{ ripped.account.fullName }} {{/linkTo}}
    {{else}}
    <span style="font-size:10px;">
    {{ripped.account}}
    </span>
    {{/if}}
    </td>
    <td style="min-width: 210px;">
    {{#if ripped.destination.profileImageBackgroundStyle}}
    <div class="profile-image img-circle" {{bindAttr style="ripped.destination.profileImageBackgroundStyle"}}></div>
    {{#linkTo 'member' ripped.destination.id class="name"}} {{ ripped.destination.fullName }} {{/linkTo}}
    {{else}}
    <span style="font-size:10px;">
    {{ripped.destination}}
    </span>
    {{/if}}
    </td>
    <td class="biggerTip">
    {{#view App.ToolTipView}}
    <span class="tooled" data-toggle="tooltip" data-placement="top" {{bindAttr title=ripped.issuedBy}}>{{ripped.amount}}</span>
    {{/view}}
    </td>
    <td>
    {{displayDateTime ripped.date}}
    </td>
    <td>
    {{#view App.DetailView txBinding=ripped}}
    <button class="btn btn-small btn-primary" {{action setCurrentTx target="view"}}>Details</button>
    {{/view}}
    </td>
    </tr>
    {{/if}}
    {{/each}}
    </tbody>
</table>

<h4>Offers</h4>
<div class="row">
<div class="span12">
<table class="table members-table table-striped">
    <thead>
        <td>From</td>
        <td>Offer</td>
        <td></td>
        <td>Date</td>
        <td></td>
    </thead>
    <tbody>
    {{#each ripped in rippledHistoryFilter.offer}}
    {{#if ripped.errorFlag}}
    <tr style="border-color: #c0392b !important;border-width: 2px !important;border-style: solid;">
    <td style="min-width: 210px;">
    {{#if ripped.account.profileImageBackgroundStyle}}
    <div class="profile-image img-circle" {{bindAttr style="ripped.account.profileImageBackgroundStyle"}}></div>
    {{#linkTo 'member' ripped.account.id class="name"}} {{ ripped.account.fullName }} {{/linkTo}}
    {{else}}
    <span style="font-size:10px;">
    {{ripped.account}}
    </span>
    {{/if}}
    </td>
    <td style="min-width: 210px;">
    {{#if ripped.tp}}
    <span style="font-size:10px;">
    {{#if ripped.tp.issuedBy}}
    {{#view App.ToolTipView}}
    <span class="tooled" data-toggle="tooltip" data-placement="top" {{bindAttr title=ripped.tp.issuedBy}}>{{ripped.tp.amount}}</span>
    {{/view}}
    {{else}}
    {{ripped.tp.amount}}
     {{/if}}
     for
     {{#if ripped.tg.issuedBy}}
     {{#view App.ToolTipView}}
     <span class="tooled" data-toggle="tooltip" data-placement="top" {{bindAttr title=ripped.tg.issuedBy}}>{{ripped.tg.amount}}</span>
     {{/view}}
     {{else}}
     {{ripped.tg.amount}}
     {{/if}}
    </span>
    {{/if}}
    </td>
    <td></td>
    <td>
    {{displayDateTime ripped.date}}
    </td>
    <td>
    {{#view App.DetailView txBinding=ripped}}
    <button class="btn btn-small btn-primary" {{action setCurrentTx target="view"}}>Details</button>
    {{/view}}
    </td>
    </tr>
    {{else}}
    <tr>
        <td style="min-width: 210px;">
        {{#if ripped.account.profileImageBackgroundStyle}}
        <div class="profile-image img-circle" {{bindAttr style="ripped.account.profileImageBackgroundStyle"}}></div>
        {{#linkTo 'member' ripped.account.id class="name"}} {{ ripped.account.fullName }} {{/linkTo}}
        {{else}}
        <span style="font-size:10px;">
        {{ripped.account}}
        </span>
        {{/if}}
        </td>
        <td style="min-width: 210px;">
        {{#if ripped.tp}}
        <span style="font-size:10px;">
        {{#if ripped.tp.issuedBy}}
        {{#view App.ToolTipView tagName='span'}}
        <span class="tooled" data-toggle="tooltip" data-placement="top" {{bindAttr title=ripped.tp.issuedBy}}>{{ripped.tp.amount}}</span>
        {{/view}}
        {{else}}
        {{ripped.tp.amount}}
         {{/if}} for {{#if ripped.tg.issuedBy}} {{#view App.ToolTipView tagName='span'}}
         <span class="tooled" data-toggle="tooltip" data-placement="top" {{bindAttr title=ripped.tg.issuedBy}}>{{ripped.tg.amount}}</span>
         {{/view}}
         {{else}}
         {{ripped.tg.amount}}
         {{/if}}
        </span>
        {{/if}}
        </td>
        <td></td>
        <td>
        {{displayDateTime ripped.date}}
        </td>
        <td>
        {{#view App.DetailView txBinding=ripped}}
        <button class="btn btn-small btn-primary" {{action setCurrentTx target="view"}}>Details</button>
        {{/view}}
        </td>
        </tr>
    {{/if}}
    {{/each}}
    </tbody>
</table>

<h4>Trust</h4>
<div class="row">
<div class="span12">
<table class="table members-table table-striped">
    <thead>
        <td>From</td>
        <td>To</td>
        <td>Amount</td>
        <td>Date</td>
        <td></td>
    </thead>
    <tbody>
    {{#each ripped in rippledHistoryFilter.trustset}}
    {{#if ripped.errorFlag}}
    <tr style="border-color: #c0392b !important;border-width: 2px !important;border-style: solid;">
    <td style="min-width: 210px;">
    {{#if ripped.account.profileImageBackgroundStyle}}
    <div class="profile-image img-circle" {{bindAttr style="ripped.account.profileImageBackgroundStyle"}}></div>
    {{#linkTo 'member' ripped.account.id class="name"}} {{ ripped.account.fullName }} {{/linkTo}}
    {{else}}
    <span style="font-size:10px;">
    {{ripped.account}}
    </span>
    {{/if}}
    </td>
    <td style="min-width: 210px;">
    {{#if ripped.destination.profileImageBackgroundStyle}}
    <div class="profile-image img-circle" {{bindAttr style="ripped.destination.profileImageBackgroundStyle"}}></div>
    {{#linkTo 'member' ripped.destination.id class="name"}} {{ ripped.destination.fullName }} {{/linkTo}}
    {{else}}
    <span style="font-size:10px;">
    {{ripped.destination}}
    </span>
    {{/if}}
    </td>
    <td class="biggerTip">
    {{#view App.ToolTipView}}
    <span class="tooled" data-toggle="tooltip" data-placement="top" {{bindAttr title=ripped.issuedBy}}>{{ripped.amount}}</span>
    {{/view}}
    </td>
    <td>
    {{displayDateTime ripped.date}}
    </td>
    <td>
    {{#view App.DetailView txBinding=ripped}}
    <button class="btn btn-small btn-primary" {{action setCurrentTx target="view"}}>Details</button>
    {{/view}}
    </td>
    </tr>
    {{else}}
    <tr>
    <td style="min-width: 210px;">
    {{#if ripped.account.profileImageBackgroundStyle}}
    <div class="profile-image img-circle" {{bindAttr style="ripped.account.profileImageBackgroundStyle"}}></div>
    {{#linkTo 'member' ripped.account.id class="name"}} {{ ripped.account.fullName }} {{/linkTo}}
    {{else}}
    <span style="font-size:10px;">
    {{ripped.account}}
    </span>
    {{/if}}
    </td>
    <td style="min-width: 210px;">
    {{#if ripped.destination.profileImageBackgroundStyle}}
    <div class="profile-image img-circle" {{bindAttr style="ripped.destination.profileImageBackgroundStyle"}}></div>
    {{#linkTo 'member' ripped.destination.id class="name"}} {{ ripped.destination.fullName }} {{/linkTo}}
    {{else}}
    <span style="font-size:10px;">
    {{ripped.destination}}
    </span>
    {{/if}}
    </td>
    <td class="biggerTip">
    {{#if ripped.isGateway}}
        {{#view App.ToolTipView}}
        <span class="tooled" data-toggle="tooltip" data-placement="top" {{bindAttr title=ripped.issuedBy}} {{bindAttr style="ripped.trustColor"}}>{{ripped.amount}}</span>
        {{/view}}
    {{else}}
        {{#view App.ToolTipView}}
        <span class="tooled" data-toggle="tooltip" data-placement="top" {{bindAttr title=ripped.issuedBy}}>{{ripped.amount}}</span>
        {{/view}}
    {{/if}}
    </td>
    <td>
    {{displayDateTime ripped.date}}
    </td>
    <td>
    {{#view App.DetailView txBinding=ripped}}
    <button class="btn btn-small btn-primary" {{action setCurrentTx target="view"}}>Details</button>
    {{/view}}
    </td>
    </tr>
    {{/if}}
    {{/each}}
    </tbody>
</table>

</div>
</div>
{{/if}}

<div id="txHistoryModal" class="modal hide fade" tabindex="-1" role="dialog" style="top: -1;" aria-hidden="true">
    <div class="modal-header" style="background-color:#2c3e50;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modalHeader" style="text-align:center;">Transaction History</h5>
    </div>
    <div class="modal-body" style="text-align:center;">
    <table class="table members-table table-striped" style="margin-bottom:0px;">
        <tr><td>From:</td><td>{{currentHistory.from}}</td></tr>
        <tr><td>To:</td><td>{{currentHistory.to}}</td></tr>
        {{#if currentHistory.invoiceId}}
        <tr><td>Invoice ID:</td><td>{{currentHistory.invoiceId}}</td></tr>
        {{/if}}
        <tr><td>Fee (drops):</td><td>{{currentHistory.fee}}</td></tr>
        {{#if currentHistory.destinationTag}}
        <tr><td>Destination Tag:</td><td>{{currentHistory.destinationTag}}</td></tr>
        {{/if}}
        <tr><td>Transaction Type:</td><td>{{currentHistory.transactionType}}</td></tr>
        <tr><td>Ledger:</td><td>{{currentHistory.ledger}}</td></tr>
        <tr><td>Transaction ID (hash):</td><td style="font-size:8px;">{{currentHistory.id}}</td></tr>
        {{#if currentHistory.errorFlag}}
        <tr style="border-color: #c0392b !important;border-width: 2px !important;border-style: solid;"><td>Success/Error Indicator</td><td>{{currentHistory.message}}</td></tr>
        {{else}}
        <tr><td>Success/Error Indicator:</td><td>{{currentHistory.message}}</td></tr>
        {{/if}}
    </table>
    </div>
</div>

{{#view App.PayView}}
<div id="convertPayModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="convertPayLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="convertPayLabel">Convert & Pay</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" style="margin-right:20px;" for="amount">Max Amount To Exchange</label>
                <div class="controls">
                    {{input type="text" id="amount" value=amount name="amount" placeholder="amount"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" style="margin-right:20px;" for="currencyIndex">Currency to Exchange</label>
                <div class="controls">
                    {{view Ember.Select
                       contentBinding="controllers.currencyOptions"
                       valueBinding="currencyIndex"
                    }}
                </div>
            </div>
    </div>
    <div class="modal-footer">
    <div class="control-group">
        <div class="controls" style="text-align:center;">
            <a href="#" role="button" class="btn btn-primary btn-block" data-dismiss="modal" {{action convertPay target="view"}}>Convert & Pay</a>
        </div>
    </div>
    </form>
    </div>
</div>
<div id="pathfindPay" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="pathfindPayLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="pathfindPayLabel">Pay</h3>
    </div>
    <div class="modal-body">
        <div class="well currencyHolder" style="margin-bottom: 0px;padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">
            <i class="icon-spin loadered invoiceLoadered" style="display:none;background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
            <p style="margin-bottom:0px;display:none;" class="noPathsFound invoiceNoPathsFound">No payment methods found. Please fund your wallet.</p>
            {{#each filter in filterInvoicePath}}
            {{#view App.PayView}}

            <button class="btn btn-primary currencyButton" data-dismiss="modal" {{action pathPay target="view"}}>
            {{roundBalanceFour filter.amount}} {{filter.currency}}
            </button>
            {{input type="hidden" class="pathIndex" value=filter.index}}
            {{/view}}
            {{/each}}

        </div>
    </div>
</div>
<div id="dwollaModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dwollaLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="dwollaLabel">Pay with Dwolla</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" style="margin-right:20px;" for="pin">Enter Pin</label>
                <div class="controls">
                    {{input type="password" id="pin" value=pin name="pin" placeholder="pin"}}
                </div>
            </div>
    </div>
    <div class="modal-footer" style="text-align:center;">
    <div class="control-group" style="text-align:center;margin-bottom:0px;">
        <div class="controls" style="text-align:center;">
            <a href="#" role="button" class="btn btn-primary btn-block" data-dismiss="modal" {{action payDwolla target="view"}}>Pay with Dwolla</a>
        </div>
    </div>
    </form>
    </div>
</div>
{{/view}}