<div class="row">
    <div class="span6">
        <div class="userIcon"></div>
        <form class="form-horizontal form-professional" {{action send on="cashOut"}} id="sendForm">
            <legend>Withdraw USD</legend>
            {{#if reservesFormatted}}
            {{#if lowReserves}}
            <div class="control-group" style="margin-top:0px;">
            <i class="icon-exclamation-sign"></i> Low supply of USD reserves. Come back later to cash out.
            </div>
            {{/if}}
            {{/if}}
            {{#view App.CashOutFormView}}
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Reserves Left</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{#if reserves}}
                {{reservesFormatted}} USD
                {{else}}
                <i class="icon-spin loadered" style="background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
                {{/if}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="amounteded">Amount (USD)
                {{#if controller.amountValid}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                </label>
                <div class="controls">
                {{input id="amounteded" type="text" class="input-block-level amountInput cashoutInput" value=controller.amounted placeholder="Amount over 50 USD to Cash Out"}}
                </div>
            </div>
            {{#if feeFormatted}}
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Total Amount with Fee</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{feeFormatted}} USD
                </div>
            </div>
            {{/if}}
            <div class="control-group">
                <div class="controls">
                <label class="checkbox">
                    {{view Ember.Checkbox checkedBinding="otherPerson"}}
                    Send to person other than yourself
                    </label>
                </div>
            </div>
            {{/view}}
            {{#if otherPerson}}
            {{#view App.CashOutFormView}}
            <div class="control-group">
                <label class="control-label" for="fullName">Full Name
                {{#if controller.fullNameValid}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{else}}
                {{#if controller.enteredKey}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                {{/if}}
                </label>
                <div class="controls">
                {{#view App.AutoAccountView}}
                {{input id="fullName" type="text" class="input-block-level addressInput cashoutInput" value=controller.recipient placeholder="Full Name"}}
                {{/view}}
                </div>
            </div>
            {{/view}}
            {{#if enteredKey}}
            {{else}}
            {{#view App.CashOutFormView}}
            <div class="control-group">
                <label class="control-label" for="routingNumber">Routing Number
                {{#if controller.routingNumberValid}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                </label>
                <div class="controls">
                {{input id="routingNumber" type="text" class="input-block-level cashoutInput" value=controller.routingNumber placeholder="Routing Number"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="bankAccount">Account Number
                {{#if controller.bankAccountValid}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                </label>
                <div class="controls">
                {{input id="bankAccount" type="text" class="input-block-level cashoutInput" value=controller.bankAccount placeholder="Bank Account Number"}}
                </div>
            </div>
            {{/view}}
            {{/if}}
            {{else}}
            <div class="control-group">
                {{#if user.bankAccounts}}
                <ul class="thumbnails" style="margin-bottom: 0px;">
                {{#each account in user.bankAccounts}}
                {{#if account.accountURI}}
                <li class="span2" style="text-align: center;text-decoration: none;margin-bottom: 0px;">
                    {{#view App.BankAccountView accountBinding=account}}
                    <a href="#" class="thumbnail" style="text-align: center;text-decoration: none;" {{action selectAccount target="view"}}>
                    <p>{{account.name}}</p>
                    <p>{{account.bankName}}</p>
                    <p>{{account.accountNumber}}</p>
                    <p>{{account.accountType}}</p>
                    {{input type="hidden" class="bankAccountId" value=account._id}}
                    {{#if view.selected}}
                    <p style="margin-bottom:0px;background-color:#1ABC9C;color:#ffffff;"><i class="icon-ok" style="color:#ffffff;"></i> SELECTED</p>
                    {{else}}
                    <p style="margin-bottom:0px;">
                    <button class="btn btn-primary btn-block">Select</button>
                    </p>
                    {{/if}}
                    </a>
                    {{/view}}
                </li>
                {{/if}}
                {{/each}}
                <!-- <li class="span2" style="text-align:center;">
                    {{#linkTo 'administrate.bankAccounts' class="thumbnail"}}
                        <img src="https://d1geqvinw0cz14.cloudfront.net/images/profileEdit.jpg" alt="Add Bank Account">
                    {{/linkTo}} -->
                </li>
                </ul>
                {{/if}}
            </div>
            {{/if}}
        </form>
        <div class="well currencyHolder" style="padding-left: 0px !important; padding-right: 0px !important; padding-top: 19px !important; padding-bottom: 19px !important; text-align: center !important; margin-left: 0px !important;">
            {{#unless controller.paths}}
            <i class="icon-spin loadered" style="display:none;background-image: url(https://d1geqvinw0cz14.cloudfront.net/images/brellaLoad.svg);position: relative;background-repeat: no-repeat no-repeat;top:2px;width: 20px;height: 20px;padding-bottom: 3px;padding-right: 2px;background-size: 20px 20px;"></i>
            <p style="margin-bottom:0px;display:none;" class="noPathsFound">No paths found.</p>
            {{/unless}}
            {{#each filter in filterPath}}
            {{#view App.CashOutView}}
            {{#if controller.otherPerson}}
            {{#if controller.validInfo}}
            {{#if controller.overEscrow}}
            <button class="btn btn-primary" {{action cashOut target="view"}}>
            {{roundBalanceFour filter.amount}} {{filter.currency}}
            {{input type="hidden" class="pathIndex" value=filter.index}}
            </button>
            {{else}}
            <button class="btn btn-primary disabled">
            {{roundBalanceFour filter.amount}} {{filter.currency}}
            </button>
            {{/if}}
            {{else}}
            <button class="btn btn-primary disabled">
            {{roundBalanceFour filter.amount}} {{filter.currency}}
            </button>
            {{/if}}
            {{else}}
            {{#if controller.bankAccountSelected}}
            {{#if controller.overEscrow}}
            <button class="btn btn-primary" {{action cashOut target="view"}}>
            {{roundBalanceFour filter.amount}} {{filter.currency}}
            {{input type="hidden" class="pathIndex" value=filter.index}}
            </button>
            {{else}}
            <button class="btn btn-primary disabled">
            {{roundBalanceFour filter.amount}} {{filter.currency}}
            </button>
            {{/if}}
            {{else}}
            <button class="btn btn-primary disabled">
            {{roundBalanceFour filter.amount}} {{filter.currency}}
            </button>
            {{/if}}
            {{/if}}
            {{/view}}
            {{/each}}

        </div>
    </div>
    <div class="span6" style="background-color:#18bc9c;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;">
        <table style="width: 100%;height: 100%;color: #ffffff;">
            <tbody style="width: 100%;height: 100%;">
                <tr style="width: 100%;height: 100%;">
                    <td style="text-align: center;width: 100%;height: 100%;padding:20px;">
                        <img src="https://d1geqvinw0cz14.cloudfront.net/images/check_image.png">
                        <p style="margin-bottom:0px;font-size: 18px;padding-top:20px;line-height: 24px;">
                        Since we cannot check the validity of the bank account number in real time, please double check the bank account number before submitting a transfer request. You may check the status of the transfer below. If the transfer does not go through due to incorrect information or another technical reason, we will refund your request in Peercover USD IOU automatically, utterly, and instantaneously upon error detection.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{#if cashOuts}}
<hr>
<legend>Cash Out Requests</legend>
<div class="row">
<div class="span12">
<table class="table members-table table-striped transactionTable">
    <thead>
        <td>To</td>
        <td>Amount</td>
        <td>Date Requested</td>
        <td>Expected Reception Date</td>
        <td>Status</td>
        <td>Completed/Refunded</td>
    </thead>
    <tbody>
    {{#each cashOut in cashOutsSorted}}
    {{#if cashOut.balancedDate}}
    <tr>
    <td>
    {{cashOut.nameTo}}
    </td>
    <td>
    {{cashOut.amount}} USD
    </td>
    <td>
    {{displayDate cashOut.balancedDate}}
    </td>
    <td>
    {{displayDate cashOut.receiveDate}}
    </td>
    <td {{bindAttr style="cashOut.statusBackground"}}>
    {{cashOut.status}}
    </td>
    <td>
        {{#if cashOut.approvedDate}}
            <i class="icon-ok" style="color:#1ABC9C"></i>
        {{else}}
        {{#if cashOut.reversedDate}}
            <i class="icon-ok" style="color:#1ABC9C"></i>
        {{/if}}
        {{/if}}
    </td>
    </tr>
    {{else}}
    <tr>
    <td>
    {{cashOut.name}}
    </td>
    <td>
    {{cashOut.amount}} USD
    </td>
    <td style="background-color:#da4f49 !important;">
    failed
    </td>
    <td style="background-color:#da4f49 !important;">
    failed
    </td>
    <td style="background-color:#da4f49 !important;">
    failed
    </td>
    <td>
        {{#if cashOut.approvedDate}}
            <i class="icon-ok" style="color:#1ABC9C"></i>
        {{else}}
        {{#if cashOut.reversedDate}}
            <i class="icon-ok" style="color:#1ABC9C"></i>
        {{/if}}
        {{/if}}
    </td>
    </tr>
    {{/if}}
    {{/each}}
    </tbody>
</table>

</div>
</div>
{{/if}}