<div class="row" style="margin-left:0px;">
    <div class="span12" style="text-align:center;">
        <h3>Trade Feed Wall</h3>
        <h5><a class="hander" {{action follow}}>Follow</a> fellow traders.</h5>
    </div>
</div>

{{#each item in sortedFeedItems}}
<div class="row" style="margin-left:0px;line-height: 60px;font-size: 18px;background-color: azure;height: 60px;">
    <div class="span12" style="text-align:center;">
        {{{item.text}}}
    </div>
</div>
{{/each}}

{{#view App.FeedInfiniteScrollView}}

{{/view}}