<div class="row">
	<div class="span6 offset3">

		<div class="alert alert-info">
			Use this form to create a new Ripple wallet to associate with your Peercover profile. You must make a record of your wallet name and password for safe-keeping.
		</div>

		<div class="well">

		<form class="form-horizontal" {{action create on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="walletName">Wallet Name</label>
				<div class="controls">
				    {{input type="text" id="walletName" value=walletName name="walletName" placeholder="wallet name"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
				    {{input type="password" id="password" value=password name="password" placeholder="password"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password2">Re-enter Password</label>
				<div class="controls">
				    {{input type="password" id="password2" value=password2 name="password2" placeholder="password"}}
				</div>
			</div>
			{{#unless attachWallet}}
			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary btn-block max-block" value="Create"}}
				</div>
			</div>
			{{else}}
            <div class="control-group">
                <label class="control-label" for="privateKey">Private Key</label>
                <div class="controls">
                    {{input type="password" id="privateKey" value=privateKey name="privateKey" placeholder="private key"}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{input type="submit" class="btn btn-primary btn-block max-block" value="Attach Wallet"}}
                </div>
            </div>
			{{/unless}}
		</form>

		</div>

        {{#unless attachWallet}}
        <div style="text-align:right">
            <p><small><a href="#" {{action 'attachWalletOn'}}>Attach existing wallet</a></small></p>
        </div>
        {{/unless}}

	</div>
</div>
