<div class="row">
	<div class="span6">
		<div class="page-heading">
			<h3 class="page-title">Wallet &amp; Payments</h3>
			<span class="page-subtitle muted">Manage Your Wallet, View Invoices, Make Payments</span>
		</div>
	</div>
	<div class="span6">
		{{outlet topspot}}
	</div>
</div>

<hr/>

{{#if currentWalletId}}

<div class="row">
	<div class="span12">
		{{#unless funded}}
			<div class="alert alert-success" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
			     Visit the <span class="key-notification">{{#linkTo 'wallet.receive'}}Send/Receive Keys{{/linkTo}}</span> section and make a note of your public and secret keys. Keep your secret key in a safe place and do not share it with anyone.
			 </div>
		{{/unless}}
		<div class="subnav" style="z-index: 9;position: relative;">
			<ul class="nav nav-pills">
				<li>
					{{#linkTo 'wallet.index'}}Overview{{/linkTo}}
				</li>
                <li>
                    {{#linkTo 'wallet.balance'}}Buy XRP with Bitcoin{{/linkTo}}
                </li>
                <li>
                    {{#linkTo 'wallet.cashout'}}Withdraw USD{{/linkTo}}
                </li>
				<li>
					{{#linkTo 'wallet.receive'}}Send/Receive Keys{{/linkTo}}
				</li>
				<li>
					{{#linkTo 'wallet.trust'}}Trust{{/linkTo}}
				</li>
                <li>
                    {{#linkTo 'administrate'}}<i class="icon-cog"></i>{{/linkTo}}
                </li>
                {{#if stillBalance}}
                <li>
                    {{#view App.ToolTipView}}
                    <img class="tooled hander" src="https://d1geqvinw0cz14.cloudfront.net/images/peercoverCharity.svg" data-toggle="tooltip" data-placement="bottom" data-title="Dust to Charity" style="width: 25px;margin-top: 5px;" {{action dustCharity}}>
                    {{/view}}
                </li>
                {{/if}}
			</ul>
		</div>
	</div>
</div>

{{/if}}

{{outlet}}
