<div id="wallet-trust">
	<div class="row">
	    {{#unless currentCurrency}}
		<div class="span12" style="text-align:center;">
            <legend style="text-align:center;">Select Currency</legend>
            <hr>
            <ul class="gateway-thumbnails thumbnails" style="margin-top:-40px;">
                {{#each currency in trustCurrencyOptions}}
                {{#view App.SelectCurrencyView currencyBinding=currency}}
                <li class="span3" style="text-align:center;margin-top:60px;height:180px;" {{action 'pickCurrency' target="view"}}>
                    <a href="#" class="thumbnail" style="text-decoration: none;color: #2c3e50;height:100%;">
                        <table style="width: 100%;height:100%;">
                            <tr style="height:100%;">
                                <td style="text-align: center; vertical-align: middle;height:100%;">
                                    {{#if view.currencySelectedPacket.code}}
                                        <h5>
                                        {{view.currencySelectedPacket.name}} ({{view.currencySelectedPacket.code}})
                                        </h5>
                                        {{#if view.currencySelectedPacket.image}}
                                        <hr style="margin-top:5px;margin-bottom:5px;">
                                        <img {{bindAttr src=view.currencySelectedPacket.image}} style="max-width:100px;text-align:center;max-height:100px;" />
                                        {{/if}}
                                    {{else}}
                                        <h4>{{view.currencySelectedPacket.name}}</h4>
                                    {{/if}}
                                </td>
                            </tr>
                        </table>
                    </a>
                </li>
                {{/view}}
                {{/each}}
            </ul>
        </div>
        {{/unless}}
        {{#if currentCurrencyFormatted}}
        <div class="span9" style="text-align:center;">
		    {{#if controllers.walletIndex.funded}}
		    <legend style="text-align:center;">Select Trusted Gateways ({{currentCurrencyFormatted}})</legend>
		    <hr>
            <ul class="gateway-thumbnails thumbnails">
                {{#each gateway in currentGateways}}
                {{#view App.GatewayActiveView gatewayBinding=gateway}}
                <li class="span3" style="text-align:center;margin-top:20px;" {{action trust target="view"}}>
                    <a href="#" class="thumbnail" {{bindAttr style="view.trustStyle"}}>
                    </a>
                </li>
                {{/view}}
                {{/each}}
            </ul>
		    {{else}}
		        <div class='row'>
		            <div class="alert alert-error span9" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
		                Please fund wallet with at least 100 XRP to choose trusted payment options.
                    </div>
                </div>
		    {{/if}}
		</div>
		<div class="span3">
        <button id="profile-edit-back-btn" class="btn btn-block" {{action 'back'}}>Back</button>
		</span>
		{{/if}}
	</div>
</div>
