<div class="row">
	<div class="span6 offset3" style="text-align:center;">
		<img src="https://s3-us-west-2.amazonaws.com/peercover/images/firstincoin.svg" style="width:50%" alt="First in Coin"/>
	</div>
</div>
<hr/>
<div class="row" style="text-align:center;">
	<div class="span12" style="text-align:center;">
		<div class="page-heading" style="text-align:center;">
			<h3 class="page-title">About Get First Coins</h3>
			<span class="page-subtitle muted"></span>
		</div>
	</div>
</div>

<hr/>

<div class="row" style="text-align:center;">
	<div class="span12" style="text-align:center;">
		<p class="lead" style="text-align:center;">
			Buy Bitcoins instantly with credit card at market prices with zero markup.
		</p>
	</div>
</div>