<div id="wrap">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">

			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".colp">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
            {{#if currentUserId}}
			<a class="brand" {{action doNothing}}>Get First Coins</a>
            {{else}}
            <a class="brand" href="#">Get First Coins</a>
            {{/if}}
			{{#if currentUserId}}
				<ul class="nav pull-right">
					<li class="visible-desktop"><a href="#" {{action logout}}>Logout</a></li>
					<li>{{#view App.ConnectionIndicator}}<a class="connection-indicator" href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Connection Status" {{action connect}}><i class="icon-circle"></i></a>{{/view}}</li>
				</ul>
			{{/if}}

			{{#unless currentUserId}}
			<ul class="social-login nav pull-right" style="width: 215px !important;">
				<li>
					<a id="facebook-login" href="#" data-toggle="tooltip" data-placement="bottom" title="Login with Facebook" {{action facebookLogin}}>
						<i class="icon-facebook"></i>
					</a>
				</li>
				<li>
					<a id="linkedin-login" href="#" data-toggle="tooltip" data-placement="bottom" title="Login with LinkedIn" {{action linkedinLogin}}>
						<i class="icon-linkedin"></i>
					</a>
				</li>
				<li>
					<a id="dwolla-login" href="#" data-toggle="tooltip" data-placement="bottom" title="Login with Dwolla" {{action dwollaLogin}}>
						<i class="ico-dwolla"></i>
					</a>
				</li>
				<li>
                    <a id="password-recovery" href="#/inputEmail" data-toggle="tooltip" data-placement="bottom" title="Recover Password">
                        <i class="icon-exclamation-sign"></i>
                    </a>
                </li>
                <li class="visible-desktop">{{#view App.ConnectionIndicator}}<a class="connection-indicator" href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Connection Status" {{action connect}}><i class="icon-circle"></i></a>{{/view}}</li>
			</ul>
			{{/unless}}
			
			{{#unless currentUserId}}
			<form class="navbar-form pull-right" {{action login on="submit"}}>
				{{input id="navbarInputEmail" type="text" class="span2" value=email placeholder="email"}}
				{{input id="navbarInputPassword" type="password" class="span2" value=password placeholder="password"}}
				<button id="navbar-login-btn" type="submit" class="btn btn-success" {{bindAttr disabled="loginProcessing"}}>Log in</button>

			</form>
			{{/unless}}

			<div class="nav-collapse collapse colp">
			<ul class="nav">
			    <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
				{{#if currentUserId}}
                <li>{{#linkTo 'profile'}}Profile{{/linkTo}}</li>
                <li>{{#linkTo 'buyBitcoin'}}Buy Bitcoin{{/linkTo}}</li>
				{{else}}
				<li>{{#linkTo 'register'}}Register{{/linkTo}}</li>
				{{/if}}
				<li><a style="padding-right: 0px;" href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#2c3e50" data-uv-link-color="#1abc9c" data-uv-default-mode="support" data-uv-forum-id="220747">Support</a></li>
				{{#if currentUserId}}
				<li class="hidden-desktop"><a href="#" {{action logout}}>Logout</a></li>
				{{/if}}
			</ul>
			</div>

		</div>
	</div>
</div>


<div id="main" class="container">
	<div id="alerts" class="row">
		<div class="span12" style="position: relative !important;margin-top: -38px !important;">
            <div class="alert alert-error" id="noticeSlide" style="margin-bottom:0px;display: none;text-align : center !important;padding: 8px 5px 8px 5px !important;">
            </div>
		</div>
	</div>
	{{outlet}}
</div>
</div>
<div id="footer">
	<footer>
		<div class="container">
		    <div id="alerts" class="row">
                <div class="span12" style="position: relative !important;margin-top: -40px !important;">
                    <div class="alert alert-error" id="noticeSlide2" style="margin-bottom:0px;display: none;text-align : center !important;padding: 8px 5px 8px 5px !important;">
                    </div>
                </div>
            </div>
			<div class="row" style="height:100px;">
				<div class="span12">
					<div class="page-header" style="text-align: center !important;margin-bottom:0px;padding-bottom:0px;">
						<address style="margin-bottom:0px;padding:0px;height:60px;">
							<strong>&copy; 2014 Get First Bitcoins</strong><br>
				    		{{#linkTo 'termsConditions'}}Terms &amp; Conditions{{/linkTo}}<br>
						</address>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>