{{#unless contented.jumioVerified}}
<div class='row'>
    <div class="alert alert-info span12" style="text-align : center !important;padding: 8px 0px 8px 0px !important;">
        Please {{#linkTo 'profile'}}verify your identity{{/linkTo}}. This may take a few minutes to register after receiving a success.
    </div>
</div>
{{/unless}}
<div class="row">
    <div class="span6">
        <form class="form-horizontal form-professional" id="sendForm">
            <legend>Buy Bitcoin</legend>
            {{#if reservesFormatted}}
            {{#if lowReserves}}
            <div class="control-group">
            <i class="icon-exclamation-sign"></i> Low supply of Bitcoin reserves. Come back later to purchase Bitcoin.
            </div>
            {{/if}}
            {{/if}}
            <div class="control-group">
                <label class="control-label" for="amountXRP">Amount of Bitcoin</label>
                <div class="controls" style="min-width: 430px;">
                {{input id="amountXRP" type="text" class="input-block-level" value=controller.amountBTC placeholder="Amount of Bitcoin to Buy"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Address to send Bitcoin
                {{#if validBitcoinAddress}}
                <i class="icon-ok" style="color:#1ABC9C"></i>
                {{/if}}
                </label>
                <div class="controls">
                {{input id="recipient" type="text" class="input-block-level addressInput" value=bitcoinAddress placeholder="Bitcoin Address"}}
                </div>
            </div>
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Conversion rate<br>BTC/USD</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{#if conversionFormatted}}
                {{{conversionFormatted}}}
                {{else}}
                <i class="icon-spin loadered" style="background-image: url(https://s3-us-west-2.amazonaws.com/peercover/images/firstincoin.svg);position: relative;background-repeat: no-repeat no-repeat;top: 2px;width: 20px;height: 20px;padding-bottom: 1px;padding-left: 3px;background-size: 20px 20px;"></i>
                {{/if}}
                </div>
            </div>
            {{#if priceBTCFormatted}}
            {{#if amountBTC}}
            <div class="control-group" style="margin-bottom:15px;">
                <label class="control-label">Price</label>
                <div class="controls" style="margin-top:5px;padding-left:7px;">
                {{{priceBTCFormatted}}}
                </div>
            </div>
            {{/if}}
            {{/if}}
            <div class="control-group">
                <div class="controls">
                    {{#if validBuyButton}}
                    <a href="#netverifyModal" role="button" data-toggle="modal" class="btn btn-primary btn-block buyXRPSend currencySend">Buy Bitcoin</a>
                    {{else}}
                    <a role="button" class="btn btn-primary btn-block buyXRPSend currencySend disabled">Buy Bitcoin</a>
                    {{/if}}
                </div>
            </div>
        </form>
    </div>
    <div class="span6" style="text-align: center;">
        {{#view App.TradeView}}
        <div id="tv-miniwidget" style="height:274px;overflow:hidden;"></div>
        {{/view}}
    </div>
</div>
<hr>
<div class="row" style="margin-bottom: 30px;">
  <div class="span12" style="text-align:center;">
    <img src="https://s3-us-west-2.amazonaws.com/peercover/images/creditCards.png">
  </div>
</div>

<div id="netverifyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header" style="background-color:#2c3e50;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 class="modalHeader">Pay with Credit Card</h5>
    </div>
    <div class="modal-body" style="text-align:center;">
    <form class="form-horizontal form-professional" id="sendForm">
        <legend>Buy Bitcoin</legend>
        {{#if contented.creditCard}}
        <div class="control-group">
            <div class="controls">
            <label class="checkbox">
                {{view Ember.Checkbox checkedBinding="again"}}
                Buy with the last credit card
                </label>
            </div>
        </div>
        {{/if}}
        {{#unless again}}
        <div class="control-group">
            <label class="control-label" for="creditCard">Credit Card Number
            {{#if validNumber}}
            <i class="icon-ok" style="color:#1ABC9C"></i>
            {{/if}}
            </label>
            <div class="controls">
            {{input id="creditCard" type="text" class="input-block-level" value=card placeholder="Credit Card Number"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="code">3-digit Security Code
            {{#if validCode}}
            <i class="icon-ok" style="color:#1ABC9C"></i>
            {{/if}}
            </label>
            <div class="controls">
            {{input id="code" type="text" class="input-block-level" value=code placeholder="3-digit Security Code"}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="expires">Credit Card Expires
            {{#if validExpiry}}
            <i class="icon-ok" style="color:#1ABC9C"></i>
            {{/if}}
            </label>
            <div class="controls">
            {{input id="expires" type="text" class="input-block-level" value=month placeholder="Month"}}
            {{input id="expires2" type="text" class="input-block-level" value=year placeholder="Full Year (20XX)"}}
            </div>
        </div>
        {{/unless}}
    </form>
    </div>
    <div class="modal-footer" style="text-align:center;">
        {{#if validCreditCard}}
        <a role="button" data-dismiss="modal" class="btn btn-primary btn-block buyXRPSend currencySend" {{action buyBitcoinCreditCard}}>Buy Bitcoin</a>
        {{else}}
        <a role="button" class="btn btn-primary btn-block buyXRPSend currencySend disabled" {{action doNothing}}>Buy Bitcoin</a>
        {{/if}}
    </div>
</div>