{{#unless controllers.application.currentUserId}}
<div class="row">
	<div class="span6 offset3" style="text-align:center;">
		<img src="https://s3-us-west-2.amazonaws.com/peercover/images/firstincoin.svg" style="width:50%" alt="First in Coin"/>
	</div>
</div>
<div class="row" style="margin-left:0px;">
    <div class="span9 offset1 offsetWalkthrough">
        <div class="marketing">
            <hr/>
            <h2>First in Coin</h2>
            <h3>Buy Bitcoin with Credit Card Instantly</h3>
            <h4>0% Markup</h4>
            <hr style="margin-bottom:23px;">
            <p>
                {{#linkTo 'register' class='btn btn-large btn-primary menuPad'}}Register{{/linkTo}}
                {{#linkTo 'login' class='btn btn-large btn-success menuPad'}}Login{{/linkTo}}
            </p>
            <hr/>
        </div>
    </div>
</div>
{{/unless}}
