<div class="row">
	<div class="span12" style="text-align:center;">
		<div class="page-heading" style="text-align:center;">
			<h3 class="page-title">Recover Password</h3>
			<span class="page-subtitle muted"></span>
		</div>
	</div>
</div>

<hr/>

<div class="row">
	<div class="span6 offset3">

		<div class="alert alert-info">
			Send a password recovery code to your email address.
		</div>

		<div class="well">

		<form class="form-horizontal" {{action recover on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="email">Email</label>
				<div class="controls">
				    {{input type="text" id="email" value=email name="email" placeholder="email"}}
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				    {{input type="submit" class="btn btn-primary btn-block max-block" value="Recover"}}
				</div>
			</div>
		</form>
		</div>
	</div>
</div>
