{{#view App.FadeInBigView}}
<div class="fadeInAll">
<div id="profile">
	<div class="row">
		<div class="span6">
			<div class="page-heading profile-heading">
				<div class="profile-image img-circle hander" {{bindAttr style="profileImageBackgroundStyle"}} {{action 'editImage'}}>
				{{#if accredit}}
				<img id="accredidationBadge" src="https://s3-us-west-2.amazonaws.com/peercover/images/accredited.png">
				{{/if}}
				</div>
				<h3 class="page-title full-name">{{fullName}}</h3>
				{{#if superadmin}}
				<span class="page-subtitle join-date" style="color:#B8860B;">Superadmin since {{ displayDate superadminDate }}</span><br>
				{{/if}}
				{{#if founderDeal}}
                <span class="page-subtitle join-date" style="color:#B8860B;">Original Founder since {{ displayDate founderDealDate }}</span><br>
                {{/if}}
				<span class="page-subtitle join-date muted">Member since {{ displayDate joinDate }}</span>
			</div>
		</div>
		<div class="span6">

		</div>
	</div>

	<hr/>

	{{#unless verified}}

	<div class="row">
		<form class="form-horizontal form-professional" {{action verify on="submit"}}>
			<div class="span8">
				<div class="alert">
                    Please check your email for a verification link and click on link.
                </div>
			</div>
			<div class="span3 offset1">
			    <button class="btn btn-block btn-primary" style="position: relative;display: inline;width: 49%;" {{action 'resendVerification'}}>Resend</button>
			</div>
		</form>
	</div>

	<hr/>

	{{/unless}}

	{{#if isViewing}}
	<div class="row">
		<div class="span8">
			<h3>Profile</h3>
		</div>
		<div class="span2 offset2">
			<div class="btn-group" style="float:right; margin-bottom:10px;">
				<button id="profile-edit-btn" class="btn btn-primary" {{action 'editProfile'}}>Edit</button>
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				<i class="icon-cog"></i>
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" style="left:auto; right:0;">
					<li>
						<a href="#" {{action 'editProfile'}}>Edit Profile</a>
					</li>
					<li>
						<a href="#" {{action 'editEmail'}}>Update Email Address</a>
					</li>
					<li>
						<a href="#" {{action 'changePassword'}}>Change Password</a>
					</li>
					<li>
						<a href="#" {{action 'editImage'}}>Select Profile Image</a>
					</li>
                    <li>
                        <a href="#" {{action 'twoFactor'}}>Two-Factor Authentication</a>
                    </li>
				</ul>
			</div>
		</div>
	</div>

	{{#if doesNotHaveName}}
	<div class="row">
		<div class="span12">
			<div class="alert">
				Use the Edit button to fill in your full name and edit your profile.
			</div>
		</div>
	</div>
	{{/if}}

	<div class="row">
		<div class="span4">
			{{#if username}}	
				<address>
					<strong>Username</strong><br>
					{{username}}
				</address>
			{{/if}}
			{{#if fullName}}	
				<address id="profile-full-name">
					<strong>Full Name</strong><br>
					{{fullName}}
				</address>
			{{/if}}
			{{#if email}}	
				<address id="profile-email">
					<strong>Email</strong><br>
					{{email}}
				</address>
			{{/if}}
		</div>
		<div class="span4">
			<address style="height:40px;">
				{{#if verified}}
					<span class="badge badge-success">Verified Account</span>
				{{else}}
					<span class="badge badge-important">Unverified Account</span>
				{{/if}}
			</address>
			<address>
				<strong>Updated</strong><br>
				{{ displayDate updateDate }}
			</address>
		</div>
	</div>
	{{/if}}

    {{#if isTwoFactor}}
    {{#if hasTwoFactor}}
    <div class="row">
        <div class="span8">
            <h3>Two-Factor Authentication</h3>
            <button id="profile-edit-back-btn" class="btn btn-danger" {{action 'disableTwoFactor'}}>Disable Two-Factor</button>
        </div>
        <div class="span2 offset2">
            <button id="profile-edit-back-btn" class="btn btn-block" {{action 'stopEditing'}}>Back</button>
        </div>
    </div>
    {{else}}
    {{#view App.AuthyFormatView}}
    <div class="row">
        <div class="span8">
        <h3>Two-Factor Authentication</h3>
        <form class="form-horizontal form-professional countryMod" {{action twoFactorRegister on="submit"}}>
            <div class="control-group">
                <label class="control-label" for="authy-countries">Your Country</label>
                <div class="controls">
                <select id="authy-countries" class="input-block-level"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="authy-cellphone">Your Cell Phone</label>
                <div class="controls">
                {{input id="authy-cellphone" type="text" class="input-block-level maxWidAuth" value=cellPhone placeholder=""}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{input id="save-profile-btn" type="submit" class="btn btn-success enableTwo" value="Enable Two-Factor"}}
                </div>
            </div>
        </form>
        </div>
        <div class="span2 offset2">
            <button id="profile-edit-back-btn" class="btn btn-block" {{action 'stopEditing'}}>Back</button>
        </div>
    </div>
    {{/view}}
    {{/if}}
    {{/if}}

	{{#if isEditing}}
	<div class="row">
		<div class="span8">
		<h3>Profile</h3>
        <form class="form-horizontal form-professional" {{action saveProfile on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="inputUsername">Username</label>
				<div class="controls">
				{{input id="inputUsername" type="text" class="input-block-level" value=username placeholder="pick a username"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputFirstName">First Name</label>
				<div class="controls">
				{{input id="inputFirstName" type="text" class="input-block-level" value=firstName placeholder=""}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLastName">Last Name</label>
				<div class="controls">
				{{input id="inputLastName" type="text" class="input-block-level" value=lastName placeholder=""}}
				</div>
			</div>
            <div class="control-group">
                <div class="controls">
                    {{input id="save-profile-btn" type="submit" class="btn btn-success" value="Save Profile"}}
                </div>
            </div>
		</form>
		</div>
		<div class="span2 offset2">
			<button id="profile-edit-back-btn" class="btn btn-block" {{action 'stopEditing'}}>Back</button>
		</div>
	</div>
	{{/if}}

	{{#if isEditingImage}}

	<div class="row">
		<div class="span8">
			<h3>Profile</h3>
			<ul class="thumbnails">
                {{#if gravatarUrl}}
                <li class="span2">
                    <a href="#" class="thumbnail" {{action 'selectGravatarImage'}}>
                        <img {{bindAttr src="gravatarUrl"}} alt="Select Gravatar Image">
                    </a>
                </li>
                {{/if}}
				{{#if facebookImage}}
				<li class="span2">
					<a href="#" class="thumbnail" {{action 'selectFacebookImage'}}>
						<img {{bindAttr src="facebookImage"}} alt="Select Facebook Image">
					</a>
				</li>
				{{/if}}
				{{#if linkedinImage}}
				<li class="span2">
					<a href="#" class="thumbnail" {{action 'selectLinkedinImage'}}>
						<img {{bindAttr src="linkedinImage"}} alt="Select LinkedIn Image">
					</a>
				</li>
				{{/if}}
				{{#if uploadImage}}
				<li class="span2">
					<a href="#" class="thumbnail" {{action 'selectUploadImage'}}>
						<img {{bindAttr src="uploadImage"}} alt="Select Uploaded Image">
					</a>
				</li>
				{{/if}}
				<li class="span2">
					<a href="#" class="thumbnail" {{action 'selectDefaultImage'}}>
						<img {{bindAttr src="defaultImage"}} alt="Select Default Image">
					</a>
				</li>
				{{#view App.ProfileImageView}}
				<li class="span2">
					<a href="#" class="thumbnail" {{action 'uploadProfileImage' target="view"}}>
						<img src="https://s3-us-west-2.amazonaws.com/peercover/images/profileEdit.jpg" alt="Upload Profile Image">
					</a>
				</li>
				<form method="post" enctype="multipart/form-data" id="imageForm" style="display: none;">
				<input type='file' name='files' id='files'>
				<input type="submit" name="submit" id="imageSubmitButton">
				</form>
				{{/view}}
				<div id="previewImage"></div>
				<canvas id="canvas"></canvas>
			</ul>

		</div>
		<div class="span2 offset2">
			<button class="btn btn-block btn-success" {{action 'saveImage'}}>Save</button>
		</div>
	</div>	

	{{/if}}
	{{#if isChangingPassword}}
	<div class="row">
	<div class="span8">
		<h3>Profile</h3>
        <form class="form-horizontal form-professional" {{action passwordSubmit on="submit"}}>
            <div class="control-group">
                <label class="control-label" for="formerPassword">Former Password</label>
                <div class="controls">
                    {{input type="password" class="input-block-level" id="formerPassword" value=formerPassword name="formerPassword" placeholder="former password"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">New Password</label>
                <div class="controls">
                    {{input type="password" class="input-block-level" id="password" value=password name="password" placeholder="new password"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password2">Repeat New Password</label>
                <div class="controls">
                    {{input type="password" class="input-block-level" id="password2" value=password2 name="password2" placeholder="new password"}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{input type="submit" class="btn btn-success" value="Change Password"}}
                </div>
            </div>
        </form>
    </div>
	<div class="span2 offset2">
        <button class="btn btn-block" {{action 'savePassword'}}>Back</button>
    </div>
    </div>
	{{/if}}
	{{#if isEditingEmail}}
	<div class="row">
	<div class="span8">
		<h3>Profile</h3>
        <form class="form-horizontal form-professional" {{action emailSubmit on="submit"}}>
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    {{input type="text" class="input-block-level" id="email" value=email name="email" placeholder="email"}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    {{input type="password" class="input-block-level" id="password" value=password name="password" placeholder="password"}}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {{input type="submit" class="btn btn-success" value="Change Email"}}
                </div>
            </div>
        </form>
    </div>
	<div class="span2 offset2">
        <button class="btn btn-block" {{action 'stopEditing'}}>Back</button>
    </div>
    </div>
    {{/if}}
</div>

<hr/>

<div class="row">
	<div class="span12">
		<h3>Accounts</h3>

		<div class="btn-group">
          <button class="btn btn-primary rewidth" {{bindAttr style="activeFacebook"}} {{action 'facebookConnect'}}>
          <a id="facebook-login" style="color:#ffffff !important;text-decoration:none !important;margin-left: -3px;" href="#" data-toggle="tooltip" data-placement="bottom" title="Connect Facebook Account">
            <i class="icon-facebook"></i>
          </a>
          </button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cog"></i>
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="left:auto; right:0;min-width:90px;">
                <li>
                    <a href="#" style="padding: 3px 8px;" {{action 'facebookConnect'}}>Connect</a>
                </li>
                {{#if facebookToken}}
                <li>
                    <a href="#" style="padding: 3px 8px;" {{action 'dqFacebook'}}>Disconnect</a>
                </li>
                {{/if}}
            </ul>
          </div>
        <div class="btn-group">
          <button class="btn btn-primary rewidth" {{bindAttr style="activeLinkedin"}} {{action 'linkedinConnect'}}>
          <a id="linkedin-login" style="color:#ffffff !important;text-decoration:none !important;margin-left:-5px;" href="#" data-toggle="tooltip" data-placement="bottom" title="Connect LinkedIn Account">
              <i class="icon-linkedin"></i>
          </a>
          </button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <i class="icon-cog"></i>
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="left:auto; right:0;min-width:90px;">
            <li>
                <a href="#" style="padding: 3px 8px;" {{action 'linkedinConnect'}}>Connect</a>
            </li>
            {{#if linkedinSecret}}
              <li>
                  <a href="#" style="padding: 3px 8px;" {{action 'dqLinkedin'}}>Disconnect</a>
              </li>
              {{/if}}
          </ul>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary rewidth" {{bindAttr style="activeDwolla"}} {{action 'dwollaConnect'}}>
          <a href="#" data-toggle="tooltip" style="margin-left: -4px;" data-placement="bottom" title="Connect Dwolla Account">
              <i class="ico-dwolla"></i>
          </a>
          </button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cog"></i>
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="left:auto; right:0;min-width:90px;">
                <li>
                    <a href="#" style="padding: 3px 8px;" {{action 'dwollaConnect'}}>Connect</a>
                </li>
                {{#if dwollaToken}}
                <li>
                    <a href="#" style="padding: 3px 8px;" {{action 'dqDwolla'}}>Disconnect</a>
                </li>
                {{/if}}
            </ul>
		</div>
		{{#if jumioVerified}}
          <div class="btn-group">
                <button class="btn btn-primary" style="background-color: #18bc9c !important;background-image: none;" {{action 'nullJumio'}}>
                Identity Verified
                </button>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-cog"></i>
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" style="left:auto; right:0;min-width:90px;">
                      <li>
                          <a href="#" style="padding: 3px 8px;" {{action 'disconnectJumio'}}>Disconnect</a>
                      </li>
                  </ul>
            </div>
        {{else}}
        {{#unless jumioActive}}
            <div class="btn-group">
                  <button class="btn btn-primary" {{action 'activeJumio'}}>
                  Verify Identity
                  </button>
                  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-cog"></i>
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="left:auto; right:0;min-width:90px;">
                        <li>
                            <a href="#" style="padding: 3px 8px;" {{action 'activeJumio'}}>Connect</a>
                        </li>
                    </ul>
              </div>
        {{/unless}}
		{{/if}}
	</div>
</div>

<hr/>

{{#if jumioActive}}
{{#unless jumioVerified}}
<div class="row">
	<div class="span12">
        <div class="alert alert-info" style="text-align:center;">
            Verification may take several minutes to register on Get First Coins.
        </div>
        {{#view App.NetverifyView}}
        <div id="JUMIOIFRAME" style="height: 450px; overflow: hidden;text-align:center;"></div>
        {{/view}}
	</div>
</div>
{{/unless}}
{{/if}}

</div>
{{/view}}