<div class="row">
	<div class="span12" style="text-align:center;">
		<div class="page-heading" style="text-align:center;">
			<h3 class="page-title">Register</h3>
			<span class="page-subtitle muted">Sign up to get started with Get First Bitcoin</span>
		</div>
	</div>
</div>

<hr/>

<div class="row">
	<div class="span6 offset3">

		<div class="well">

		<form class="form-horizontal" {{action register on="submit"}}>
			<div class="control-group">
				<label class="control-label" for="email">Email</label>
				<div class="controls">
				    {{input type="text" id="email" value=email name="email" placeholder="email"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
				    {{input type="password" id="password" value=password name="password" placeholder="password"}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password2">Re-enter Password</label>
				<div class="controls">
				    {{input type="password" id="password2" value=password2 name="password2" placeholder="password"}}
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				    {{input id="btn-register" type="submit" class="btn btn-primary btn-block max-block" value="Register"}}
				</div>
			</div>
		</form>	
			
		</div>
		{{#if registerError }}
			<div class="alert alert-error">
				{{ registerError }}
			</div>
		{{/if}}
	</div>
</div>