<div class="row">
<div class="span8">
<div class="page-heading">
    <h3 class="page-title">GetFirstCoins Terms & Conditions</h3>
    <span class="page-subtitle join-date muted">2013</span>
</div>
</div>
</div>
<hr>
<div class="row">
<div class="span8">
<h4>

</h4>

</div>
</div>
<br>