html, body, iframe, div { margin:0; padding:0; }

iframe {
    margin:0;
    padding:0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: #2c3e50 0 2px 5px;
}

#epiceditor-utilbar {
  position:fixed;
  bottom:10px;
  right:10px;
  padding:5px;
}

#epiceditor-utilbar img {
  display:block;
  float:left;
  width: 30px;
  height: 30px;
}

#epiceditor-utilbar img:last-child {
  margin-left: 15px;
}

#epiceditor-utilbar img:hover {
  cursor:pointer;
}

.epiceditor-edit-mode #epiceditor-utilbar img.epiceditor-toggle-edit-btn {
  display: none;
}

.epiceditor-preview-mode #epiceditor-utilbar img.epiceditor-toggle-preview-btn {
  display: none;
}
